- @expense_count += 1
.expense-group.nested-fields.js-block.fx-numberedList-item{data:{"type": "expenses", autovat: "false", "block-type": "ExpenseBlock"}}
  .form-section-compound{"data-item-number" => "1"}

    %input#origin_postcode{ :name => "origin", :spellcheck => "false", :type => "hidden", :value => "B4 6QB"}/

    %h3.heading-medium
      Expense
      %span.fx-numberedList-number
      %span.fx-remove-link
        = link_to_remove_association t('.remove').html_safe , f, { wrapper_class: 'expense-group', class: 'header-action' }
      %span.visually-hidden  this expense

    .grid-row
      .column-half
        -# SELECT: Expense types
        .form-group.fx-travel-expense-type
          = render 'external_users/claims/expenses/select_expense_types', f:f

      .column-half
        -# SELECT: Travel reasons
        .form-group.fx-travel-reason{:style => "display: none;"}
          = render 'external_users/claims/expenses/select_travel_reasons', f:f

        -# INPUT: Other travel reason input
        .form-group.fx-travel-reason-other{:style => "display: none;"}
          = render 'external_users/claims/expenses/input_other_travel_reason', f:f

    .grid-row
      .column-half
        -# INPUT: Location
        .form-group.fx-travel-location{:style => "display: none;"}
          = f.adp_text_field :location, label: t('.location'), input_classes:'form-control-3-4', errors: @error_presenter

      .column-half
        -# INPUT: Travel hours
        .form-group.fx-travel-hours{:style => "display: none;"}
          = render 'external_users/claims/expenses/input_travel_hours'

        -# INPUT: Travel Distance
        .form-group-compound.fx-travel-distance{:style => "display: none;"}
          = f.adp_text_field :distance, label: t('.distance'), hint_text: t('.distance_hint'), input_type: 'number', input_classes: 'form-control-1-4', value: number_with_precision(f.object.distance, precision: 2), errors: @error_presenter

        -# DETAILS: Distance calculation
        .form-group.fx-travel-distance{:style => "display: none;"}
          %details{:role => "group"}
            %summary{"aria-controls" => "details-content-0", "aria-expanded" => "false", :role => "button"}
              %span.summary
                = t('.distance_summary_heading')
            #details-content-0.panel.panel-border-narrow{"aria-hidden" => "true"}
              %p
                = t('.distance_summary_text')


    .grid-row
      .column-half
        -# RADIOS: Cost per mile
        .form-group.fx-travel-mileage{:style => "display: none;"}
          %fieldset
            %legend.form-label-bold
              = t('.cost')

            %div.fx-travel-mileage-car
              = f.hidden_field :mileage_rate_id, value: ''
              = f.collection_radio_buttons(:mileage_rate_id, Expense::CAR_MILEAGE_RATES.values, :id, :description) do |b|
                .multiple-choice
                  = b.radio_button
                  = b.label { b.object.description }
              = validation_error_message(@error_presenter, "expense_#{@expense_count}_mileage_rate_id")

            %div.fx-travel-mileage-bike
              = f.collection_radio_buttons(:mileage_rate_id, Expense::BIKE_MILEAGE_RATES.values, :id, :description) do |b|
                .multiple-choice
                  = b.radio_button
                  = b.label { b.object.description }
              = validation_error_message(@error_presenter, "expense_#{@expense_count}_mileage_rate_id")

      .column-half
        -# DATES: Expense date
        .form-group.fx-travel-date{:style => "display: none;"}
          = f.gov_uk_date_field :date,
            legend_text: t('.date'),
            form_hint_text: t('.date_hint'),
            legend_class: 'govuk-legend',
            id: "expense_#{@expense_count}_date",
            error_messages: gov_uk_date_field_error_messages(@error_presenter, "expense_#{@expense_count}_date")

    .grid-row
      .column-half
        -# INPUT: Net amount
        .form-group.fx-travel-net-amount{:style => "display: none;"}
          = f.adp_text_field :amount,
                            label: t('.net_amount'),
                            input_classes:'form-input-denote__input rate',
                            input_type: 'currency',
                            errors: @error_presenter,
                            value: number_with_precision(f.object.amount, precision: 2)

      .column-half
        -# INPUT: VAT amount
        .form-group.fx-travel-vat-amount{:style => "display: none;"}
          = f.adp_text_field :vat_amount,
                            label: t('.vat_amount'),
                            input_classes:'form-input-denote__input vat',
                            input_type: 'currency',
                            errors: @error_presenter,
                            value: number_with_precision(f.object.vat_amount, precision: 2)

      .column-half
        -# INPUT: Expense total
        .form-group.fx-travel-gross-amount{:style => "display: none;"}
          = f.adp_text_field :amount,
                            label: t('.total'),
                            input_classes:'form-input-denote__input rate',
                            input_type: 'currency',
                            errors: @error_presenter,
                            value: number_with_precision(f.object.amount, precision: 2)

  %hr/
