- @expense_count += 1
.expense-group.nested-fields.js-block.fx-numberedList-item{data:{"type": "expenses", autovat: @claim.agfs? && @claim.apply_vat? ? "true" : "false", "block-type": "ExpenseBlock"}}
  .form-section-compound{"data-item-number" => "1"}

    %input#origin_postcode{ :name => "origin", :spellcheck => "false", :type => "hidden", :value => "B4 6QB"}/

    %h3.heading-medium
      Expense
      %span.fx-numberedList-number
      %span.fx-remove-link
        = link_to_remove_association t('.remove').html_safe , f, { wrapper_class: 'expense-group', class: 'header-action' }
      %span.visually-hidden  this expense

    .grid-row
      .column-half
        -# SELECT: Expense types
        .form-group.fx-travel-expense-type
          = render 'external_users/claims/expenses/select_expense_types'

      .column-half
        -# SELECT: Travel reasons
        .form-group.fx-travel-reason
          = render 'external_users/claims/expenses/select_travel_reasons'

        -# INPUT: Other travel reason input
        .form-group.fx-travel-reason-other{:style => "display: none;"}
          = render 'external_users/claims/expenses/input_other_travel_reason'

    .grid-row
      .column-half
        -# DYNAMIC: Render the correct element based on config
        .form-group.fx-toggle-select{:style => "display: none;"}
          = render 'external_users/claims/expenses/dynamic_control_area'

        -# -# SELECT: Crown courts
        .form-group.fx-crown-courts{:style => "display: none;"}
          = render 'external_users/claims/expenses/select_crown_courts'

        -# -# SELECT: Prisons
        .form-group.fx-prisons{:style => "display: none;"}
          = render 'external_users/claims/expenses/select_prisons'

        -# -# SELECT: Secure hospitals
        .form-group.fx-hospitals{:style => "display: none;"}
          = render 'external_users/claims/expenses/select_secure_hospitals'

        -# INPUT: Location
        .form-group.fx-travel-location{:style => "display: none;"}
          = render 'external_users/claims/expenses/input_location'

        -# INPUT: Destination
        .form-group.fx-travel-destination{:style => "display: none;"}
          = render 'external_users/claims/expenses/input_destination'

      .column-half
        -# INPUT: Travel hours
        .form-group.fx-travel-hours{:style => "display: none;"}
          = render 'external_users/claims/expenses/input_travel_hours'

        -# INPUT: Travel Distance
        .form-group-compound.fx-travel-distance{:style => "display: none;"}
          = render 'external_users/claims/expenses/input_travel_distance'

        -# DETAILS: Distance calculation
        .form-group.fx-travel-distance{:style => "display: none;"}
          = render 'external_users/claims/expenses/summary_distance_help'

    .grid-row
      .column-half
        -# RADIOS: Cost per mile
        .form-group.fx-travel-cost{:style => "display: none;"}
          = render 'external_users/claims/expenses/radio_cost_per_mile'

      .column-half
        -# DATES: Expense date
        .form-group.fx-travel-date{:style => "display: none;"}
          = render 'external_users/claims/expenses/date_govuk_date'

    .grid-row
      .column-half
        -# INPUT: Net amount
        .form-group.fx-travel-net-amount{:style => "display: none;"}
          = render 'external_users/claims/expenses/input_net_amount'

      .column-half
        -# INPUT: VAT amount
        .form-group.fx-travel-vat-amount{:style => "display: none;"}
          = render 'external_users/claims/expenses/input_vat_amount'

      .column-half
        -# INPUT: Expense total
        .form-group.fx-travel-gross-amount{:style => "display: none;"}
          = render 'external_users/claims/expenses/input_expense_total'

  %hr/
