#expenses
  = render partial: 'external_users/claims/expenses/expense_reasons', :formats => [:js]

  %h2.bold-medium
    = t('.expenses')
  %p.form-hint
    = t('.expenses_prompt_text')

  = f.fields_for :expenses do |expense|
    = render 'external_users/claims/expenses/expense_fields', f: expense

  %a.js-repeat-element{href: '#', 'data-target': 'js-repeat-expenses', 'data-remove-text': t('.remove').html_safe}
    = t('.add_another_expense')

/ = link_to_add_association t('.add_another_expense'), f, :expenses, partial: 'external_users/claims/expenses/expense_fields', data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'div'}
