#expenses.mod-expenses.fx-numberedList-wrapper
  .form-section
    = render partial: 'external_users/claims/expenses/expense_reasons', :formats => [:js]

    .js-cocoon-expenses
      %h2.heading-large
        = t('.travel_expenses')

      %p
        = t('.expenses_prompt_text')


      = f.fields_for :expenses do |expense|
        = render 'external_users/claims/expenses/expense_fields', f: expense

  .form-section
    = link_to_add_association t('.add_another_expense'), f, :expenses, partial: 'external_users/claims/expenses/expense_fields', class: 'button button-secondary btn-spacer-20', style: 'background-color: #2b8cc4', data: {'association-insertion-method' => 'append', 'association-insertion-node' => '.js-cocoon-expenses'}

    %a.fx-duplicate-expense.button-gray-3
      = t('.duplicate')
