#expenses.mod-expenses.fx-numberedList-hook{ data: { 'feature-distance': @claim.lgfs?.to_s } }
  .form-section
    .js-cocoon-expenses
      %h2.heading-large
        = t('.travel_expenses')

      %p
        = t('.expenses_prompt_text')

      = f.fields_for :expenses do |expense|
        = render 'external_users/claims/expenses/expense_fields', f: expense

  .form-section
    = link_to_add_association t('.add_another_expense'), f, :expenses, partial: 'external_users/claims/expenses/expense_fields', class: 'button button-secondary blue btn-spacer-20', data: { 'association-insertion-method': 'append', 'association-insertion-node': '.js-cocoon-expenses' }

    = link_to t('.duplicate'), '', class: 'fx-duplicate-expense button-gray-3'

  .form-section.fx-additional-info
    = render 'external_users/claims/expenses/textarea_additional_info', f: f
