#expenses.mod-expenses.fx-numberedList-wrapper
  .form-section
    = render partial: 'external_users/claims/expenses/expense_reasons', :formats => [:js]

    .js-cocoon-expenses
      %h2.bold-medium
        = t('.expenses')

      %p.form-hint
        = t('.expenses_prompt_text')


      = f.fields_for :expenses do |expense|
        = render 'external_users/claims/expenses/expense_fields', f: expense

  .form-section
    = link_to_add_association t('.add_another_expense'), f, :expenses, partial: 'external_users/claims/expenses/expense_fields', class: 'button button-secondary', data: {'association-insertion-method' => 'append', 'association-insertion-node' => '.js-cocoon-expenses'}

    %a.fx-duplicate-expense.button.button-tertiary
      = "Duplicate last expense"

  .form-section
    -# TEXTAREA: Additional information
    .form-group.fx-additional-info
      = render "external_users/claims/expenses/textarea_additional_info"
