- if claim.expenses.empty?
  %p
    There are no expenses for this claim
- else
  %table
    %caption
      %span.table-caption.visuallyhidden
        = t('common.expenses')
    %colgroup
      %col
      %col
      %col
      %col
      %col
    %tbody
      - present_collection(claim.expenses).each do |expense|
        - if expense.date.present?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.dates_attended')
            %td
              = expense.date.strftime(Settings.date_format)
        %tr
          %th{scope: 'row'}
            = t('shared.summary.expense_type')
          %td
            = expense.name
        - if expense.location.present?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.location')
            %td
              = expense.location
        - if expense.distance.present?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.distance')
            %td
              = expense.distance
        - if expense.quantity.present?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.quantity_hours')
            %td
              = expense.quantity

        %tr
          %th{scope: 'row'}
            = t('shared.summary.reason')
          %td
            = expense.expense_reason.reason
        - if expense.reason_text.present?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.reason_text')
            %td
              = expense.reason_text

        - if expense.amount.present?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.amount')
            %td
              = expense.amount


      %tfoot
        %tr
          %th{scope: 'row'}
            = t('shared.summary.expenses_total')
          %td
            = claim.expenses_total
