#expenses-section.app-summary-section
  %h2.govuk-heading-l
    = t('external_users.claims.expenses.summary.header')

  - if local_assigns[:editable]
    = govuk_link_to t('common.change_html', context: t('external_users.claims.expenses.summary.header')), edit_polymorphic_path(claim, step: :travel_expenses, referrer: :summary), class: 'link-change'

  - if claim.expenses.empty?
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: :travel_expenses }
    - else
      %p
        = t('shared.summary.no_values.expenses')
  - else
    %h2.govuk-heading-m
      = t('shared.summary.cost_summary')

    %table.summary
      %caption
        %span.govuk-visually-hidden
          = t('.caption')

      %thead
        %tr
          %th{ scope: 'col' }
            = t('shared.summary.expense_type')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.quantity')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.amount')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.vat_amount')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.total_amount')

      %tbody
        - present_collection(claim.expenses).each.with_index(1) do |expense, index|
          %tr
            %td
              = expense.name
            %td.numeric
              = ''
            %td.numeric
              = expense.amount.present? ? expense.amount : t('general.not_applicable_html')
            %td.numeric
              = expense.vat_amount.present? ? expense.vat_amount : t('general.not_applicable_html')
            %td.numeric
              = expense.total.present? ? expense.total : t('general.not_applicable_html')

      %tfoot
        %tr
          %th{ scope: 'row' }
            = t('shared.summary.total')
          %td.numeric
            = ''
          %td.numeric
            = claim.expenses_total
          %td.numeric
            = claim.expenses_vat
          %td.numeric
            = claim.expenses_gross

  - if @claim.travel_expense_additional_information.present?
    %h3.govuk-heading-m
      = t('.additional_information')
    %p
      = @claim.travel_expense_additional_information

  - if claim.expenses.empty?.eql?(false)
    %h3.govuk-heading-m
      = t('shared.summary.expenses.travel_details')

    %table.summary
      %caption.govuk-visually-hidden
        = t('.additional_information')

      %thead
        %tr
          %th{ scope: 'col' }
            = t('shared.summary.expense_type')
          %th{ scope: 'col' }
            = t('shared.summary.reason')
          %th{ scope: 'col' }
            = 'Details'
          %th.numeric{ scope: 'col' }
            = t('shared.summary.date_of_expense')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.amount')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.vat_amount')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.total_amount')

      %tbody
        - present_collection(claim.expenses).each.with_index(1) do |expense, index|
          %tr
            %td
              = expense.name
            %td
              = expense.reason
            %td
              - if expense.location.present? || expense.distance.present? || expense.mileage_rate.present?
                %ul.govuk-list
                  - if expense.location.present?
                    %li
                      = t('shared.summary.destination_html', location: expense.location)
                  - if expense.distance.present?
                    %li
                      = t('shared.summary.distance_html', distance: expense.distance)
                  - if expense.mileage_rate_id.present?
                    %li
                      = t('shared.summary.cost_html', cost: expense.mileage_rate)
              - else
                = t('general.not_applicable_html')
            %td.numeric
              = expense.date.present? ? expense.pretty_date : t('general.not_applicable_html')
            %td.numeric
              = expense.amount.present? ? expense.amount : t('general.not_applicable_html')
            %td.numeric
              = expense.vat_amount.present? ? expense.vat_amount : t('general.not_applicable_html')
            %td.numeric
              = expense.total.present? ? expense.total : t('general.not_applicable_html')
