- if claim.expenses.empty?
  %p
    There are no expenses for this claim
- else
  %table
    %caption
      %span.table-caption.visuallyhidden
        = t('common.expenses')
    %colgroup
      %col
      %col
      %col
      %col
      %col
    %tbody
      - present_collection(claim.expenses).each do |expense|
        %tr
          %th{scope: 'row'}
            = t('shared.summary.expense_type')
          %td
            = expense.name
        %tr
          %th{scope: 'row'}
            = t('shared.summary.location')
          %td
            = expense.location
        %tr
          %th{scope: 'row'}
            = t('shared.summary.quantity_hours')
          %td
            = expense.quantity
        %tr
          %th{scope: 'row'}
            = t('shared.summary.rate')
          %td
            = '%.2f' % expense.rate if expense.rate
        %tr
          %th{scope: 'row'}
            = t('shared.summary.amount')
          %td
            = expense.amount

        - if expense.dates_attended.any?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.dates_attended')
            %td
              = expense.dates_attended_delimited_string

      %tfoot
        %tr
          %th{scope: 'row'}
            = t('shared.summary.expenses_total')
          %td
            = claim.expenses_total
