.form-section
  %h3.heading-medium
    = t('external_users.claims.expenses.summary.header')
    - if local_assigns[:editable]
      = link_to 'Change', edit_polymorphic_path(claim, step: :travel_expenses, referrer: :summary), class: 'link-change'

  - if claim.expenses.empty?
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: :travel_expenses }
    - else
      %p
        = t('shared.summary.no_values.expenses')
  - else
    %table{ class: 'summary', summary: t('.summary') }
      %caption
        %span.table-caption.visuallyhidden
          = t('.caption')
      %tbody
        - present_collection(claim.expenses).each.with_index(1) do |expense, index|
          %tr
            %th{ scope: 'row', class: 'bold' }
              = "#{t('shared.summary.expense')} #{index}"
            %td
              %table.nested-summary
                %tbody
                  %tr
                    %th{ scope: 'row', class: 'bold' }
                      = t('shared.summary.expense_type')
                    %td
                      = expense.name
                  %tr
                    %th{ scope: 'row', class: 'bold' }
                      = t('shared.summary.reason')
                    %td
                      = expense.reason
                  - if expense.location.present?
                    %tr
                      %th{ scope: 'row', class: 'bold' }
                        = t('shared.summary.location')
                      %td
                        = expense.location
                  - if expense.distance.present?
                    %tr
                      %th{ scope: 'row', class: 'bold' }
                        = t('shared.summary.distance')
                      %td
                        = expense.distance
                  - if expense.date.present?
                    %tr
                      %th{ scope: 'row', class: 'bold' }
                        = t('shared.summary.date_of_expense')
                      %td
                        = expense.pretty_date
                    %tr
                      %th{ scope: 'row', class: 'bold' }
                        = t('shared.summary.mileage_rate')
                      %td
                        = expense.mileage_rate
                  - if expense.quantity.present?
                    %tr
                      %th{ scope: 'row', class: 'bold' }
                        = t('shared.summary.quantity')
                      %td
                        = expense.quantity
                  - if expense.hours.present?
                    %tr
                      %th{ scope: 'row', class: 'bold' }
                        = t('shared.summary.quantity_hours')
                      %td
                        = expense.hours

                  - if expense.amount.present?
                    %tr
                      %th{ scope: 'row', class: 'bold' }
                        = t('shared.summary.amount')
                      %td
                        = expense.amount

                  - if claim.lgfs?
                    %tr
                      %th{ scope: 'row', class: 'bold' }
                        = t('shared.summary.vat_amount')
                      %td
                        = expense.vat_amount
