- if claim.expenses.empty?
  %p
    There are no expenses for this claim
- else
  %table{class:'table-summary', summary: t('.summary')}
    %caption
      %span.table-caption.visuallyhidden
        = t('.caption')
    %tbody
      - present_collection(claim.expenses).each do |expense|
        %tr
          %th.summary-headings{scope: 'row'}
            = t('shared.summary.expense_type')
          %td
            = expense.name
        - if expense.date.present?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.dates_attended')
            %td
              = expense.pretty_date
        - if expense.location.present?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.location')
            %td
              = expense.location
        - if expense.distance.present?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.distance')
            %td
              = expense.distance
        - if expense.quantity.present?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.quantity')
            %td
              = expense.quantity
        - if expense.hours.present?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.quantity_hours')
            %td
              = expense.hours
        %tr
          %th{scope: 'row'}
            = t('shared.summary.reason')
          %td
            = expense.reason

        - if expense.amount.present?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.amount')
            %td
              = expense.amount

        - if claim.lgfs?
          %tr
            %th{scope: 'row'}
              = t('shared.summary.vat_amount')
            %td
              = expense.vat_amount


    %tfoot
      %tr
        %th{scope: 'row'}
          = t('shared.summary.expenses_total')
        %td
          = claim.expenses_total
