#expenses-section.app-summary-section
  %h2.govuk-heading-l
    = t('external_users.claims.expenses.summary.header')

  - if local_assigns[:editable]
    = govuk_link_to t('common.change_html', context: t('external_users.claims.expenses.summary.header')), edit_polymorphic_path(claim, step: :travel_expenses, referrer: :summary), class: 'link-change'

  - if claim.expenses.empty?
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: :travel_expenses }
    - else
      %p
        = t('shared.summary.no_values.expenses')
  - else
    %h2.govuk-heading-m
      = t('shared.summary.cost_summary')

    = govuk_table(classes: 'app-table--responsive') do |table|
      = table.with_caption(classes: 'govuk-visually-hidden', text: t('.caption'))

      = table.with_head do |head|
        = head.with_row do |row|
          = row.with_cell(text: t('shared.summary.expense_type'))
          = row.with_cell(text: t('shared.summary.amount'), numeric: true)
          = row.with_cell(text: t('shared.summary.vat_amount'), numeric: true)
          = row.with_cell(text: t('shared.summary.total_amount'), numeric: true)

      = table.with_body do |body|
        - present_collection(claim.expenses).each.with_index(1) do |expense, index|
          = body.with_row do |row|
            = row.with_cell(html_attributes: { 'data-label': t('shared.summary.expense_type') }, text: expense.name)
            = row.with_cell(html_attributes: { 'data-label': t('shared.summary.amount') }, numeric: true) do
              = expense.amount.present? ? expense.amount : t('general.not_applicable_html')
            = row.with_cell(html_attributes: { 'data-label': t('shared.summary.vat_amount') }, numeric: true) do
              = expense.vat_amount.present? ? expense.vat_amount : t('general.not_applicable_html')
            = row.with_cell(html_attributes: { 'data-label': t('shared.summary.total_amount') }, numeric: true) do
              = expense.total.present? ? expense.total : t('general.not_applicable_html')

      = table.with_foot(classes: 'govuk-table__foot') do |foot|
        = foot.with_row do |row|
          = row.with_cell(header: true, classes: 'govuk-table__cell', html_attributes: { scope: 'row' }, text: t('shared.summary.total'))
          = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.summary.amount') }, text: claim.expenses_total, numeric: true)
          = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.summary.vat_amount') }, text: claim.expenses_vat, numeric: true)
          = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.summary.total_amount') }, text: claim.expenses_gross, numeric: true)

  - if @claim.travel_expense_additional_information.present?
    %h3.govuk-heading-m
      = t('.additional_information')
    %p
      = format_multiline(@claim.travel_expense_additional_information)

  - if claim.expenses.empty?.eql?(false)
    %h3.govuk-heading-m
      = t('shared.summary.expenses.travel_details')

    = govuk_table(classes: 'app-table--responsive') do |table|
      = table.with_caption(classes: 'govuk-visually-hidden', text: t('.additional_information'))

      = table.with_head do |head|
        = head.with_row do |row|
          = row.with_cell(text: t('shared.summary.expense_type'))
          = row.with_cell(text: t('shared.summary.reason'))
          = row.with_cell(text: t('shared.summary.details'))
          = row.with_cell(text: t('shared.summary.date_of_expense'), numeric: true)
          = row.with_cell(text: t('shared.summary.amount'), numeric: true)
          = row.with_cell(text: t('shared.summary.vat_amount'), numeric: true)
          = row.with_cell(text: t('shared.summary.total_amount'), numeric: true)

      = table.with_body do |body|
        - present_collection(claim.expenses).each.with_index(1) do |expense, index|
          = body.with_row do |row|
            = row.with_cell(html_attributes: { 'data-label': t('shared.summary.expense_type') }, text: expense.name)
            = row.with_cell(html_attributes: { 'data-label': t('shared.summary.reason') }, text: expense.reason)
            = row.with_cell(html_attributes: { 'data-label': t('shared.summary.details') }) do
              - if expense.location.present? || expense.distance.present? || expense.mileage_rate.present?
                %ul.govuk-list
                  - if expense.location.present?
                    %li
                      = t('shared.summary.destination_html', location: expense.location)
                  - if expense.distance.present?
                    %li
                      = t('shared.summary.distance_html', distance: expense.distance)
                  - if expense.mileage_rate_id.present?
                    %li
                      = t('shared.summary.cost_html', cost: expense.mileage_rate)
              - else
                = t('general.not_applicable_html')
            = row.with_cell(html_attributes: { 'data-label': t('shared.summary.date_of_expense') }, numeric: true) do
              = expense.date.present? ? expense.pretty_date : t('general.not_applicable_html')
            = row.with_cell(html_attributes: { 'data-label': t('shared.summary.amount') }, numeric: true) do
              = expense.amount.present? ? expense.amount : t('general.not_applicable_html')
            = row.with_cell(html_attributes: { 'data-label': t('shared.summary.vat_amount') }, numeric: true) do
              = expense.vat_amount.present? ? expense.vat_amount : t('general.not_applicable_html')
            = row.with_cell(html_attributes: { 'data-label': t('shared.summary.total_amount') }, numeric: true) do
              = expense.total.present? ? expense.total : t('general.not_applicable_html')
