.details
  %ul
    %li
      %span.bold
        = succeed ':' do
          = t('.origin')
      = "#{claim.supplier_name} (#{claim.supplier_postcode})"
      %br/
      %span.bold
        = succeed ':' do
          = t('.destination')
      = expense.location_with_postcode

    - if current_user_is_caseworker? && expense.distance?
      %li{ class: ('error' if expense.distance_gt_calculated?) }
        %span.bold
          = succeed ':' do
            = expense.distance_gt_calculated? ? t('.distance_claimed') : t('.distance')
        = "#{expense.distance} miles"
      - if expense.distance_gt_calculated?
        %li{ class: ('error' if expense.distance_gt_calculated?) }
          %span.bold
            = succeed ':' do
              = t('.distance_calculated')
          = expense.pretty_calculated_distance
          %br/
      %li
        = link_to_map t('.view_map_link'), origin: claim.supplier_postcode, destination: expense.location_postcode, target: '_blank'

    - else
      - if expense.distance?
        %span.bold
          = succeed ':' do
            = t('.distance')
        = "#{expense.distance} miles"

    %li
      %span.bold
        = succeed ':' do
          = t('.cost')
      = expense.mileage_rate
  - if expense.hours?
    %li
      %span.bold
        = succeed ':' do
          = t('.hours')
      = expense.hours
