%h3.govuk-heading-m
  = t(".header_#{vat ? 'with_vat' : 'without_vat'}")

= cccd_govuk_table(class: current_user.case_worker? ? 'expenses-data-table' : nil, style: 'width:100%') do
  = govuk_table_caption(class: 'govuk-visually-hidden') do
    = t('.caption')

  = govuk_table_thead do
    = govuk_table_row do
      = govuk_table_th do
        = t('.expense_type')
      = govuk_table_th do
        = t('.reason')
      = govuk_table_th do
        = t('.details')
      = govuk_table_th do
        = t('.date')
      = govuk_table_th_numeric do
        = t('.net_amount')
      - if vat
        = govuk_table_th_numeric do
          = t('.vat')
      = govuk_table_th_numeric do
        = t('.gross_amount')

  = govuk_table_tbody do
    - expenses = vat ? claim.expenses.includes(:expense_type).with_vat : claim.expenses.includes(:expense_type).without_vat
    - present_collection(expenses).each do |expense|
      = render template: 'shared/summary/expenses/show', locals: { claim: claim, expense: expense }

  = govuk_table_tfoot do
    = govuk_table_row do
      = govuk_table_th(scope: 'row', colspan: 4, 'data-label': t('.expense_type')) do
        = succeed ':' do
          = t(".totals_#{vat ? 'with_vat' : 'without_vat'}")
      = govuk_table_td_numeric('data-label': t('.net_amount')) do
        = vat ? claim.expenses_with_vat_net : claim.expenses_without_vat_net
      - if vat
        = govuk_table_td_numeric('data-label': t('.vat')) do
          = claim.expenses_vat
      = govuk_table_td_numeric('data-label': t('.gross_amount')) do
        = vat ? claim.expenses_with_vat_gross : claim.expenses_without_vat_gross
