%tr.no-border
  %td{scope: 'row', style: 'width: 20%'}
    %span.bold-normal
      = expense.name
  %td{scope: 'row', style: 'width: 12%'}
    %span.bold-normal
      = expense.reason
  %td{ style: 'width: 75%'}
    .details
      %ul
        %li
          %span.bold
            = succeed ':' do
              = t('.origin')
          = claim.supplier_name
          = "(#{claim.supplier_postcode})"
          %br/
          %span.bold
            = succeed ':' do
              = t('.destination')
          = expense.location
          = "(#{expense.location_postcode})"
        - if expense.distance?
          %li{ class: ('error' if expense.diff_distances?) }
            %span.bold
              = succeed ':' do
                = expense.diff_distances? ? t('.distance_claimed') : t('.distance')
            = "#{expense.distance} miles"
          - if claim.lgfs? && expense.diff_distances?
            %li{ class: ('error' if expense.diff_distances?) }
              %span.bold
                = succeed ':' do
                  = t('.distance_calculated')
              = expense.pretty_calculated_distance
              %br/
              = link_to_map t('.view_map_link'), origin: claim.supplier_postcode, destination: expense.location_postcode, target: '_blank'
          %li
            %span.bold
              = succeed ':' do
                = t('.cost')
            = expense.mileage_rate
        - if expense.hours?
          %li
            %span.bold
              = succeed ':' do
                = t('.hours')
            = expense.hours
  %td
    = expense.pretty_date
  %td.numeric
    = expense.amount
  %td.numeric
    = expense.vat_present? ? expense.vat_amount : ''
  %td.numeric
    = expense.gross_amount
