%tr.no-border
  %td{scope: 'row'}
    %span.bold-normal
      = expense.name
  %td{scope: 'row'}
    %span.bold-normal
      = expense.reason
  %td
    .details
      %ul
        %li
          %span.bold
            = succeed ':' do
              = t('.origin')
          = claim.supplier_number_postcode
          %br/
          %span.bold
            = succeed ':' do
              = t('.destination')
          = expense.location
          = expense.location_postcode
        - if expense.distance?
          - if claim.lgfs?
            %li{ class: ('error' if expense.diff_distances?) }
              %span.bold
                = succeed ':' do
                  = t('.calculated_distance')
              = expense.pretty_calculated_distance

          %li
            %span.bold
              = succeed ':' do
                = t('.distance')
            = "#{expense.distance} miles"
            %br/
            %a{:target => "_blank", :href => "https://www.google.co.uk/maps/dir/?api=1&origin=#{claim.supplier_number_postcode}&destination=#{expense.location_postcode}&travelmode=driving"}
              View on a map
              %span.visually-hidden(opens in new window)
          %li
            %span.bold
              = succeed ':' do
                = t('.cost')
            = expense.mileage_rate
        - if expense.hours?
          %li
            %span.bold
              = succeed ':' do
                = t('.hours')
            = expense.hours
  %td
    = expense.pretty_date
  %td.numeric
    = expense.amount
  %td.numeric
    = expense.vat_present? ? expense.vat_amount : ''
  %td.numeric
    = expense.gross_amount
