%tr.no-border
  %td{scope: 'row', style: 'width: 20%'}
    %span.bold-normal
      = expense.name
    - if current_user_is_caseworker?  && @claim.lgfs?
      %span.state{ class: "state-#{expense.state.downcase}" }
        = expense.state
  %td{scope: 'row', style: 'width: 12%'}
    %span.bold-normal
      = expense.reason
  %td{ style: 'width: 75%'}
    = render partial: 'shared/summary/expenses/details', locals: { claim: claim, expense: expense }
  %td
    = expense.pretty_date
  %td.numeric
    = expense.amount
  %td.numeric
    = expense.vat_present? ? expense.vat_amount : ''
  %td.numeric
    = expense.gross_amount
