
- present_collection(claims).each do |claim|
  = govuk_table_row do
    = govuk_table_td('data-label': 'Name', class: 'defendants') do
      = f.label(claim.caseworker_claim_id) do
        = claim.defendant_names
    = govuk_table_td('data-label': 'Case Number', class: 'case_number') do
      = f.label(claim.caseworker_claim_id) do
        = claim.case_number
    = govuk_table_td('data-label': 'Email', class: 'advocate') do
      = f.label(claim.caseworker_claim_id) do
        = claim.advocate.email
    = govuk_table_td('data-label': 'Court', class: 'court_name') do
      = f.label(claim.caseworker_claim_id) do
        = claim.court.name
    = govuk_table_td('data-label': 'Select row') do
      = claim_allocation_checkbox_helper(claim, case_worker)
