= form_for [:case_workers, :admin, @case_worker], builder: AdpFormBuilder do |f|
  = f.fields_for :user do |user_fields|
    %fieldset
      %legend.heading-medium
        = 'Case worker details'

      = user_fields.adp_text_field :first_name, label: t('.first_name')

      = user_fields.adp_text_field :last_name, label: t('.last_name')

      = user_fields.adp_text_field :email, label: t('.email')

      - if @case_worker.new_record?
        = user_fields.adp_text_field :email_confirmation, label: t('.email_confirmation')

      %fieldset.inline
        %legend
          = 'Location'
        .form-group
          = f.collection_radio_buttons(:location_id, Location.all, :id, :name) do |b|
            .multiple-choice
              = b.radio_button
              = b.label { b.object.name }

      %fieldset.inline
        %legend
          = 'Roles'
        .form-group
          = f.collection_check_boxes(:roles, CaseWorker::ROLES, :to_s, :to_s) do |b|
            .multiple-choice
              = b.check_box
              = b.label { b.value.humanize }

    = f.submit 'Save', class: "button"
