= form_for [:case_workers, :admin, @case_worker], url: case_workers_admin_case_worker_path do |f|
  - if @case_worker.errors.any?
    %h2= "#{pluralize(@case_worker.errors.count, 'error')} prohibited this claim from being saved:"
    %ul
      - @case_worker.errors.full_messages.each do |msg|
        %li= msg

  = f.fields_for :case_worker do |case_worker_fields|
    = case_worker_fields.label :email
    %br
    = case_worker_fields.email_field :email
    %br
    = case_worker_fields.label :password
    %br
    = case_worker_fields.password_field :password
    %br
    = case_worker_fields.label :password_confirmation
    %br
    = case_worker_fields.password_field :password_confirmation
  %br
  = f.label :role
  %br
  = f.collection_select :role, CaseWorker::ROLES, :to_s, :humanize, prompt: true
  %br
  = f.submit
