= form_for [:case_workers, :admin, @case_worker] do |f|
  - if @case_worker.errors.any?
    %h2= "#{pluralize(@case_worker.errors.count, 'error')} prohibited this case worker from being saved:"
    %ul
      - @case_worker.errors.full_messages.each do |msg|
        %li= msg

  = f.fields_for :user do |user_fields|
    = user_fields.label :email
    %br
    = user_fields.email_field :email
    %br
    = user_fields.label :password
    %br
    = user_fields.password_field :password
    %br
    = user_fields.label :password_confirmation
    %br
    = user_fields.password_field :password_confirmation
  %br
  = f.label :role
  %br
  = f.collection_select :role, CaseWorker::ROLES, :to_s, :humanize, prompt: true
  %br
  = f.submit
