= form_with model: [:case_workers, :admin, @case_worker] do |f|
  = f.fields_for :user do |user_fields|
    = user_fields.govuk_error_summary

    = user_fields.govuk_text_field :first_name,
      label: { text: t('.first_name') }

    = user_fields.govuk_text_field :last_name,
      label: { text: t('.last_name') }

    = user_fields.govuk_email_field :email,
      label: { text: t('.email') }

    - if @case_worker.new_record?
      = user_fields.govuk_email_field :email_confirmation,
        label: { text: t('.email_confirmation') }

    = f.govuk_collection_radio_buttons :location_id,
      Location.all,
      :id,
      :name,
      inline: true,
      legend: { text: t('.location'), size: 's' }

    = f.govuk_collection_check_boxes :roles,
      CaseWorker::ROLES,
      :to_s,
      :humanize,
      legend: { text: t('.roles'), size: 's' }

    = f.govuk_submit t('.save')
