= render 'case_workers/claims/nav_tabs'

%h1
  Allocate claims to #{@case_worker.email}

= form_for [:case_workers, :admin, @case_worker] do |f|
  - if @case_worker.errors.any?
    %h2= "#{pluralize(@case_worker.errors.count, 'error')} prohibited this allocation from being saved:"
    %ul
      - @case_worker.errors.full_messages.each do |msg|
        %li= msg

  = f.label :claim_ids, 'Claims'
  %fieldset
    %ul.allocation-list
      = f.collection_check_boxes :claim_ids, @claims, :id, :description do |b|
        %li
          = b.label do
            = b.check_box
            = b.object.description
  = f.submit
