= render 'case_workers/claims/nav_tabs'

%h1
  Allocate claims to #{@case_worker.email} - #{@case_worker.location}

= form_for [:case_workers, :admin, @case_worker] do |f|
  - if @case_worker.errors.any?
    .validation-summary
      %h2.heading-small= "This case worker allocation has #{pluralize(@case_worker.errors.count, 'error')}"
      %ul
        - @case_worker.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %table.allocate
      %thead
        %tr
          %th
            Defendant
          %th
            Case number
          %th
            Advocate
          %th
            Court
          %th
            &nbsp;
      %tbody
        = render partial: 'claim', locals: {claims: @claims, case_worker: @case_worker, f: f }


  = f.submit class: "button"
