= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

= content_for :search_html_block do
  = govuk_link_to t('.create_case_worker'), new_case_workers_admin_case_worker_path

= render partial: 'shared/search_form', locals: { search_path: case_workers_admin_case_workers_path(anchor: 'search-button'), hint_text: t('hint.search_caseworker'), button_text: t('search.caseworkers') }


.govuk-grid-row{class: 'govuk-!-margin-top-9'}
  .govuk-grid-column-full

    = govuk_table(classes: 'app-table--responsive') do |table|
      = table.with_caption(classes: 'govuk-visually-hidden', text: t('.caption'))

      = table.with_head do |head|
        = head.with_row do |row|
          = row.with_cell(text: t('.surname'))
          = row.with_cell(text: t('.name'))
          = row.with_cell(text: t('.status'))
          = row.with_cell(text: t('.actions'))

      = table.with_body do |body|
        - @case_workers.each do |case_worker|
          = body.with_row do |row|
            = row.with_cell(html_attributes: { 'data-label': t('.surname') }, text: case_worker.user.last_name)
            = row.with_cell(html_attributes: { 'data-label': t('.name') }, text: case_worker.user.first_name)
            = row.with_cell(html_attributes: { 'data-label': t('.status') }, text: govuk_tag_active_user?(case_worker.user))
            = row.with_cell(html_attributes: { 'data-label': t('.actions') }) do
              - if case_worker.active?
                .app-link-group
                  .div= govuk_link_to t('.edit_caseworker_html', case_worker: case_worker.name), edit_case_workers_admin_case_worker_path(case_worker)
                  .div= govuk_link_to t('.delete_caseworker_html', case_worker: case_worker.name), case_workers_admin_case_worker_path(case_worker), method: :delete, data: { confirm: t('.confirmation') }
