= render partial: 'layouts/header', locals: {page_heading: 'Manage case workers'}

= content_for :search_html_block do
  = link_to 'Create a new case worker', new_case_workers_admin_case_worker_path

= render partial: 'shared/search_form', locals: { search_path: case_workers_admin_case_workers_path(anchor: 'listanchor'), hint_text: t('hint.search_caseworker'), button_text: t('search.caseworkers') }

.container.table-container
  %table.report
    %caption
      = 'Report'
    %thead
      %th{scope:'col'}
        = t('.surname')
      %th{scope:'col'}
        = t('.name')
      %th{scope:'col'}
        = t('.location')
      %th{scope:'col'}
        = t('.actions')
    %tbody
      - @case_workers.each do |case_worker|
        %tr
          %td{'aria-label' => t(".surname")}
            = case_worker.user.last_name
          %td{'aria-label' => t(".name")}
            = case_worker.user.first_name
          %td{'aria-label' => t(".location")}
            = case_worker.location.name
          %td.user-controls{'aria-label' => t(".actions")}
            - if case_worker.active?
              = link_to t('common.edit'), edit_case_workers_admin_case_worker_path(case_worker)
              = " | "
              = link_to t('common.delete'), case_workers_admin_case_worker_path(case_worker), method: :delete, data: { confirm: 'Are you sure?' }
            - else
              Inactive
