%h1.page-title
  Administration

.grid-row.clear-float
  %h2.heading-medium.left
    List of Case Workers
  = link_to 'New case worker', new_case_workers_admin_case_worker_path, class: 'button right'

%table
  %thead
    %th
      Surname
    %th
      Name
    %th
      Approval limit
    %th
      Training
    %th
      Working Days
    %th
  %tbody
    - @case_workers.each do |case_worker|
      %tr
        %td
          = case_worker.user.last_name
        %td
          = case_worker.user.first_name
        %td
          = "Low level"
        %td
          = "Fixed Fees"
        %td
          %div{:class => "working-pattern"}
            %span{:title => "Monday", :class => "working-day"}
              = "M"
            %span{:title => "Tuesday", :class => "working-day"}
              = "T"
            %span{:title => "Wednesday", :class => "working-day"}
              = "W"
            %span{:title => "Thursday"}
              = "T"
            %span{:title => "Friday", :class => "working-day"}
              = "F"
        %td.user-controls
          = link_to 'Edit', edit_case_workers_admin_case_worker_path(case_worker)
          = " | "
          = link_to 'Delete', case_workers_admin_case_worker_path(case_worker), method: :delete, data: { confirm: 'Are you sure?' }
