= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

= content_for :search_html_block do
  = govuk_link_to t('.create_case_worker'), new_case_workers_admin_case_worker_path

= render partial: 'shared/search_form', locals: { search_path: case_workers_admin_case_workers_path(anchor: 'search-button'), hint_text: t('hint.search_caseworker'), button_text: t('search.caseworkers') }


.govuk-grid-row{class: 'govuk-!-margin-top-9'}
  .govuk-grid-column-full

    = govuk_table do
      = govuk_table_caption(class: 'govuk-visually-hidden') do
        = t('.caption')

      = govuk_table_thead_collection [t('.surname'),
      t('.name'),
      t('.status'),
      t('.actions')]

      = govuk_table_tbody do
        - @case_workers.each do |case_worker|
          = govuk_table_row do
            = govuk_table_td('data-label': t('.surname')) { case_worker.user.last_name }

            = govuk_table_td('data-label': t('.name')) { case_worker.user.first_name }
            = govuk_table_td('data-label': t('.status')) { govuk_tag_active_user?(case_worker.user) }

            = govuk_table_td('data-label': t('.actions')) do
              - if case_worker.active?
                .app-link-group
                  .div= govuk_link_to t('.edit_caseworker_html', case_worker: case_worker.name), edit_case_workers_admin_case_worker_path(case_worker)
                  .div= govuk_link_to t('.delete_caseworker_html', case_worker: case_worker.name), case_workers_admin_case_worker_path(case_worker), method: :delete, data: { confirm: t('.confirmation') }
