= render partial: 'layouts/header', locals: {page_heading: 'Manage case workers'}

.container
  = content_for :search_html_block do
    %div
      %br/
      %br/
      = link_to 'New case worker', new_case_workers_admin_case_worker_path, class: 'button primary'

  = render partial: 'shared/search_form', locals: { search_path: case_workers_admin_case_workers_path, hint_text: t('.hint.search') }

.container.table-container
  %table.report
    %caption
      = 'Report'
    %thead
      %th{scope:'col'}
        = t('.surname')
      %th{scope:'col'}
        = t('.name')
      %th{scope:'col'}
        = t('.location')
      %th{scope:'col'}
        = t('.actions')
    %tbody
      - @case_workers.each do |case_worker|
        %tr
          %td
            = case_worker.user.last_name
          %td
            = case_worker.user.first_name
          %td
            = case_worker.location.name
          %td.user-controls
            = link_to t('common.edit'), edit_case_workers_admin_case_worker_path(case_worker)
            = " | "
            = link_to t('common.delete'), case_workers_admin_case_worker_path(case_worker), method: :delete, data: { confirm: 'Are you sure?' }
