%h1.page-title
  Manage case workers

.grid-row.clear-float
  %h2.heading-medium.left
    = t('.case_workers_list')
  = link_to 'New case worker', new_case_workers_admin_case_worker_path, class: 'button right'

%table
  %thead
    %th
      = t('.surname')
    %th
      = t('.name')
    %th
      = t('.approval_limit')
    %th
      = t('.location')
    %th
      = t('.working_days')
    %th
  %tbody
    - @case_workers.each do |case_worker|
      %tr
        %td
          = case_worker.user.last_name
        %td
          = case_worker.user.first_name
        %td
          = case_worker.approval_level
        %td
          = case_worker.location.name
        %td
          = present(case_worker).days_worked_markup
        %td.user-controls
          = link_to t('common.edit'), edit_case_workers_admin_case_worker_path(case_worker)
          = " | "
          = link_to t('common.delete'), case_workers_admin_case_worker_path(case_worker), method: :delete, data: { confirm: 'Are you sure?' }
