= content_for :page_title, flush: true do
  = t('.page_title', caseworker: @case_worker.name)

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }
%table
  %caption
    = t('.page_heading')

  %tbody
    %tr
      %th{ scope: 'row' }
        = t('.roles')
      %td
        = @case_worker.roles.map(&:humanize).join(', ')

- if can? :edit, @case_worker
  .form-group
    = link_to t('.edit'), edit_case_workers_admin_case_worker_path(@case_worker), class: 'button', 'aria-label': t('.edit_aria_label')

- if can? :change_password, @case_worker
  .form-group
    = link_to t('.change_password'), change_password_case_workers_admin_case_worker_path(@case_worker)
