= content_for :page_title, flush: true do
  = t('.page_title', caseworker: @case_worker.name)

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

.govuk-grid-row
  .govuk-grid-column-two-thirds

    = govuk_summary_list do
      = govuk_summary_list_row_collection(t('.roles')) { @case_worker.roles.map(&:humanize).join(', ') }

    .govuk-button-group
      - if can? :edit, @case_worker
        = govuk_button_link_to(t('.edit_html'), edit_case_workers_admin_case_worker_path(@case_worker))

      - if can? :change_password, @case_worker
        = govuk_link_to t('.change_password'), change_password_case_workers_admin_case_worker_path(@case_worker)
