.app-summary-section
  %h2.govuk-heading-l
    = t('external_users.claims.interim_fee.summary.header')

  - if local_assigns[:editable]
    = govuk_link_to t('common.change_html', context: t('external_users.claims.interim_fee.summary.header')), edit_polymorphic_path(claim, step: :interim_fees, referrer: :summary), class: 'link-change'

  - if claim.interim_fee.nil? || claim.interim_fee.is_disbursement?
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: :interim_fees }
    - else
      %p
        = t('shared.summary.no_values.interim_fee')
  - else
    - fee = present(claim.interim_fee)
      - unless fee.is_disbursement?
      = govuk_summary_list do
        = govuk_summary_list_row_collection( t('shared.summary.fee_type') ) { fee.fee_type.description }

        - unless fee.is_interim_warrant?
          = govuk_summary_list_row_collection( t('shared.summary.ppe_total') ) { fee.quantity }

        - if fee.is_interim_warrant?
          = govuk_summary_list_row_collection( t('shared.summary.warrant_fee.date_issued') ) { fee.warrant_issued_date }

        - if fee.warrant_executed_date.present?
          = govuk_summary_list_row_collection( t('shared.summary.warrant_fee.date_executed') ) { fee.warrant_executed_date }

        - if fee.is_effective_pcmh?
          = govuk_summary_list_row_collection( t('shared.summary.effective_pcmh_date') ) { fee.effective_pcmh_date }

        - if fee.is_trial_start?
          = govuk_summary_list_row_collection( t('shared.summary.trial_start') ) { fee.first_day_of_trial }
          = govuk_summary_list_row_collection( t('shared.summary.estimated_trial_length') ) { fee.estimated_trial_length }

        - if fee.is_retrial_start?
          = govuk_summary_list_row_collection( t('shared.summary.retrial_start') ) { fee.retrial_started_at }
          = govuk_summary_list_row_collection( t('shared.summary.estimated_retrial_length') ) { fee.retrial_estimated_length }

        - if fee.is_retrial_new_solicitor?
          = govuk_summary_list_row_collection( t('shared.summary.legal_aid_transfer_date') ) { fee.legal_aid_transfer_date }
          = govuk_summary_list_row_collection( t('shared.summary.trial_concluded_at') ) { fee.trial_concluded_at }

        = govuk_summary_list_row_collection( t('shared.summary.amount') ) { fee.amount }
