%h1.page-title Manage advocates

%h2
  = @advocate.email

%p
  Name:
  = @advocate.name

%p
  Supplier number:
  = @advocate.supplier_number

%p
  VAT Registered:
  = @advocate.vat_registered? ? 'Yes' : 'No'

%p
  Role:
  = @advocate.role.humanize

- if can? :edit, @advocate
  = link_to 'Edit', edit_super_admins_provider_advocate_path(@provider, @advocate), class: 'button'

- if can? :change_password, @advocate
  = link_to 'Change password', change_password_super_admins_provider_advocate_path(@provider, @advocate), class: 'button'
