- if providers.none?
  %p
    No providers found
- else
  %table.providers_table.report
    %thead
      %th
        = t('.provider_name')
      %th
        = t('.provider_type')
      %th
        = t('.fee_schemes')
      %th
        = t('.vat_registered')
      %th
        Users
    %tbody
      - providers.each do |provider|
        %tr{id: dom_id(provider) }
          %td{'aria-label' => t('.provider_name')}
            = link_to provider.name, super_admins_provider_path(provider)
          %td{'aria-label' => t('.provider_type')}
            = provider.provider_type.humanize
          %td{'aria-label' => t('.fee_schemes')}
            = provider.roles.map(&:upcase) * ', '
          %td{'aria-label' => t('.vat_registered')}
            = provider.vat_registered == true ? 'Yes' : 'No'
          %td{'aria-label' => 'Users'}
            = link_to "Manage users in provider", super_admins_provider_external_users_path(provider)
