= render partial: 'layouts/header', locals: {page_heading: 'Manage providers'}

%h2.heading-medium
  = @provider.name

.grid-row
  .column-one-third
    %h3
      = t('.provider_type')
  .column-one-third
    = @provider.provider_type.capitalize

.grid-row
  .column-one-third
    %h3
      = t('.fee_schemes')
  .column-one-third
    = @provider.roles.map(&:upcase) * ', '

- if @provider.lgfs_supplier_numbers.any?
  .grid-row
    .column-one-third
      %h3
        = t('.lgfs_supplier_numbers')
    .column-one-third
      = @provider.lgfs_supplier_numbers.to_sentence

- if @provider.firm? && @provider.agfs?
  .grid-row
    .column-one-third
      %h3
        = t('.firm_agfs_supplier_number')
    .column-one-third
      = @provider.firm_agfs_supplier_number

.grid-row
  .column-one-third
    %h3
      =t('.vat_registered')
  .column-one-third
    = @provider.vat_registered == true ? 'Yes' : 'No'

- if can? :edit, @provider
  %p
    = link_to 'Edit', edit_super_admins_provider_path(@provider), class: 'button'
