- fee = present(f.object)
.app-checkboxes__item{ 'data-target': to_slug(f.object.description), class: "fx-hook-#{fee.fee_type_code.downcase}" }
  = f.govuk_check_box :toggle,
    1,
    checked: !f.object.blank?,
    class: 'fx-checkbox-hook',
    label: { text: f.object.description },
    'data-unique-code': f.object.fee_type.unique_code do

    .misc-fee-group.fx-fee-group.js-block.fx-do-init{ data:{type:"miscFees", autovat: @claim.apply_vat? ? "true" : "false", "block-type": "FeeBlockCalculator"} }
      = f.govuk_text_field :fee_type_id,
        class: 'js-fee-calculator-fee-type js-fee-type',
        form_group: { class: 'govuk-visually-hidden' },
        label: { hidden: true },
        type: 'hidden'

      - if f.object.fee_type.unique_code.eql?('MIUMO')
        = render 'warnings/unused_material_over_3_hours'

      = f.govuk_number_field :quantity,
        class: 'quantity fee-quantity js-fee-quantity js-fee-calculator-quantity',
        form_group: { class: 'quantity_wrapper' },
        hint: { text: t('.quantity_hint') },
        label: { text: t('.quantity_html', context: f.object.description) },
        min: 1,
        value: fee.quantity,
        width: 3

      = f.govuk_number_field :rate,
        class:'rate fee-rate js-fee-calculator-rate',
        form_group: { class: 'js-unit-price-effectee calculated-unit-fee' },
        label: { text: t('.rate_html', context: f.object.description) },
        prefix_text: '£',
        readonly: f.object.price_calculated?,
        value: number_with_precision(f.object.rate, precision: 2),
        width: 5

      = f.govuk_text_field :price_calculated,
        form_group: { class: 'js-fee-calculator-success' },
        label: { hidden: true },
        type: 'hidden',
        value: f.object.price_calculated?

      .fee-calc-help-wrapper.hidden
        = govuk_details(summary_text: t('.help_how_we_calculate_rate_title'), text: t('.help_how_we_calculate_rate_body'))

      .dates-wrapper.form-group
        .cocoon-insert-wrapper
          - f.object.dates_attended.build unless f.object.dates_attended.any?
          = f.fields_for :dates_attended do |date_attended|
            = render 'date_attended_fields', f: date_attended, submodel_count: date_attended.index+1, parent_model_prefix: "misc_fee_#{@misc_fee_count}"

        = link_to_add_association t('.add_date_attended'), f, :dates_attended, 'partial' => 'date_attended_fields', data: { 'association-insertion-method' => 'append', 'association-insertion-node' => '.cocoon-insert-wrapper', 'association-insertion-traversal' => 'prev'}, class: 'govuk-link'

      = govuk_summary_list do |summary_list|
        - summary_list.with_row do |row|
          - row.with_key(text: t('.net_amount'))
          - row.with_value(text: fee.amount || number_to_currency(0), classes: 'fee-net-amount total')

  = f.hidden_field :_destroy, class: 'destroy', value: f.object.blank?
