= form_for [:advocates, :admin, @advocate] do |f|
  - if @advocate.errors.any?
    .validation-summary
      %h3.heading-small= "#{t('.prohibited_save')} #{pluralize(@advocate.errors.count, t('.error'))}"
      %ul
        - @advocate.errors._full_messages.each do |msg|
          %li= msg

  = f.fields_for :user do |user_fields|
    %fieldset.user-form
      = user_fields.label t(".first_name"), class: "form-label"
      = user_fields.text_field :first_name, class: "form-control"
      = user_fields.label t(".last_name"), class: "form-label"
      = user_fields.text_field :last_name, class: "form-control"
      = user_fields.label t(".email"), class: "form-label"
      = user_fields.email_field :email, class: "form-control"
      
      = f.label :apply_vat, class: "form-label"
      %div.form-group.inline
        =f.collection_radio_buttons(:apply_vat, [true, false], :to_s, :to_s) do |b|
          - b.label(class: 'block-label') { b.radio_button + (b.value.to_s == 'true' ? 'Yes' : 'No') }
     
       

      - if @advocate.new_record?
        = user_fields.label t(".password"), class: "form-label"
        = user_fields.password_field :password, class: "form-control"
        = user_fields.label t(".password_confirmation"), class: "form-label"
        = user_fields.password_field :password_confirmation, class: "form-control"

    %fieldset.user-form
      = f.label t(".supplier_number"), class: "form-label"
      = f.text_field :supplier_number, class: "form-control"

      = f.label :role, class: "form-label"
      %div.form-group.inline
        = f.collection_radio_buttons(:role, Advocate::ROLES, :to_s, :to_s) do |b|
          - b.label(class: "block-label") { b.radio_button + b.value.humanize }

  = f.submit 'Save', class: "button"




