- if @advocate.user.errors.any?
  .validation-summary
    %h3.heading-small= "#{t('.prohibited_save')} #{pluralize(@advocate.user.errors.count, 'error')}"
    %ul
      - @advocate.user.errors.full_messages.each do |msg|
        %li= msg
%h1.page-title
  Change password

= form_for [:advocates, :admin, @advocate], url: update_password_advocates_admin_advocate_path do |f|
  = f.fields_for :user do |user_fields|
    %fieldset.user-form
      = user_fields.label :current_password, t(".current_password"), class: "form-label"
      = user_fields.password_field :current_password, class: "form-control"
      = user_fields.label :password, t(".password"), class: "form-label"
      = user_fields.password_field :password, class: "form-control"
      = user_fields.label :password_confirmation, t(".password_confirmation"), class: "form-label"
      = user_fields.password_field :password_confirmation, class: "form-control"

  = f.submit t(".submit"), class: "button"
