%h1 Administration
%h2 Change password

= form_for [:advocates, :admin, @advocate], url: update_password_advocates_admin_advocate_path do |f|
  - if @advocate.user.errors.any?
    .validation-summary
      %h3.heading-small= "#{pluralize(@advocate.user.errors.count, t('.error'))} #{t('.prohibited_save')}"
      %ul
        - @advocate.user.errors.full_messages.each do |msg|
          %li= msg

  = f.fields_for :user do |user_fields|
    %fieldset.user-form
      = user_fields.label t(".current_password"), class: "form-label"
      = user_fields.password_field :current_password, class: "form-control"
      = user_fields.label t(".password"), class: "form-label"
      = user_fields.password_field :password, class: "form-control"
      = user_fields.label t(".password_confirmation"), class: "form-label"
      = user_fields.password_field :password_confirmation, class: "form-control"

  = f.submit t(".submit"), class: "button"

