%h1.page-title
  Administration

.grid-row.clear-float
  %h2.heading-medium.left
    List of Advocates
  = link_to 'New advocate', new_advocates_admin_advocate_path, class: 'button right'

%table
  %thead
    %th
      Surname
    %th
      Name
    %th
      Supplier Number
    %th
      Email
    %%th
  %tbody
    - @advocates.each do |advocate|
      %tr
        %td
          = advocate.last_name
        %td
          = advocate.first_name
        %td
          = advocate.supplier_number
        %td
          = mail_to advocate.email, advocate.email, {title: "Email #{advocate.name}"}
        %td.user-controls
          = link_to 'Edit',  edit_advocates_admin_advocate_path(advocate)
          = " | "
          = link_to 'Delete',advocates_admin_advocate_path(advocate), method: :delete, data: { confirm: 'Are you sure?' }
