= render 'advocates/claims/nav_tabs'

%header.page-title
  %h1
    = t(".advocates")
  = link_to t('admin.index.add_advocate'), new_advocates_admin_advocate_path, class: 'button'

%ul#assignee-list
  - @advocates.each do |advocate|
    %li
      = link_to "#{advocate.email} (#{advocate.role.humanize})", advocates_admin_advocate_path(advocate)
      %ul.actions
        %li
          = link_to t('.edit'), edit_advocates_admin_advocate_path(advocate)
        %li
          = link_to t('.delete'), advocates_admin_advocate_path(advocate), method: :delete, data: { confirm: ('.confirm_delete') }

