%h1.page-title
  = "Your account"

.grid-row.basic-info-row
  .column-quarter
    .bold-xsmall
      Name:
    .xsmall
      = @advocate.name
  .column-quarter
    .bold-xsmall
      Email:
    .xsmall
      = mail_to @advocate.email, @advocate.email
  .column-half
    &nbsp;

.grid-row.basic-info-row
  .column-quarter
    .bold-xsmall
      Role:
    .xsmall
      = @advocate.role.humanize
  .column-quarter
    .bold-xsmall
      Supplier number:
    .xsmall
      = @advocate.supplier_number
  .column-half
    &nbsp;

- if can? :edit, @advocate
  = link_to 'Edit', edit_advocates_admin_advocate_path(@advocate), class: 'button button-secondary'

- if can? :change_password, @advocate
  = link_to 'Change password', change_password_advocates_admin_advocate_path(@advocate), class: 'button button-secondary'
