.form-row{class: error_class?(@error_presenter, :disk_evidence)}
  %h2.bold-medium
    = f.anchored_label t('disk_evidence.header'), 'evidence_upload'

  %fieldset
    = f.anchored_label t('disk_evidence.question'), 'disk_evidence'
    = f.collection_radio_buttons(:disk_evidence, [['Yes','true'],['No','false']], :last, :first ) do |b|
      .multiple-choice{"data-target" => b.text == 'Yes' ? 'evidence-info' : nil}
        = b.radio_button
        = b.label { b.text }
      - if (b.text == 'Yes')
        #evidence-info.panel.panel-border-narrow.js-hidden
          = render partial: 'shared/disk_evidence_info', locals: { f: f }

  = validation_error_message(@error_presenter, :disk_evidence)