.form-group{ class: error_class?(@error_presenter, :disk_evidence) }
  %fieldset{ 'aria-describedby': 'radio-control-legend-evidence' }
    %legend#radio-control-legend-evidence
      %span.govuk-heading-m
        = t('disk_evidence.question')

    = f.collection_radio_buttons(:disk_evidence, [['Yes','true'],['No','false']], :last, :first ) do |b|
      .multiple-choice{ data: { target: b.text == 'Yes' ? 'evidence-info' : nil } }
        = b.radio_button('aria-labelledby': "radio-control-legend-evidence #{b.text.to_css_class}")
        = b.label(id: b.text.to_css_class) { b.text }
      - if (b.text == 'Yes')
        #evidence-info.panel.panel-border-narrow.js-hidden
          = render partial: 'shared/disk_evidence_info', locals: { f: f }

  = validation_error_message(@error_presenter, :disk_evidence)
