- if @claim.documents.any?(&:persisted?)
  = govuk_table(class: 'files') do
    = govuk_table_caption do
      = t('.previously_uploaded_docs')

    = govuk_table_thead do
      = govuk_table_row do
        = govuk_table_th(class: 'govuk-!-width-two-thirds') do
          = t('.file_name')
        = govuk_table_th do
          = t('.action')
    = govuk_table_tbody do
      - @claim.documents.order(created_at: :asc).each do |document|
        = govuk_table_row(id: dom_id(document)) do
          = govuk_table_td('data-label': t('.file_name')) do
            = document.document_file_name
          = govuk_table_td('data-label': t('.action')) do
            .app-link-group
              = govuk_link_to t('common.download_html', context: "#{document.document_file_name}"),
                        rails_blob_url(document.document, disposition: 'inline'),
                        class: 'download'
              = govuk_link_to t('common.remove_html', context: "#{document.document_file_name}"),
                       rails_blob_url(document.document, disposition: 'inline'),
                        method: :delete,
                        remote: true,
                        data: { confirm: 'Are you sure?' }
