- if @claim.documents.count > 0
  %h2.bold-medium
    = t('.previously_uploaded_docs')
    .form-hint
    = t('.supporting_evidence_docs_hint')

  %table.previously-uploaded
    %thead
      %tr
        %th
          = t('.file_name')
        %th
          = t('.action')
    %tbody
      - @claim.documents.order(created_at: :asc).each do |document|
        %tr{id: dom_id(document)}
          %td
            = document.document_file_name
          %td
            = link_to t('common.download'),
                      download_document_path(document),
                      class: 'download',
                      'aria-label': "Download document: #{document.document_file_name}"
            = " | "
            = link_to t('common.remove'),
                      document_path(document),
                      method: :delete,
                      remote: true,
                      'aria-label': "Remove document: #{document.document_file_name}",
                      data: { confirm: 'Are you sure?' }
