- if @claim.documents.any?(&:persisted?)
  = govuk_table(classes: 'app-table--responsive files') do |table|
    = table.with_caption(text: t('.previously_uploaded_docs'))

    = table.with_head do |head|
      = head.with_row do |row|
        = row.with_cell(classes: 'govuk-!-width-two-thirds', text: t('.file_name'))
        = row.with_cell(text: t('.action'))

    = table.with_body do |body|
      - @claim.documents.order(created_at: :asc).each do |document|
        = body.with_row(html_attributes: { id: dom_id(document) }) do |row|
          = row.with_cell(html_attributes: { 'data-label': t('.file_name') }, text: document.document_file_name)
          = row.with_cell(html_attributes: { 'data-label': t('.action') }) do
            .app-link-group
              = govuk_link_to t('common.download_html', context: "#{document.document_file_name}"),
                        download_document_path(document),
                        class: 'download'
              = govuk_link_to t('common.remove_html', context: "#{document.document_file_name}"),
                        document_path(document),
                        method: :delete,
                        remote: true,
                        data: { confirm: 'Are you sure?' }
