- unless @claim.agfs? && @claim.interim?
  = render partial: 'external_users/claims/supporting_documents/disk_evidence', locals: { f: f }

%h3.heading-medium
  = t('.supporting_evidence_docs')

.document-ids
  - @claim.documents.each do |document|
    = f.hidden_field :document_ids, multiple: true, value: document.id, id: "claim_document_ids_#{document.id}"

.dropzone{data: {'dz-template' => render('shared/dropzone_js')}}
  .dz-default.dz-message.grid-row
    .column-one-third.arrow-icon
      %p

    .column-one-half
      %span.normal="Drag and drop files here"
      %br
      %span.bold-normal= "or"
      %br
      .button-grey-3
        = t('.choose_file')
