- unless @claim.agfs? && @claim.interim?
  %h2.heading-large
    = t('.supporting_evidence')

  = render partial: 'external_users/claims/supporting_documents/disk_evidence', locals: { f: f }

.document-ids
  - @claim.documents.each do |document|
    = f.hidden_field :document_ids, multiple: true, value: document.id, id: "claim_document_ids_#{document.id}"

.form-group
  %fieldset
    %legend.form-label-bold
      = t('.legend')
    .dropzone{ tabindex: '0', data: { 'dz-template': "#{render('shared/dropzone_js').html_safe}" } }
      .dz-default.dz-message.grid-row
        .column-one-third.arrow-icon
          %p
        .column-one-half
          %span.normal
            = t('.file_upload_message')
          %br
          %span.bold-normal
            = t('.or')
          %br
          .button-grey-3
            = t('.choose_file')
