- unless @claim.agfs? && @claim.interim?
  %h2.govuk-heading-l
    = t('.supporting_evidence')

  = render partial: 'external_users/claims/supporting_documents/disk_evidence', locals: { f: f }

.document-ids
  - @claim.documents.each do |document|
    = f.hidden_field :document_ids, multiple: true, value: document.id, id: "claim_document_ids_#{document.id}"

.form-group
  %fieldset
    %legend
      = t('.legend')
    .dropzone
      = f.label :documents, 'Upload file', class: 'form-group'
      = f.file_field :documents, name: 'documents', multiple: true, class: 'form-control'

%table#dropzone-files.files.hidden
  %caption
    = t('.uploading_docs')

  %thead
    %tr
      %th{ scope: 'col' }
        = t('.file_name')
      %th{ scope: 'col' }
        = t('.status')
      %th{ scope: 'col' }
        = t('.action')

  %tbody
