- unless @claim.agfs? && @claim.interim?
  %h2.govuk-heading-l
    = t('.supporting_evidence')

  = render partial: 'external_users/claims/supporting_documents/disk_evidence', locals: { f: f }

.document-ids
  - @claim.documents.includes(:document_blob, :converted_preview_document_attachment).each do |document|
    = f.hidden_field :document_ids, multiple: true, value: document.id, id: "claim_document_ids_#{document.id}"

%h3.govuk-heading-m{ class:'govuk-!-static-margin-bottom-2' }
  = t('.supporting_evidence_docs')

.moj-multi-file-upload
  %span
    = t('.files accepted')
  %p
    = t('.maximum_file_size')
  .govuk-error-summary.govuk-visually-hidden{"aria-labelledby" => "error-summary-title", role: "alert", tabindex: "-1"}
    %h3.error-summary-title.govuk-error-summary__title There is a problem
    .govuk-list.govuk-error-summary__list
  .moj-multi-file__uploaded-fields
  .moj-multi-file-upload__upload
    .govuk-form-group
      %label.govuk-label.govuk-label--s{for: "attachments"}
        Upload a file
      %input#attachments.govuk-file-upload.moj-multi-file-upload__input{multiple: "multiple", name: "attachments", type: "file"}/
  .moj-multi-file__uploaded-files
    %h3.govuk-heading-s Files added
    .govuk-summary-list.moj-multi-file-upload__list