- unless @claim.agfs? && @claim.interim?
  %h2.govuk-heading-l
    = t('.supporting_evidence')

  = render partial: 'external_users/claims/supporting_documents/disk_evidence', locals: { f: f }

.document-ids
  - @claim.documents.each do |document|
    = f.hidden_field :document_ids, multiple: true, value: document.id, id: "claim_document_ids_#{document.id}"

.form-group
  %fieldset
    %legend
      = t('.legend')
    .dropzone
      = f.label :documents, 'Upload file', class: 'form-group'
      = f.file_field :documents, name: 'documents', multiple: true, class: 'form-control'

= govuk_table(id: 'dropzone-files', class: 'files hidden') do
  = govuk_table_caption do
    = t('.uploading_docs')

  = govuk_table_thead do
    = govuk_table_row do
      = govuk_table_th do
        = t('.file_name')
      = govuk_table_th do
        = t('.status')
      = govuk_table_th do
        = t('.action')

  %tbody.govuk-table__body
