- if claim.disk_evidence?
  %h2.govuk-heading-m
    Evidence supplied on disk

  = govuk_table do
    = govuk_table_caption(class: 'govuk-visually-hidden') do
      = "Evidence supplied on disk"
    = govuk_table_tbody do
      = govuk_table_row do
        = govuk_table_th(scope:'row', class: 'bold') do
          = "Reference number:"
        = govuk_table_td('data-label': "Reference number") do
          = claim.disk_evidence_reference

%h2.govuk-heading-m
  Supporting evidence documents

= govuk_table do
  = govuk_table_caption(class: 'govuk-visually-hidden') do
    = t('.caption')
  = govuk_table_tbody do
    - claim.documents.each do |document|
      = govuk_table_row do
        = govuk_table_th(scope:'row', class: 'summary-headings') do
          = t('shared.evidence_list.name_of_file')
        = govuk_table_td('data-label': t('shared.evidence_list.name_of_file')) do
          = document.document_file_name
      = govuk_table_row do
        = govuk_table_th(scope:'row') do
          = t('shared.evidence_list.file_size')
        = govuk_table_td('data-label': t('shared.evidence_list.file_size')) do
          = number_to_human_size(document.document_file_size)
      = govuk_table_row do
        = govuk_table_th(scope:'row') do
          = t('shared.evidence_list.date_added')
        = govuk_table_td('data-label': t('shared.evidence_list.date_added')) do
          = document.document_updated_at
      = govuk_table_row do
        = govuk_table_th(scope:'row') do
          = t('shared.evidence_list.actions')
        = govuk_table_td('data-label': t('shared.evidence_list.actions')) do
          .app-link-group
            - if document.converted_preview_document.present?
              = govuk_link_to t('common.view_html', context: "#{document.document_file_name}"),
                        document_path(document),
                        class: 'view'

            = govuk_link_to t('common.download_html', context: "#{document.document_file_name}"),
                      download_document_path(document),
                      class: 'download'

