%h1
  Allocate claims to #{@user.email}

= form_for [:case_workers, :admin, @user], url: case_workers_admin_user_path do |f|
  - if @user.errors.any?
    %h2= "#{pluralize(@user.errors.count, 'error')} prohibited this claim from being saved:"
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg

  = f.label :claim_ids, 'Claims'
  %br
  = f.collection_select :claim_ids, @claims, :id, :case_number, { prompt: true }, { multiple: true, style: 'width: 100%;' }
  %br
  = f.submit
