%h1
  Users

%ul
  - @users.each do |user|
    %li
      = link_to "#{user.email} (#{user.role.humanize})", case_workers_admin_user_path(user)
      |
      = link_to 'Allocate claims', allocate_case_workers_admin_user_path(user)
      |
      = link_to 'Edit', edit_case_workers_admin_user_path(user)
      |
      = link_to 'Delete', case_workers_admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }

%p
  = link_to 'New user', new_case_workers_admin_user_path, class: 'button'
