.js-interim-effectivePcmh.help-wrapper.visually-hidden
  = govuk_detail t('.help_how_we_calculate_amount_title') do
    = t('.help_how_we_calculate_amount_body.effective_pcmh')

.js-interim-trialDates.help-wrapper.visually-hidden
  = govuk_detail t('.help_how_we_calculate_amount_title') do
    = t('.help_how_we_calculate_amount_body.trial_start')

.js-interim-retrialDates.help-wrapper.visually-hidden
  = govuk_detail t('.help_how_we_calculate_amount_title') do
    = t('.help_how_we_calculate_amount_body.retrial_start')

.js-interim-legalAidTransfer.help-wrapper.visually-hidden
  = govuk_detail t('.help_how_we_calculate_amount_title') do
    = t('.help_how_we_calculate_amount_body.retrial_new_solicitor')
