#interim-fee.mod-fees
  = f.anchored_without_label 'interim_fee'
  %h2.bold-medium
    = t('.interim_fees')
  %p.form-hint.xsmall
    = t('.interim_fees_prompt_text_html')

  = f.fields_for :interim_fee do |inf|
    - fee = present(inf.object)
    .interim-fee-group.nested-fields.mod-fees.js-block{data:{"type":"fees", autovat: @claim.apply_vat? ? "true" : "false"}}
      %fieldset
        .form-row
          .column-half{class: error_class?(@error_presenter, "interim_fee.fee_type")}
            = inf.label :fee_type, t('.fee_type')
            = inf.anchored_attribute 'fee_type'
            - interim_fee_types_collection = present_collection(@claim.eligible_interim_fee_types)
            = inf.select :fee_type_id, interim_fee_types_collection.map {|fee| [fee.description, fee.id, { data: fee.data_attributes }]}, {include_blank: 'Please select'}, {class: 'form-control js-interim-fee-type'}
            = validation_error_message(@error_presenter, 'interim_fee.fee_type')


          .column-half.fee-quantity.js-interim-ppe.visually-hidden
            %a{:id => "interim_fee.quantity"}
            = inf.adp_text_field :quantity,
                          label: t('.ppe_total'),
                          input_classes:'quantity',
                          input_type: 'number',
                          value: fee.quantity,
                          error_key:'interim_fee.quantity',
                          errors: @error_presenter

        .form-row
          .column-first-child.column-three-quarters.js-interim-effectivePcmh.visually-hidden
            .column-half
              = f.anchored_without_label 'effective_pcmh_date'
              = f.gov_uk_date_field(:effective_pcmh_date, legend_text: t('.effective_pcmh'), legend_class: 'govuk-legend', error_messages: gov_uk_date_field_error_messages(@error_presenter, :effective_pcmh_date))


          .column-first-child.column-three-quarters.js-interim-retrialDates.visually-hidden
            .column-half
              = f.anchored_without_label 'retrial_started_at'
              = f.gov_uk_date_field(:retrial_started_at, legend_text: t('.retrial_started_at'), legend_class: 'govuk-legend', error_messages: gov_uk_date_field_error_messages(@error_presenter, :retrial_started_at))

            .column-half
              = f.adp_text_field :retrial_estimated_length,
                          label: t('.retrial_estimated_length'),
                          input_classes:'form-date-spacing with-hint',
                          hint_text: t('.number_days_hint'),
                          errors: @error_presenter


          .column-first-child.column-three-quarters.js-interim-trialDates.visually-hidden
            .column-half
              = f.anchored_without_label 'first_day_of_trial'
              = f.gov_uk_date_field(:first_day_of_trial, legend_text: t('.first_day_of_trial'), legend_class: 'govuk-legend', error_messages: gov_uk_date_field_error_messages(@error_presenter, :first_day_of_trial))

            .column-half
              = f.adp_text_field :estimated_trial_length,
                          label: t('.estimated_trial_length'),
                          input_classes:'form-date-spacing with-hint',
                          input_type: 'number',
                          hint_text: t('.number_days_hint'),
                          errors: @error_presenter

          .column-first-child.column-three-quarters.js-interim-legalAidTransfer.visually-hidden
            .column-half
              = f.anchored_without_label 'legal_aid_transfer_date'
              = f.gov_uk_date_field(:legal_aid_transfer_date, legend_text: t('.legal_aid_transfer_date'), legend_class: 'govuk-legend', error_messages: gov_uk_date_field_error_messages(@error_presenter, :legal_aid_transfer_date))

            .column-half
              = f.anchored_without_label 'trial_concluded_at'
              = f.gov_uk_date_field(:trial_concluded_at, legend_text: t('.trial_concluded_at'), legend_class: 'govuk-legend', error_messages: gov_uk_date_field_error_messages(@error_presenter, :trial_concluded_at))

          .column-first-child.column-three-quarters.js-interim-warrant.visually-hidden
            .column-half
              = inf.anchored_attribute 'warrant_issued_date'
              = inf.gov_uk_date_field :warrant_issued_date, legend_text: t('.warrant_issued'), legend_class: 'govuk-legend', error_messages: gov_uk_date_field_error_messages(@error_presenter, 'interim_fee.warrant_issued_date')

            .column-half
              = inf.anchored_attribute 'warrant_executed_date'
              = inf.gov_uk_date_field :warrant_executed_date, legend_text: t('.warrant_executed'), legend_class: 'govuk-legend', error_messages: gov_uk_date_field_error_messages(@error_presenter, 'interim_fee.warrant_executed_date')

          .column-quarter.fee-amount.js-interim-feeTotal.visually-hidden
            %a{:id => "interim_fee.amount"}
            = inf.adp_text_field :amount,
                          label: t('.total'),
                          input_classes:'total',
                          input_type: 'currency',
                          error_key: 'interim_fee.amount',
                          value: number_with_precision(inf.object.amount, precision: 2),
                          errors: @error_presenter

    .js-interim-disbursements.visually-hidden
      = render partial: 'external_users/claims/disbursements/fields', locals: { f: f }

