.app-summary-section
  %h2.govuk-heading-l
    = t('external_users.claims.interim_fee.summary.header')

  - if local_assigns[:editable]
    = govuk_link_to t('common.change_html', context: t('external_users.claims.interim_fee.summary.header')), edit_polymorphic_path(claim, step: :interim_fees, referrer: :summary), class: 'link-change'

  - if claim.interim_fee.nil? || claim.interim_fee.is_disbursement?
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: :interim_fees }
    - else
      %p
        = t('shared.summary.no_values.interim_fee')
  - else
    - fee = present(claim.interim_fee)
      - unless fee.is_disbursement?
      = govuk_summary_list do |summary_list|
        - summary_list.with_row do |row|
          - row.with_key { t('shared.summary.fee_type') }
          - row.with_value(text: fee.fee_type.description )

        - unless fee.is_interim_warrant?
          - summary_list.with_row do |row|
            - row.with_key(text: t('shared.summary.ppe_total') )
            - row.with_value(text: fee.quantity )

        - if fee.is_interim_warrant?
          - summary_list.with_row do |row|
            - row.with_key(text: t('shared.summary.warrant_fee.date_issued') )
            - row.with_value(text: fee.warrant_issued_date )

        - if fee.warrant_executed_date.present?
          - summary_list.with_row do |row|
            - row.with_key(text: t('shared.summary.warrant_fee.date_executed') )
            - row.with_value(text: fee.warrant_executed_date )

        - if fee.is_effective_pcmh?
          - summary_list.with_row do |row|
            - row.with_key(text: t('shared.summary.effective_pcmh_date') )
            - row.with_value(text: fee.effective_pcmh_date )

        - if fee.is_trial_start?
          - summary_list.with_row do |row|
            - row.with_key(text: t('shared.summary.trial_start') )
            - row.with_value(text: fee.first_day_of_trial )

          - summary_list.with_row do |row|
            - row.with_key(text: t('shared.summary.estimated_trial_length') )
            - row.with_value(text: fee.estimated_trial_length )

        - if fee.is_retrial_start?
          - summary_list.with_row do |row|
            - row.with_key(text: t('shared.summary.retrial_start') )
            - row.with_value(text: fee.retrial_started_at )

          - summary_list.with_row do |row|
            - row.with_key(text: t('shared.summary.estimated_retrial_length') )
            - row.with_value(text: fee.retrial_estimated_length )

        - if fee.is_retrial_new_solicitor?
          - summary_list.with_row do |row|
            - row.with_key(text: t('shared.summary.legal_aid_transfer_date') )
            - row.with_value(text: fee.legal_aid_transfer_date )

          - summary_list.with_row do |row|
            - row.with_key(text: t('shared.summary.trial_concluded_at') )
            - row.with_value(text: fee.trial_concluded_at )

          - summary_list.with_row do |row|
            - row.with_key(text: t('shared.summary.amount') )
            - row.with_value(text: fee.amount )
