= render partial: 'external_users/claims/fees_shared_header'

= render partial: 'external_users/claims/fixed_fees/litigators/fields', locals: { f: f }

= render partial: 'external_users/claims/graduated_fees/fields', locals: { f: f }

= render partial: 'external_users/claims/misc_fees/litigators/fields', locals: { f: f }

= render partial: 'external_users/claims/disbursements/fields', locals: { f: f }

= render partial: 'external_users/claims/expenses/fields', locals: { f: f }

= render partial: 'external_users/claims/warrant_fee/fields', locals: { f: f }

= render partial: 'external_users/claims/supporting_documents/fields', locals: { f: f }

= render partial: 'external_users/claims/supporting_evidence_checklist/fields', locals: { f: f }

= render partial: 'external_users/claims/additional_information/fields', locals: { f: f }

= render partial: 'external_users/claims/buttons/continue', locals: { f: f, commit: 'commit_submit_claim' }
