%h2.govuk-heading-m= t('.edit_resource', resource: resource_name.to_s.humanize)

= form_with(model: resource, as: resource_name, url: registration_path(resource_name), method: :put, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f|
  = f.error_notification

  = f.govuk_text_field :email,
    label: { text: t('.email') },
    autofocus: true

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %p= t('.account_confirmation', resource: resource.unconfirmed_email)

  = f.govuk_password_field :password,
    label: { text: t('.password') },
    hint: { text: t('.password_hint') },
    autocomplete: 'off'

  = f.govuk_password_field :password_confirmation,
    label: { text: t('.password_confirmation') },
    autocomplete: 'off'

  = f.govuk_password_field :current_password,
    label: { text: t('.current_password') },
    hint: { text: t('.current_password_hint') },
    autocomplete: 'off'

  = f.govuk_submit t('.submit')


%h3.govuk-heading-s= t('.cancel_account')

%p.govuk-body= t('.cancel_account_html', cancel_link: link_to(t('.cancel_account'), 'registration_path(resource_name)', data: { confirm: "Are you sure?" }, method: :delete))

%p.govuk-body= link_to t('link.back'), :back
