%h1.page-title
  Sign up

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  - if resource.errors.any?
    .validation-summary
      %h2.heading-small= "This #{resource_name} has #{pluralize(resource.errors.count, 'error')}"
      %ul
        - resource.errors.each do |attribute, message|
          %li
            = "#{attribute.to_s.humanize} #{message}"

  %div.form-group
    = render 'terms_and_conditions'

    = label_tag :terms_and_conditions_acceptance, required: true, class:"form-label", style: 'font-weight: bold;' do
      = check_box_tag :terms_and_conditions_acceptance
      Accept terms and conditions

  %div.form-group
    = f.label :first_name, class: "form-label"
    = f.input_field :first_name, class: "form-control"

  %div.form-group
    = f.label :last_name, class: "form-label"
    = f.input_field :last_name, class: "form-control"

  %div.form-group
    = f.label :email, required: true, class: "form-label"
    = f.input_field :email, class: "form-control"

  %div.form-group
    = f.label :password, required: true, class:"form-label"
    = f.input_field :password, class: "form-control"

  %div.form-group
    = f.label :password_confirmation, required: true, class:"form-label"
    = f.input_field :password_confirmation, class: "form-control"

  %div.form-group
    = f.button :submit, "Sign up", class: "button"

= render "devise/shared/links"
