= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_with(model: resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.govuk_error_summary

      = f.govuk_check_boxes_fieldset :terms_and_conditions,
        multiple: false,
        legend: { text: t('devise.shared.links.terms_and_conditions').humanize, size: 'l' } do

        %p.govuk-body
          = t("devise.shared.links.vendor_terms_and_conditions.long_html", link: vendor_tandcs_page_path)

        = f.govuk_check_box :terms_and_conditions,
                            1,
                            0,
                            multiple: false,
                            link_errors: true,
                            label: { text: t('.terms_label') }

      = f.govuk_text_field :first_name, label: { text: t('.first_name') }
      = f.govuk_text_field :last_name, label: { text: t('.last_name') }
      = f.govuk_email_field :email, label: { text: t('.email') }
      = f.govuk_password_field :password, label: { text: t('.password') }
      = f.govuk_password_field :password_confirmation, label: { text: t('.password_confirmation') }
      = f.govuk_submit t('.sign_up')

    = render 'devise/shared/links'
