
= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for(resource, as: resource_name, url: registration_path(resource_name), builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f|
      -# TODO: get error handling to work
      = f.govuk_error_summary
      = render "devise/shared/error_messages", resource: resource


      = label_tag :terms_and_conditions_acceptance, required: true, class: 'form-label-bold' do
        = check_box_tag :terms_and_conditions_acceptance
        Accept terms and conditions


      -# = f.govuk_check_boxes_fieldset :terms_and_conditions_acceptance,
      -#   multiple: false,
      -#   legend: { text: t('.terms_legend'), size: 'm' } do

      -#   .govuk-body
      -#     = render 'terms_and_conditions'

        -# ERROR: undefined method `terms_and_conditions_acceptance' for #<User:0x00007fa225170308>
        -# = f.govuk_check_box :terms_and_conditions_acceptance,
        -#   0,
        -#   1,
        -#   multiple: false,
        -#   link_errors: true,
        -#   label: { text: t('.terms_label') }

      = f.govuk_text_field :first_name, label: { text: t('.first_name') }
      = f.govuk_text_field :last_name, label: { text: t('.last_name') }
      = f.govuk_text_field :email, label: { text: t('.email') }
      = f.govuk_password_field :password, label: { text: t('.password') }
      = f.govuk_password_field :password_confirmation, label: { text: t('.password_confirmation') }
      = f.govuk_submit t('.sign_up')

    = render 'devise/shared/links'
