.nested-fields.js-test-defendant
  %span.auto-width.first-name
    - @defendant_count += 1
    - @representation_order_count = 0
    = f.anchored_label t('.first_name'), "defendant_#{@defendant_count}_first_name"
    = f.text_field :first_name
    = validation_error_message(@error_presenter, "defendant_#{@defendant_count}_first_name".to_sym)
  %span.auto-width.last-name
    = f.anchored_label t('.last_name'), "defendant_#{@defendant_count}_last_name"
    = f.text_field :last_name
    = validation_error_message(@error_presenter, "defendant_#{@defendant_count}_last_name".to_sym)
  %span.auto-width.dob
    = f.anchored_label t('.date_of_birth'), "defendant_#{@defendant_count}_date_of_birth"
    = f.gov_uk_date_field :date_of_birth
    = validation_error_message(@error_presenter, "defendant_#{@defendant_count}_date_of_birth".to_sym)
  .grid-row
    .column-two-thirds
      %label.block-label.judicial-apportionment-notice
        = f.check_box :order_for_judicial_apportionment
        = raw t('.order_for_judicial_apportionment')
        = validation_error_message(f.object, :order_for_judicial_apportionment)

  .documents
    %a{name: "defendant_#{@defendant_count}_representation_orders"}
    = f.fields_for :representation_orders do |repo_form|
      = render partial: 'external_users/claims/defendants/representation_order_fields', locals: { f: repo_form }
  .links
    = link_to_add_association t('.add_another_rep_order'), f, :representation_orders, partial: 'external_users/claims/defendants/representation_order_fields'

  %p
    = link_to_remove_association t('.remove_defendant'), f if @defendant_count > 1
