
.nested-fields.js-test-defendant
  .form-row
    .form-col.first-name
      - @representation_order_count = 0
      = f.adp_text_field :first_name, label: t('.first_name'), errors: @error_presenter

  .form-row
    .form-col.last-name
      = f.adp_text_field :last_name, label: t('.last_name'), errors: @error_presenter

  .form-row
    .form-col.form-col-two-thirds.dob
      %a{:id => "defendant_#{@defendant_count+1}_date_of_birth"}
      = f.gov_uk_date_field(:date_of_birth, legend_text: t('.date_of_birth'), legend_class: 'govuk-legend', id: "defendant_#{@defendant_count}_date_of_birth", error_messages: gov_uk_date_field_error_messages(@error_presenter, "defendant_#{@defendant_count}_date_of_birth"))

  - unless @claim.interim?
    .form-row
      .form-col.form-col-two-thirds
        %label.block-label.judicial-apportionment-notice
          = f.check_box :order_for_judicial_apportionment
          = raw t('.order_for_judicial_apportionment')
          = validation_error_message(@error_presenter, :order_for_judicial_apportionment)


  .documents
    = f.fields_for :representation_orders do |repo_form|
      = render partial: 'external_users/claims/defendants/representation_order_fields', locals: { f: repo_form }
  .links
    = link_to_add_association t('.add_another_rep_order'), f, :representation_orders, partial: 'external_users/claims/defendants/representation_order_fields'

  %p
    = link_to_remove_association t('.remove_defendant'), f if @defendant_count > 0

- @defendant_count += 1