.nested-fields.js-test-defendant
  .form-row
    .form-col
      - @defendant_count += 1
      - @representation_order_count = 0
      = f.anchored_label(t('.first_name'), "defendant_#{@defendant_count}_first_name", { label_attributes: {class: 'form-label'} })
      = f.text_field :first_name, {class: 'form-control'}
      = validation_error_message(@error_presenter, "defendant_#{@defendant_count}_first_name".to_sym)
  .form-row
    .form-col
      = f.anchored_label(t('.last_name'), "defendant_#{@defendant_count}_last_name", { label_attributes: {class: 'form-label'} })
      = f.text_field :last_name, {class: 'form-control'}
      = validation_error_message(@error_presenter, "defendant_#{@defendant_count}_last_name".to_sym)
  .form-row
    .form-col
      = f.gov_uk_date_field(:date_of_birth, legend_text: t('.date_of_birth'), legend_class: 'govuk-legend', placeholders: true, id: "defendant_#{@defendant_count}_date_of_birth")

  .form-row
    .form-col.form-col-two-thirds
      %label.block-label.judicial-apportionment-notice
        = f.check_box :order_for_judicial_apportionment
        = raw t('.order_for_judicial_apportionment')
        = validation_error_message(f.object, :order_for_judicial_apportionment)

  .documents
    %a{name: "defendant_#{@defendant_count}_representation_orders"}
    = f.fields_for :representation_orders do |repo_form|
      = render partial: 'external_users/claims/defendants/representation_order_fields', locals: { f: repo_form }
  .links
    = link_to_add_association t('.add_another_rep_order'), f, :representation_orders, partial: 'external_users/claims/defendants/representation_order_fields'

  %p
    = link_to_remove_association t('.remove_defendant'), f if @defendant_count > 1
