.nested-fields.cc-ro-details
  - @representation_order_count += 1

  = f.govuk_fieldset legend: { text: t('.representation_order_html'), class: "govuk-!-padding-top-7" } do

    = link_to_remove_association f, class: 'govuk-link govuk-!-display-none fx-numberedList-action' do
      = t('common.remove_html', context: t('.representation_order'))

    = f.govuk_date_field :representation_order_date,
      form_group: { class: 'cc-ro-date', id: "defendant_#{@defendant_count+1}_representation_order_#{@representation_order_count+1}_representation_order_date" },
      hint: { text: t('.date_hint') },
      legend: { text: t('.date_html'), size: 's' },
      maxlength_enabled: true

    = f.govuk_text_field :maat_reference,
      form_group: { class: 'cc-maat' },
      hint: { text: t('.maat_reference_number_eg') },
      label: { text: t('.maat_reference_number_html') },
      width: 'one-half'
