.nested-fields.indent-fieldset.js-test-rep-order
  - @representation_order_count += 1
  %a{id: "defendant_#{@defendant_count+1}_representation_order_#{@representation_order_count}_representation_order_date"}
  %h3.bold-normal
    = t('.representation_order')
  .form-hint.xsmall.zero-vert-margin
    &nbsp;
  .form-row

    .form-col.form-col-two-thirds.ro-date
      = f.gov_uk_date_field(:representation_order_date,
                            legend_text: 'Representation order date',
                            legend_class: 'govuk-legend',
                            id: "defendant_#{@defendant_count}_representation_order_#{@representation_order_count}_representation_order_date",
                            error_messages: gov_uk_date_field_error_messages(@error_presenter, "defendant_#{@defendant_count + 1}_representation_order_#{@representation_order_count}_representation_order_date"))

  .form-row
    .form-col.maat
      = f.adp_text_field :maat_reference,
                          label: t('.maat_reference_number'),
                          hint_text: t('.maat_reference_number_eg'),
                          errors: @error_presenter

  = link_to_remove_association t('link.remove_rep_order'), f
