%table
  %caption
    %span.table-caption.visuallyhidden
      = 'Defendants'
  %colgroup
    %col
    %col
  %tbody
    - claim.defendants.each_with_index do | defendant, index|
      %tr
        %th{scope:'row'}
          = "#{t('common.defendant')} #{index + 1} name"
        %td
          = defendant.name
      %tr
        %th{scope:'row'}
          %span.visuallyhidden
            = "#{t('common.defendant')} #{index + 1}"
          = t('external_users.claims.defendants.defendant_fields.date_of_birth')
        %td
          = defendant.date_of_birth.strftime('%d/%m/%Y') rescue ''
      %tr
        %th{scope:'row'}
          %span.visuallyhidden
            = "#{t('common.defendant')} #{index + 1}"
          = t('external_users.claims.defendants.defendant_fields.judical_apportionment')
        %td
          = defendant.order_for_judicial_apportionment == true ? 'Yes' : 'No'
      - defendant.representation_orders.each_with_index do | representation_order, index |
        %tr
          %th{scope:'row'}
            %span.visuallyhidden
              = "#{t('common.defendant')} #{index + 1} representation order #{index + 1}"
            = t('external_users.claims.defendants.representation_order_fields.representation_order')
          %td
            = representation_order.representation_order_date.strftime('%d/%m/%Y') rescue ''
        %tr
          %th{scope: 'row'}
            %span.visuallyhidden
              = "#{t('common.defendant')} #{index + 1} representation order #{index + 1}"
            = t('external_users.claims.defendants.representation_order_fields.maat_reference_number')
          %td
            = representation_order.maat_reference
