//
// Offences PRE fee reform
//
- locale_scope = 'external_users.claims.offence_details.fields'
#cc-offence.form-group{class: error_class?(@error_presenter, :offence_category)}
  %a{ id: 'offence_category' }
  %label.form-label-bold{ for: 'claim_offence_category_description' }
    = t('offence_category', scope: locale_scope)
    .form-hint
      = t('offence_category_hint', scope: locale_scope)

  - if @claim.new_record?
    - selected_offence_category = params[:offence_category].present? ? params[:offence_category][:description] : nil
  - else
    - selected_offence_category = @claim.offence.description rescue nil

  = collection_select :offence_category,
                        :description,
                        @offence_descriptions,
                        :description, :description,
                        { include_blank: ''.html_safe, selected: selected_offence_category },
                        { class: 'form-control fx-autocomplete', id: 'claim_offence_category_description' }

.offence-class-select.form-group
  = render partial: 'external_users/claims/offence_details/offence_select', locals: { offences: @offences }
= f.hidden_field :offence_id
