- locale_scope = 'external_users.claims.offence_details'
- selected_offence = f.object.offence
- valid_offence = selected_offence.present? && selected_offence.offence_category.present?

- if valid_offence
  .grid-row
    .column-two-thirds
      .fx-view-selectedOffence
        .selected-offence.form-group
          %p.bold
            = t('selected_offence_header', scope: locale_scope)
          %p
            %em
              = "#{selected_offence.offence_category.description} &gt; #{selected_offence.offence_band.description} &gt; #{selected_offence.description}".html_safe

        .form-group
          %input.button.left.btn-spacer-20{:name => "commit_continue", :type => "submit", :value => "Save and continue"}/
          %a{ href: '#', class: 'fx-clear-selection' }
            = t('clear_selection', scope: "#{locale_scope}.actions")

.form-group.mod-search-input
  %label.form-label{:for => "offence"}
    = "Search for the offence"
    %span.form-hint
      = "For example class, band, offence or act name"

    %a.fx-clear-search{:style => "display:none;",:href => "#noop"} Clear search


    %input#offence.form-control.fx-input{:name => "offence-search-input", :type => "input", :autocomplete => "off"}/

  = f.hidden_field :offence_id, value: valid_offence ? f.object.offence.id : nil, class: 'fx-model'

.form-group
  %details{:role => "group"}
    %summary{"aria-controls" => "details-content-0", "aria-expanded" => "false", :role => "button"}
      %span.summary Help with the offence classification
    #details-content-0.panel.panel-border-narrow{"aria-hidden" => "false"}
      %p
        For more information on offence classification for the
        %br
        Advocates' Graduated Fee Scheme (
        %abbr{ title: "Advocates' Graduated Fee Scheme" } AGFS
        ),
        %br
        please visit the
        %a{ href: "https://www.gov.uk/government/publications/crown-court-fee-guidance", target: '_blank' } Crown Court fee guidance
        page on GOV.UK.

.form-group
  #offence-list.fx-view
    .fx-results-found.visually-hidden
      %p
    .fx-filters-display
      %p
    .fx-results{"aria-live" => "polite", :role => "region"}


