- claim_fields = %i[external_users claims offence_details fields]

%tr
  %th{scope: 'row'}
    = t('offence_class', scope: claim_fields)
  %td
    = claim.offence ? claim.offence.offence_category.description : t("general.not_provided")

%tr
  %th{scope: 'row'}
    = t('offence_band', scope: claim_fields)
  %td
    = claim.offence ? claim.offence.offence_band.description : t("general.not_provided")

%tr
  %th{scope: 'row'}
    = t('offence_category', scope: claim_fields)
  %td
    = claim.offence ? claim.offence.description : t("general.not_provided")
