- locale_scope = 'external_users.claims.offence_details'
- selected_offence = f.object.offence
- valid_offence = selected_offence.present? && selected_offence.offence_category.present?

- if valid_offence
  .govuk-grid-row
    .govuk-grid-column-full
      .fx-view-selectedOffence
        .selected-offence.form-group
          %p{ class: 'govuk-!-font-weight-bold' }
            = t('selected_offence_header', scope: locale_scope)
          %p
            %em
              = "#{selected_offence.offence_category.description} &gt; #{selected_offence.offence_band.description} &gt; #{selected_offence.description}".html_safe
        .govuk-button-group
          .form-group
            = govuk_button(t('buttons.continue'), name: 'commit_continue')
            = govuk_link_button_secondary(t('clear_selection', scope: "#{locale_scope}.actions"), '#', class: 'fx-clear-selection')

= f.govuk_text_field :offence_search,
  value: nil,
  class: 'fx-input',
  form_group: { class: 'mod-search-input' },
  hint: { text: t('search_offence_hint', scope: "#{locale_scope}.fields") },
  label: { text: t('search_offence', scope: "#{locale_scope}.fields") }

= f.hidden_field :offence_id, value: valid_offence ? f.object.offence.id : nil, class: 'fx-model'
= f.hidden_field :fee_scheme, value: [@claim.fee_scheme.name, @claim.fee_scheme.version], class: 'fx-fee-scheme'

= govuk_link_button_secondary(t('clear_search', scope: "#{locale_scope}.actions"), '#noop', class: 'fx-clear-search hidden')

.form-group
  = govuk_detail 'Help with the offence classification' do
    %p
      For more information on offence classification for the
      %br
      Advocates' Graduated Fee Scheme (
      %abbr{ title: "Advocates' Graduated Fee Scheme" } AGFS
      ),
      %br
      visit the
      %a{ href: 'https://www.gov.uk/government/publications/crown-court-fee-guidance', target: '_blank', 'aria-label': 'Opens in a new window' } Crown Court fee guidance
      page on GOV.UK.

.form-group
  #offence-list.fx-view
    .fx-results-found.govuk-visually-hidden
      %p
    .fx-filters-display
      %p
    .fx-results{ 'aria-live': 'polite', role: 'region' }

%template#fx-results-template
  %div.govuk-grid-row.offence-item.fx-result-item
    %div.govuk-grid-column-three-quarters
      %span.govuk-body-s.link-grey
        %a.fx-filter.category{ href: '#noop' }
        >
        %a.fx-filter.band{ href: '#noop' }
      %br
      %span.description
      %br
      %span.govuk-body-s.link-grey.contrary
    %div.govuk-grid-column-one-quarter.align-centre
      %br
      = govuk_link_button('Select and continue','#', 'data-field': '#claim_offence_id', class: 'button offence-item-button set-selection')
