- locale_scope = 'external_users.claims.offence_details'
- selected_offence = f.object.offence

- if selected_offence.present?
  .grid-row
    .column-two-thirds
      .selected-offence
        %p.bold
          = t('selected_offence_header', scope: locale_scope)
        %p
          %em
            = "#{selected_offence.offence_category.description} &gt; #{selected_offence.offence_band.description} &gt; #{selected_offence.description}".html_safe
        %p
          %a{ href: '#', class: 'clear-selection' }
            = t('clear_selection', scope: "#{locale_scope}.actions")

.form-section.search-offences
  %h2.heading-medium
    = t('offence_search_header', scope: locale_scope)
  #search-field.form-group.js-typeahead
    = f.anchored_label t('search_offence', scope: "#{locale_scope}.fields"), 'search_offence', { label_attributes: { class: 'form-label-bold', hint: 'bla' } }
    %span.form-hint
      = t('search_offence_hint', scope: "#{locale_scope}.fields")
    %input{ type: :text, id: 'search_offence', name: 'search_offence', class: 'form-control form-control-2-3 typeahead typeahead-textfield', data: { url: "/offences?fee_scheme=#{@claim.fee_scheme}",  menu: '#offence-list' } }
    = f.hidden_field :offence_id, value: f.object.offence.present? ? f.object.offence.id : nil, class: 'clearable-fields', data: { selection: '.selected-offence' }

  %details
    %summary
      %span Help with the offence classification
    .panel.panel-border-narrow
      %p
        For more information on offence classification for the
        %br
        Advocates' Graduated Fee Scheme (
        %abbr{ title: "Advocates' Graduated Fee Scheme" } AGFS
        ),
        %br
        please visit the
        %a{ href: "https://www.gov.uk/government/publications/crown-court-fee-guidance", target: '_blank' } Crown Court fee guidance
        page on GOV.UK.

.grid-row
  #offence-list.column-full.typeahead-menu
    -# NOTE: placeholder for typeahead suggestions
