- unless claim.fixed_fee_case?
  #offence-details-section.app-summary-section
    %h2.govuk-heading-l
      = t('external_users.claims.offence_details.summary.header')

    - if local_assigns[:editable]
      = govuk_link_to t('common.change_html', context: t('external_users.claims.offence_details.summary.header')), edit_polymorphic_path(claim, step: :offence_details, referrer: :summary), class: 'link-change'

    - if claim.offence
      = govuk_summary_list do
        - if claim.agfs_reform?
          = render partial: 'external_users/claims/offence_details/fee_reform_summary', locals: { claim: claim }

        - else
          = render partial: 'external_users/claims/offence_details/default_summary', locals: { claim: claim }

    - else
      - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
        = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: :offence_details }

      - else
        %p.govuk-body
          = t('shared.summary.no_values.offence_details')
