- if @claim.allows_graduated_fees?

  #graduated-fees.mod-graduated-fees
    %h2.bold-medium
      = t('.graduated_fees')
    .form-hint.xsmall
      = raw t('.graduated_prompt_text')

    = f.fields_for :graduated_fee do |grad_fee_form|
      - grad_fee = present(grad_fee_form.object)
      .expense-group.nested-fields.js-block{data:{"type":"fees", autovat: @claim.apply_vat? ? "true" : "false"}}
        .grid-row

          .column-one-third
            %label.form-label
              = t('.fee_type')
            = grad_fee_form.anchored_attribute 'fee_type'
            = @claim.case_type.graduated_fee_type.description
            = grad_fee_form.hidden_field :fee_type_id, value: @claim.case_type.graduated_fee_type.id
            = validation_error_message(@error_presenter, :fee_type)

          .column-one-third.condensed.js-expense-location
            %label.form-label
              = t('.ppe_total')
            = grad_fee_form.anchored_attribute 'quantity'
            = grad_fee_form.number_field :quantity, value: grad_fee.quantity, class: 'quantity', min: 0, max: 99999
            = validation_error_message(@error_presenter, 'graduated_fee.quantity')

        .grid-row
          .column-one-third
            = grad_fee_form.anchored_attribute 'date'
            = grad_fee_form.gov_uk_date_field(:date, legend_text: 'First day of hearing', legend_class: 'govuk-legend', error_messages: gov_uk_date_field_error_messages(@error_presenter, 'graduated_fee.date'))

          .column-one-third.js-expense-reason
            %label.form-label
              = t('.actual_trial_length')
            = f.number_field :actual_trial_length, step: 1, min: 0, class: 'form-control'
            = validation_error_message(@error_presenter, :actual_trial_length)

          .column-one-third.condensed.js-expense-amount.fee-total
            %label.form-label Total

            = grad_fee_form.anchored_attribute 'amount'
            %span.currency-indicator>< &pound;
            = grad_fee_form.number_field :amount, value: number_with_precision(grad_fee_form.object.amount, precision: 2), class: 'form-control total', size: 10, min: 0, max: 99999
            = validation_error_message(@error_presenter, :amount)
            = grad_fee_form.anchored_attribute 'amount'
