- if @claim.allows_graduated_fees?
  #graduated-fees
    = f.fields_for :graduated_fee do |ff|
      - fee = present(ff.object)
      .form-section.fx-fee-group.graduated-fee-group.js-block.fx-do-init{data:{"type": "gradFees", autovat: @claim.apply_vat? ? "true" : "false"}}
        = ff.hidden_field :fee_type_id, value: @claim.case_type.graduated_fee_type.id, class: 'js-fee-type'

        .form-section
          %a{:id => "graduated_fee.date"}
          = ff.gov_uk_date_field(:date, legend_text: "First day of hearing", legend_class: "govuk-legend", error_messages: gov_uk_date_field_error_messages(@error_presenter, "graduated_fee.date"))

        .js-fee-calculator-effector
          = f.adp_text_field :actual_trial_length,
            label: t('.actual_trial_length'),
            hint_text: t('.actual_trial_length_hint'),
            input_classes:'form-control form-control-1-4 js-fee-calculator-days',
            input_type: 'number',
            errors: @error_presenter

        .js-fee-calculator-effector
          = ff.adp_text_field :quantity,
            label: t('.quantity'),
            input_classes:'quantity fee-quantity js-fee-calculator-ppe form-control-1-4',
            input_type: 'number',
            value: fee.quantity,
            errors: @error_presenter,
            error_key: "graduated_fee.quantity"

        .js-graduated-price-effectee
          .calculated-grad-fee
          = ff.adp_text_field :amount,
            label: t('.amount'),
            input_classes:"total fee-amount form-input-denote__input form-control-1-4",
            input_type: "currency",
            value: number_with_precision(ff.object.amount, precision: 2),
            error_key: "graduated_fee.amount",
            errors: @error_presenter

        .js-fee-calculator-success
          = ff.hidden_field :price_calculated, value: ff.object.price_calculated?

        .fee-calc-help-wrapper.form-group.hidden
          %details
            %summary
              %span.summary
                = t('.help_how_we_calculate_amount_title')
            .panel.panel-border-narrow
              %p
                = t('.help_how_we_calculate_amount_body')
