= render partial: 'errors/error_summary', locals:{ ep: @allocation, error_summary: 'This claim allocation has '}

= render partial: 'layouts/header', locals: {page_heading: 'Allocation'}

= form_tag case_workers_admin_allocations_path, method: :get do
  = hidden_field_tag :tab, params[:tab]
  .grid-row
    = render partial: 'scheme_filters'
    = render partial: 'case_type_filters'

= form_for [:case_workers, :admin, @allocation] do |f|
  = hidden_field_tag :tab, params[:tab]
  = hidden_field_tag :scheme, params[:scheme]
  = hidden_field_tag :filter, params[:filter] if params[:filter]

  .grid-row
    .form-row
      .form-col
        = label_tag :quantity_to_allocate, t('.no_of_claims')
        = number_field_tag :quantity_to_allocate, nil, { style: 'width:100%', min: 0, size: 5, class: 'form-control'}
      .form-col
        = f.label :case_worker_id, t('dictionary.models.case_worker')
        = f.grouped_collection_select :case_worker_id, Location.includes(case_workers: :user), :case_workers, :name, :id, :name, { include_blank: true }, { class: 'form-control autocomplete' }
      .form-col{ style: 'padding: 26px 0 0' }
        = f.submit 'Allocate', class: 'button'
  - if @claims.any?

    .container.table-container
      %table{class: 'report js-checkbox-table'}
        %caption
          %span.table-caption
            = 'Allocations'
          %span.claim-count
            = "Number of claims: "
            = @claims.count
        %colgroup
          %col
          %col
          %col
          %col
          %col
          %col
          %col
          %col
          - if params[:tab] == 'allocated'
            %col
        %thead
          %th{scope:'col'}
            = link_to 'Select all', '#', class: 'select-all', data: { 'all-checked' => 'false' }
          %th{scope:'col'}
            = t('.case_number')
          %th{scope:'col'}
            = owner_column_header
          %th{scope:'col'}
            = t('.defendants')
          %th{scope:'col'}
            Type
          %th.numeric{scope:'col'}
            = t('.submitted_date')
          %th.numeric{scope:'col'}
            = t('.claim_total')
          - if params[:tab] == 'allocated'
            %th{scope:'col'}
              Allocated to
        %tbody
          = f.collection_check_boxes :claim_ids, @claims, :id, :case_number do |b|
            - present(b.object) do |claim|
              %tr{id: dom_id(claim)}
                %td
                  = b.label(class:'visuallyhidden'){"Choose #{claim.case_number}"}
                  = b.check_box
                %td
                  %span.js-test-case-number
                    = link_to claim.case_number , case_workers_claim_path(claim)
                %td
                  = claim.external_user.name
                %td
                  = claim.defendant_names
                %td
                  = claim.case_type_name
                %td.numeric
                  = claim.submitted_at
                %td.numeric
                  = claim.total_inc_vat
                - if params[:tab] == 'allocated'
                  %td
                    = claim.case_workers.map(&:name).join(', ')

  - else
    = "No claims need to be allocated."
