%h1.page-title
  Allocation

= form_tag case_workers_admin_allocations_path, method: :get do

  %fieldset
    %legend.xsmall
      = t('.case_types')
    .form-group.inline.allocation-filter-form
      -  allocation_filters.each do | filter_name |
        = label_tag "filter_#{filter_name}", nil, class: 'block-label' do
          = radio_button_tag :filter, filter_name, (params[:filter].blank? && filter_name == 'all') || params[:filter] == filter_name
          = filter_name.humanize

  %noscript
    = submit_tag 'Filter'

= form_for [:case_workers, :admin, @allocation] do |f|
  = hidden_field_tag :tab, params[:tab]
  = hidden_field_tag :filter, params[:filter] if params[:filter]
  .grid-row
    .column-quarter
      = label_tag :quantity_to_allocate, t('.no_of_claims')
      = number_field_tag :quantity_to_allocate, nil, { style: 'width:100%', min: 0, size: 5 }
    .column-half
      = f.label :case_worker_id, t('dictionary.models.case_worker')
      = f.grouped_collection_select :case_worker_id, Location.all, :case_workers, :name, :id, :name, { prompt: 'Select case worker' }, { class: 'select2' }
    .column-quarter
      = f.submit 'Allocate', class: 'button'


  - if @claims.any?
    .claim-count
      = "Number of claims: "
      = @claims.count
    %table{class: 'report js-checkbox-table'}
      %thead
        %th
          = link_to 'Select all', '#', class: 'select-all', data: { 'all-checked' => 'false' }
        %th
          = t('.case_number')
        %th
          = t(".scheme")
        %th
          = t('.advocate')
        %th
          = t('.defendants')
        %th
          Type
        %th
          = t('.submitted_date')
        %th
          = t('.claim_total')
        - if params[:tab] == 'allocated'
          %th
            Allocated to
      %tbody
        = f.collection_check_boxes :claim_ids, @claims, :id, :case_number do |b|
          - present(b.object) do |claim|
            %tr{id: dom_id(claim)}
              %td
                = b.label(class:'visuallyhidden'){"Choose #{claim.case_number}"}
                = b.check_box
              %td
                %span.js-test-case-number
                  = claim.case_number
              %td
                = claim.scheme
              %td
                = claim.owner.name
              %td
                = claim.defendant_names
              %td
                = claim.case_type_name
              %td
                = claim.submitted_at
              %td
                = claim.total_inc_vat
              - if params[:tab] == 'allocated'
                %td
                  = claim.case_workers.map(&:name).join(', ')

  - else
    = "No claims need to be allocated."
