#filter-tasks-agfs.dtFilter.dtFilterAGFS{ data: { scheme: 'agfs' } }
  = f.govuk_select :filterAGFS, label: { text: t('.case_types') } do
    = options_for_select [[t('.all'), '']]
    = options_for_select [[t('.fixed_fee'), 'fixed_fee']]
    = options_for_select [[t('.cracked'), 'cracked']]
    = options_for_select [[t('.trial'), 'trial']]
    = options_for_select [[t('.guilty_plea'), 'guilty_plea']]
    = options_for_select [[t('.redetermination'), 'redetermination']]
    = options_for_select [[t('.awaiting_written_reasons'), 'awaiting_written_reasons']]
    = options_for_select [[t('.disk_evidence'), 'disk_evidence']]
    = options_for_select [[t('.injection_errors'), 'injection_errored']]
    = options_for_select [[t('.warrants'), 'agfs_warrants']]
    = options_for_select [[t('.supplementary'), 'supplementary']]
    = options_for_select [[t('.hardship'), 'agfs_hardship']]

#filter-tasks-lgfs.dtFilter.dtFilterLGFS.hidden{ data: { scheme: 'lgfs' } }
  = f.govuk_select :filterLGFS, label: { text: t('.case_types') } do
    = options_for_select [[t('.all'), '']]
    = options_for_select [[t('.fixed_fee'), 'fixed_fee']]
    = options_for_select [[t('.graduated_fees'), 'graduated_fees']]
    = options_for_select [[t('.interim_fees'), 'interim_fees']]
    = options_for_select [[t('.warrants'), 'lgfs_warrants']]
    = options_for_select [[t('.interim_disbursements'), 'interim_disbursements']]
    = options_for_select [[t('.risk_based_bills'), 'risk_based_bills']]
    = options_for_select [[t('.redetermination'), 'redetermination']]
    = options_for_select [[t('.awaiting_written_reasons'), 'awaiting_written_reasons']]
    = options_for_select [[t('.disk_evidence'), 'disk_evidence']]
    = options_for_select [[t('.injection_errors'), 'injection_errored']]
    = options_for_select [[t('.hardship'), 'lgfs_hardship']]
