#filter-value-bands.dtFilter
  = f.govuk_select :filterValue, label: { text: t('.value') } do
    = options_for_select [[t('.all'), '']]
    = options_for_select [[t('.tier1'), 'max:30000']]
    = options_for_select [[t('.tier2'), 'min:30000.01|max:115000']]
    = options_for_select [[t('.tier3'), 'min:115000.01|max:175000']]
    = options_for_select [[t('.tier4'), 'min:175000.01|max:999999.99']]
