= render partial: 'errors/error_summary', locals:{ ep: @allocation, error_summary: 'This claim re-allocation has '}

= render partial: 'layouts/header', locals: {page_heading: 'Re-allocation'}

= form_tag case_workers_admin_allocations_path, method: :get do
  = hidden_field_tag :tab, params[:tab]
  = render partial: 'scheme_filters'
  %noscript
    = submit_tag 'Filter'

  .search-wrapper
    = render partial: 'shared/search_form', locals: { search_path: case_workers_admin_allocations_path, hint_text: t('.hint.search') }

= form_for [:case_workers, :admin, @allocation] do |f|
  = hidden_field_tag :tab, params[:tab]
  = hidden_field_tag :scheme, params[:scheme]
  = hidden_field_tag :page, params[:page]

  %fieldset.inline
    %legend.normal
      = "Allocate to"
    .form-group
      .form-hint
        To de-allocate claims, choose "Allocation pool".
        %br
        To re-allocate claims to another case worker, choose "Case worker" and then select their name from the dropdown that appears below.

      .js-re-allocation-options
        = f.label :deallocate, value: true, class: 'block-label' do
          Allocation pool
          = f.radio_button :deallocate, true, checked: false, value: true

        = f.label :deallocate, value: false, class: 'block-label' do
          Case worker
          = f.radio_button :deallocate, false, checked: true, value: false

  .case-worker-reallocation.grid-row.form-group.js-typeahead
    .column-one-quarter.js-case-worker-list
      = f.label :case_worker_id
      = f.collection_select :case_worker_id, CaseWorker.active, :id, :name, { include_blank: ''.html_safe }, { class: 'form-control typeahead' }
    .column-half.margin-spacer-sm
      = f.submit 'Re-allocate', class: 'button'

  - if @claims.any?
    .container.table-container
      %table{class: 'report js-checkbox-table js-reallocation-report'}
        %caption
          %span.table-caption
            = 'Re-allocation'
          %span.claim-count
            = "Number of claims: "
            = page_entries_info @claims, entry_name: 'claim'
        %thead
          %th{scope:'col'}
            = link_to 'Select all', '#', class: 'select-all', data: { 'all-checked' => 'false' }
          %th{scope:'col'}
            = t('.case_number')
          %th{scope:'col'}
            = owner_column_header
          %th{scope:'col'}
            = t('.defendants')
          %th{scope:'col'}
            Type
          %th.numeric{scope:'col'}
            = t('.submitted_date')
          %th.numeric{scope:'col'}
            = t('.claim_total')
          - if params[:tab] == 'allocated'
            %th{scope:'col'}
              Allocated to
        %tbody
          = collection_check_boxes :allocation, :claim_ids, @claims, :id, :case_number do |b|
            - present(b.object) do |claim|
              %tr{id: dom_id(claim)}
                %td
                  = b.label(class:'visuallyhidden'){"Choose #{claim.case_number}"}
                  = b.check_box
                %td
                  = link_to claim.case_number , case_workers_claim_path(claim)
                  %div.unique-id-small= claim.unique_id
                %td
                  = claim.external_user.name
                %td
                  = claim.defendant_names
                %td
                  = claim.case_type_name
                %td.numeric
                  = claim.submitted_at
                %td.numeric
                  = claim.total_inc_vat
                - if params[:tab] == 'allocated'
                  %td
                    = claim.case_workers.map(&:name).join(', ')

  - else
    = "No claims need to be allocated."
