%h1.page-title
  Re-allocation

= form_for [:case_workers, :admin, @allocation] do |f|
  = hidden_field_tag :tab, params[:tab]

  .form-hint
    To de-allocate claims, choose "Allocation pool".
    %br
    To re-allocate claims to another case worker, choose "Case worker" and then select their name from the dropdown that appears below.

  .normal
    Allocate to
  %div.form-group.inline.js-re-allocation-options
    = f.label :deallocate, value: true, class: 'block-label' do
      Allocation pool
      = f.radio_button :deallocate, true, checked: false, value: true

    = f.label :deallocate, value: false, class: 'block-label' do
      Case worker
      = f.radio_button :deallocate, false, checked: true, value: false

  .grid-row-with-margin.js-case-worker-list
    .column-half
      .normal
        = f.label :case_worker_id
      = f.grouped_collection_select :case_worker_id, Location.all, :case_workers, :name, :id, :name, { prompt: true }, { class: 'select2', style: 'width: 50%;display: inline-block' }
    .column-half
      &nbsp;

  .grid-row
    .column-half
      .normal
      = f.submit 'Re-allocate', class: 'button'
    .column-half
      &nbsp;

  - if @claims.any?
    .claim-count
      = "Number of claims: "
      = @claims.count
    %table{class: 'report js-checkbox-table js-reallocation-report'}
      %thead
        %th
          = link_to 'Select all', '#', class: 'select-all', data: { 'all-checked' => 'false' }
        %th
          = t('.case_number')
        %th
          = t('.advocate')
        %th
          = t('.defendants')
        %th
          Type
        %th
          = t('.submitted_date')
        %th
          = t('.claim_total')
        - if params[:tab] == 'allocated'
          %th
            Allocated to
      %tbody
        = collection_check_boxes :allocation, :claim_ids, @claims, :id, :case_number do |b|
          - present(b.object) do |claim|
            %tr{id: dom_id(claim)}
              %td
                = b.check_box
              %td
                = b.label(class: "case-number") do
                  = claim.case_number
              %td
                = b.label do
                  = claim.external_user.name
              %td
                = b.label do
                  = claim.defendant_names
              %td
                = b.label do
                  = claim.case_type_name
              %td
                = b.label do
                  = claim.submitted_at
              %td
                = b.label do
                  = claim.total_inc_vat
              - if params[:tab] == 'allocated'
                %td
                  = b.label do
                    = claim.case_workers.map(&:name).join(', ')

  - else
    = "No claims need to be allocated."
