- unless params[:tab] == 'allocated'
  -if params[:style]=='new'
    .js-allocation-page
      = render partial: 'allocation'
      // pagination done by JS
  -else
    .js-allocation-page
      = render partial: 'orig_allocation'
    = paginate @claims
- else
  -if params[:style]=='new'
    .js-allocation-page
      = render partial: 're_allocation'
      // pagination done by JS
  -else
    .js-allocation-page
      = render partial: 'orig_re_allocation'
    = paginate @claims
