- if @allocation.errors.any?
  .validation-summary
    %h2.heading-small
      = "This claim allocation has #{pluralize(@allocation.errors.count, 'error')}"
    %ul
      - @allocation.errors.full_messages.each do |msg|
        %li= msg

= render 'allocated_summary' if @allocated_claims

- unless params[:tab] == 'allocated'
  .js-allocation-page
    = render partial: 'allocation'

- else
  .js-re-allocation-page
    = render partial: 're_allocation'
