- unless params[:tab] == 'allocated'
  -if params[:style]=='new'
    .js-allocation-page
      = render partial: 'allocation'
  -else
    .js-allocation-page
      = render partial: 'orig_allocation'
    = paginate @claims
- else
  .js-re-allocation-page
    = render partial: 're_allocation'

  = paginate @claims
