%nav.dashboard-tabs
  %ul
    %li{class: ( 'active' if params[:tab] == 'unallocated' || (params[:tab].blank? && controller.controller_name == 'allocations')) }
      = link_to "Unallocated claims (#{unallocated_claims_count})", case_workers_admin_allocations_path(params.except(:filter, :search).merge(tab: 'unallocated'))
    %li{class: ('active' if params[:tab] == 'allocated')}
      = link_to "Allocated claims (#{allocated_claims_count})", case_workers_admin_allocations_path(params.except(:filter, :search).merge(tab: 'allocated'))

- unless params[:tab] == 'allocated'
  %p
    = form_tag case_workers_admin_allocations_path, method: :get, class: 'allocation-filter-form' do
      = label_tag do
        = radio_button_tag :filter, 'all', params[:filter].blank? || params[:filter] == 'all'
        All

      != "&nbsp";

      = label_tag do
        = radio_button_tag :filter, 'fixed_fee', params[:filter] == 'fixed_fee'
        Fixed fee

      != "&nbsp";

      = label_tag do
        = radio_button_tag :filter, 'cracked', params[:filter] == 'cracked'
        Cracked

      != "&nbsp";

      = label_tag do
        = radio_button_tag :filter, 'trial', params[:filter] == 'trial'
        Trial

      != "&nbsp";

      = label_tag do
        = radio_button_tag :filter, 'guilty_plea', params[:filter] == 'guilty_plea'
        Guilty plea

      != "&nbsp";

      = hidden_field_tag :high_value, params[:high_value]
      = hidden_field_tag :tab, params[:tab]

      = submit_tag 'Filter'

      != "&nbsp";

      %span.claim-count
        = pluralize(@claims.count, 'claim')
- else
  %p
    = form_tag case_workers_admin_allocations_path, method: :get do
      = hidden_field_tag :high_value, params[:high_value]
      = hidden_field_tag :tab, params[:tab]

      = text_field_tag :search, params[:search], placeholder: 'Search by case worker name'
      = submit_tag 'Search', class: 'button'

%p
  - if params[:high_value].blank? || params[:high_value] == 'false'
    = link_to 'Show only high value claims', case_workers_admin_allocations_path(params.except(:search, :filter).merge(high_value: true))
  - else
    = link_to 'Show claims for all values', case_workers_admin_allocations_path(params.except(:search, :filter).merge(high_value: false))

- if @allocated_claims
  = render 'allocated_summary'

= form_for [:case_workers, :admin, @allocation] do |f|
  - if @allocation.errors.any?
    .validation-summary
      %h2.heading-small
        = "#{pluralize(@allocation.errors.count, 'error')}"
        prohibited save
      %ul
        - @allocation.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.grouped_collection_select :case_worker_id, Location.all, :case_workers, :name, :id, :name, { prompt: 'Select case worker' }, { class: 'select2', style: 'display: inline-block; width: 200px;' }

    - unless params[:tab] == 'allocated'
      = number_field_tag :quantity_to_allocate, nil, placeholder: params[:tab] == 'allocated' ? 'Number to re-allocate' : 'Number to allocate'

    = f.submit params[:tab] == 'allocated' ? 'Re-allocate' : 'Allocate', class: 'button'

  %table
    %thead
      %th
        = link_to 'Select all', '#', class: 'select-all', data: { 'all-checked' => 'false' }
      %th
        Case number
      %th
        Advocate
      %th
        Type
      %th
        Submission date
      %th
        Value
      - if params[:tab] == 'allocated'
        %th
          Allocated to
    %tbody
      = f.collection_check_boxes :claim_ids, @claims, :id, :case_number do |b|
        %tr{id: dom_id(b.object)}
          %td
            = b.check_box
          %td
            = b.label do
              = b.object.case_number
          %td
            = b.label do
              = b.object.advocate.name
          %td
            = b.label do
              = b.object.case_type.humanize
          %td
            = b.label do
              = b.object.submitted_at.strftime(Settings.date_format)
          %td
            = b.label do
              = number_to_currency(b.object.total)
          - if params[:tab] == 'allocated'
            %td
              = b.label do
                = b.object.case_workers.map(&:name).join(', ')
