- if @allocation.errors.any?
  .validation-summary
    %h2.heading-small
      = "This claim allocation has #{pluralize(@allocation.errors.count, 'error')}"
    %ul
      - @allocation.errors.full_messages.each do |msg|
        %li= msg

= render 'allocated_summary' if @allocated_claims

- unless params[:tab] == 'allocated'
  %h1.page-title
    Allocation
  = form_tag case_workers_admin_allocations_path, method: :get do
    = label_tag :filter, t('case_workers.admin.allocations.new.case_types')

    .form-group.inline.allocation-filter-form
      -  allocation_filters.each do | filter_name |
        = label_tag "filter_#{filter_name}", nil, class: 'block-label' do
          = radio_button_tag :filter, filter_name, (params[:filter].blank? && filter_name == 'all') || params[:filter] == filter_name
          = filter_name.humanize

    %noscript
      = submit_tag 'Filter'

      %span.claim-count
        = pluralize(@claims.count, 'claim')
- else
  %h1.page-title
    Re-Allocation
  %p
    = form_tag case_workers_admin_allocations_path, method: :get do
      = hidden_field_tag :tab, params[:tab]

      = text_field_tag :search, params[:search], placeholder: 'Search by case worker name'
      = submit_tag 'Search', class: 'button'



= form_for [:case_workers, :admin, @allocation] do |f|
  %p
    - unless params[:tab] == 'allocated'
      = number_field_tag :quantity_to_allocate, nil, { placeholder: params[:tab] == 'allocated' ? 'Number to re-allocate' : 'Number to allocate', min: 0 }
      = hidden_field_tag :filter, params[:filter] if params[:filter]
    = f.grouped_collection_select :case_worker_id, Location.all, :case_workers, :name, :id, :name, { prompt: 'Select case worker' }, { class: 'select2 extra-margin', style: 'display: inline-block; width: 200px;' }

    = f.submit params[:tab] == 'allocated' ? 'Re-allocate' : 'Allocate', class: 'button'

  - if @claims.any?
    .claim-count
      = "Number of claims: "
      = @claims.count
    %table{class: 'claims_table js-checkbox-table'}
      %thead
        %th
          = link_to 'Select all', '#', class: 'select-all', data: { 'all-checked' => 'false' }
        %th
          Case number
        %th
          Advocate
        %th
          = t('.defendants')
        %th
          Type
        %th
          = t('.submitted_date')
        %th
          = t('.claim_total')
        - if params[:tab] == 'allocated'
          %th
            Allocated to
      %tbody
        = f.collection_check_boxes :claim_ids, @claims, :id, :case_number do |b|
          - present(b.object) do |claim|
            %tr{id: dom_id(claim)}
              %td
                = b.check_box
              %td
                = b.label(class: "case-number") do
                  = claim.case_number
              %td
                = b.label do
                  = claim.advocate.name
              %td
                = b.label do
                  = claim.defendant_names
              %td
                = b.label do
                  = claim.case_type.name
              %td
                = b.label do
                  = claim.submitted_at
              %td
                = b.label do
                  = claim.total_inc_vat
              - if params[:tab] == 'allocated'
                %td
                  = b.label do
                    = claim.case_workers.map(&:name).join(', ')
  - else
    = "No claims need to be allocated."
