- if current_user_is_caseworker? && claim.expenses.map(&:distance_gt_calculated?).any?
  = render partial: 'shared/summary/expenses/distance_warnings', locals: { expenses: claim.expenses }

%h3.govuk-heading-m
  = t('.travel_expenses')

- if claim.travel_expense_additional_information.present?
  = govuk_inset_text do
    %h4.govuk-heading-s
      = t('.travel_expense_additional_information')

    %p.govuk-body
      = format_multiline(claim.travel_expense_additional_information)

- if claim.expenses.with_vat.any?
  = render template: 'shared/summary/expenses/index', locals: { claim: claim, vat: true }

- if claim.expenses.without_vat.any?
  = render template: 'shared/summary/expenses/index', locals: { claim: claim, vat: false }
