- if claim.expenses.empty?
  %p.govuk-body
    = t('shared.summary.no_values.expenses')
- else
  - if current_user_is_caseworker? && claim.expenses.map(&:distance_gt_calculated?).any?
    = render partial: 'shared/summary/expenses/distance_warnings', locals: { expenses: claim.expenses }

  - if claim.expenses.with_vat.any?
    = render template: 'shared/summary/expenses/new_index', locals: { claim: claim, vat: true }

  - if claim.expenses.without_vat.any?
    = render template: 'shared/summary/expenses/new_index', locals: { claim: claim, vat: false }

  - if claim.travel_expense_additional_information.present?
    = govuk_summary_card(t('shared.summary.expenses.travel_expense_additional_information'), claim.travel_expense_additional_information )
