#transfer-fee
  %h2.bold-medium
    = t('.transfer_fees')
  %p.form-hint.xsmall
    = t('.transfer_fees_prompt_text_html')

  = f.fields_for :transfer_fees do |tf|
    .transfer-fee-group.nested-fields
      %fieldset
        .form-row
          Fee type here. Speak to Stephen!!

      %fieldset
        .form-row
          %legend.xsmall
            = tf.anchored_without_label "test"
            Litigator type
          .form-group.inline
            = tf.collection_radio_buttons(:litigator_type, [['New', 'new'], ['Original', 'original']], :last, :first) do |b|
              - b.label(class: "block-label") { b.radio_button + b.object.first }

