= content_for :page_title, flush: true do
  = 'Offences'

= render partial: 'layouts/header', locals: { page_heading: 'Offences' }

= govuk_table(classes: 'app-table--responsive') do |table|
  = table.with_head do |head|
    = head.with_row do |row|
      = row.with_cell(text: 'Label')
      = row.with_cell(text: 'Unique code')
      = row.with_cell(text: 'Description')
      - @offences.fee_scheme_headings.each do |fee_scheme|
        = row.with_cell(text: fee_scheme)
  = table.with_body do |body|
    - @offences.each do |offence|
      = body.with_row do |row|
        = row.with_cell(html_attributes: { 'data-label': 'Label' }, text: offence.label)
        = row.with_cell(html_attributes: { 'data-label': 'Unique code' }) do
          %span{title: offence.unique_code}
            = truncate(offence.unique_code, length: 10)
        = row.with_cell(html_attributes: { 'data-label': 'Description' }, text: offence.description)
        - offence.fee_scheme_flags.each do |flag|
          = row.with_cell(classes: flag ? 'active' : 'inactive') do
            = flag ? '*' : ''
