= render partial: 'errors/error_summary', locals:{ ep: @certification, error_summary: t('.prohibited_save')}

= render partial: 'layouts/header', locals: {page_heading: 'Certification'}

= form_for @certification, builder: AdpFormBuilder, url: external_users_claim_certification_path(@claim) do |f|
  %section.certification.normal
    .grid-row
      .column-two-thirds
        %p
          By selecting an option, you are confirming you are the Trial Advocate (in cases where legal aid was granted on or after 5th May 2015) or Instructed Advocate and that you are entitled to submit a claim in respect of this case. If our records indicate that you are not the Trial or Instructed Advocate, this may result in the claim being rejected without payment.


        %fieldset
          %legend
            Please
            %strong
              select
            the statement that applies to you.

          %p.bold-normal
            Final fee claims where the representation order was granted on or after 5th May 2015.

          %p I certify that I am the Trial Advocate as:

          %div.form-group.inline
            = f.collection_radio_buttons(:certification_type_id, CertificationType.post_may_2015.all, :id, :name) do |b|
              - b.label(class: "block-label") { b.radio_button + b.object.name }

          .bold-normal
            All other claims:

          %p.normal I certify that I am the Instructed Advocate as:

          %div.form-group.inline
            = f.collection_radio_buttons(:certification_type_id, CertificationType.pre_may_2015, :id, :name) do |b|

              - b.label(class: "block-label") { b.radio_button + b.object.name }

          %p All of the above options are in accordance with relevant provision of any secondary legislation arising from the Legal Aid, Sentencing and Punishment of Offenders Act 2012.

        %p.bold-normal
          You are also confirming that you:

        %ul
          %li certify that where you have represented more than one defendant in a matter, only one claim has been, and will be made, for all those defendants together, including where one defendant has transferred representation to another advocate.

          %li certify that no interim, hardship or staged payment has been received by you or any other advocate on any case number within this matter other than the one under which this claim is made unless fully detailed (case number, court and advocate supplier number under which payment was made) within this claim.

          %li certify that where there is a joined indictment, then all matters dealt with by you, as the Instructed Advocate, within that joined indictment are included in this claim.

          %li certify that where there has been a transfer between one Crown Court and another, then no claim has been made separately for the work in the first Crown Court, all of the work in both Courts being included in this claim.

          %li certify that this work has not been and will not be the subject of any other claim for remuneration from criminal legal aid.

          %li certify that the information you have provided is correct and the work carried out by you has not been and will not be the subject of any other claim by me for payment from criminal legal aid. You understand that if information given by you is incorrect or misleading, payment may be recouped.

          %li certify that, in circumstances where you are claiming a staged payment, you will ensure that any subsequent trial advocate is advised of such payment, with all necessary claim/payment details”

        %p

      .column-quarter
        &nbsp;
    .grid-row
      .column-third
        %div
          = f.label :certified_by, t('.certified_by')
        .form-hint.xsmall.zero-vert-margin
          = t('.certified_by_prompt_text')
        = f.text_field :certified_by
      .column-third
        %div
          = f.label :certification_date, t('.certification_date')
        .form-hint.xsmall.zero-vert-margin
          &nbsp;
        = f.gov_uk_date_field :certification_date

      .column-third
        &nbsp;
    .button-holder
      = f.submit "Certify and submit claim", class: "button"
      = link_to 'Return to claim', edit_external_users_claim_path(@claim), class: 'button-secondary'
