= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: {page_heading: t('.page_heading')}

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_with(model: resource, as: resource_name, url: unlock_path(resource_name), method: :post) do |f|
      = render "devise/shared/error_messages", resource: resource

      = f.govuk_email_field :email, label: { text: t('.email') }, autofocus: true, autocomplete: 'off'
      = f.govuk_submit t('.submit')

    = render 'devise/shared/links'
