- claim_fields = %i[external_users claims offence_details fields]

= govuk_table do
  = govuk_table_row do
    = govuk_table_th { t('offence_class', scope: claim_fields) }
    = govuk_table_td do
      = claim.offence&.offence_category ? claim.offence.offence_category.description : t('general.not_provided')

  = govuk_table_row do
    = govuk_table_th { t('offence_band', scope: claim_fields) }
    = govuk_table_td do
      = claim.offence&.offence_band ? claim.offence.offence_band.description : t('general.not_provided')

  = govuk_table_row do
    = govuk_table_th { t('offence_category', scope: claim_fields) }
    = govuk_table_td do
      = claim.offence ? claim.offence.description : t('general.not_provided')



