.form-section
  %h3.heading-medium
    = t('.header')
    - if local_assigns[:editable]
      = link_to t('.change'), edit_polymorphic_path(claim, step: :transfer_fee_details, referrer: :summary), class: 'link-change', 'aria-label': t('.change_link_label')

  - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
    = render partial: 'shared/summary/section_status', locals: { claim: claim, section: section, step: :transfer_fee_details }

  %table{ class: 'summary', summary: t('.summary') }
    %caption
      %span.table-caption.visuallyhidden
        = t('.caption')
    %tbody
      %tr
        %th{ scope: 'row', class: 'bold' }
          = t('.litigator_type')
        %td
          = claim.litigator_type_description
      %tr
        %th{ scope: 'row', class: 'bold' }
          = t('.elected_case')
        %td
          = claim.elected_case_description
      %tr
        %th{ scope: 'row', class: 'bold' }
          = t(".transfer_stage_#{claim.litigator_type}")
        %td
          = claim.transfer_stage_description
      %tr
        %th{ scope: 'row', class: 'bold' }
          = t(".transfer_date_#{claim.litigator_type}")
        %td
          = claim.transfer_date
      - if claim.case_conclusion_id.present?
        %tr
          %th{ scope: 'row', class: 'bold' }
            = t('.case_conclusion')
          %td
            = claim.case_conclusion_description
