.form-group{ class: error_class?(@error_presenter, :advocate_category) ? 'form-group-error' : '' }
  %fieldset{ 'aria-describedby': 'radio-control-legend-category' }
    = f.anchored_without_label t('shared.claim.advocate_category')
    %legend{ for: 'advocate-category-1' }
      %span#radio-control-legend-category.form-label-bold
        = t('shared.claim.advocate_category')
      = validation_error_message(@error_presenter, :advocate_category)
    .advocate-categories
      = f.collection_radio_buttons(:advocate_category, f.object.eligible_advocate_categories.sort, :to_s, :to_s) do |b|
        .multiple-choice.js-fee-calculator-advocate-type
          = b.radio_button('aria-labelledby': "radio-control-legend-category #{b.text.to_css_class}")
          = b.label(id: b.text.to_css_class) { b.value.to_s }
