= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = govuk_inset_text do
      = t('.report_instructions')
    - @available_reports.each do |report_object, report_rec|
      .form-section
        %h2.govuk-heading-l{ id: "heading-#{report_object}" }
          = t(".report_types.#{report_object}_html")

        %p{ role: 'group', 'aria-labelledby': "heading-#{report_object}" }
          - if report_rec&.started_at
            = t('.report_generated_at', time: report_rec.started_at.strftime(Settings.report_date_format))
          - else
            = t('.unavailable_report')

          - # TODO: move to partial
          - if report_object.date_required?
            = form_with url: case_workers_admin_management_information_create_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f|
              = f.hidden_field :report_type, value: report_object.name
              = f.govuk_date_field :start_at,
                                   legend: { text: t('.start_date') },
                                   hint: { text: t('.daily_report_count_hint') }

              - if report_rec&.started_at.present?
                = govuk_link_button(t('.download'), case_workers_admin_management_information_download_url(report_type: report_object.name, format: :csv))

              = f.govuk_submit(t('.update_report'), class: 'govuk-button--secondary')

          - else
            %p
              - if report_rec&.started_at.present?
                = govuk_link_button(t('.download'), case_workers_admin_management_information_download_url(report_type: report_object.name, format: :csv))

              = govuk_link_button_secondary(t('.update_report'), case_workers_admin_management_information_generate_url(report_type: report_object.name))

    #provisional-assessment-date.form-section.fx-dates-chooser
      %h2.govuk-heading-l
        = t('.provisional_assessments_by_date')

      = form_with builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f|
        = f.hidden_field :user_api_key, id: :user_api_key, value: @current_user.api_key

        %p= t('.report_information')

        .fx-start-date
          = f.govuk_date_field :dob1,
            legend: { text: t('.start_date') },
            hint: { text: t('.example_date') }

        .fx-end-date
          = f.govuk_date_field :dob2,
            legend: { text: t('.end_date') },
            hint: { text: t('.example_date') }

      = govuk_link_button(t('.download'), '', disabled: 'true', id: 'provisional_assessments_date_download')
