- fee = present(f.object)
.form-group.misc-fee-group.js-block.nested-fields{data:{"type":"fees", autovat: @claim.apply_vat? ? "true" : "false"}}
  .grid-row
    .column-three-quarters
      .column-half
        %label.form-label
          .form-hint.xsmall.zero-vert-margin
            &nbsp;<br/>
          = t('.fee_type')
        %a{name: "misc_fee_#{@misc_fee_count}_fee_type"}
        - misc_fee_types_collection = present_collection(@claim.eligible_misc_fee_types)
        = f.select :fee_type_id, misc_fee_types_collection.map {|fee| [fee.description, fee.id, { data: fee.data_attributes }]}, {include_blank: true}, {class: 'form-control autocomplete js-misc-fee-type', style: 'width:100%'}
        = validation_error_message(@error_presenter, "misc_fee_#{@misc_fee_count}_fee_type")

      .column-half
        %label.form-label
          = t('.case_numbers')
          .form-hint.xsmall.zero-vert-margin
            Separate by commas
        %a{name: "misc_fee_#{@misc_fee_count}_case_numbers"}
        = f.text_field :case_numbers, {class: 'form-control js-misc-fee-case-numbers'}
        = validation_error_message(@error_presenter, "misc_fee_#{@misc_fee_count}_case_numbers")

    .column-one-quarter.fee-rate
      %label.form-label
        .form-hint.xsmall.zero-vert-margin
          &nbsp;<br/>
        = t('.amount')
      %a{name: "misc_fee_#{@misc_fee_count}_amount"}
      %span.currency-indicator>< &pound;
      = f.number_field :amount, value: number_with_precision(fee.amount, precision: 2), class: 'form-control total', size: 10, min: 0, max: 99999
      = validation_error_message(@error_presenter, "misc_fee_#{@misc_fee_count}_amount")

  = link_to_remove_association t('.remove'), f, { wrapper_class: 'misc-fee-group' }