.form-section.misc-fee-group.nested-fields.js-block.fx-do-init.fx-fee-group.fx-numberedList-item{ data: { 'type': 'miscFees', autovat: @claim.apply_vat? ? 'true' : 'false' } }

  = f.govuk_fieldset legend: { text: t('.misc_fee_html'), class: "govuk-!-padding-top-7" } do

    = link_to_remove_association f, wrapper_class: 'misc-fee-group', class: 'govuk-link govuk-!-display-none fx-numberedList-action' do
      = t('common.remove_html', context: t('.misc_fee'))

    = f.govuk_radio_buttons_fieldset(:fee_type_id, form_group: {class: 'fee-type'}, legend: { size: 's', text: t('.fee_type') }) do
      - present_collection(@claim.eligible_misc_fee_types).each do |misc_fee_type|
        = f.govuk_radio_button :fee_type_id,
          misc_fee_type.id,
          label: { text: misc_fee_type.description },
          'data-unique-code': misc_fee_type.unique_code do
          - if misc_fee_type.unique_code.eql?('MIUMO')
            = render 'warnings/unused_material_over_3_hours'

    = f.govuk_number_field :amount,
      label: { text: t('.net_amount_html', context: t('.misc_fee')) },
      class: 'total fee-rate',
      prefix_text: '£',
      value: number_with_precision(f.object.amount, precision: 2),
      width: 'one-quarter'
