%fieldset
  %legend.visuallyhidden
    = t('.miscellaneous_fee')

  .form-group.misc-fee-group.js-block.nested-fields.fx-fee-group{data:{"type": "miscFees", autovat: @claim.apply_vat? ? "true" : "false"}}
    .grid-row.js-typeahead
      .column-two-thirds{class: error_class?(@error_presenter, "misc_fee_#{@misc_fee_count}_fee_type")}
        %label.form-label
          = t('.fee_type')
          %span.form-hint.xsmall.zero-vert-margin
            &nbsp;<br/>
        %a{id: "misc_fee_#{@misc_fee_count}_fee_type"}
        - misc_fee_types_collection = present_collection(@claim.eligible_misc_fee_types)
        = f.select :fee_type_id, misc_fee_types_collection.map {|fee| [fee.description, fee.id, { data: fee.data_attributes }]}, { include_blank: ''.html_safe }, {class: 'form-control typeahead js-misc-fee-type js-fee-type', style: 'width:100%'}
        = validation_error_message(@error_presenter, "misc_fee_#{@misc_fee_count}_fee_type")

      .column-one-third.fee-rate.margin-spacer-sm
        = f.adp_text_field :amount,
                            label: t('.amount'),
                            input_classes:'total',
                            input_type:'currency',
                            value: number_with_precision(f.object.amount, precision: 2),
                            errors: @error_presenter

    = link_to_remove_association t('.remove'), f, { wrapper_class: 'misc-fee-group' }