= content_for :page_title, flush: true do
  = t('.heading')

= render partial: 'layouts/header', locals: { page_heading: t('.heading') }

.govuk-grid-row
  .govuk-grid-column-full
    = govuk_table(classes: 'govuk-!-margin-top-9 app-table--responsive') do |table|
      = table.with_caption(classes: 'govuk-visually-hidden', text: t('.heading'))

      = table.with_head do |head| 
        = head.with_row do |row|
          = row.with_cell(text: t('.name'))
          = row.with_cell(text: t('.email'))
          = row.with_cell(text: t('.persona'))
          = row.with_cell(text: t('.created'))

      = table.with_body do |body| 
        - @users.each do |user|
          = body.with_row do |row|
            = row.with_cell(html_attributes: { 'data-label': t('.name') }, text: user.name)
            = row.with_cell(html_attributes: { 'data-label': t('.email') }, text: user.email)
            = row.with_cell(html_attributes: { 'data-label': t('.persona') }, text: user.persona.class)
            = row.with_cell(html_attributes: { 'data-label': t('.created') }, text: user.created_at)

= render partial: 'shared/pagination'

