= render partial: 'layouts/header', locals: {page_heading: 'Change your password'}

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification

  %div.form-group
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token

  .form-group
    = f.label :password, 'New password', class: 'form-label'
    = f.input_field :password, autofocus: true, class: 'form-control'
  .form-group
    = f.label :password_confirmation, 'Confirm your password', class: 'form-label'
    = f.input_field :password_confirmation, class: 'form-control'

  .form-group
    = f.button :submit, 'Change password', class: 'button text-small'

= render "devise/shared/links"
