= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: {page_heading: t('.page_heading')}

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_with(model: resource, as: resource_name, url: password_path(resource_name), method: :put) do |f|
      = render "devise/shared/error_messages", resource: resource

      = f.hidden_field :reset_password_token

      = govuk_inset_text do
        %p
          =t('.password_help')

      %p
        =t('.password_length')

      = f.govuk_password_field :password,
        label: { text: t('.new_password') },
        autofocus: true

      = f.govuk_password_field :password_confirmation,
        label: { text: t('.confirm_your_password') }

      = f.govuk_submit t('.change_password')

    = render 'devise/shared/links'
