= render partial: 'layouts/header', locals: {page_heading: 'Forgot your password?'}

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  - if resource.errors.any?
    .validation-summary
      %h2.heading-small= "This #{resource_name} has #{pluralize(resource.errors.count, 'error')}"
      %ul
        - resource.errors.each do |attribute, message|
          %li
            = "#{attribute.to_s.humanize} #{message}"

  %div.form-group
    = f.label :email, class: "form-label"
    = f.input_field :email, autofocus: true, autocomplete: 'off', class: "form-control"

  %div.form-group
    = f.button :submit, "Send me password reset instructions", class: "button"

= render "devise/shared/links"
