= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: {page_heading: t('.page_heading')}

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  - if resource.errors.any?
    .validation-summary
      %h2.heading-small
        = "This #{resource_name} has #{pluralize(resource.errors.count, 'error')}"
      %ul
        - resource.errors.each do |attribute, message|
          %li
            = "#{attribute.to_s.humanize} #{message}"

  .form-group
    = f.label :email, class: 'form-label-bold'
    = f.input_field :email, autofocus: true, autocomplete: 'off', class: 'form-control'

  .form-group
    = f.button :submit, t('.send_button'), class: 'button'

= render 'devise/shared/links'
