%dl
  %dt.fx-seed-gradFees{ data: { seed: claim.raw_basic_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
    = t('.graduated_fees')
  %dd.total-gradFees
    = claim.basic_fees_total

  %dt.fx-seed-miscFees{ data: { seed: claim.raw_misc_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
    = t('.miscellaneous_fees')
  %dd.total-miscFees
    = claim.misc_fees_total

  %dt.fx-seed-expenses{ data: { seed: claim.raw_expenses_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
    = t('.travel_expenses')
  %dd.total-expenses
    = claim.expenses_total

  %dt.fx-seed{ 'data-vat-total': claim.raw_vat_amount }
    = t('.vat')
  %dd.total-vat
    = claim.vat_amount

  %dt.fx-seed{ 'data-total-inc': claim.raw_total_inc }
    = t('.total')
  %dd.total-grandTotal
    = claim.total_inc
