%ul
  %li.fx-seed-warrantFees{"data-seed": claim.raw_warrant_fees_total, "data-autovat": @claim.apply_vat? ? "true" : "false"}
    %h3
      = "Interim fees"
    %span.total-warrantFees
      = claim.warrant_fees_total

  %li.fx-seed-expenses{"data-seed": claim.raw_expenses_total, "data-autovat": @claim.apply_vat? ? "true" : "false"}
    %h3
      = "Expenses"
    %span.total-expenses
      = claim.expenses_total

  %li.fx-seed{"data-vat-total": claim.raw_vat_amount}
    %h3
      = "VAT"
    %span.total-vat
      = claim.vat_amount

  %li.fx-seed{"data-total-inc": claim.raw_total_inc}
    %h3
      = "Total"
    %span.total-grandTotal
      = claim.total_inc
