= govuk_summary_list_no_border(class: 'app-summary-list_sidebar') do
  = govuk_summary_list_row do
    = govuk_summary_list_key(class: 'fx-seed-gradFees', data: { seed: claim.raw_basic_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' }) do
      = t('.graduated_fees')
    = govuk_summary_list_value(class: 'total-gradFees') do
      = claim.basic_fees_total

  = govuk_summary_list_row do
    = govuk_summary_list_key(class: 'fx-seed-miscFees', data: { seed: claim.raw_misc_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' }) do
      = t('.miscellaneous_fees')
    = govuk_summary_list_value(class: 'total-miscFees') do
      = claim.misc_fees_total

  = govuk_summary_list_row do
    = govuk_summary_list_key(class: 'fx-seed-expenses', data: { seed: claim.raw_expenses_total, autovat: @claim.apply_vat? ? 'true' : 'false' }) do
      = t('.travel_expenses')
    = govuk_summary_list_value(class: 'total-expenses') do
      = claim.expenses_total

  = govuk_summary_list_row do
    = govuk_summary_list_key(class: 'fx-seed', 'data-vat-total': claim.raw_vat_amount) do
      = t('.vat')
    = govuk_summary_list_value(class: 'total-vat') do
      = claim.vat_amount

  = govuk_summary_list_row do
    = govuk_summary_list_key(class: 'fx-seed', 'data-total-inc': claim.raw_total_inc) do
      = t('.total')
    = govuk_summary_list_value(class: 'total-grandTotal') do
      = claim.total_inc
