- if claim.new_record? && show_api_promo_to_user?

  .js-callout-banner{'data-setting': 'api_promo_seen'}
    .notice
      %i.icon.icon-important
        %span.visuallyhidden
          = "Note"

      %strong.bold-small
        = "Do you use a case management system?"
    %p
      = "You may be able to import claims without re-typing. "
      = link_to 'Read more information.', api_landing_page_path

    %ul.list
      %li.hide-link
        = link_to 'Do not show this message again', settings_user_path(current_user.id, api_promo_seen: 1), method: :put, remote: true