%tr.extra-data.nested-fields
  - if defined?(parent_model_prefix) && defined?(submodel_count)
    - error_prefix = "#{parent_model_prefix}_date_attended_#{submodel_count}"
  - else
    - error_prefix = "date_attended_0"
  %td{colspan: "4"}
    %span.auto-width{id: "#{error_prefix}_date"}
      = f.label :date, t('.date_from')
      = f.gov_uk_date_field :date
      = validation_error_message(@error_presenter, "#{error_prefix}_date")
    %span.auto-width{id: "#{error_prefix}_date_to"}
      = f.label :date, t('.date_to')
      = f.gov_uk_date_field :date_to
      = validation_error_message(@error_presenter, "#{error_prefix}_date_to")
  %td{colspan: "4"}
    = link_to_remove_association t('.remove_date'), f

    %td
