- form_steps = %w[basic_fees case_details defendants disbursements fixed_fees graduated_fees hardship_fees interim_fees miscellaneous_fees offence_details supporting_evidence transfer_fees transfer_fee_details travel_expenses]
- if form_steps.include?(@claim.form_step.to_s)
  = govuk_error_summary(@claim, :claim, presenter: @error_presenter)

- else
  - if ep && ep.size > 0
    .govuk-error-summary{role: "group", 'aria-labelledby': "error-summary-heading", tabindex:'-1'}
      %h1#govuk-error-summary__title.govuk-heading-m.error-summary-heading
        = "#{t('.prohibited_save')} #{pluralize(ep.size, t('.error'))}"

      %span.form-hint
        = t('shared.errors.form_error_hint')

      .govuk-error-summary__body
        %ul.govuk-list.govuk-error-summary__list
          - ep.summary_errors.each do |error_detail|
            %li
              = govuk_link_to(error_detail.long_message, anchor: error_detail.attribute)
