- if ep && ep.size > 0
  .validation-summary
    %h2.heading-small= "#{t('.prohibited_save')} #{pluralize(ep.size, t('.error'))}"
    %ul
      - ep.header_errors.each do |error_detail|
        %li
          = error_detail.long_message_link
    %span.form-hint
      = t('.form_error_hint')
