- form_steps = %w[basic_fees case_details defendants fixed_fees graduated_fees hardship_fees offence_details supporting_evidence transfer_fees transfer_fee_details travel_expenses]
- if form_steps.include?(@claim.form_step.to_s)
  = govuk_error_summary(@claim, :claim, presenter: @error_presenter)

- else
  - if ep && ep.size > 0
    .error-summary{role: "group", 'aria-labelledby': "error-summary-heading", tabindex:'-1'}
      %h1#error-summary-heading.govuk-heading-m.error-summary-heading
        = "#{t('.prohibited_save')} #{pluralize(ep.size, t('.error'))}"

      %span.form-hint
        = t('shared.errors.form_error_hint')

      %ul.error-summary-list
        - ep.summary_errors.each do |error_detail|
          %li
            = error_detail.long_message_link
