.hgroup
  %h2
    = t('.total_outstanding')
    %span.numerical-value
      = number_to_currency(financial_summary.total_outstanding_claim_value)
  %p
    = link_to t('.view_details_outstanding_html'), outstanding_external_users_claims_path, id: "outstanding_claim_details"
.hgroup
  %h2
    = t('.total_authorised')
    %span.numerical-value
      = number_to_currency(financial_summary.total_authorised_claim_value)
  %p
    = link_to t('.view_details_authorised_html'), authorised_external_users_claims_path, id: "authorised_claim_details"
