#claim-form
  - url = @claim.persisted? ? external_users_claim_path(@claim) : external_users_claims_path
  = form_for [:external_users, @claim], as: :claim, url: url, builder: AdpFormBuilder, html: { novalidate: true }, multipart: true, authenticity_token: true do |f|

    = f.hidden_field :form_id, value: @form_id || params[:claim][:form_id]

    = render partial: 'error_summary', locals: { ep: @error_presenter }

    %fieldset
      %legend.bold-medium
        = t('.case_advocate_offence')


      = f.anchored_label t('.advocate_category')
      .form-group.inline
        = f.collection_radio_buttons(:advocate_category, Settings.advocate_categories.sort, :to_s, :to_s) do |b|
          - b.label(class: "block-label") { b.radio_button + b.value.to_s }
        = validation_error_message(@error_presenter, :advocate_category)

      - if current_user.persona.admin?
        = f.anchored_label t('.advocate'), 'external_user'
        = f.collection_select :external_user_id, @advocates_in_provider, :id, :name_and_number, {prompt: true}, {class: 'select2'}
        = validation_error_message(@error_presenter, :external_user)

      = f.anchored_label t('.court')
      = f.collection_select :court_id, Court.all, :id, :name, { prompt: true }, { class: 'select2', style:'width:300px' }
      = validation_error_message(@error_presenter, :court)

      .grid-row
        .column-half
          = f.anchored_label t('.case_type')
          .form-hint.xsmall.zero-vert-margin
            &nbsp;
          = f.collection_select2_with_data :case_type_id, @case_types, :id, :name, {'is-fixed-fee' => :is_fixed_fee?}, { prompt: true }
          = validation_error_message(@error_presenter, :case_type)

        .column-half
          = f.anchored_label t('.case_number')
          .form-hint.xsmall.zero-vert-margin
            = "eg A12345678"
          = f.text_field :case_number
          = validation_error_message(@error_presenter, :case_number)

      = render 'cracked_trial_fields', f: f

      %fieldset.indent-fieldset#trial-details
        = render 'trial_detail_fields', f: f
      
      %fieldset.indent-fieldset#retrial-details
        = render 'retrial_detail_fields', f: f

      .grid-row#offence
        .column-half
          = f.anchored_label t('.offence_category')
          .form-hint.xsmall.zero-vert-margin
            = "If the offence category is not listed, choose \"Miscellaneous/other\""
          - if @claim.new_record?
            - selected_offence_category = params[:offence_category].present? ? params[:offence_category][:description] : nil
          - else
            - selected_offence_category = @claim.offence.description rescue nil
          = collection_select :offence_category, :description, @offence_descriptions, :description, :description, { prompt: t('.select_category'), selected: selected_offence_category }, { class: 'select2' }
          = validation_error_message(@error_presenter, :offence)

        .column-half
          .offence-class-select
            = render partial: 'offence_select', locals: { offences: @offences }

          = f.hidden_field :offence_id, value: f.object.offence ? f.object.offence.id : nil

    %fieldset
      %legend.visuallyhidden
        = t('.defendants')
      .bold-medium
        = t('.defendants')
      #defendants
        = f.fields_for :defendants do |defendant|
          = render partial: 'defendant_fields', locals: { f: defendant }
        %div
          = link_to_add_association t('.add_another_defendant'), f, :defendants

    %fieldset
      %legend.bold-medium
        = t('.basic_fees')
      #basic-fees
        %p
          = raw t('.fee_prompt_text')

        %table
          %thead
            %tr
              %th
                = t('.fee_type')
              %th
                = t('.quantity')
              %th
                = t('.rate')
              %th
                = t('.amount')
              %th
          %tbody.basic-fee-group
            = f.fields_for :basic_fees do |basic_fee_fields|
              - @basic_fee_count += 1
              = render 'basic_fee_fields', f: basic_fee_fields

    %fieldset
      %legend.bold-medium
        = t('.misc_fees')
      #misc-fees
        %table
          %thead
            %tr
              %th
                = t('.fee_type')
              %th
                = t('.quantity')
              %th
                = t('.rate')
              %th
                = t('.amount')
              %th
              %th
          = f.fields_for :misc_fees do |misc_fee_fields|
            - @misc_fee_count += 1
            = render 'misc_fee_fields', f: misc_fee_fields

        = link_to_add_association t('.add_misc_fee'), f, :misc_fees, data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'table'}

    %fieldset
      %legend.bold-medium
        = t('.fixed_fees')
      #fixed-fees
        %table
          %thead
            %tr
              %th
                = t('.fee_type')
              %th
                = t('.quantity')
              %th
                = t('.rate')
              %th
                = t('.amount')
              %th
              %th
          = f.fields_for :fixed_fees do |fixed_fee_fields|
            - @fixed_fee_count += 1
            = render 'fixed_fee_fields', f: fixed_fee_fields

        = link_to_add_association t('.add_fixed_fee'), f, :fixed_fees, data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'table'}

    %fieldset
      %legend.bold-medium
        = t('.expenses')
      %span.form-hint.xsmall
        = t('.expenses_prompt_text')
      #expenses
        %table
          %thead
            %tr
              %th
                = t('.expense_type')
              %th
                = t('.location')
              %th
                = t('.quantity_hours')
              %th
                = t('.rate')
              %th
                = t('.amount')
              %th
              %th
              = f.fields_for :expenses do |expense|
                - @expense_count += 1
                = render 'expense_fields', f: expense

        = link_to_add_association t('.add_another_expense'), f, :expenses, data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'table'}

    = render partial: "shared/vat_summary", locals: { claim:  present(@claim) }

    %fieldset{id: 'evidence'}
      %legend.bold-medium
        = t('.supporting_evidence_docs')

      .document-ids
        - @claim.documents.each do |document|
          = f.hidden_field :document_ids, multiple: true, value: document.id, id: "claim_document_ids_#{document.id}"

      %div{class: 'dropzone', data: {'dz-template' => render('shared/dropzone_js')}}
        %div.dz-default.dz-message.grid-row
          .column-third
            &nbsp;
          .column-third.drag-helptext
            %span.normal="Drag and drop files here"
            %br
            %span.bold-normal= "or"
            %br
            %div.button-secondary
              = t('.choose_file')
          .column-third
            &nbsp;

      - if @claim.documents.count > 0
        %legend
          = t('.previously_uploaded_docs')

          %table.previously-uploaded
            %thead
              %th
                = t('.file_name')
              %th
                = t('.action')
            %tbody
              - @claim.documents.order(created_at: :asc).each do |document|
                %tr{id: dom_id(document)}
                  %td
                    = document.document_file_name
                  %td
                    = link_to t('common.download'), download_document_path(document), class: 'download'
                    = " | "
                    = link_to t('common.remove'), document_path(document), method: :delete, remote: true, data: { confirm: 'Are you sure?' }


    %fieldset{id: 'evidence-checklist'}
      %legend.bold-medium
        = t('.supporting_evidence_checklist')
      #evidence-checklist
        = render 'evidence_checklist', f: f

    %fieldset
      %legend.bold-medium
        = t('.additional_information')
      .form-hint.xsmall
        = t('.additional_information_prompt_text')
      .grid-row
        .column-half
          = f.text_area :additional_information, rows: 7
          = validation_error_message(@claim, :additional_information)
        .column-half
          &nbsp;
      %p
        = f.submit t('.submit_to_laa'), class: 'button left'
        - if @claim.draft?
          = f.submit t('.save_to_drafts'), class: 'button button-secondary left'
        = link_to t('.clear_form'), new_external_users_claim_path, class: 'button button-secondary right', data: { confirm: 'Are you sure you want to clear this form?' }
