#claim-form
  = form_for [:external_users, @claim], builder: AdpFormBuilder, html: { novalidate: true }, multipart: true, authenticity_token: true do |f|

    = f.hidden_field :form_id, value: @form_id || params[:claim][:form_id]

    = render partial: 'error_summary', locals: { ep: @error_presenter }

    = render partial: 'external_users/claims/case_details/form', locals: { f: f }

    = render partial: 'external_users/claims/defendants/form', locals: { f: f }

    %h2.bold-medium
      = t('.basic_fees')
    #basic-fees
      %p
        = raw t('.fee_prompt_text')

      %table
        %thead
          %tr
            %th
              = t('.fee_type')
            %th
              = t('.quantity')
            %th
              = t('.rate')
            %th
              = t('.amount')
            %td
        %tbody.basic-fee-group
          = f.fields_for :basic_fees do |basic_fee_fields|
            - @basic_fee_count += 1
            = render 'basic_fee_fields', f: basic_fee_fields

    %h2.bold-medium
      = t('.misc_fees')
    #misc-fees
      %table
        %thead
          %tr
            %th
              = t('.fee_type')
            %th
              = t('.quantity')
            %th
              = t('.rate')
            %th
              = t('.amount')
            %td
            %td
        = f.fields_for :misc_fees do |misc_fee_fields|
          - @misc_fee_count += 1
          = render 'misc_fee_fields', f: misc_fee_fields

      = link_to_add_association t('.add_misc_fee'), f, :misc_fees, data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'table'}

    %h2.bold-medium
      = t('.fixed_fees')
    #fixed-fees
      %table
        %thead
          %tr
            %th
              = t('.fee_type')
            %th
              = t('.quantity')
            %th
              = t('.rate')
            %th
              = t('.amount')
            %td
            %td
        = f.fields_for :fixed_fees do |fixed_fee_fields|
          - @fixed_fee_count += 1
          = render 'fixed_fee_fields', f: fixed_fee_fields

      = link_to_add_association t('.add_fixed_fee'), f, :fixed_fees, data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'table'}

    %h2.bold-medium
      = t('.expenses')
    .form-hint.xsmall
      = t('.expenses_prompt_text')
    #expenses
      %table
        %thead
          %tr
            %th
              = t('.expense_type')
            %th
              = t('.location')
            %th
              = t('.quantity_hours')
            %th
              = t('.rate')
            %th
              = t('.amount')
            %td
            %td
            = f.fields_for :expenses do |expense|
              - @expense_count += 1
              = render 'expense_fields', f: expense

      = link_to_add_association t('.add_another_expense'), f, :expenses, data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'table'}

    = render partial: "shared/vat_summary", locals: { claim:  present(@claim) }

    .evidence
      %h2.bold-medium
        = t('.supporting_evidence_docs')

      .document-ids
        - @claim.documents.each do |document|
          = f.hidden_field :document_ids, multiple: true, value: document.id, id: "claim_document_ids_#{document.id}"

      .dropzone{data: {'dz-template' => render('shared/dropzone_js')}}
        .dz-default.dz-message.grid-row
          .column-third
            &nbsp;
          .column-third.drag-helptext
            %span.normal="Drag and drop files here"
            %br
            %span.bold-normal= "or"
            %br
            .button-secondary
              = t('.choose_file')
          .column-third
            &nbsp;

      - if @claim.documents.count > 0
        %h3.bold-medium
          = t('.previously_uploaded_docs')

        %table.previously-uploaded
          %thead
            %th
              = t('.file_name')
            %th
              = t('.action')
          %tbody
            - @claim.documents.order(created_at: :asc).each do |document|
              %tr{id: dom_id(document)}
                %td
                  = document.document_file_name
                %td
                  = link_to t('common.download'), download_document_path(document), class: 'download'
                  = " | "
                  = link_to t('common.remove'), document_path(document), method: :delete, remote: true, data: { confirm: 'Are you sure?' }


    %fieldset
      %h2
        %legend.bold-medium
          = t('.supporting_evidence_checklist')
      .evidence-checklist
        = render 'evidence_checklist', f: f

    %h2.bold-medium
      = f.label :additional_information, t('.additional_information')
    #additional-info-hint.form-hint.xsmall
      = t('.additional_information_prompt_text')
    .grid-row
      .column-half
        = f.text_area :additional_information, rows: 7, 'aria-describedby': 'additional-info-hint'
        = validation_error_message(@claim, :additional_information)
      .column-half
        &nbsp;

    .button-holder
      = f.submit t('.submit_to_laa'), class: 'button left'
      - if @claim.draft?
        = f.submit t('.save_to_drafts'), class: 'button button-secondary left'
      = link_to t('.clear_form'), new_external_users_claim_path, class: 'button button-secondary right', data: { confirm: 'Are you sure you want to clear this form?' }
