= govuk_summary_list do |summary_list|

  - summary_list.with_row do |row|
    - row.with_key(text: t('.hardship_fees') )
    - row.with_value do
      %span{ data: { seed: claim.raw_hardship_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
        = claim.hardship_fees_total

  - summary_list.with_row do |row|
    - row.with_key(text: t('.miscellaneous_fees') )
    - row.with_value do
      %span{ data: { seed: claim.raw_misc_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
        = claim.misc_fees_total

  - summary_list.with_row do |row|
    - row.with_key(text: t('.vat') )
    - row.with_value do
      %span{ 'data-vat-total': claim.raw_vat_amount }
        = claim.vat_amount

  - summary_list.with_row do |row|
    - row.with_key(text: t('.total') )
    - row.with_value do
      %span{ class: 'font-weight-bold', 'data-total-inc': claim.raw_total_inc }
        = claim.total_inc
