= govuk_summary_list(classes: 'govuk-summary-list--no-border app-summary-list_sidebar') do |summary_list|
  - if claim.fixed_fee_case?
    - summary_list.with_row do |row|
      - row.with_key do
        %span.fx-seed-fixedFees{ data: { seed: claim.raw_fixed_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
          = t('.fixed_fees')
      - row.with_value do
        %div.total-fixedFees= claim.fixed_fees_total
  - else
    - summary_list.with_row do |row|
      - row.with_key do
        %span.fx-seed-gradFees{ data: { seed: claim.raw_grad_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
          = t('.graduated_fees')
      - row.with_value do
        %div.total-gradFees= claim.grad_fees_total

  - summary_list.with_row do |row|
    - row.with_key do
      %span.fx-seed-miscFees{ data: { seed: claim.raw_misc_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
        = t('.miscellaneous_fees')
    - row.with_value do
      %div.total-miscFees= claim.misc_fees_total

  - summary_list.with_row do |row|
    - row.with_key do
      %span.fx-seed-disbursements{ data: { seed: claim.raw_disbursements_total, autovat: 'false', 'seed-vat': claim.raw_disbursements_vat } }
        = t('.disbursements')
    - row.with_value do
      %div.total-disbursements= claim.disbursements_total

  - summary_list.with_row do |row|
    - row.with_key do
      %span.fx-seed-expenses{ data: { seed: claim.raw_expenses_total, autovat: 'false', 'seed-vat': claim.raw_expenses_vat } }
        = t('.travel_expenses')
    - row.with_value do
      %div.total-expenses= claim.expenses_total

  - summary_list.with_row do |row|
    - row.with_key do
      %span.fx-seed{ 'data-vat-total': claim.raw_vat_amount }
        = t('.vat')
    - row.with_value do
      %div.total-vat= claim.vat_amount

  - summary_list.with_row do |row|
    - row.with_key do
      %span.fx-seed{ 'data-total-inc': claim.raw_total_inc }
        = t('.total')
    - row.with_value do
      %div.total-grandTotal.govuk= claim.total_inc
