= govuk_summary_list(classes: 'govuk-summary-list--no-border app-summary-list_sidebar') do |summary_list|
  - if claim.fixed_fee_case?
    - summary_list.with_row do |row|
      - row.with_key do
        %span.fx-seed-fixedFees{ data: { seed: claim.raw_fixed_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
          = t('shared.summary.fixed_fees')
      - row.with_value(text: claim.fixed_fees_total, classes: 'total-fixedFees')
  - else
    - summary_list.with_row do |row|
      - row.with_key do
        %span.fx-seed-gradFees{ data: { seed: claim.raw_grad_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
          = t('shared.summary.graduated_fees')
      - row.with_value(text: claim.grad_fees_total, classes: 'total-gradFees')

  - summary_list.with_row do |row|
    - row.with_key do
      %span.fx-seed-miscFees{ data: { seed: claim.raw_misc_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
        = t('shared.summary.miscellaneous_fees')
    - row.with_value(text: claim.misc_fees_total, classes: 'total-miscFees')

  - summary_list.with_row do |row|
    - row.with_key do
      %span.fx-seed-disbursements{ data: { seed: claim.raw_disbursements_total, autovat: 'false', 'seed-vat': claim.raw_disbursements_vat } }
        = t('shared.summary.disbursement')
    - row.with_value(text: claim.disbursements_total, classes: 'total-disbursements')

  - summary_list.with_row do |row|
    - row.with_key do
      %span.fx-seed-expenses{ data: { seed: claim.raw_expenses_total, autovat: 'false', 'seed-vat': claim.raw_expenses_vat } }
        = t('shared.summary.expenses.travel_expenses')
    - row.with_value(text: claim.expenses_total, classes: 'total-expenses')

  - summary_list.with_row do |row|
    - row.with_key do
      %span.fx-seed{ 'data-vat-total': claim.raw_vat_amount }
        = t('shared.summary.vat')
    - row.with_value(text: claim.vat_amount, classes: 'total-vat')

  - summary_list.with_row do |row|
    - row.with_key do
      %span.fx-seed{ 'data-total-inc': claim.raw_total_inc }
        = t('shared.summary.total')
    - row.with_value(text: claim.total_inc, classes: 'total-grandTotal')
