%dl
  %dt.fx-seed-transferFees{ data: { seed: claim.raw_transfer_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
    = 'Transfer fees'
  %dd.total-transferFees
    = claim.transfer_fees_total

  %dt.fx-seed-miscFees{ data: { seed: claim.raw_misc_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }
    = 'Miscellaneous fees'
  %dd.total-miscFees
    = claim.misc_fees_total

  %dt.fx-seed-disbursements{ data: { seed: claim.raw_disbursements_total, autovat: 'false', 'seed-vat': claim.raw_disbursements_vat } }
    = 'Disbursements'
  %dd.total-disbursements
    = claim.disbursements_total

  %dt.fx-seed-expenses{ data: { seed: claim.raw_expenses_total, autovat: 'false', 'seed-vat': claim.raw_expenses_vat } }
    = 'Travel expenses'
  %dd.total-expenses
    = claim.expenses_total

  %dt.fx-seed{ 'data-vat-total': claim.raw_vat_amount }
    = 'VAT'
  %dd.total-vat
    = claim.vat_amount

  %dt.fx-seed{ 'data-total-inc': claim.raw_total_inc }
    = 'Total'
  %dd.total-grandTotal
    = claim.total_inc
