= govuk_table(classes: 'app-table--responsive') do |table|
  = table.with_caption(size: 's') do
    .govuk-grid-row
      .govuk-grid-column-one-half
        = your_claims_header
      .govuk-grid-column-one-half.claim-count
        - if @claims.none?
          = t('shared.no_claims_found')
        - else
          = pagy_info(@pagy).html_safe
          - if params[:search].present?
            = "matching #{params[:search]}"

  = table.with_head do |head|
    = head.with_row do |row|
      - if user_requires_scheme_column?
        = row.with_cell(text: t('.type'))
      = row.with_cell do
        = sortable 'case_number', t('.case_number'), 'aria-label': t('.case_number_sort_label'), id: 'case_number'
      - if current_user.persona.admin?
        = row.with_cell do
          = sortable 'advocate', t('.advocate_litigator'), 'aria-label': t('.advocate_sort_label'), id: 'advocate'
      = row.with_cell(text: t('.defendants'))
      = row.with_cell(numeric: true) do
        = sortable 'total_inc_vat', t('.total'), 'aria-label': t('.total_inc_vat_sort_label'), id: 'total_inc_vat'
      = row.with_cell(numeric: true) do
        = sortable 'amount_assessed', t('.assessed'), 'aria-label': t('.amount_assessed_sort_label'), id: 'amount_assessed'
      = row.with_cell do
        = sortable 'state', t('.status'), 'aria-label': t('.state_sort_label'), id: 'state'
      = row.with_cell(numeric: true) do
        = sortable 'last_submitted_at', t('.submission_date'), 'aria-label': t('.last_submitted_at_sort_label'), id: 'last_submitted_at'
      = row.with_cell(text: t('.messages'))

  = table.with_body do |body|
    = body.with_row(classes: 'mobile-sort') do |row|
      = row.with_cell(header: true) do
        Sort by:
        = sortable 'case_number', t('.case_number'), 'aria-label': t('.case_number_sort_label'), id: 'case_number_ms'
        - if current_user.persona.admin?
          = sortable 'advocate', t('.advocate_litigator'), 'aria-label': t('.advocate_sort_label'), id: 'advocate_ms'
        = sortable 'total_inc_vat', t('.total'), 'aria-label': t('.total_inc_vat_sort_label'), id: 'total_inc_vat_ms'
        = sortable 'amount_assessed', t('.assessed'), 'aria-label': t('.amount_assessed_sort_label'), id: 'amount_assessed_ms'
        = sortable 'state', t('.status'), 'aria-label': t('.state_sort_label'), id: 'state_ms'
        = sortable 'last_submitted_at', t('.submission_date'), 'aria-label': t('.last_submitted_at_sort_label'), id: 'last_submitted_at_ms'

    - present_collection(claims).each do |claim|
      = body.with_row(classes: claim.state, html_attributes: { id: dom_id(claim) }) do |row|
        - if user_requires_scheme_column?
          = row.with_cell(html_attributes: { 'data-label': t('.type') }, text: claim.pretty_type)
        = row.with_cell(html_attributes: { 'data-label': t('.case_number') }) do
          = govuk_link_to claim.case_number,
                    external_users_claim_path_for_state(claim),
                    class: 'js-test-case-number-link',
                    'aria-label': t('.case_number_label', claim_state: claim.state.humanize, case_number: claim.case_number)
          .providers-ref
            = claim.providers_ref
        - if current_user.persona.admin?
          = row.with_cell(html_attributes: { 'data-label': t('.advocate_litigator') }, text: claim.external_user.name)
        = row.with_cell(html_attributes: { 'data-label': t('.defendants') }, text: claim.defendant_names)
        = row.with_cell(html_attributes: { 'data-label': t('.total') }, text: claim.total_inc_vat, numeric: true)
        = row.with_cell(html_attributes: { 'data-label': t('.assessed') }, text: claim.amount_assessed, numeric: true)
        = row.with_cell(html_attributes: { 'data-label': t('.status') }) do
          = govuk_tag claim.state.humanize, class: "app-tag--#{claim.state.dasherize}"
        = row.with_cell(html_attributes: { 'data-label': t('.submission_date') }, numeric: true) do
          - if claim.submitted_at.blank?
            = '-'
          - else
            %time{ 'aria-label': claim.submitted_at.strftime(Settings.date_format_label), datetime: claim.submitted_at.strftime(Settings.datetime_attribute) }
              = claim.submitted_at.strftime(Settings.date_format)
        = row.with_cell(html_attributes: { 'data-label': t('.messages') }) do
          - if claim.messages.any?
            = govuk_link_to claim.unread_messages_for(current_user).any? ? t('.view_with_messages', message_count: claim.unread_messages_for(current_user).count) : t('.view'), "#{external_users_claim_path(claim, messages: true)}#messages", 'aria-label': t('.view_messages_label', case_number: claim.case_number)
          - else
            %span.none= t('.none')
