#report-options.search-form
  .form-group
    - path_to_use = defined?(archived) && archived ? archived_external_users_claims_path : external_users_claims_path
    = form_tag path_to_use, method: :get do
      = label_tag :search, 'eg defendant name, advocate name'
      = text_field_tag :search, params[:search], class: "normal form-control-3-4"
      = button_tag(type: 'submit', class: 'button search', title: "#{ t('common.search') }") do
        %object{:type => 'image/svg+xml', :data => image_path('icons/search-ico.svg'), :class => "search-icon"}
