%h2
  = t('common.fees')
%table{class:'table-summary', summary: t('.summary')}
  %caption
    %span.table-caption.visuallyhidden
      = t('.caption')
  %tbody
    - present_collection(claim.fees.select(&:present?)).each do |fee|
      %tr
        %th.summary-headings{ scope: 'row'}
          = t('shared.summary.fee_category')
        %td
          = fee.fee_type.fee_category_name
      %tr
        %th{scope: 'row'}
          = t('shared.summary.fee_type')
        %td
          = fee.fee_type.description

      - if fee.sub_type.present?
        %tr
          %th{scope: 'row'}
            = t('shared.summary.fee_subtype')
          %td
            = fee.sub_type.description
      - if fee.case_numbers.present?
        %tr
          %th{scope: 'row'}
            = t('shared.summary.case_numbers')
          %td
            = fee.case_numbers

      - if fee.claim.agfs? || fee.is_graduated? || fee.is_transfer?
        %tr
          %th{ scope: 'row'}
            - if fee.is_transfer? || fee.is_graduated?
              = "PPE"
            - else
              = t('shared.summary.quantity')
          %td
            = fee.quantity

      - if fee.claim.agfs?
        %tr
          %th{ scope: 'row'}
            = t('shared.summary.rate')
          %td
            = fee.rate
      %tr
        %th{ scope: 'row'}
          = t('shared.summary.amount')
        %td
          = fee.amount
      - if fee.dates_attended.any?
        %tr
          %th{scope: 'row'}
            = t('shared.summary.dates_attended')
          %td
            = fee.dates_attended_delimited_string
      - if fee.date?
        %tr
          %th{scope: 'row'}
            = t('shared.summary.date')
          %td
            = fee.date
  %tfoot
    %tr
      %th
        = t('shared.summary.fees_total')
      %td
        = claim.fees_total
