%h3.heading-medium
  = local_assigns.has_key?(:header) ? header : t('common.fees')
  - if local_assigns[:editable]
    = link_to 'Change', edit_polymorphic_path(claim, step: step, referrer: :summary), class: 'link-change'

- if local_assigns.has_key?(:fee)
  - if fee
    %table{ class: 'summary', summary: t('.summary') }
      %caption
        %span.table-caption.visuallyhidden
          = t('.caption')
      %tbody
        = render partial: 'external_users/claims/summary_fee', locals: { fee: fee }
  - else
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: step }
- else
  - collection = local_assigns.has_key?(:collection) ? collection : claim.fees.select(&:present?)
  - section = local_assigns.has_key?(:section) ? section : :fees

  - if collection.empty?
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: step }
    - else
      %p
        = t("shared.summary.no_values.#{section}")
  - else
    %table{ class: 'summary', summary: t('.summary') }
      %caption
        %span.table-caption.visuallyhidden
          = t('.caption')
      %tbody
        - present_collection(collection.sort_by(&:position)).each.with_index(1) do |fee, index|
          %tr
            %th{ scope: 'row', class: 'bold' }
              = "#{t('shared.summary.fee')} #{index}"
            %td
              %table.nested-summary
                %tbody
                  = render partial: 'external_users/claims/summary_fee', locals: { fee: fee }
