%h3.heading-medium
  = local_assigns.has_key?(:header) ? header : t('common.fees')
  - if local_assigns[:editable]
    = link_to t('.change'), edit_polymorphic_path(claim, step: step, referrer: :summary), class: 'link-change', 'aria-label': t('.change_link_label')

-# TODO: Avoid use of these checks and just display info
-# based on configuration
- if claim.agfs? && %i[basic_fees fixed_fees].include?(step)
  = render partial: 'external_users/claims/advocate_category_summary', locals: { claim: claim }

- if local_assigns.has_key?(:fee)
  - if fee
    %table{ class: 'summary', summary: t('.summary') }
      %caption
        %span.table-caption.visuallyhidden
          = t('.caption')
      %tbody
        = render partial: 'external_users/claims/summary_fee', locals: { fee: present(fee) }
  - else
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: step }
    - else
      %p
        = t("shared.summary.no_values.#{section}")
- else
  - collection = local_assigns.has_key?(:collection) ? collection : claim.fees.select(&:present?)
  - section = local_assigns.has_key?(:section) ? section : :fees

  - if collection.empty? || collection.all?(&:blank?)
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: step }
    - else
      %p
        = t("shared.summary.no_values.#{section}")
  - else
    %table{ class: 'summary', summary: t('.summary') }
      %caption
        %span.table-caption.visuallyhidden
          = t('.caption')
      %tbody
        -# The collection of fees
        - present_collection(collection.sort_by(&:position)).each.with_index(1) do |fee, index|
          %tr
            - if collection.length > 1
              %th{ scope: 'row', class: 'bold' }
                = t('shared.summary.fee_index', index: index)
            %td{style: 'margin:0;padding:0;'}
              %table.nested-summary
                %tbody
                  -# Each instance of a fee
                  = render partial: 'external_users/claims/summary_fee', locals: { fee: fee }
