%h2.govuk-heading-l
  = local_assigns.has_key?(:header) ? header : t('common.fees')

- if local_assigns.has_key?(:unclaimed_fees)
  = render partial: 'unclaimed_fees_notice_brief', locals: { unclaimed_fees:, notice_form: :long }

- if local_assigns[:editable]
  = govuk_link_to t('common.change_html', context: t('common.fees')), edit_polymorphic_path(claim, step: step, referrer: :summary), class: 'link-change'

-# TODO: Avoid use of these checks and just display info
-# based on configuration
- if claim.agfs? && %i[basic_fees fixed_fees].include?(step)
  = render partial: 'external_users/claims/advocate_category_summary', locals: { claim: claim }

  - if claim.discontinuance?
    = render partial: 'external_users/claims/prosecution_evidence_summary', locals: { claim: claim }

- if local_assigns.has_key?(:fee)
  - if fee
    = govuk_table(classes: 'app-table--responsive') do |table|
      = table.with_caption(classes: 'govuk-visually-hidden', text: t('.caption'))

      = table.with_body do |body|
        = render partial: 'external_users/claims/summary_fee', locals: { fee: present(fee), body: body }
  - else
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: step }
    - else
      %p
        = t("shared.summary.no_values.#{section}")
- else
  - collection = local_assigns.has_key?(:collection) ? collection : claim.fees.select(&:present?)
  - section = local_assigns.has_key?(:section) ? section : :fees

  - if collection.empty? || collection.all?(&:blank?)
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: step }
    - else
      %p
        = t("shared.summary.no_values.#{section}")
  - else
    - if section.to_s.eql?('basic_fees')
      %h3.govuk-heading-m
        = t('shared.summary.basic_fees')

    = govuk_table(classes: 'app-table--responsive') do |table|
      = table.with_caption(classes: 'govuk-visually-hidden', text: t('.caption'))

      = table.with_head do |head|
        = head.with_row do |row|
          = row.with_cell(text: t('shared.summary.fee_type'))
          - unless claim.lgfs? && collection.any?(&:is_misc?)
            = row.with_cell(text: t('shared.summary.dates'))
            = row.with_cell(text: t('shared.summary.quantity'), numeric: true)
            = row.with_cell(text: t('shared.summary.rate'), numeric: true)
          = row.with_cell(text: t('shared.summary.amount'), numeric: true)
          = row.with_cell(text: t('shared.summary.vat_amount'), numeric: true)
          = row.with_cell(text: t('shared.summary.total_amount'), numeric: true)

      = table.with_body do |body|
        - present_collection(collection.sort_by(&:position)).each.with_index(1) do |fee, index|
          = render partial: 'external_users/claims/summary_fee', locals: { fee: fee, body: body }

      = table.with_foot(classes: 'govuk-table__foot') do |foot|
        = foot.with_row do |row|
          = row.with_cell(header: true, classes: 'govuk-table__cell', html_attributes: { scope: 'row' }, text: t('shared.summary.total'))
          - unless claim.lgfs? && collection.any?(&:is_misc?)
            = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { colspan: '3' }, text: nil)
          = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.summary.amount') }, text: claim.send("#{section}_total"), numeric: true)
          = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.summary.vat_amount') }, text: claim.send("#{section}_vat"), numeric: true)
          = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.summary.total_amount') }, text: claim.send("#{section}_gross"), numeric: true)
