= body.with_row do |row|
  = row.with_cell(html_attributes: { 'data-label': t('shared.summary.fee_type') }) do
    - unless fee.is_transfer?
      = fee.fee_type&.description
      - if fee.sub_type.present?
        %span
          = fee.sub_type.description
      - if fee.case_uplift?
        %span
          = fee.case_numbers

  - unless @claim.lgfs? && fee.is_misc?
    = row.with_cell(html_attributes: { 'data-label': t('shared.summary.dates') }) do
      - if fee.date?
        = fee.date

        - if fee.is_graduated? && fee.claim.actual_trial_length
          = t('external_users.claims.graduated_fees.summary.actual_trial_length', count: fee.claim.actual_trial_length)

        - if fee.is_transfer? && fee.claim.actual_trial_length
          = t('external_users.claims.transfer_fee.summary.actual_trial_length_value', count: fee.claim.actual_trial_length)

        - if fee.fee_type.unique_code.eql?('BABAF')
          - if fee.first_day_of_trial
            = fee.first_day_of_trial

          - if fee.retrial_started_at
            = fee.retrial_started_at

        - if fee.dates_attended.any?
          = fee.dates_attended_delimited_string

    = row.with_cell(html_attributes: { 'data-label': t('shared.summary.quantity') }, numeric: true) do
      - if fee.calculated? || fee.is_graduated? || fee.is_transfer?
        = fee.quantity

    = row.with_cell(html_attributes: { 'data-label': t('shared.summary.rate') }, numeric: true) do
      - if fee.calculated?
        = fee.rate

  = row.with_cell(html_attributes: { 'data-label': t('shared.summary.amount') }, numeric: true) do
    - if fee.display_amount?
      = fee.amount

  = row.with_cell(html_attributes: { 'data-label': t('shared.summary.vat_amount') }, text: fee.vat, numeric: true)
  = row.with_cell(html_attributes: { 'data-label': t('shared.summary.total_amount') }, text: fee.gross, numeric: true)
