%h3.heading-medium
  = local_assigns.has_key?(:header) ? header : t('common.fees')
  - if local_assigns[:editable]
    = link_to 'Change', edit_polymorphic_path(claim, step: step), class: 'link-change'

%table{ class: 'summary', summary: t('.summary') }
  %caption
    %span.table-caption.visuallyhidden
      = t('.caption')
  %tbody
    - collection = local_assigns.has_key?(:collection) ? collection : claim.fees.select(&:present?)

    -# - NOTE: this check might need to be changed to check if the item passed in is a has_many or has_one
    -# - as we can have a single item for a has_many
    - if collection.many?
      - present_collection(collection.sort_by(&:position)).each.with_index(1) do |fee, index|
        %tr
          %th{ scope: 'row', class: 'bold' }
            = "#{t('shared.summary.fee')} #{index}"
          %td
            %table.nested-summary
              %tbody
                = render partial: 'external_users/claims/summary_fee', locals: { fee: fee }
    - else
      = render partial: 'external_users/claims/summary_fee', collection: present_collection(collection.sort_by(&:position)), as: :fee
