%h2.govuk-heading-l
  = local_assigns.has_key?(:header) ? header : t('common.fees')

- if local_assigns.has_key?(:unclaimed_fees_notice)
  = govuk_warning_text(unclaimed_fees_notice)

- if local_assigns[:editable]
  = govuk_link_to t('common.change_html', context: t('common.fees')), edit_polymorphic_path(claim, step: step, referrer: :summary), class: 'link-change'

-# TODO: Avoid use of these checks and just display info
-# based on configuration
- if claim.agfs? && %i[basic_fees fixed_fees].include?(step)
  = render partial: 'external_users/claims/advocate_category_summary', locals: { claim: claim }

  - if claim.discontinuance?
    = render partial: 'external_users/claims/prosecution_evidence_summary', locals: { claim: claim }

- if local_assigns.has_key?(:fee)
  - if fee
    %table.summary
      %caption.govuk-visually-hidden
        = t('.caption')
      %tbody
        = render partial: 'external_users/claims/summary_fee', locals: { fee: present(fee) }
  - else
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: step }
    - else
      %p
        = t("shared.summary.no_values.#{section}")
- else
  - collection = local_assigns.has_key?(:collection) ? collection : claim.fees.select(&:present?)
  - section = local_assigns.has_key?(:section) ? section : :fees

  - if collection.empty? || collection.all?(&:blank?)
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: step }
    - else
      %p
        = t("shared.summary.no_values.#{section}")
  - else
    - if section.to_s.eql?('basic_fees')
      %h3.govuk-heading-m
        = t('shared.summary.basic_fees')

    %table.summary
      %caption.govuk-visually-hidden
        = t('.caption')

      %thead
        %tr
          %th{ scope: 'col' }
            = t('shared.summary.fee_type')
          - unless claim.lgfs?
            %th{ scope: 'col' }
              = t('shared.summary.dates')
            %th.numeric{ scope: 'col' }
              = t('shared.summary.quantity')
            %th.numeric{ scope: 'col' }
              = t('shared.summary.rate')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.amount')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.vat_amount')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.total_amount')

      %tbody
        - present_collection(collection.sort_by(&:position)).each.with_index(1) do |fee, index|
          = render partial: 'external_users/claims/summary_fee', locals: { fee: fee }

      %tfoot
        %tr
          %th{ scope: 'row' }
            = t('shared.summary.total')
          - unless claim.lgfs?
            %td.numeric
              = ''
            %td.numeric
              = ''
            %td.numeric
              = ''
          %td.numeric
            = claim.send("#{section}_total")
          %td.numeric
            = claim.send("#{section}_vat")
          %td.numeric
            = claim.send("#{section}_gross")
