%legend.visuallyhidden
  Trial details
.bold-normal
  Trial details
%span.auto-width
  = f.anchored_label t('.first_day_of_trial')
  = f.gov_uk_date_field :first_day_of_trial
  = validation_error_message(@error_presenter, :first_day_of_trial)
%span.auto-width
  = f.anchored_label t('.estimated_trial_length')
  = f.number_field :estimated_trial_length, step: 1, min: 1
  = validation_error_message(@error_presenter, :estimated_trial_length)
%span.auto-width
  = f.anchored_label t('.actual_trial_length')
  = f.number_field :actual_trial_length, step: 1, min: 0
  = validation_error_message(@error_presenter, :actual_trial_length)
%span.auto-width
  = f.anchored_label t('.trial_concluded_at'), 'trial_concluded_at'
  = f.gov_uk_date_field :trial_concluded_at
  = validation_error_message(@error_presenter, :trial_concluded_at)
