%header.main-header{role: 'banner'}
  %h1
    = t('.archived_claims')

.container
  - if params[:search].present?
    = render partial: 'shared/search_summary'
  = render partial: 'search_form', locals: { archived: true }

- if @claims.present?
  .container#details
    = render partial: 'claims', locals: { claims: @claims }
    = paginate @claims
