= render partial: 'layouts/header', locals: {page_heading: t('.authorised_claims')}

.container.sub-header
  .hgroup
    %h2
      = "#{@claims.size} of #{@claims.total_count}"
      = t('.with_total_assessed_value_of')
      %span.numerical-value
        = number_to_currency(@total_value)

#details#listanchor
  = render partial: 'main_claims_list', locals: { claims: @claims }
  = paginate @claims
