= content_for :page_title, flush: true do
  = t('.page_title')

- present(@claim) do |claim|
  .govuk-grid-row
    .govuk-grid-column-full.govuk-body
      = govuk_panel t('.thanks'), t('.will_be_processed')

  .govuk-grid-row
    .govuk-grid-column-two-thirds.govuk-body
      %h2.govuk-heading-l
        = t('.what_happens_next')

      = raw t('.what_happens_next_prompt_html', external_users_root_url: external_users_root_url)

      - if claim.disk_evidence?
        = render partial: 'shared/disk_evidence_info', locals: { f: claim }

      .button-holder
        = link_to t('link.file_another_claim'), types_external_users_claims_path, { class: 'button btn-spacer-20', role: 'button' }

        = govuk_link_button_secondary(href: external_users_root_url) { t('link.view_claim') }
