- present(@claim) do |claim|
  .confirmation-header
    %h1.page-title.bold-large
      %img{:src => image_path('icons/tick-white.svg'), :alt => 'Success', :class => "confirmation-tick"}/
      = t('.thanks')

    .normal
      = t('.will_be_processed')

  .claim-confirmation
    %h2.heading-medium
      = t('.what_happens_next')

    = raw t('.what_happens_next_prompt')

    .button-holder
      = link_to t('link.file_another_claim'), types_external_users_claims_path, {class: 'btn-green btn-spacer-20', role: 'button'}
      = link_to t('link.view_claim'), external_users_root_url, {class: 'btn-gray', role: 'button'}
