= content_for :page_title, flush: true do
  = t('.page_title')

- present(@claim) do |claim|
  .govuk-grid-row
    .govuk-grid-column-full.govuk-body
      = govuk_panel(title_text: t('.thanks'), text: t('.will_be_processed'))

  .govuk-grid-row
    .govuk-grid-column-two-thirds.govuk-body
      %h2.govuk-heading-l
        = t('.what_happens_next')

      = raw t('.what_happens_next_prompt_html', external_users_root_url: external_users_root_url)

      - if claim.disk_evidence?
        = render partial: 'shared/disk_evidence_info', locals: { f: claim }

      .button-holder
        .govuk-button-group
          = govuk_button_link_to(t('link.file_another_claim'), new_external_users_claim_types_path)
          = govuk_button_link_to(t('link.view_claim'), external_users_root_url, secondary: true)
