%header.main-header{role: 'banner'}
  %h1
    - if current_user.persona.admin?
      = t('.all_claims')
    - else
      = t('.your_claims')
.container
  .financial-summary
    = render partial: 'financial_summary', locals: { financial_summary: @financial_summary }
  .claims-actions
    .importer-results
    = link_to t('link.add_claim'), new_external_users_claim_path, class: 'button button-get-started'
    .claims-importer#importer
      = render partial: 'json_document_importer'

= render partial: 'claims', locals: { claims: @claims }
= paginate @claims
