= content_for :page_title, flush: true do
  = t('.page_title')


= render partial: 'layouts/header', locals: { page_heading: your_claims_header }
= render partial: 'external_users/shared/timed_retention_banner'

.govuk-grid-row
  = render partial: 'financial_summary', locals: { financial_summary: @financial_summary }
  .govuk-grid-column-one-third
    %p.govuk-heading-l
      = govuk_button_start(t('link.add_claim'), new_external_users_claim_types_path)


= render partial: 'shared/scheme_filters', locals: { available_schemes: @available_schemes }

= render partial: 'shared/search_form', locals: { search_path: defined?(archived) && archived ? archived_external_users_claims_path(anchor: 'search-button') : external_users_claims_path(anchor: 'search-button'), hint_text: t('hint.search'), button_text: t('search.claims') }

.importer-results{'aria-live': 'polite'}

= render partial: 'main_claims_list', locals: { claims: @claims }
= paginate @claims
