-# Example of loading V2 CSS
-# = content_for :v2_stylesheets do
-#   = stylesheet_link_tag "v2/application", media: "all"

= render partial: 'layouts/header', locals: {page_heading: your_claims_header}
= render partial: 'external_users/shared/timed_retention_banner'

.container.sub-header
  .financial-summary
    = render partial: 'financial_summary', locals: { financial_summary: @financial_summary }
  .claims-actions
    = link_to t('link.add_claim'), types_external_users_claims_path, class: 'button button-start', role:'button'
    - unless scheme == :lgfs
      .claims-importer#importer
        = render partial: 'json_document_importer'

.container.search-wrapper#listanchor
  .grid-row
    .column-full
      = render partial: 'shared/scheme_filters', locals: { available_schemes: @available_schemes }
      = render partial: 'shared/search_form', locals: { search_path: defined?(archived) && archived ? archived_external_users_claims_path(anchor: 'listanchor') : external_users_claims_path(anchor: 'listanchor'), hint_text: t('hint.search'), button_text: t('search.claims') }
.container
  .importer-results{'aria-live': 'polite'}

= render partial: 'main_claims_list', locals: { claims: @claims }
= paginate @claims
