%header.main-header{role: 'banner'}
  %h1
    - if current_user.persona.admin?
      = t('.all_claims')
    - else
      = t('.your_claims')
.container.sub-header
  .financial-summary
    = render partial: 'financial_summary', locals: { financial_summary: @financial_summary }
  .claims-actions
    = link_to t('link.add_claim'), new_external_users_claim_path, class: 'button button-get-started'
    .claims-importer#importer
      = render partial: 'json_document_importer'

.container
  - if params[:search].present?
    = render partial: 'shared/search_summary'
  = render partial: 'search_form'
  .importer-results

  - if @claims.present?
    .claim-count
      %p
        = t('.show_count', total: @claims.total_count)
  - if @claims.present?
    = render partial: 'claims', locals: { claims: @claims }
    = paginate @claims
