= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: {page_heading: t('.page_heading')}

%p.govuk-heading-l
  %span.govuk-caption-l
    = t('.claims_value_html', size: @claims.unscope(:order).size, total: @claims.total_count)
  = number_to_currency(@total_value)

#details#listanchor
  = render partial: 'main_claims_list', locals: { claims: @claims }
  = paginate @claims
