= render partial: 'layouts/header', locals: {page_heading: t('.heading')}

.container.sub-header
  .hgroup
    %h2
      = "#{@claims.size} of #{@claims.total_count}"
      = t('.claims_value')
      %span.numerical-value
        = number_to_currency(@total_value)

#details
  = render partial: 'claims', locals: { claims: @claims }
  = paginate @claims
