= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: {page_heading: t('.page_heading')}

%p.govuk-heading-l
  %span.govuk-caption-l
    = t('.claims_value_html', size: @claims.unscope(:order).size, total: @pagy.count)
  = number_to_currency(@total_value)

#details#listanchor
  = render partial: 'main_claims_list', locals: { claims: @claims }

%nav.pagination.app-pagintion--inline
  = pagy_nav(@pagy).html_safe
