= render partial: 'layouts/header', locals: { page_heading: t('.heading') }

- present(@claim) do |claim|
  .grid-row.grid-sidebar
    .column-two-thirds.first
      .summary-wrapper
        = render partial: 'external_users/claims/summary_claims_content', locals: { claim: claim }

    .column-one-third.new-claim-sidebar.first
      = render partial: 'external_users/claims/summary_claims_sidebar', locals: { claim: claim, display_buttons: false }

  .form-section
    .form-group.form-buttons
      = link_to t('buttons.continue'), new_external_users_claim_certification_path(claim), { class: 'button button-continue', role: 'button', 'aria-label': t('.button_label') }
      = link_to t('buttons.save_a_draft'), external_users_root_path, { class: 'button button-gray-3', role: 'button' }
