= content_for :page_title, flush: true do
  = t(".#{@claim.agfs? ? 'agfs' : 'lgfs'}.#{@claim.type.underscore.gsub(/claim\//, '')}.page_title")

= render partial: 'layouts/header', locals: { page_heading: t(".#{@claim.agfs? ? 'agfs' : 'lgfs'}.#{@claim.type.underscore.gsub(/claim\//, '')}.page_heading") }


- present(@claim) do |claim|

  = render partial: 'unclaimed_fees_notice', locals: { unclaimed_fees: unclaimed_fees_list(claim), link: edit_polymorphic_path(claim, step: :miscellaneous_fees, referrer: :summary) }

  %p
    = t('external_users.claims.check_your_claim.help_text')

  - unless claim.invalid_steps.empty?
    = govuk_inset_text do
      %h2.govuk-heading-s
        = t('external_users.claims.check_your_claim.missing_information.header')
      %p
        = t('external_users.claims.check_your_claim.missing_information.help_text')

      %ul.govuk-list.govuk-list--bullet
        - claim.summary_sections.each do |section, associated_step|
          - if claim.invalid_steps.include?(associated_step)
            %li
              = t("external_users.claims.#{section}.summary.header")

  .govuk-grid-row
    .govuk-grid-column-full
      .app-cost-summary-section
        %h2.govuk-heading-l
          = t('.page_heading')

        = render partial: 'external_users/claims/final_claim_cost_summary', locals: { claim: claim }

        .govuk-button-group
          = govuk_link_button(t('buttons.continue'), new_external_users_claim_certification_path(claim))
          = govuk_link_button_secondary(t('buttons.save_a_draft'), external_users_root_path)
          = govuk_link_button_warning(t('buttons.delete_draft'), external_users_claim_path(claim), 'data-confirm': 'Are you sure?', 'data-method': 'delete')

  .govuk-grid-row
    .govuk-grid-column-full
      = render partial: 'shared/summary/summary_claims_content', locals: { claim: claim }
