- claims_scope = 'external_users.claims'
#misc-fees.mod-fees
  %h2.bold-medium
    = t('.misc_fees')
  .form-hint.xsmall
    = t('hints.fees_header_prompt_text_html', scope: claims_scope)
    = t('prep_forms.advocates_html')

  .misc-fee-group-wrapper
    = f.fields_for :misc_fees do |misc_fee_fields|
      - @misc_fee_count += 1
      = render partial: 'external_users/claims/misc_fees/misc_fee_fields', locals: {f: misc_fee_fields }

  = link_to_add_association t('.add_misc_fee'), f, :misc_fees, partial: 'external_users/claims/misc_fees/misc_fee_fields', data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'div'}
