%fieldset.nested-fields.indent-fieldset#cracked_trial_detail
  %legend.visuallyhidden
    = t('.cracked_trial_detail')
  .bold-normal
    = t('.cracked_trial_detail')
  .form-hint.xsmall.zero-vert-margin
    &nbsp;

  #cracked-trial-fields
    .form-row

      .form-col.form-col-two-thirds
        = f.gov_uk_date_field(:trial_fixed_notice_at, legend_text: t('.trial_fixed_notice_at'), legend_class: 'govuk-legend', id: "trial_fixed_notice_at", error_messages: gov_uk_date_field_error_messages(@error_presenter, :trial_fixed_notice_at))
    .form-row
      .form-col.form-col-two-thirds
        = f.gov_uk_date_field(:trial_fixed_at, legend_text: t('.trial_fixed_at'), legend_class: 'govuk-legend', id: "trial_fixed_at",error_messages: gov_uk_date_field_error_messages(@error_presenter, :trial_fixed_at))
    .form-row
      .form-col.form-col-two-thirds
        = f.gov_uk_date_field(:trial_cracked_at, legend_text: t('.trial_cracked_at'), legend_class: 'govuk-legend', id: "trial_cracked_at", error_messages: gov_uk_date_field_error_messages(@error_presenter, :trial_cracked_at))

    = f.anchored_label t('.trial_cracked_at_third'), 'trial_cracked_at_third'
    %div.form-group.inline
      = f.collection_radio_buttons(:trial_cracked_at_third, Settings.trial_cracked_at_third, :to_s, :humanize) do |b|
        - b.label(class: "block-label") { b.radio_button + b.text }
    = validation_error_message(@error_presenter, :trial_cracked_at_third)
