#cracked-trial-dates{ class: @claim&.case_type&.requires_cracked_dates? ? nil : 'hidden' }
  %h3.govuk-heading-m
    = t('.cracked_trial_details')

  #trial_fixed_notice_at
    = f.govuk_date_field :trial_fixed_notice_at,
      maxlength_enabled: true,
      legend: { text: t('.trial_fixed_notice_at') },
      hint: { text: t('.date_hint') }

  #trial_fixed_at
    = f.govuk_date_field :trial_fixed_at,
      maxlength_enabled: true,
      legend: { text: t('.trial_fixed_at') },
      hint: { text: t('.date_hint') }

  - unless @claim.hardship?
    #trial_cracked_at
      = f.govuk_date_field :trial_cracked_at,
        maxlength_enabled: true,
        legend: { text: t('.trial_cracked_at') },
        hint: { text: t('.date_hint') }

  = f.govuk_collection_radio_buttons :trial_cracked_at_third,
    Settings.trial_cracked_at_third,
    :to_s,
    :humanize,
    legend: { text: @claim.hardship? ? t('.trial_cracked_at_third.hardship') : t('.trial_cracked_at_third.default') }
