#cracked-trial-dates.form-section{ class: @claim&.case_type&.requires_cracked_dates? ? '' : 'hidden', 'aria-labelledby': 'cracked-trial-dates-heading' }
  %h3#cracked-trial-dates-heading.govuk-heading-m
    = t('.cracked_trial_details')

  = f.gov_uk_date_field(:trial_fixed_notice_at, legend_text: t('.trial_fixed_notice_at'), legend_class: 'govuk-legend', form_hint_text: t('.date_hint'), id: "trial_fixed_notice_at", error_messages: gov_uk_date_field_error_messages(@error_presenter, :trial_fixed_notice_at))

  = f.gov_uk_date_field(:trial_fixed_at, legend_text: t('.trial_fixed_at'), legend_class: 'govuk-legend', form_hint_text: t('.date_hint'), id: "trial_fixed_at",error_messages: gov_uk_date_field_error_messages(@error_presenter, :trial_fixed_at))

  - unless @claim.hardship?
    = f.gov_uk_date_field(:trial_cracked_at, legend_text: t('.trial_cracked_at'), legend_class: 'govuk-legend', form_hint_text: t('.date_hint'), id: "trial_cracked_at", error_messages: gov_uk_date_field_error_messages(@error_presenter, :trial_cracked_at))

  .form-group
    %fieldset{"aria-describedby": "radio-control-legend-cracked-trial"}
      %legend#radio-control-legend-cracked-trial.form-label-bold
        = @claim.hardship? ? t('.trial_cracked_at_third.hardship') : t('.trial_cracked_at_third.default')

      = f.collection_radio_buttons(:trial_cracked_at_third, Settings.trial_cracked_at_third, :to_s, :humanize) do |b|
        .multiple-choice
          = b.radio_button("aria-labelledby": "radio-control-legend-cracked-trial #{b.text.to_css_class}")
          = b.label(id: b.text.to_css_class) { b.text }

  = validation_error_message(@error_presenter, :trial_cracked_at_third)
