.form-section{ id: @claim.form_step }
  - if @claim.agfs? && @external_user.admin?
    = render partial: 'external_users/claims/case_details/advocate_fields', locals: { f: f }

  = f.adp_text_field :providers_ref, label: t('common.external_user.providers_ref'), errors: @error_presenter, hint_text: t('common.external_user.providers_ref_hint')

  - if @claim.requires_case_type?
    = render partial: 'external_users/claims/case_details/case_type_fields', locals: { f: f }

  #cc-court.form-group{ class: error_class?(@error_presenter, :court) ? 'form-group-error dropdown_field_with_errors' : '' }
    %label.form-label-bold{ for: 'court' }
      = t('.court')
      .form-hint.xsmall.zero-vert-margin
        = t('.court_hint')
      = validation_error_message(@error_presenter, :court)

    = f.collection_select :court_id, Court.alphabetical, :id, :name, { include_blank: ''.html_safe }, { class: 'form-control fx-autocomplete', id: 'court', 'aria-label': t('.court') }


  = f.adp_text_field :case_number,
    label: t('.case_number'),
    hint_text: t('.case_number_hint'),
    errors: @error_presenter

  = render partial: 'external_users/claims/case_details/transfer_court_question_fields', locals: { f: f }

- if @claim.agfs? && !@claim.interim?
  = render partial: 'external_users/claims/case_details/cracked_trial_fields', locals: { f: f }
  = render partial: 'external_users/claims/case_details/trial_detail_fields', locals: { f: f }
  = render partial: 'external_users/claims/case_details/retrial_detail_fields', locals: { f: f }

- if @claim.requires_case_concluded_date?
  .form-row
    .form-col.form-col-two-thirds.case-concluded-date
      = render partial: 'external_users/claims/case_details/case_concluded_date', locals: { f: f }
