.form-section{id: @claim.form_step}
  - if @claim.agfs? && @external_user.admin?
    = render partial: 'external_users/claims/case_details/advocate_fields', locals: { f: f }

  = f.adp_text_field :providers_ref, label: t('common.external_user.providers_ref'), errors: @error_presenter, hint_text: t('common.external_user.providers_ref_hint')

  - if @claim.requires_case_type?

    #cc-case-type.form-group{class: error_class?(@error_presenter, :case_type)}
      %a{:id => "case_type"}
      %label.form-label-bold{:for => "claim_case_type_id"}
        = t('.case_type')
      .form-hint.xsmall.zero-vert-margin
        = t('.case_type_hint')

      = f.select :case_type_id, @case_types.map{ |ct| [ct.name, ct.id, {data: {'is-fixed-fee' => ct.is_fixed_fee?, 'requires-cracked-dates' => ct&.requires_cracked_dates?, 'requires-retrial-dates' => ct&.requires_retrial_dates?, 'requires-trial-dates' => ct&.requires_trial_dates?}}] }, { include_blank: ''.html_safe }, { class: 'form-control fx-autocomplete' }
      = validation_error_message(@error_presenter, :case_type)

  #cc-court.form-group{class: error_class?(@error_presenter, :court)}
    %a{:id => "court"}
    %label.form-label-bold{:for => "claim_court_id"}
      = t('.court')

    .form-hint.xsmall.zero-vert-margin
      = t('.court_hint')
    = f.collection_select :court_id, Court.alphabetical, :id, :name, { include_blank: ''.html_safe }, { class: 'form-control fx-autocomplete' }

    %div.clean
      = validation_error_message(@error_presenter, :court)


  = f.adp_text_field :case_number,
    label: t('.case_number'),
    hint_text: t('.case_number_hint'),
    errors: @error_presenter

  .form-group
    %fieldset{"aria-describedby": "radio-control-legend-transfer"}
      %legend#radio-control-legend-transfer
        %h2.heading-medium
          = t('.case_transferred_from_another_court')

      = f.collection_radio_buttons(:case_transferred_from_another_court, yes_no_options.reverse, :last, :first ) do |b|
        .multiple-choice{ 'data-target' => b.value.to_bool ? 'transfer-court-details' : nil }
          = b.radio_button("aria-labelledby": "radio-control-legend-transfer #{b.text.to_css_class}")
          = b.label(id: b.text.to_css_class) { b.text }

        - if b.value.to_bool
          #transfer-court-details.panel.panel-border-narrow.js-hidden
            = render partial: 'external_users/claims/case_details/transfer_court_fields', locals: { f: f }

- if @claim.agfs? && !@claim.interim?
  = render partial: 'external_users/claims/case_details/cracked_trial_fields', locals: { f: f }
  = render partial: 'external_users/claims/case_details/trial_detail_fields', locals: { f: f }
  = render partial: 'external_users/claims/case_details/retrial_detail_fields', locals: { f: f }

- if @claim.requires_case_concluded_date?
  .form-row
    .form-col.form-col-two-thirds.case-concluded-date
      = render partial: 'external_users/claims/case_details/case_concluded_date', locals: { f: f }
