.form-section{ id: @claim.form_step }
  - if @claim.agfs? && @external_user.admin?
    = render partial: 'external_users/claims/case_details/advocate_fields', locals: { f: f }

  = f.govuk_text_field :providers_ref,
    hint: { text: t('common.external_user.providers_ref_hint') },
    label: { text: t('common.external_user.providers_ref') },
    width: 'one-half'

  - if @claim.lgfs?
    = render partial: 'external_users/claims/case_details/london_rates', locals: { f: f }

  - if @claim.requires_case_type?
    = render partial: 'external_users/claims/case_details/case_type_fields', locals: { f: f }

  = f.govuk_collection_select :court_id,
    Court.alphabetical,
    :id,
    :name,
    form_group: { class: ['fx-autocomplete-wrapper'], id: 'cc-court' },
    hint: { text: t('.court_hint') },
    label: { text: t('.court') },
    options: { include_blank: '' }

  = f.govuk_text_field :case_number,
    hint: { text: t('.case_number_or_urn_hint') },
    label: { text: t('.case_number_or_urn') },
    width: 'one-half'

  = f.govuk_date_field :main_hearing_date,
    form_group: { id: 'main_hearing_date' },
    hint: { text: t('.main_hearing_date_hint_html') },
    legend: { text: t('.main_hearing_date'), size: 's' },
    maxlength_enabled: true

  = render partial: 'external_users/claims/case_details/transfer_court_question_fields', locals: { f: f }

- if @claim.agfs? && !@claim.interim?
  = render partial: 'external_users/claims/case_details/cracked_trial_fields', locals: { f: f }
  = render partial: 'external_users/claims/case_details/trial_detail_fields', locals: { f: f }
  = render partial: 'external_users/claims/case_details/retrial_detail_fields', locals: { f: f }

- if @claim.requires_case_concluded_date?
  = render partial: 'external_users/claims/case_details/case_concluded_date', locals: { f: f }
