%h2.bold-medium
  = t('.case_details')

- if @claim.agfs?
  %fieldset
    %span
      = f.anchored_without_label t('.advocate_category')
      %label.form-label{:for => "claim_advocate_category"}
        = t('.advocate_category')
      .form-hint
        = t('general.radio_button_hint')
    .form-group{class: error_class?(@error_presenter, :advocate_category)}
      = f.collection_radio_buttons(:advocate_category, Settings.advocate_categories.sort, :to_s, :to_s) do |b|
        - b.label(class: "block-label") { b.radio_button + b.value.to_s }
      = validation_error_message(@error_presenter, :advocate_category)

%fieldset


%fieldset
  .form-group
    - if @claim.agfs? && @external_user.admin?
      .form-row.js-typeahead
        .form-col.forced-width{class: error_class?(@error_presenter, :external_user)}
          %a{:id => :external_user}
          %label.form-label{:for => "claim_external_user_id_input"}
            = t('.advocate')
          .form-hint
            = t('.advocate_hint')
          = f.collection_select :external_user_id, @provider.advocates, :id, :name_and_number, { include_blank: ''.html_safe }, {class: 'form-control typeahead'}
          = validation_error_message(@error_presenter, :external_user)

    .form-row
      .form-col.forced-width
        = f.adp_text_field :providers_ref, label: t('common.external_user.providers_ref'), errors: @error_presenter, hint_text: t('common.external_user.providers_ref_hint')



    - if @claim.requires_case_type?
      .form-row.js-typeahead
        .form-col{class: error_class?(@error_presenter, :case_type)}
          %a{:id => "case_type"}
          %label.form-label{:for => "claim_case_type_id_input"}
            = t('.case_type')
          .form-hint.xsmall.zero-vert-margin
            = "For example Trial"
          = f.select :case_type_id, @case_types.map{ |ct| [ct.name, ct.id, {data: {'is-fixed-fee' => ct.is_fixed_fee?}}] }, { include_blank: ''.html_safe }, { class: 'form-control typeahead' }
          = validation_error_message(@error_presenter, :case_type)

    .form-row.js-typeahead
      .form-col{class: error_class?(@error_presenter, :court)}
        %a{:id => "court"}
        %label.form-label{:for => "claim_court_id_input"}
          = t('.court')

        .form-hint.xsmall.zero-vert-margin
          = "For example Cardiff"
        = f.collection_select :court_id, Court.alphabetical, :id, :name, { include_blank: ''.html_safe }, { class: 'form-control typeahead' }

        %div.clean
          = validation_error_message(@error_presenter, :court)

      .form-col
        = f.adp_text_field :case_number,
                            label: t('.case_number'),
                            hint_text: 'For example A20161234',
                            errors: @error_presenter

    .form-row.js-typeahead
      .form-col{class: error_class?(@error_presenter, :transfer_court)}
        %span#transfer_court.visually-hidden
        = f.anchored_label t('.transfer_court'), 'transfer_court_id_input', { label_attributes: { class: 'form-label' } }
        .form-hint.xsmall.zero-vert-margin
          = "For example Cardiff"
        = f.collection_select :transfer_court_id, Court.alphabetical, :id, :name, { include_blank: ''.html_safe }, { class: 'form-control typeahead' }
        = validation_error_message(@error_presenter, :transfer_court)

      .cssfix.form-col.form-col-two-thirds{class: error_class?(@error_presenter, :transfer_case_number)}
        = f.adp_text_field :transfer_case_number, label: t('.transfer_case_number'), hint_text: 'For example A20161234', input_classes: 'medium-input',  errors: @error_presenter


- if @claim.agfs?
  = render partial: 'external_users/claims/case_details/cracked_trial_fields', locals: { f: f }
  = render partial: 'external_users/claims/case_details/trial_detail_fields', locals: { f: f }
  = render partial: 'external_users/claims/case_details/retrial_detail_fields', locals: { f: f }

- if @claim.requires_case_concluded_date?
  .form-row
    .form-col.form-col-two-thirds.case-concluded-date
      = render partial: 'external_users/claims/case_details/case_concluded_date', locals: { f: f }
