#retrial-dates.form-section{ class: @claim&.case_type&.requires_retrial_dates? ? '' : 'hidden', 'aria-labelledby': 'retrial-dates-heading' }
  %h3#retrial-dates-heading.heading-medium
    = t('.retrial_detail')

  -# div#retrial_started_at
  = f.govuk_date_field :retrial_started_at,
    legend: { text: t('.retrial_started_at') },
    hint: { text: t('.date_hint') }

  -# div#retrial_concluded_at
  = f.govuk_date_field :retrial_concluded_at,
    legend: { text: t('.retrial_concluded_at') },
    hint: { text: t('.date_hint') }

  = f.govuk_text_field :retrial_estimated_length,
    label: { text: t('.retrial_estimated_length') },
    hint: { text: t('.retrial_estimated_length_hint') },
    pattern: '[0-9]*',
    inputmode: 'numeric',
    width: 3

  = f.govuk_text_field :retrial_actual_length,
    label: { text: t('.retrial_actual_length') },
    hint: { text: t('.retrial_actual_length_hint') },
    pattern: '[0-9]*',
    inputmode: 'numeric',
    width: 3

  = f.govuk_collection_radio_buttons :retrial_reduction,
    [['Yes','true'],['No','false']],
    :last,
    :first,
    legend: { text: t('.retrial_reduction') }

  = govuk_detail t('.retrial_reduction_help_link') do
    = t('.retrial_reduction_help_html')
