#retrial-dates{ class: trial_dates_fields_classes(@claim&.case_type&.requires_retrial_dates?) }
  %h3.govuk-heading-m
    = t('.retrial_detail')

  = f.govuk_date_field :retrial_started_at,
    form_group: { id: 'retrial_started_at' },
    hint: { text: t('.date_hint') },
    legend: { text: t('.retrial_started_at'), size: 's' },
    maxlength_enabled: true

  = f.govuk_date_field :retrial_concluded_at,
    form_group: { id: 'retrial_concluded_at' },
    hint: { text: t('.date_hint') },
    legend: { text: t('.retrial_concluded_at'), size: 's' },
    maxlength_enabled: true

  = f.govuk_text_field :retrial_estimated_length,
    hint: { text: t('.retrial_estimated_length_hint') },
    inputmode: 'numeric',
    label: { text: t('.retrial_estimated_length') },
    pattern: '[0-9]*',
    width: 3

  = f.govuk_text_field :retrial_actual_length,
    hint: { text: t('.retrial_actual_length_hint') },
    inputmode: 'numeric',
    label: { text: t('.retrial_actual_length') },
    pattern: '[0-9]*',
    width: 3

  = f.govuk_collection_radio_buttons :retrial_reduction,
    [['Yes','true'],['No','false']],
    :last,
    :first,
    legend: { text: t('.retrial_reduction'), size: 's' }

  = govuk_details(summary_text: t('.retrial_reduction_help_link'), text: t('.retrial_reduction_help_html'))
