%fieldset.nested-fields.indent-fieldset#retrial-details
  %legend.visuallyhidden
    Retrial details
  .bold-normal
    Retrial details
  .form-hint.xsmall.zero-vert-margin
    &nbsp;

  .form-row
    .form-col.form-col-one-half
      = f.gov_uk_date_field(:retrial_started_at, legend_text: t('.retrial_started_at'), legend_class: 'govuk-legend', id: "retrial_started_at", error_messages: gov_uk_date_field_error_messages(@error_presenter, :retrial_started_at))

    .form-col
      %fieldset
        %legend.govuk-legend |
          = t('.retrial_estimated_length')
        .form-date
          %p.form-hint |
            = t('.retrial_estimated_length_hint')

        .form-group.form-group-day
          = f.adp_text_field :retrial_estimated_length, label: t('.days'), input_classes:'short-input', input_type: 'number', errors: @error_presenter

  .form-row
    .form-col.form-col-one-half
      = f.gov_uk_date_field(:retrial_concluded_at, legend_text: t('.retrial_concluded_at'), legend_class: 'govuk-legend', id: "retrial_concluded_at", error_messages: gov_uk_date_field_error_messages(@error_presenter, :retrial_concluded_at))

    .form-col
      %fieldset
        %legend.govuk-legend |
          = t('.retrial_actual_length')
        .form-date
          %p.form-hint |
            = t('.retrial_actual_length_hint')

        .form-group.form-group-day
          = f.adp_text_field :retrial_actual_length, label: t('.days'), input_classes:'short-input', input_type: 'number', errors: @error_presenter

  .form-row
    %fieldset
      = f.anchored_label t('.retrial_reduction'), 'retrial_reduction'
      = f.collection_radio_buttons(:retrial_reduction, [['Yes','true'],['No','false']], :last, :first ) do |b|
        = b.label(class: "block-label") { b.radio_button + b.text }
