- locale_path = "external_users.claims.case_details.fields"
- cracked_trial_detail_translations = 'external_users.claims.case_details.cracked_trial_fields'
- trial_detail_translations = 'external_users.claims.case_details.trial_detail_fields'
- retrial_detail_translations = 'external_users.claims.case_details.retrial_detail_fields'

%table
  %caption
    %span.table-caption.visuallyhidden
      = "Case details"
  %colgroup
    %col
    %col
  %tbody
    %tr
      - if claim.agfs?
        %th{scope: 'row'}
          = t("#{locale_path}.advocate_category")
        %td
          = claim.advocate_category

    %tr
      %th{scope: 'row'}
        = t(claim.external_user_type)
      %td
        = claim.external_user.name

    %tr
      %th{scope: 'row'}
        = t("common.crown_court")
      %td
        = claim.court.name if claim.court

    %tr
      %th{scope: 'row'}
        = t("#{locale_path}.case_number")
      %td
        = claim.case_number

    %tr
      %th{scope: 'row'}
        = t("#{locale_path}.case_type")
      %td
        = claim.case_type.try(:name)

    %tr
      %th{scope: 'row'}
        = t("#{locale_path}.offence_category")
      %td
        = claim.offence ? claim.offence.description : t("general.not_provided")

    %tr
      %th{scope: 'row'}
        = t("#{locale_path}.offence_class")
      %td
        = claim.offence ? claim.offence.offence_class : t("general.not_provided")

    - if claim.lgfs? || claim.interim?
      %tr
        %th{scope: 'row'}
          = t('external_users.claims.case_details.case_concluded_date.case_concluded_at')
        %td
          = claim.case_concluded_at

    - unless claim.interim?
      - if claim.case_type && claim.case_type.requires_cracked_dates
        %tr
          %th{scope: 'row'}
            = t("#{cracked_trial_detail_translations}.trial_fixed_notice_at")
          %td
            = claim.trial_fixed_notice_at.strftime('%d/%m/%Y') rescue ''
        %tr
          %th{scope: 'row'}
            = t("#{cracked_trial_detail_translations}.trial_fixed_at")
          %td
            = claim.trial_fixed_at.strftime('%d/%m/%Y') rescue ''
        %tr
          %th{scope: 'row'}
            = t("#{cracked_trial_detail_translations}.trial_cracked_at")
          %td
            = claim.trial_cracked_at.strftime('%d/%m/%Y') rescue ''
        %tr
          %th{scope: 'row'}
            = t("#{cracked_trial_detail_translations}.trial_cracked_at_third")
          %td
            = claim.trial_cracked_at_third.humanize rescue ''

      - if claim.case_type && claim.case_type.requires_trial_dates
        %tr
          %th{scope: 'row'}
            = t("#{trial_detail_translations}.first_day_of_trial")
          %td
            = claim.first_day_of_trial.strftime('%d/%m/%Y') rescue ''
        %tr
          %th{scope: 'row'}
            = t("#{trial_detail_translations}.estimated_trial_length")
          %td
            = claim.estimated_trial_length rescue ''
        %tr
          %th{scope: 'row'}
            = t("#{trial_detail_translations}.actual_trial_length")
          %td
            = claim.actual_trial_length rescue ''
        %tr
          %th{scope: 'row'}
            = t("#{trial_detail_translations}.trial_concluded_at")
          %td
            = claim.trial_concluded_at.strftime('%d/%m/%Y') rescue ''

      - if claim.case_type && claim.case_type.requires_retrial_dates
        %tr
          %th{scope: 'row'}
            = t("#{retrial_detail_translations}.retrial_started_at")
          %td
            = claim.retrial_started_at.strftime('%d/%m/%Y') rescue ''
        %tr
          %th{scope: 'row'}
            = t("#{retrial_detail_translations}.retrial_estimated_length")
          %td
            = claim.retrial_estimated_length rescue ''
        %tr
          %th{scope: 'row'}
            = t("#{retrial_detail_translations}.retrial_actual_length")
          %td
            = claim.retrial_actual_length rescue ''
        %tr
          %th{scope: 'row'}
            = t("#{retrial_detail_translations}.retrial_concluded_at")
          %td
            = claim.retrial_concluded_at.strftime('%d/%m/%Y') rescue ''
