.form-row.js-typeahead
  .form-col.forced-width{class: error_class?(@error_presenter, :transfer_court)}
    %span#transfer_court.visually-hidden
    = f.anchored_label t('.transfer_court'), 'transfer_court_id_input', { label_attributes: { class: 'form-label' } }
    .form-hint.xsmall.zero-vert-margin
      = t('.transfer_court_hint')
    = f.collection_select :transfer_court_id, Court.alphabetical, :id, :name, { include_blank: ''.html_safe }, { class: 'form-control typeahead' }
    = validation_error_message(@error_presenter, :transfer_court)

.form-row.js-typeahead
  .cssfix.form-col.form-col-two-thirds{class: error_class?(@error_presenter, :transfer_case_number)}
    = f.adp_text_field :transfer_case_number, label: t('.transfer_case_number'), hint_text: t('.transfer_case_number_hint'), input_classes: 'medium-input',  errors: @error_presenter
