#trial-dates.form-section{ class: @claim&.case_type&.requires_trial_dates? ? '' : 'hidden', 'aria-labelledby': 'trial-dates-heading' }
  %h3#trial-dates-heading.govuk-heading-m
    = t('.trial_detail')

  = f.gov_uk_date_field(:first_day_of_trial, legend_text: t('.first_day_of_trial'), legend_class: 'govuk-legend', form_hint_text: t('.date_hint'), id: "first_day_of_trial", error_messages: gov_uk_date_field_error_messages(@error_presenter, :first_day_of_trial))

  = f.gov_uk_date_field(:trial_concluded_at, legend_text: t('.trial_concluded_at'), legend_class: 'govuk-legend', form_hint_text: t('.date_hint'), id: "trial_concluded_at", error_messages: gov_uk_date_field_error_messages(@error_presenter, :trial_concluded_at))

  = f.adp_text_field :estimated_trial_length, label: t('.estimated_trial_length'), hint_text: t('.estimated_trial_length_hint'), input_classes:'form-control-1-8', input_type: 'number', errors: @error_presenter

  = f.adp_text_field :actual_trial_length, label: t('.actual_trial_length'), hint_text: t('.actual_trial_length_hint'), input_classes:'form-control-1-8', input_type: 'number', errors: @error_presenter
