#trial-dates.form-section{ class: @claim&.case_type&.requires_trial_dates? ? '' : 'hidden', 'aria-labelledby': 'trial-dates-heading' }
  %h3#trial-dates-heading.heading-medium
    = t('.trial_detail')

  -# div#first_day_of_trial
  = f.govuk_date_field :first_day_of_trial,
    legend: { text: t('.first_day_of_trial') },
    hint: { text: t('.date_hint') }

  -# div#trial_concluded_at
  = f.govuk_date_field :trial_concluded_at,
    legend: { text: t('.trial_concluded_at') },
    hint: { text: t('.date_hint') }

  = f.govuk_text_field :estimated_trial_length,
    label: { text: t('.estimated_trial_length') },
    hint: { text: t('.estimated_trial_length_hint') },
    pattern: '[0-9]*',
    inputmode: 'numeric',
    width: 3

  = f.govuk_text_field :actual_trial_length,
    label: { text: t('.actual_trial_length') },
    hint: { text: t('.actual_trial_length_hint') },
    pattern: '[0-9]*',
    inputmode: 'numeric',
    width: 3
