%fieldset.nested-fields.indent-fieldset#trial-details
  %legend.visuallyhidden
    Trial details
  .bold-normal
    Trial details
  .form-hint.xsmall.zero-vert-margin
    &nbsp;

  .form-row
    .form-col.form-col-one-half
      = f.gov_uk_date_field(:first_day_of_trial, legend_text: t('.first_day_of_trial'), legend_class: 'govuk-legend', id: "first_day_of_trial", error_messages: gov_uk_date_field_error_messages(@error_presenter, :first_day_of_trial))

    .form-col
      %fieldset
        %legend.govuk-legend |
          = t('.estimated_trial_length')
        .form-date
          %p.form-hint |
            = t('.estimated_trial_length_hint')

        .form-group.form-group-day
          = f.adp_text_field :estimated_trial_length, label: t('.days'), input_classes:'short-input', input_type: 'number', errors: @error_presenter

  .form-row

    .form-col.form-col-one-half
      = f.gov_uk_date_field(:trial_concluded_at, legend_text: t('.trial_concluded_at'), legend_class: 'govuk-legend', id: "trial_concluded_at", error_messages: gov_uk_date_field_error_messages(@error_presenter, :trial_concluded_at))

    .form-col
      %fieldset
        %legend.govuk-legend |
          = t('.actual_trial_length')
        .form-date
          %p.form-hint |
            = t('.actual_trial_length_hint')

        .form-group.form-group-day
          = f.adp_text_field :actual_trial_length, label: t('.days'), input_classes:'short-input', input_type: 'number', errors: @error_presenter


