= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'external_users/claims/api_promo_banner', locals: { claim: @claim }

#fees-header.form-group
  %h2.govuk-heading-l
    = t('.page_header')

= render partial: 'external_users/claims/transfer_fee/detail_fields', locals: { f: f }
