= render partial: 'layouts/header', locals: {page_heading: 'Manage users'}
%h2
  = "Change password for #{@external_user.name}"

= form_for [:super_admins, @external_user], url: update_password_super_admins_provider_external_user_path(@provider, @external_user) do |f|
  - if @external_user.user.errors.any?
    .validation-summary
      %h3.heading-small= "#{t('.prohibited_save')} #{pluralize(@external_user.user.errors.count, 'error')}"
      %ul
        - @external_user.user.errors.full_messages.each do |msg|
          %li= msg

  = f.fields_for :user do |user_fields|
    %fieldset.user-form
      = user_fields.label t(".password"), class: "form-label"
      = user_fields.password_field :password, class: "form-control"
      = user_fields.label t(".password_confirmation"), class: "form-label"
      = user_fields.password_field :password_confirmation, class: "form-control"

  = f.submit t(".submit"), class: "button"
