= content_for :page_title, flush: true do
  = t('.page_title', username: @external_user.name)

= render partial: 'layouts/header', locals: {page_heading:  'Manage users'}

%h2.heading-medium
  = t('.heading')

= render 'form'
