= render partial: 'layouts/header', locals: {page_heading:  'Search for user by email'}

= form_for(:external_user, url: super_admins_external_users_find_path) do |f|
  .form-group
    = f.label t(".email"), class: "form-label"
    = f.email_field :email, class: "form-control"

  = f.submit t('.submit'), class: "button"
