= render partial: 'layouts/header', locals: {page_heading: 'Manage Users'}
%h2.heading-medium.left
  = "Users in #{@provider.name}"

.grid-row.clear-float
  = link_to "Add user to provider", new_super_admins_provider_external_user_path(@provider), class: 'button right'

%table.external_users_table
  %thead
    %th
      = t('.name')
    %th
      = t('.supplier_number')
    %th
      = t('.email')
    %th
      State
  %tbody
    - @external_users.each do |advocate|
      %tr
        %td
          = advocate.active? ? link_to(advocate.name, super_admins_provider_external_user_path(@provider, advocate)) : advocate.name
        %td
          = advocate.supplier_number
        %td
          = mail_to advocate.email, advocate.email, {title: "Email #{advocate.name}"}
        %td
          = advocate.active? ? "Live"  : "Inactive"
