= render partial: 'layouts/header', locals: {page_heading: 'Manage users'}

%h2
  = @external_user.email

%p
  Provider:
  = link_to @external_user.provider.name, super_admins_provider_path(@provider)

%p
  Name:
  = @external_user.name

%p
  Supplier number:
  = @external_user.supplier_number

%p
  VAT Registered:
  = @external_user.vat_registered? ? 'Yes' : 'No'

%p
  Role:
  = @external_user.roles.map(&:humanize).join(', ')

- if can? :edit, @external_user
  = link_to 'Edit', edit_super_admins_provider_external_user_path(@provider, @external_user), class: 'button'

- if can? :change_password, @external_user
  = link_to 'Change password', change_password_super_admins_provider_external_user_path(@provider, @external_user), class: 'button'
