- if claims.none?
  %p
    = t(".no_claims_found")
- else
  %table.claims_table
    %thead
      %th
        = link_to t(".case_number"), advocates_claims_path(sort: 'case_number', direction: params[:direction] == 'asc' ? 'desc' : 'asc')
      - if current_user.persona.admin?
        %th
          = link_to t(".advocate"), advocates_claims_path(sort: 'advocate', direction: params[:direction] == 'asc' ? 'desc' : 'asc')
      %th
        = link_to t(".defendants"), advocates_claims_path(sort: 'defendants', direction: params[:direction] == 'asc' ? 'desc' : 'asc')
      %th
        = link_to t(".total"), advocates_claims_path(sort: 'total', direction: params[:direction] == 'asc' ? 'desc' : 'asc')
      %th
        = link_to t(".assessed"), advocates_claims_path(sort: 'amount_assessed', direction: params[:direction] == 'asc' ? 'desc' : 'asc')
      %th
        = link_to t(".status"), advocates_claims_path(sort: 'state', direction: params[:direction] == 'asc' ? 'desc' : 'asc')
      %th
        = link_to t(".submission_date"), advocates_claims_path(sort: 'submitted_at', direction: params[:direction] == 'asc' ? 'desc' : 'asc')
      %th
        = link_to t(".messages"), advocates_claims_path(sort: 'messages', direction: params[:direction] == 'asc' ? 'desc' : 'asc')
    %tbody
      - claims.each do |claim_object|
        - present(claim_object) do |claim|
          %tr{id: dom_id(claim),class: claim.state}
            %td
              = link_to (claim.case_number.blank? ? 'not-provided' : claim.case_number), advocates_claim_path(claim), class: "js-test-case-number-link"
            - if current_user.persona.admin?
              %td
                = claim.advocate.name
            %td
              = claim.defendant_names
            %td
              = claim.total_inc_vat
            %td
              = claim.amount_assessed
            %td
              = claim.state.humanize
            %td
              = claim.submitted_at
            %td.messages
              - if claim.messages.any?
                = link_to "View", "#{advocates_claim_path(claim)}#messages"
                - if claim.has_unread_messages_for?(current_user)
                  %object{:type => 'image/svg+xml', :data => image_path('messaging-red.svg'), :class => "new-message"}
              - else
                %span.none
                  = "None"
