- if claims.none?
  %p No claims found
- else
  %table.claims_table
    %thead
      %th
        Messages
      - if current_user.persona.admin?
        %th
          Advocate name
      %th
        Defendants
      %th
        CMS Number
      %th
        Submission date
      %th
        Paid date
      %th.currency
        Total
      %th
    %tbody
    - claims.each do |claim|
      %tr{id: dom_id(claim)}
        %td
          = link_to claim.messages.count, "#{advocates_claim_path(claim)}#messages"
        - if current_user.persona.admin?
          %td
            = claim.advocate.name
        %td
          = claim.defendants.map(&:name).join(', ')
        %td
          = claim.cms_number
        %td
          = claim.submitted_at.strftime('%d/%m/%Y') unless claim.submitted_at.nil?
        %td
          = claim.paid_at.strftime('%d/%m/%Y') unless claim.paid_at.nil?
        %td.currency
          = number_to_currency(claim.total)
        %td
          = link_to 'View', advocates_claim_path(claim)
          - if claim.editable?
            |
            = link_to 'Edit', edit_advocates_claim_path(claim)
          - if claim.draft?
            |
            = link_to 'Delete', advocates_claim_path(claim), method: :delete, data: { confirm: 'Are you sure?' }
