- if claims.none?
  %p
    = t(".no_claims_found")
- else
  %table.claims_table
    %thead
      %th
      %th
        = t(".cms_number")
      - if current_user.persona.admin?
        %th
          = t(".advocate")
      %th
        = t(".defendants")
      %th.currency
        = t(".total")
      %th
        = t(".status")
      %th
        = t(".submission_date")
      %th
        = t(".messages")
    %tbody
    - claims.each do |claim_object|
      - present(claim_object) do |claim|
        %tr{id: dom_id(claim),class: claim.state}
          %td
          %td
            = link_to claim.case_number, advocates_claim_path(claim), class: "js-test-case-number-link"
          - if current_user.persona.admin?
            %td
              = claim.advocate.name
          %td
            = claim.defendant_names
          %td.currency
            = claim.total
          %td
            = claim.state.humanize
          %td
            = claim.submitted_at
          %td
            - if claim.has_unread_messages_for?(current_user)
              %div.message.new
                = claim.unread_messages_for(current_user).count
              = link_to "New messages", "#{advocates_claim_path(claim)}#messages"
            - elsif claim.messages.any?
              %div.message
                = claim.messages.count
