- if claims.none?
  %p No claims found
- else
  %table.claims_table
    %thead
      %th
        Messages
      - if current_user.persona.admin?
        %th
          Advocate
      %th
        Defendants
      %th
        CMS Number
      - unless includes_state?(claims,'draft')
        %th
          Submission date
      - unless includes_state?(claims,'draft,rejected,submitted,allocated,awaiting_info_from_court')
        %th
          Paid date
      %th.currency
        Claim total
      - if includes_state?(claims,'part_paid,completed')
        %th.currency
          Amount assessed
      %th
    %tbody
    - claims.each do |claim_object|
      - present(claim_object) do |claim|
        %tr{id: dom_id(claim)}
          %td
            = link_to claim.messages.count, "#{advocates_claim_path(claim)}#messages"
          - if current_user.persona.admin?
            %td
              = claim.advocate.name
          %td
            = claim.defendant_names
          %td
            = claim.cms_number
          - unless includes_state?(claims,'draft')
            %td
              = claim.submitted_at
          - unless includes_state?(claims,'draft,rejected,submitted,allocated,awaiting_info_from_court')
            %td
              = claim.paid_at
          %td.currency
            = claim.total
          - if includes_state?(claims,'part_paid,completed')
            %td.currency
              = claim.amount_assessed
          %td
            = link_to 'View', advocates_claim_path(claim)
            - if claim.editable?
              |
              = link_to 'Edit', edit_advocates_claim_path(claim)
            |
            = link_to 'Delete', advocates_claim_path(claim), method: :delete, data: { confirm: 'Are you sure?' }
          %td
            - if claim.state == 'awaiting_info_from_court'
              = claim.status_image_tag class: 'status-indicator'
