%fieldset#cracked_trial_detail
  %legend
    = t('.cracked_trial_detail')
  #cracked-trial-fields
    .nested-fields
      %span.auto-width
        = f.label t('.trial_fixed_notice_at')
        = f.gov_uk_date_field :trial_fixed_notice_at
      %span.auto-width
        = f.label t('.trial_fixed_at')
        = f.gov_uk_date_field :trial_fixed_at
      %span.auto-width
        = f.label t('.trial_cracked_at')
        = f.gov_uk_date_field :trial_cracked_at

      = f.label t('.trial_cracked_at_third')
      = f.collection_select :trial_cracked_at_third, Settings.trial_cracked_at_third, :humanize, :humanize, { prompt: true }, { class: 'select2' }
