%tr.extra-data
  %td{colspan: "4"}
    %span.auto-width
      = f.label :date, 'Date attended (from)'
      = f.date_field :date
    %span.auto-width
      = f.label :date, 'Date attended (to - optional)'
      = f.date_field :date_to
  %td{colspan: "2"}
    = link_to_remove_association 'Remove Date Attended', f
