%tr.extra-data.nested-fields
  %td{colspan: "3"}
    %span.auto-width
      = f.label :date, t('.date_from')
      = f.adp_date_fields :date
    %span.auto-width
      = f.label :date, t('.date_to')
      = f.adp_date_fields :date_to
  %td{colspan: "2"}
    = link_to_remove_association t('.remove_date'), f
