.nested-fields
  %span.auto-width
    = f.label :date, 'Date attended (from)'
    = f.date_field :date
    = f.label :date, 'Date attended (to - optional)'
    = f.date_field :date_to
  %p
    = link_to_remove_association 'Remove Date Attended', f
