.nested-fields
  = f.label :document
  - unless f.object.id.nil? || f.object.document_file_name.nil?
    .note.file-exists
      = t('.file_exists')
      = f.object.document_file_name
      &nbsp;
      = link_to t('.view'), document_path(f.object), target: '_blank', class: 'view'
      &nbsp;
      = link_to t('.download'), download_document_path(f.object), class: 'download'
      &nbsp;
      = link_to_remove_association t('.remove'), f

  = f.file_field :document
