.nested-fields
  = f.label :document_type
  %br
  = f.collection_select :document_type_id, DocumentType.all, :id, :description, prompt: true
  %br
  = f.label :notes
  %br
  = f.text_area :notes
  %br
  = f.label :document
  - unless f.object.id.nil? || f.object.document_file_name.nil?
    .note.file-exists
      File already uploaded:
      = f.object.document_file_name
      &nbsp;
      = link_to 'View', document_path(f.object), target: '_blank', class: 'view'
      &nbsp;
      = link_to 'Download', download_document_path(f.object), class: 'download'
      &nbsp;
      = link_to_remove_association 'Remove document', f

  = f.file_field :document
