%tr.nested-fields.exepense-fee
  %td
    = f.collection_select :expense_type_id, ExpenseType.all, :id, :name, prompt: true
  %td#expense_location
    = f.text_field :location
  %td
    = f.number_field :quantity, class: 'quantity'
  %td
    = f.number_field :rate, value: number_with_precision(f.object.rate, precision: 2), class: 'rate'
  %td.amount
    &nbsp;
  %td
    = link_to_remove_association 'Remove', f
