.nested-fields
  %span.auto-width
    = f.label :expense_type
    = f.collection_select :expense_type_id, ExpenseType.all, :id, :name, prompt: true
  %span.auto-width
    = f.label :location
    = f.text_field :location
  %span.auto-width
    = f.label :quantity
    = f.number_field :quantity
  %span.auto-width
    = f.label :rate
    = f.number_field :rate, value: number_with_precision(f.object.rate, precision: 2)
  %span.auto-width
    = f.label :hours
    = f.number_field :hours, value: number_with_precision(f.object.hours, precision: 2)
  %span.auto-width
    = f.label :amount
    = f.number_field :amount, value: number_with_precision(f.object.amount, precision: 2)
  %p
    = link_to_remove_association 'Remove expense', f
