.nested-fields
  %span.auto-width
    = f.label :fee_type_id
    = f.grouped_collection_select :fee_type_id, FeeCategory.non_basic.includes(:fee_types), :fee_types, :name, :id, :description, prompt: true
  %span.auto-width
    = f.label :quantity
    = f.number_field :quantity
  %span.auto-width
    = f.label :rate
    = f.number_field :rate, value: number_with_precision(f.object.rate, precision: 2)
  %span.auto-width
    = f.label :amount
    = f.number_field :amount, value: number_with_precision(f.object.amount, precision: 2)
  %p
    = link_to_remove_association 'Remove fee', f
