.nested-fields
  = f.label :fee_type
  = f.grouped_collection_select :fee_type, FeeCategory.includes(:fee_types), :fee_types, :name, :id, :description, prompt: true
  = f.label :quantity
  = f.number_field :quantity
  = f.label :rate
  = f.number_field :rate
  = f.label :amount
  = f.number_field :amount
  %p
    = link_to_remove_association 'Remove fee', f
