%ul#payments
  %li
    %div 
      %h3
        = t('.total_outstanding')
      = number_to_currency(financial_summary.total_outstanding_claim_value)
      %br
      = link_to t('.view_details'), outstanding_advocates_claims_path, id: "outstanding_claim_details"

  %li
    %div 
      %h3
        = t('.total_authorised')
      = number_to_currency(financial_summary.total_authorised_claim_value)
      %br
      = link_to t('.view_details'), authorised_advocates_claims_path, id: "authorised_claim_details"
