%tbody.fixed-fee-group
  %tr.nested-fields
    %td
      = f.collection_select :fee_type_id, FeeType.fixed, :id, :description, {prompt: true}, {class: 'select2', style: 'width:400px'}
      = validation_error_message(f.object, :fee_type_id)
    %td
      = f.number_field :quantity, class: 'quantity', min: 0, max: 999, maxlength: 3
      = validation_error_message(f.object, :quantity)
    %td
      %div.pound-wrapper
        %div.pound-sign.bold-xsmall
          &pound;
        = f.text_field :amount, value: number_with_precision(f.object.amount, precision: 2), class: 'amount', size: 10, maxlength: 8
      = validation_error_message(f.object, :amount)
    %td.add-fixed-fee-date-attended
      = link_to_add_association t('.add_date_attended'), f, :dates_attended, class: 'button-secondary', data: {'association-insertion-method' => 'after', 'association-insertion-traversal' => 'closest', 'association-insertion-node' => 'tr'}
    %td.remove-fixed-fee
      = link_to_remove_association t('.remove'), f, { wrapper_class: 'fixed-fee-group' }

  = f.fields_for :dates_attended do |date_attended|
    = render 'date_attended_fields', f: date_attended
