#claim-form
  = form_for [:advocates, @claim], builder: AdpFormBuilder, html: { novalidate: true } do |f|
    - if @claim.errors.any?
      .validation-summary
        %h2.heading-small= "#{pluralize(@claim.errors.count, t('.error'))} #{t('.prohibited_save')}"
        %ul
          - @claim.errors.full_messages.each do |message|
            %li
              = message
    %h2
      = t('.section_one')
    %fieldset
      %legend
        = t('.case_advocate_offence')

      - if current_user.persona.admin?
        = f.label t('.advocate')
        = f.collection_select :advocate_id, @advocates_in_chamber, :id, :name_and_number, {prompt: true}, {class: 'select2'}
        = validation_error_message(@claim, :advocate)

      = f.label t('.case_type')
      = f.collection_select2_with_data :case_type_id, @case_types, :id, :name, {'is-fixed-fee' => :is_fixed_fee?}, { prompt: true }
      = validation_error_message(@claim, :case_type_id)

      = render 'cracked_trial_fields', f: f

      = f.label t('.court')
      = f.collection_select :court_id, Court.all, :id, :name, { prompt: true }, { class: 'select2' }
      = validation_error_message(@claim, :court)

      = f.label t('.case_number')
      = f.text_field :case_number
      = validation_error_message(@claim, :case_number)

      = f.label t('.advocate_category')
      = f.collection_select :advocate_category, Settings.advocate_categories, :to_s, :to_s, { prompt: true }, { class: 'select2' }
      = validation_error_message(@claim, :advocate_category)

      = f.label t('.offence_category')
      - if @claim.new_record?
        - selected_offence_category = params[:offence_category].present? ? params[:offence_category][:description] : nil
      - else
        - selected_offence_category = @claim.offence.description rescue nil

      = collection_select :offence_category, :description, @offence_descriptions, :description, :description, { prompt:  t('.select_category'), selected: selected_offence_category }, {  class: 'select2' }
      = validation_error_message(@claim, :offence)

      .offence-class-select
        = render partial: "offence_select", locals: { offences: @offences }

      = f.hidden_field :offence_id, value: f.object.offence ? f.object.offence.id : nil

      #trial-details
        %span.auto-width
          = f.label t('.first_day_of_trial')
          = f.gov_uk_date_field :first_day_of_trial
          = validation_error_message(@claim, :first_day_of_trial)
        %span.auto-width
          = f.label t('.estimated_length')
          = f.number_field :estimated_trial_length, step: 1, min: 0
          = validation_error_message(@claim, :estimated_trial_length)
        %span.auto-width
          = f.label t('.actual_length')
          = f.number_field :actual_trial_length, step: 1, min: 0
          = validation_error_message(@claim, :actual_trial_length)
        %span.auto-width
          = f.label t('.trial_concluded_at')
          = f.gov_uk_date_field :trial_concluded_at
          = validation_error_message(@claim, :trial_concluded_at)

    %fieldset
      %legend
        = t('.defendants')
      #defendants
        = f.fields_for :defendants do |defendant|
          = render 'defendant_fields', f: defendant
          %div
            = link_to_add_association t('.add_another_defendant'), f, :defendants, class: 'button-secondary'

    %h2
      = t('.section_two')
    %fieldset
      = f.label t('.additional_information')
      = f.text_area :additional_information, rows: 10
      = validation_error_message(@claim, :additional_information)

    %fieldset
      %legend
        = t('.basic_fees')
      #basic-fees
        %p
          = t('.fee_prompt_text')
          %a{:href => "https://www.gov.uk/government/publications/graduated-fee-calculators", :target => "_blank"} Graduated Fee Calculators
        %table.table
          %thead
            %tr
              %th
                = t('.fee_type')
              %th
                = t('.quantity')
              %th
                = t('.amount') << ' (' << t('number.currency.format.unit') << ')'
              %th
            = f.fields_for :basic_fees do |basic_fee_fields|
              = render 'basic_fee_fields', f: basic_fee_fields

    %fieldset
      %legend
        = t('.misc_fees')
      #misc-fees
        %table.table
          %thead
            %tr
              %th
                = t('.fee_type')
              %th
                = t('.quantity')
              %th
                = t('.amount') << ' (' << t('number.currency.format.unit') << ')'
              %th
              %th
          = f.fields_for :misc_fees do |misc_fee_fields|
            = render 'misc_fee_fields', f: misc_fee_fields

        = link_to_add_association t('.add_misc_fee'), f, :misc_fees, class: 'button-secondary', data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'table'}

    %fieldset
      %legend
        = t('.fixed_fees')
      #fixed-fees
        %table.table
          %thead
            %tr
              %th
                = t('.fee_type')
              %th
                = t('.quantity')
              %th
                = t('.amount') << ' (' << t('number.currency.format.unit') << ')'
              %th
              %th
          = f.fields_for :fixed_fees do |fixed_fee_fields|
            = render 'fixed_fee_fields', f: fixed_fee_fields

        = link_to_add_association t('.add_fixed_fee'), f, :fixed_fees, class: 'button-secondary', data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'table'}

    %fieldset
      %legend
        = t('.expenses')
      #expenses
        %table.table
          %thead
            %tr
              %th
                = t('.expense_type')
              %th
                = t('.location')
              %th
                = t('.quantity_hours')
              %th
                = t('.rate')
              %th
                = t('.amount')
              %th
              %th
              = f.fields_for :expenses do |expense|
                = render 'expense_fields', f: expense

        = link_to_add_association t('.add_another_expense'), f, :expenses, class: 'button-secondary', data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'table'}

      %label
        = f.check_box :apply_vat
        = t('.vat_required')
      = validation_error_message(@claim, :apply_vat)

    = render partial: "shared/vat_summary", locals: { claim:  present(@claim) }

    %fieldset{id: 'evidence'}
      %legend
        = t('.supporting_evidence_docs')
      #documents
        = f.fields_for :documents do |document|
          = render 'document_fields', f: document
        .links
          = link_to_add_association t('.add_another_doc'), f, :documents, class: 'button-secondary'

    %fieldset{id: 'evidence-checklist'}
      %legend
        Supporting evidence checklist
      #evidence-checklist
        = render 'evidence_checklist', f: f

    %p
      = f.submit t('.submit_to_laa'), class: 'button'
      - if @claim.draft?
        = f.submit t('.save_to_drafts'), class: 'button'
      = link_to t('.clear_form'), new_advocates_claim_path, class: 'button'
