#claim-form
  = form_for [:advocates, @claim], html: { novalidate: true } do |f|
    - if @claim.errors.any?
      %h2= "#{pluralize(@claim.errors.count, 'error')} prohibited this claim from being saved:"
      %ul
        - @claim.errors.full_messages.each do |msg|
          %li= msg
    %h2
      Section 1:
    %fieldset
      %legend
        Case, Instructed Advocate & Offence

      - if current_user.persona.admin?
        = f.label :advocate
        = f.collection_select :advocate_id, @advocates_in_chamber, :id, :name_and_number, {prompt: true}, {class: 'select2'}

      = f.label :scheme
      = f.collection_select :scheme_id, Scheme.all, :id, :name, { prompt: true }, { class: 'select2' }

      = f.label :case_type
      = f.collection_select :case_type, Claim::CASE_TYPES, :to_s, :humanize, { prompt: true }, { class: 'select2' }

      = f.label :prosecuting_authority
      = f.collection_select :prosecuting_authority, Claim::PROSECUTING_AUTHORITIES, :to_s, :upcase, { prompt: true }, { class: 'select2' }

      = f.label :court
      = f.collection_select :court_id, Court.all, :id, :name, { prompt: true }, { class: 'select2' }

      = f.label :case_number
      = f.text_field :case_number

      = f.label :advocate_category
      = f.collection_select :advocate_category, Claim::ADVOCATE_CATEGORIES, :to_s, :to_s, { prompt: true }, { class: 'select2' }

      = render 'dynamic_offence_fields', f: f
      %span.auto-width
        = f.label :first_day_of_trial
        = f.date_field :first_day_of_trial
      %span.auto-width
        = f.label :estimated_trial_length
        = f.number_field :estimated_trial_length
      %span.auto-width
        = f.label :actual_trial_length
        = f.number_field :actual_trial_length

    %fieldset
      %legend Defendants
      #defendants
        = f.fields_for :defendants do |defendant|
          = render 'defendant_fields', f: defendant
          %div
            = link_to_add_association 'Add Another Defendant', f, :defendants, class: 'button-secondary'

    %h2
      Section 2:
    %fieldset
      = f.label :additional_information
      = f.text_area :additional_information, rows: 10

    %fieldset
      %legend
        Basic Fees
      #basic_fees
        %p
          Manually enter the quantity and the rate and the amount will automatically calculate the total for you
        %table.table
          %thead
            %tr
              %th Fee Type
              %th Quantity
              %th Rate
              %th Amount
          %tbody
            = f.fields_for :basic_fees do |basic_fee_form|
              = render 'basic_fees', f: basic_fee_form, basic_fees: f.object.basic_fees

    %fieldset
      %legend
        Fixed and Miscellaneous Fees
      #fees
        %table.table
          %thead
            %tr
              %th Fee Type
              %th Quantity
              %th Rate
              %th Amount
              %td
              %td
            = f.fields_for :non_basic_fees do |fee|
              = render 'fee_fields', f: fee

        = link_to_add_association 'Add Another Fee', f, :fees, class: 'button-secondary', data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'table'}

    %fieldset
      %legend
        Expenses
      #expenses
        %table.table
          %thead
            %tr
              %th Expense Type
              %th Location
              %th Quantity/Hours
              %th Rate
              %th Amount
              %td
              = f.fields_for :expenses do |expense|
                = render 'expense_fields', f: expense


        = link_to_add_association 'Add Another Expense', f, :expenses, class: 'button-secondary', data: {'association-insertion-method' => 'append', 'association-insertion-traversal' => 'prev', 'association-insertion-node' => 'table'}

      %label
        = f.check_box :apply_vat
        VAT on Fees & Expenses (please tick if required)'

    %fieldset{id: 'evidence-checklist'}
      %legend
        Supporting evidence checklist
      #evidence-checklist
        = render 'evidence_list_item_fields', f: f

    %fieldset{id: 'evidence'}
      %legend
        Supporting evidence documents
      #documents
        = f.fields_for :documents do |document|
          = render 'document_fields', f: document
          .links
            = link_to_add_association 'Add Another Document', f, :documents, class: 'button-secondary'

    %p
      = f.submit (@claim.new_record? ? 'Save draft' : 'Save'), class: 'button'
      = link_to 'Back', advocates_claims_path, class: 'button'
