= form_for [:advocates, @claim] do |f|
  - if @claim.errors.any?
    %h2= "#{pluralize(@claim.errors.count, 'error')} prohibited this claim from being saved:"
    %ul
      - @claim.errors.full_messages.each do |msg|
        %li= msg

  %fieldset
    %legend
      Section 1: Case, Instructed Advocate & Offence
    %p Defendants
    #defendants
      = f.fields_for :defendants do |defendant|
        = render 'defendant_fields', f: defendant
        .links
          = link_to_add_association 'Add Defendant', f, :defendants, class: 'button'

  %br
  %fieldset
    %legend
      Section 2: Additional Information
    = f.text_area :additional_information, rows: 10, style: 'width: 100%'

  %fieldset
    %legend
      Fees
    #claim_fees
      = f.fields_for :claim_fees do |claim_fee|
        = render 'claim_fee_fields', f: claim_fee
        .links
          = link_to_add_association 'Add Fee', f, :claim_fees, class: 'button'
  %br

  %fieldset
    %legend
      Expenses
    #claim_fees
      = f.fields_for :expenses do |expense|
        = render 'expense_fields', f: expense
        .links
          = link_to_add_association 'Add Expense', f, :expenses, class: 'button'
  %br

  = f.label :vat_required, 'VAT on Fees & Expenses (please tick if required)'
  = f.check_box :vat_required

  %p
    = f.submit 'Submit', class: 'button'
