.nested-fields
  %br
  %h4
    = t('.representation_order')

  %span.auto-width
    = t('.granting_body')
    %span{display: 'inline'}
      - Settings.court_types.each do |court_type|
        = f.label :granting_body, court_type, value: court_type do
          = f.radio_button :granting_body, court_type
          = court_type
    = validation_error_message(f.object, :granting_body)
  %div

  %span.auto-width
    = f.label :representation_order_date
    = f.gov_uk_date_field :representation_order_date
    = validation_error_message(f.object, :representation_order_date)

  %span.auto-width
    = f.label :maat_reference, t('maat_reference_number')
    = f.text_field :maat_reference
    = validation_error_message(f.object, :maat_reference)

  %br
  %br
  = link_to_remove_association t('link.remove_rep_order'), f
