.nested-fields
  %br
  %h4 Representation Order

  %span.auto-width
    = t('.granting_body')
    %span{display: 'inline'}
      - Settings.court_types.each do |court_type|
        = f.label :granting_body, court_type, value: court_type do
          = f.radio_button :granting_body, court_type
          = court_type

  %div

  %span.auto-width
    = f.label :representation_order_date
    = f.date_field :representation_order_date

  %span.auto-width
    = f.label :maat_reference, t('maat_reference_number')
    = f.text_field :maat_reference

  %br
  %br
  = link_to_remove_association 'Remove representation order', f
