.nested-fields
  %br
  %h4 Representation Order

  - unless f.object.id.nil? || f.object.document_file_name.nil?
    .note.file-exists
      File already uploaded: 
      = f.object.document_file_name
      &nbsp;
      = link_to 'View', representation_order_path(f.object), target: '_blank', class: 'view'
      &nbsp;
      = link_to 'Download', download_representation_order_path(f.object), class: 'download'
  
  = f.file_field :document
  %div.granting_body
    = f.label 'Granting Body'
    Crown
    = f.radio_button :granting_body, 'Crown', id: 'crown'
    Magistrate
    = f.radio_button :granting_body, 'Magistrate', id: 'magistrate'
  
