%section
  %h1
    - if params[:search].present?
      %p
      - if params[:search_field] == 'All'
        #{pluralize(@claims.count, 'claim')} matching search term "#{params[:search]}"
      - if params[:search_field] == 'Advocate'
        #{pluralize(@claims.count, 'claim')} matching advocate name "#{params[:search]}"
      - if params[:search_field] == 'Defendant'
        #{pluralize(@claims.count, 'claim')} matching defendant(s) "#{params[:search]}"