%h1.page-title
  = t('.authorised_claims')

%h2
  = @claims.length
  = t('.with_total_assessed_value_of')
  = number_to_currency(@total_value)

#details
  = render partial: 'claims', locals: { claims: @claims }
