- present(@claim) do |claim|
  %h1
    = t('.thanks')

  %p
    = t('.will_be_processed')

  %h2
    =t('.claim_summary')

  %p
    =t('.fees_summary')
    = claim.fees_total

  %p
    =t('.expenses_total')
    = claim.expenses_total

  - if claim.apply_vat?
    %p
      =t('.vat_amount')
      = claim.vat_amount

  %h2
    = t('.total')
    = claim.total_inc_vat

  %p
    = link_to t('link.file_another_claim'), new_advocates_claim_path, class: 'button'
    &nbsp;
    = t('.common.or')
    &nbsp;
    = link_to t('.link.view_claim'), advocates_root_url, class: 'button'
