%h1
  = t('.thanks')

%p
  = t('.will_be_processed')

%h2
  =t('.claim_summary')

%p
  =t('.fees_summary')
  = number_to_currency(@claim.fees_total)

%p
  =t('.expenses_total')
  = number_to_currency(@claim.expenses_total)

%h2
  = t('.total')
  = number_to_currency(@claim.total)

%p
  = link_to t('link.file_another_claim'), new_advocates_claim_path, class: 'button'
  &nbsp;
  = t('.common.or')
  &nbsp;
  = link_to t('.link.view_claim'), advocates_root_url, class: 'button'
