%h1.page-title
  - if current_user.persona.admin?
    = "All Claims"
  - else
    = "Your Claims"

.hide-for-now{style: 'display: none;'}
  = form_tag({controller: 'advocates/json_document_importer', action: 'create'}, method: 'post', multipart: true) do
    = label_tag 'Import from file'
    = file_field_tag :json_file
    = submit_tag('Import')

#summary
  = render partial: 'financial_summary', locals: { financial_summary: @financial_summary }

#report-options.container
  = render partial: 'search_form'

#search-summary
  - if params[:search].present?
    = render partial: 'shared/search_summary'

= render partial: 'claims', locals: { claims: @claims }
