%h1 Claims

%p
  = link_to 'Add Claim', new_advocates_claim_path, class: 'button'

- if current_user.persona.admin?
  %p
    = form_tag advocates_claims_path, method: :get do
      = text_field_tag :search, params[:search], placeholder: 'Advocate'
      = submit_tag 'Search', class: 'button'

%h2 Current claims (#{@current_claims.count})
#current
  = render partial: 'claims', locals: { claims: @current_claims }

%h2 Completed claims (#{@completed_claims.count})
#completed
  = render partial: 'claims', locals: { claims: @completed_claims }

%h2 Draft claims (#{@draft_claims.count})
#draft
  = render partial: 'claims', locals: { claims: @draft_claims }
