.grid-row
  .column-three-quarter
    %h1.page-title
      - if current_user.persona.admin?
        = "All Claims"
      - else
        = "Your Claims"
  .columm-quarter
    = link_to t('link.add_claim'), new_advocates_claim_path, class: 'button button-get-started right'

.grid-row
  .column-three-quarter
    #summary
      = render partial: 'financial_summary', locals: { financial_summary: @financial_summary }
  .column-quarter
    #importer
      = render partial: 'json_document_importer'

%span#import_results.success
  %ul

%span#import_results.failure
  %ul

%span#import_results.schema_fails
  %ul

#report-options.container
  = render partial: 'search_form'

#search-summary
  - if params[:search].present?
    = render partial: 'shared/search_summary'

= render partial: 'claims', locals: { claims: @claims }
