- if current_user.persona.admin?
  = render 'nav_tabs'

%header.page-title
  %h1
    = t('.claims')
  = link_to t('link.add_claim'), new_advocates_claim_path, class: 'button'

#summary
  = render partial: 'financial_summary', locals: { financial_summary: @financial_summary }

#search-options
  = render partial: 'search_form'

#search-summary
  - if params[:search].present?
    = render partial: 'shared/search_summary'

#claim-accordion
  %h2
    =t('.draft')
    (#{@draft_claims.count})
  %section#draft
    = render partial: 'claims', locals: { claims: @draft_claims }

  %h2
    =t('.rejected')
    (#{@rejected_claims.count})
  %section#rejected
    = render partial: 'claims', locals: { claims: @rejected_claims }

  %h2
    = t('.submitted')
    (#{@submitted_claims.count})
  %section#submitted
    = render partial: 'claims', locals: { claims: @submitted_claims }

  %h2
    =t('.part_paid')
    (#{@part_paid_claims.count})
  %section#part_paid
    = render partial: 'claims', locals: { claims: @part_paid_claims }

  %h2
    =t('.completed')
    (#{@completed_claims.count})
  %section#completed
    = render partial: 'claims', locals: { claims: @completed_claims }
