- if current_user.persona.admin?
  = render 'nav_tabs'

%header.page-title
  %h1
    Claims
  = link_to 'Add Claim', new_advocates_claim_path, class: 'button'

#summary
  = render partial: 'financial_summary', locals: { financial_summary: @financial_summary }

- if current_user.persona.admin?
  #advocate-search
    = form_tag advocates_claims_path, method: :get do
      = text_field_tag :search, params[:search], placeholder: 'Advocate'
      = submit_tag 'Search', class: 'button'
#claim-accordion
  %h2 Draft (#{@draft_claims.count})
  %section#draft
    = render partial: 'claims', locals: { claims: @draft_claims }

  %h2 Rejected (#{@rejected_claims.count})
  %section#rejected
    = render partial: 'claims', locals: { claims: @rejected_claims }

  %h2 Submitted to LAA (#{@submitted_or_allocated_claims.count})
  %section#submitted
    = render partial: 'claims', locals: { claims: @submitted_or_allocated_claims }

  %h2 Part paid (#{@part_paid_claims.count})
  %section#part_paid
    = render partial: 'claims', locals: { claims: @part_paid_claims }

  %h2 Completed (#{@completed_claims.count})
  %section#completed
    = render partial: 'claims', locals: { claims: @completed_claims }
