%h1.page-title
  = t('.heading')

%h2
  #{@claims.count}
  =t('.claims_value')
  #{number_to_currency(@total_value)}

#details
  = render partial: 'claims', locals: { claims: @claims }
  = paginate @claims
