%p
  = link_to 'Back', advocates_claims_path, class: 'button'

%h1
  Claim
  = @claim.case_number
#claim-accordion
  %h2
    Claim based information
  = render @claim, locals: { hide_totals: true }
  %h2
    Claim summary
  = render partial: 'payments'
  %h2
    Representation order
  = render partial: 'representation_order'
  %h2
    Evidence list
  = render partial: 'evidence_list'
  %h2
    Messages
  = render partial: 'advonote'
  %h2
    Claim notes
  = render partial: 'case_notes'
  %h2
    Status of claim
  = render partial: 'claim_status'
