- present(@claim) do |claim|

  = render 'shared/claim_header', claim: claim

  #claim-accordion{role: "tablist", multiselectable: "true"}
    %h2
      = t('.h2_messages')
    = render partial: 'shared/messages', locales: {claim: claim }
    %h2
      = t(".h2_basic_info")
    = render partial: 'shared/claim', locals: { claim: claim, hide_totals: true }
    %h2
      = t('.h2_evidence')
    = render partial: 'shared/evidence_list'
    %h2
      = t('.h2_summary')
    = render partial: 'shared/summary'
    %h2
      = t('.h2_status')
    = render partial: 'shared/claim_status', locals: { claim: claim, disabled: true }
