- present(@claim) do |claim|

  = render 'shared/claim_header', claim: claim

  #claim-accordion{role: "tablist", multiselectable: "true"}
    %h2
      History

    - present(@claim, ClaimHistoryPresenter) do |c|
      - c.history_and_messages.each do |date, values|
        %fieldset
          %legend
            = date
            - values.each do |value|
              - if value.is_a? PaperTrail::Version
                %div.history
                  = value.event
              - elsif value.is_a? Message
                %div.message
                  = value.body

    %h2
      = t('.h2_messages')
    = render partial: 'shared/messages'
    %h2
      = t(".h2_basic_info")
    = render partial: 'shared/claim', locals: { claim: claim, hide_totals: true }
    %h2
      = t('.h2_evidence')
    = render partial: 'shared/evidence_list'
    %h2
      = t('.h2_summary')
    = render partial: 'shared/summary'
    %h2
      = t('.h2_status')
    = render partial: 'shared/claim_status', locals: { claim: claim, disabled: true }
    %h2
      Claim history
    = render partial: 'shared/claim_history'
