%h1
  Claim summary

%p
  Fees total:
  = number_to_currency(@claim.fees_total)

%p
  Expenses total:
  = number_to_currency(@claim.expenses_total)

%h2
  Total:
  = number_to_currency(@claim.total)

= form_for [:advocates, @claim] do |f|
  - if @claim.errors.any?
    %h2= "#{pluralize(@claim.errors.count, 'error')} prohibited this claim from being saved:"
    %ul
      - @claim.errors.full_messages.each do |msg|
        %li= msg
  = f.hidden_field :advocate_id, value: @claim.advocate_id
  = hidden_field_tag :summary, true
  = f.submit 'Submit to LAA', class: 'button'
  = link_to 'Back', edit_advocates_claim_path(@claim), class: 'button'
