#claim-accordion
  .govuk-grid-row
    .govuk-grid-column-one-half
      %h2.govuk-heading-m= t('.h2_messages')

    .govuk-grid-column-one-half
      - if current_user.persona.is_a?(CaseWorker)
        .other-claims
          - if claim_ids.present? && claim_ids.include?(@claim.id)
            = t('shared.position_and_count', position: claim_position_and_count)

            - unless last_claim?
              = next_claim_link 'Next claim &gt;'.html_safe, class: 'next-claim'

  %nav.govuk-breadcrumbs{ 'aria-label': t('.sub_navigation') }
    %ul.govuk-breadcrumbs__list.breadcrumbs_seperator
      %li.govuk-breadcrumbs__list-item
        = govuk_link_to t('.claim_status'), status_case_workers_claim_path(claim), class: cp(status_case_workers_claim_path(@claim))
      %li.govuk-breadcrumbs__list-item
        = govuk_link_to t('.claim_information'), case_workers_claim_path(claim), class: cp(case_workers_claim_path(@claim))
