- if Settings.claim_publishing_enabled?
  %p
    = link_to 'Send to CCR', publish_case_workers_claim_path(claim), method: :put
    |
    = link_to_if claim.exported_claim&.published?, 'Request status', enquire_case_workers_claim_path(claim), method: :put
  %p
    [CCR status]
    - if (ec = claim.exported_claim).present?
      = 'status: %s; created_at: %s; published_at: %s; retries: %s; retried_at: %s' % [ec.status, ec.created_at, ec.published_at, ec.retries, ec.retried_at]
      = 'status_code: %s; status_msg: %s' % [ec.status_code, ec.status_msg] if ec.status_msg
    - else
      = 'not submitted'
