%h3.govuk-heading-m
  = t('.certification_box_title')

%table.table-summary
  %caption.govuk-visually-hidden
    = t('.certification_caption')

  %tbody
    %tr
      %th{ scope: 'row' }
        = t('.instructed_heading')
      %td
        = claim.external_user.name

    - if @claim.agfs?
      %tr
        %th{ scope: 'row' }
          = t('.certification_reason')
        %td
          = claim.certification.certification_type.name rescue ''
