.govuk-summary-card
  .govuk-summary-card__title-wrapper
    %h2.govuk-summary-card__title
      = t('.defendant', context: index)

  .govuk-summary-card__content
    %dl.govuk-summary-list
      .govuk-summary-list__row.summary-page-table-two-row
        %dt.govuk-summary-list__key
          = t('external_users.claims.defendants.defendant_fields.first_name')
        %dd.govuk-summary-list__value
          = defendant.first_name

      .govuk-summary-list__row.summary-page-table-two-row
        %dt.govuk-summary-list__key
          = t('external_users.claims.defendants.defendant_fields.last_name')
        %dd.govuk-summary-list__value
          = defendant.last_name

      .govuk-summary-list__row.summary-page-table-two-row
        %dt.govuk-summary-list__key
          = t('external_users.claims.defendants.defendant_fields.date_of_birth')
        %dd.govuk-summary-list__value
          = defendant.date_of_birth.strftime(Settings.date_format) rescue ''

      .govuk-summary-list__row.summary-page-table-two-row
        %dt.govuk-summary-list__key
          = t('external_users.claims.defendants.defendant_fields.order_of_judicial_apportionment')
        %dd.govuk-summary-list__value
          = defendant.order_for_judicial_apportionment == true ? t('global_yes') : t('global_no')

      - if defendant.representation_orders.any?
        .govuk-summary-list__row.summary-page-table-two-row
          %dt.govuk-summary-list__key
            - defendant.representation_orders.each_with_index do |representation_order, index|
              = "#{t('shared.claim.reporders')} #{index + 1}"

              %dd.govuk-summary-list__value.summary-page-values
                %span #{representation_order.representation_order_date.strftime(Settings.date_format) rescue ''}
                %span
                  = t('external_users.claims.defendants.defendant_fields.maat_reference')
                  #{representation_order.maat_reference }
      - else
        = govuk_inset_text(t('.no_reporder'))
