#claim-accordion
  .grid-row.panel-messages
    .column-one-half
      %h3.heading-medium
        = t('.h2_messages')

      -# BEGIN. This is just for the Proof of Concept.
      %p
        CCR status:
        - if (ec = claim.exported_claim).present?
          = 'status: %s; created_at: %s; last_request_at: %s; retries: %s' % [ec.status, ec.created_at, ec.last_request_at, ec.retries]
        - else
          = 'not submitted'
      -# END. This is just for the Proof of Concept.

    .column-one-half
      - if current_user.persona.is_a?(CaseWorker)
        .other-claims
          - if claim_ids.present? && claim_ids.include?(@claim.id)
            = "Showing "
            = claim_position_and_count
            = "claims"
            - unless last_claim?
              = next_claim_link 'Next claim &gt;'.html_safe, class: 'next-claim'

  = render partial: 'shared/claim_history', locals: {claim: claim }
  = render partial: 'shared/claim_status', locals: { claim: claim, disabled: status_disabled }


  %div.js-accordion{"data-accordion-prefix-classes": "minimalist-accordion"}

    %h2.js-accordion__header{"data-accordion-opened": "true"}
      = t(".h2_basic_info")
    %div.js-accordion__panel
      = render partial: 'shared/claim', locals: { claim: claim, hide_totals: true }

    %h2.js-accordion__header
      = t('.h2_evidence')
    %div.js-accordion__panel
      = render partial: 'shared/evidence_list'

    %h2.js-accordion__header
      = t('.h2_summary')
    %div.js-accordion__panel
      = render partial: 'shared/summary'
