.claim-hgroup
  .govuk-grid-row
    .govuk-grid-column-one-third
      %h1.govuk-heading-l
        %span.govuk-caption-l
          = t('.case_number')
        = claim.formatted_case_number
        %span.unique-id-small= claim.unique_id

    .govuk-grid-column-one-third
      %p.govuk-heading-l
        %span.govuk-caption-l
          = t('.status')
        = govuk_tag claim.state.humanize, class: "app-tag--#{claim.state}"

    .govuk-grid-column-one-third
      %p.govuk-heading-l
        %span.govuk-caption-l
          = t('.assessment_date')
        = claim.assessment_date

  .govuk-grid-row
    .govuk-grid-column-one-third
      %p.govuk-heading-l
        %span.govuk-caption-l
          = t('.defendant_names')
        = claim.defendant_name_and_initial
        = claim.other_defendant_summary

    .govuk-grid-column-one-third
      %p.govuk-heading-l
        %span.govuk-caption-l
          = t('.provider_type')
        = claim.provider.name

    .govuk-grid-column-one-third.claim-detail-actions
      - if current_user.persona.is_a?(ExternalUser)
        - if claim.editable?
          %p.govuk-heading-l
            %span.govuk-caption-l
              = t('.actions')

          .action-wrapper
            = govuk_link_button(t('buttons.edit_draft'), edit_polymorphic_path(claim), class: 'edit-claim')

            -if claim.from_api? || claim.api_web_edited?
              = form_for @claim, as: :claim, url:polymorphic_path(claim, anchor: 'evidence_upload'), builder: AdpFormBuilder, multipart: true, authenticity_token: true do |f|
                = f.hidden_field :form_step, value: 'offence_details'
                = f.hidden_field :form_id, value: @claim.form_id
                = f.submit t('buttons.add_evidence'), name: 'commit_continue', class: 'govuk-button govuk-button--secondary', data: { module: 'govuk-button' }, role: 'button', draggable: 'false'

            = govuk_link_button(t('buttons.delete_draft'), external_users_claim_path(claim), class: 'delete-draft', 'data-method': 'delete', 'data-confirm': t('.confirm_text'))

        - if claim.archivable?
          %p.govuk-heading-l
            %span.govuk-caption-l
              = t('.actions')

          .action-wrapper
            - if claim.rejected?
              = button_to t('.redraft'), clone_rejected_external_users_claim_path(claim), method: 'patch', class: 'govuk-button resubmit-claim', form_class: 'inline-form', data: { module: 'govuk-button' }, role: 'button', draggable: 'false'

            = govuk_link_button(t('.archive'), external_users_claim_path(claim), 'data-method': 'delete', 'data-confirm': t('.confirm_text'))

        - if claim.archived_pending_delete? || claim.archived_pending_review?
          %p.govuk-heading-l
            %span.govuk-caption-l
              = t('.actions')

          .action-wrapper
            = button_to t('.unarchive'), unarchive_external_users_claim_path(claim), method: 'patch', class: 'govuk-button', form_class: 'inline-form', data: { module: 'govuk-button' }, role: 'button', draggable: 'false'
