%section

  - if claim.certification.present?
    .certification-info-row
      .bold-normal.title{ style: 'margin-bottom: 5px' }
        = t('.certification_box_title')
      .bold-xsmall
        = t('.certified_by') + ':'
        %span.xsmall
          = claim.certification.certified_by
      .bold-xsmall
        = t('.certification_reason') + ':'
        %span.xsmall
          = claim.certification.certification_type.name

  - if claim.case_workers.any? && CaseWorker === current_user.persona && current_user.persona.admin?
    .basic-info-row
      .column-quarter
        .bold-xsmall
          = t ('.assignee')
        .xsmall
          = claim.case_worker_names

  .basic-info-row
    .column-quarter
      .bold-xsmall
        = t('common.external_user')
      .xsmall
        = claim.external_user.name
    .column-quarter
      .bold-xsmall
        = t('.advocate_category')
      .xsmall
        = claim.advocate_category
    .column-quarter
      .bold-xsmall
        = t('.adv_acc_no')
      .xsmall
        = claim.external_user.supplier_number
    .column-quarter
      &nbsp;

  .basic-info-row
    .column-half
      .bold-xsmall
        = t('common.crown_court')
      .xsmall
        = claim.court.name if claim.court
    .column-half
      &nbsp;

  .basic-info-row
    .column-quarter
      .bold-xsmall
        =t('.case_num')
      .xsmall
        = claim.case_number
    .column-quarter
      .bold-xsmall
        = t('.case_type')
      .xsmall
        = claim.case_type.try(:name)

    .column-quarter
      .bold-xsmall
        = t('.offence')
      .xsmall
        = claim.offence ? claim.offence.description : t('general.not_provided')
    .column-quarter
      .bold-xsmall
        = t('.offence_class')
      .xsmall
        = claim.offence ? claim.offence.offence_class : t('general.not_provided')

  - if claim.case_type && claim.case_type.requires_cracked_dates
    .basic-info-row
      .column-quarter
        .bold-xsmall
          = t('external_users.claims.cracked_trial_fields.trial_fixed_notice_at')
        .xsmall
          = claim.trial_fixed_notice_at.strftime('%d/%m/%Y')  rescue ''
      .column-quarter
        .bold-xsmall
          = t('external_users.claims.cracked_trial_fields.trial_fixed_at')
        .xsmall
          = claim.trial_fixed_at.strftime('%d/%m/%Y') rescue ''
      .column-quarter
        .bold-xsmall
          = t('external_users.claims.cracked_trial_fields.trial_cracked_at')
        .xsmall
          =  claim.trial_cracked_at.strftime('%d/%m/%Y') rescue ''
      .column-quarter
        .bold-xsmall
          = t('external_users.claims.cracked_trial_fields.trial_cracked_at_third')
        .xsmall
          = claim.trial_cracked_at_third.humanize rescue ''

  - if claim.case_type && claim.case_type.requires_trial_dates
    - trial_detail_translations = 'external_users.claims.trial_detail_fields'
    .basic-info-row
      .column-quarter
        .bold-xsmall
          = t("#{trial_detail_translations}.first_day_of_trial")
        .xsmall
          = claim.first_day_of_trial.strftime('%d/%m/%Y') rescue ''
      .column-quarter
        .bold-xsmall
          = t("#{trial_detail_translations}.estimated_trial_length")
        .xsmall
          = claim.estimated_trial_length rescue ''
      .column-quarter
        .bold-xsmall
          = t("#{trial_detail_translations}.actual_trial_length")
        .xsmall
          = claim.actual_trial_length rescue ''
      .column-quarter
        .bold-xsmall
          = t("#{trial_detail_translations}.trial_concluded_at")
        .xsmall
          = claim.trial_concluded_at.strftime('%d/%m/%Y') rescue ''

  - if claim.case_type && claim.case_type.requires_retrial_dates
    - retrial_detail_translations = 'external_users.claims.retrial_detail_fields'
    .basic-info-row
      .column-quarter
        .bold-xsmall
          = t("#{retrial_detail_translations}.retrial_started_at")
        .xsmall
          = claim.retrial_started_at.strftime('%d/%m/%Y') rescue ''
      .column-quarter
        .bold-xsmall
          = t("#{retrial_detail_translations}.estimated_length")
        .xsmall
          = claim.retrial_estimated_length rescue ''
      .column-quarter
        .bold-xsmall
          = t("#{retrial_detail_translations}.actual_length")
        .xsmall
          = claim.retrial_actual_length rescue ''
      .column-quarter
        .bold-xsmall
          = t("#{retrial_detail_translations}.retrial_concluded_at")
        .xsmall
          = claim.retrial_concluded_at.strftime('%d/%m/%Y') rescue ''


  - if claim.defendants.any?
    = render partial: 'shared/claim_defendants', locals: {defendants: claim.defendants }
  - else
    = "No defendant details have been supplied for this claim."
