= govuk_summary_list_row_collection(t('common.transfer_detail_summary')) do
  = claim.transfer_detail_summary

= govuk_summary_list_row_collection(t('common.transfer_date')) do
  = claim.transfer_date

= govuk_summary_list_row_collection(t('common.case_concluded_at')) do
  = claim.case_concluded_at
  