- trial_detail_translations = 'external_users.claims.trial_detail_fields'
.basic-info-row
  .column-quarter
    .bold-xsmall
      = t("#{trial_detail_translations}.first_day_of_trial")
    .xsmall
      = claim.first_day_of_trial.strftime('%d/%m/%Y') rescue ''
  .column-quarter
    .bold-xsmall
      = t("#{trial_detail_translations}.estimated_trial_length")
    .xsmall
      = claim.estimated_trial_length rescue ''
  .column-quarter
    .bold-xsmall
      = t("#{trial_detail_translations}.actual_trial_length")
    .xsmall
      = claim.actual_trial_length rescue ''
  .column-quarter
    .bold-xsmall
      = t("#{trial_detail_translations}.trial_concluded_at")
    .xsmall
      = claim.trial_concluded_at.strftime('%d/%m/%Y') rescue ''