.claim-hgroup
  .govuk-grid-row
    .govuk-grid-column-one-half
      %p
        = govuk_tag(text: claim.state.humanize, colour: state_colour(claim.state))

    .govuk-grid-column-one-half
      = render partial: 'shared/other_claims_links', locals: {claim: claim, navigation: @navigation, current_user: }

  %h1.govuk-heading-xl
    = claim.defendant_name_and_initial + claim.other_defendant_summary

  %h2.govuk-heading-l Case Number: #{claim.case_number} (#{claim.unique_id})

  .div{ class: 'govuk-!-margin-bottom-8' }
    %p.govuk-body-l{ class: 'govuk-!-margin-bottom-0' }
      %span{ class: 'govuk-!-font-weight-bold' }
        = t('.assessment_date')
      = claim.assessment_date

    %p.govuk-body-l{ class: 'govuk-!-margin-bottom-0' }
      %span{ class: 'govuk-!-font-weight-bold' }
        = t('.provider_type')
      = claim.provider.name

    %p.govuk-body-l{ class: 'govuk-!-margin-bottom-0' }
      %span{ class: 'govuk-!-font-weight-bold' }
        = t('.defendant_names')
      = claim.all_defendants_name_and_initial

    - if cda_view_enabled?
      = govuk_link_to 'Court Data view (experimental)', case_workers_claim_court_data_index_path(@claim)
