- if claim.certification.present?
  = render partial: 'shared/certification', locals: { claim: claim }

%h3.govuk-heading-m
  = t('.claim_type')

= govuk_summary_list do |summary_list|
  - unless claim.providers_ref.blank?
    - summary_list.with_row do |row|
      - row.with_key(text: 'Provider reference number')
      - row.with_value(text: claim.providers_ref )

  - unless claim.draft?
    - summary_list.with_row do |row|
      - row.with_key(text: 'Claim submitted on')
      - row.with_value(text: claim.submitted_at )

  - if claim.case_workers.any? && current_user_is_caseworker? && current_user.persona.admin?
    - summary_list.with_row do |row|
      - row.with_key(text: t('.assignee'))
      - row.with_value(text: claim.case_worker_names )

  - if @claim.lgfs?
    - summary_list.with_row do |row|
      - row.with_key(text: t('common.external_user.claim_creator'))
      - row.with_value(text: claim.creator.name )

  - if @claim.agfs?
    - summary_list.with_row do |row|
      - row.with_key { t("common.external_user.#{@claim.external_user_type}") }
      - row.with_value(text: claim.external_user.name )

    - summary_list.with_row do |row|
      - row.with_key { t("common.external_user.category.#{@claim.external_user_type}") }
      - row.with_value(text: claim.advocate_category )

  - summary_list.with_row do |row|
    - row.with_key { t("common.external_user.account_number.#{@claim.external_user_type}") }
    - row.with_value(text: claim.supplier_number )

  - if claim.court
    - summary_list.with_row do |row|
      - row.with_key(text: t('common.crown_court'))
      - row.with_value(text: claim.court.name )

  - summary_list.with_row do |row|
    - row.with_key(text: t('.case_num'))
    - row.with_value(text: claim.case_number) do
      %span.unique-id-small= claim.unique_id

  - if claim.transfer_court.present?
    - summary_list.with_row do |row|
      - row.with_key(text: t('common.transfer_court'))
      - row.with_value(text: claim.transfer_court.name )

    - summary_list.with_row do |row|
      - row.with_key(text: t('common.transfer_case_number'))
      - row.with_value(text: claim.transfer_case_number )

  - if claim.case_stage
    - summary_list.with_row do |row|
      - row.with_key(text: t('.case_stage'))
      - row.with_value(text: claim.case_stage&.description )

  - if claim.display_case_type?
    - summary_list.with_row do |row|
      - row.with_key(text: t('.case_type'))
      - row.with_value(text: claim.case_type&.name )

  - if claim.discontinuance?
    - summary_list.with_row do |row|
      - row.with_key(text: t('common.prosecution_evidence'))
      - row.with_value(text: t(claim.prosecution_evidence?.class) )

  - if claim.agfs? && claim.case_type.present? && claim.requires_cracked_dates?
    = render partial: 'shared/claim_cracked_trial_details', locals: { claim: claim }

  - if claim.case_type && claim.case_concluded_at
    = render partial: 'shared/claim_case_concluded_at_details', locals: { claim: claim }

  - if claim.lgfs? && claim.interim? && !claim.interim_fee.nil?
    = render partial: 'shared/claim_interim_details', locals: { summary_list: summary_list, claim: claim }

  - if claim.transfer?
    = render partial: 'shared/claim_transfer_details', locals: { claim: claim }

  - if claim&.requires_trial_dates?
    = render partial: 'shared/claim_trial_details', locals: { claim: claim }

  - if claim&.requires_retrial_dates?
    = render partial: 'shared/claim_retrial_details', locals: { claim: claim }

  - summary_list.with_row do |row|
    - row.with_key(text: t('common.main_hearing_date'))
    - row.with_value(text: claim.main_hearing_date&.strftime(Settings.date_format) )

- if claim.defendants.any?
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h3.govuk-heading-m
        = t('.defendants')

    = render partial: 'shared/claim_defendants', locals: { defendants: claim.defendants }

- else
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p.govuk-body
        = t('.no_defendant')

- unless claim.fixed_fee_case?
  = render partial: 'external_users/claims/offence_details/summary', locals: { claim: claim }
