#cc-claim-header-top.grid-row.claim-header-row
  .column-one-third
    %h2.heading-large
      %span.heading-secondary
        = t('.case_number')
      = claim.case_number
      %span.font-xsmall.bold.font-grey
        = claim.unique_id
  .column-one-third
    %h2.heading-large
      %span.heading-secondary
        = t('.status')
      %span{class: "state-text state-#{claim.state}"}
        = claim.state.humanize
  .column-one-third
    %h2.heading-large
      %span.heading-secondary
        = t('.assessment_date')
      = claim.assessment_date

#cc-claim-header-bottom.grid-row.claim-header-row
  .column-one-third
    %h2.heading-large
      %span.heading-secondary
        = t('.defendant_names')
      %ul
        %li.case-number-header
          = claim.defendant_name_and_initial
        %li
          = claim.other_defendant_summary
  .column-one-third
    %h2.heading-large
      %span.heading-secondary
        = t('.provider_type')
      = claim.provider.name
  .column-one-third.claim-detail-actions
    - if current_user.persona.is_a?(ExternalUser)
      - if claim.editable?
        %h2.heading-large
          %span.heading-secondary
            = t('.actions')
        %div.action-wrapper
          = link_to t('buttons.edit_draft'), edit_polymorphic_path(claim), class: 'button edit-claim'
          -if claim.from_api? || claim.api_web_edited?
            = form_for @claim, as: :claim, url:polymorphic_path(claim, anchor: 'evidence_upload'), builder: AdpFormBuilder, multipart: true, authenticity_token: true do |f|
              = f.hidden_field :form_step, value: 'offence_details'
              = f.hidden_field :form_id, value: @claim.form_id
              = f.submit t('buttons.add_evidence'), name: 'commit_continue', class: 'button left btn-spacer-20 button-secondary blue certify-claim'
          = link_to t('buttons.delete_draft'), external_users_claim_path(claim), method: :delete, data: { confirm: t('.confirm_text') }, class: 'delete-draft'

      - if claim.archivable?
        %h2.heading-large
          %span.heading-secondary
            = t('.actions')
        %div.action-wrapper
          = button_to t('.redraft'), clone_rejected_external_users_claim_path(claim), method: 'patch', class: 'button resubmit-claim', form: { style: 'display: inline-block;' }
          %br/
          = link_to t('.archive'), external_users_claim_path(claim), method: :delete, data: { confirm: t('.confirm_text') }, class: 'button'

      - if claim.archived_pending_delete?
        %h2.heading-large
          %span.heading-secondary
            = t('.actions')
        %div.action-wrapper
          = button_to t('.unarchive'), unarchive_external_users_claim_path(claim), method: 'patch', class: 'button', form: { style: 'display: inline-block;' }
