%div.grid-row.claim-header
  %div.column-third
    %span.normal
      = "Case number:"
    %div.bold-xlarge
      = claim.case_number.blank? ? 'not-provided' : claim.case_number
  %div.column-two-thirds
    %div.left
      %span.normal
        = "Status:"
      %div{class: "medium status #{claim.state}"}
        = claim.state.humanize
    - if current_user.persona.is_a?(CaseWorker)
      %div.right
        %span.normal
          = "Other claims:"
        %div.normal.other-claims
          - if claim_ids.present? && claim_ids.include?(@claim.id)
            = claim_position_and_count
            - unless last_claim?
              = next_claim_link 'Next claim &gt;'.html_safe, class: 'next-claim'
    - if claim.editable? && current_user.persona.is_a?(Advocate)
      %div.right
        = link_to "Edit this claim", edit_advocates_claim_path(claim), class: 'button'
        = link_to "Delete draft", advocates_claim_path(claim), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button'
%div.bold-medium.claim-detail-header
  = "Claim details"
