- retrial_detail_translations = 'external_users.claims.case_details.retrial_detail_fields'
.basic-info-row
  .column-quarter
    .b
      = t("#{retrial_detail_translations}.retrial_started_at")
    = claim.retrial_started_at.strftime('%d/%m/%Y') rescue ''
  .column-quarter
    .b
      = t("#{retrial_detail_translations}.retrial_estimated_length")
    = claim.retrial_estimated_length rescue ''
  .column-quarter
    .b
      = t("#{retrial_detail_translations}.retrial_actual_length")
    = claim.retrial_actual_length rescue ''
  .column-quarter
    .b
      = t("#{retrial_detail_translations}.retrial_concluded_at")
    = claim.retrial_concluded_at.strftime('%d/%m/%Y') rescue ''
