#claim-accordion
  .govuk-grid-row
    .govuk-grid-column-one-half
      %h2.govuk-heading-m
        = t('.h2_messages')

    .govuk-grid-column-one-half
      - if current_user.persona.is_a?(CaseWorker)
        .other-claims
          - if claim_ids.present? && claim_ids.include?(@claim.id)
            = t('shared.position_and_count', position: claim_position_and_count)

            - unless last_claim?
              = next_claim_link 'Next claim &gt;'.html_safe, class: 'next-claim'

  = render partial: 'shared/claim_history', locals: { claim: claim }
  = render partial: 'shared/claim_status', locals: { claim: claim, disabled: status_disabled }

  %h2.govuk-heading-l
    = t('.h2_basic_info')

  - if claim.certification.present?
    = render partial: 'shared/certification', locals: { claim: claim }

  .js-accordion__panel
    = render partial: 'shared/claim', locals: { claim: claim, hide_totals: true }

- if claim.defendants.any?
  %h2.govuk-heading-l
    = t('external_users.claims.defendants.defendant_fields.defendant_details')

  = render partial: 'shared/claim_defendants', locals: { defendants: claim.defendants }

- else
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p.govuk-body
        = t('.no_defendant')

- unless claim.fixed_fee_case?
  = render partial: 'external_users/claims/offence_details/summary', locals: { claim: claim }

  %h2.govuk-heading-l
    = t('.h2_evidence')
  .js-accordion__panel
    = render partial: 'shared/evidence_list'

  %h2.govuk-heading-l
    = t('.h2_summary')
  .js-accordion__panel.fees-summary
    - if claim.agfs?
      = render partial: 'shared/summary_agfs', locals: { claim: claim }
    - else
      = render partial: 'shared/summary_lgfs', locals: { claim: claim }

  - if claim.additional_information.present?
    %h2.govuk-heading-l
      = t('.additional_information')
    %p
      = format_multiline(claim.additional_information)
