#claim-accordion
  .grid-row.panel-messages
    .column-one-half
      %h3.heading-medium
        = t('.h2_messages')

    .column-one-half
      - if current_user.persona.is_a?(CaseWorker)
        .other-claims
          - if claim_ids.present? && claim_ids.include?(@claim.id)
            = "Showing "
            = claim_position_and_count
            = "claims"
            - unless last_claim?
              = next_claim_link 'Next claim &gt;'.html_safe, class: 'next-claim'

  -# BEGIN. This is just for the Proof of Concept.
  = render partial: 'shared/ccr_injection', locals: { claim: claim }
  -# END. This is just for the Proof of Concept.

  = render partial: 'shared/claim_history', locals: {claim: claim }
  = render partial: 'shared/claim_status', locals: { claim: claim, disabled: status_disabled }


  %div.js-accordion{"data-accordion-prefix-classes": "minimalist-accordion"}

    %h2.js-accordion__header{"data-accordion-opened": "true"}
      = t(".h2_basic_info")
    %div.js-accordion__panel
      = render partial: 'shared/claim', locals: { claim: claim, hide_totals: true }

    %h2.js-accordion__header
      = t('.h2_evidence')
    %div.js-accordion__panel
      = render partial: 'shared/evidence_list'

    %h2.js-accordion__header
      = t('.h2_summary')
    %div.js-accordion__panel
      - if claim.agfs?
        = render partial: 'shared/summary_agfs', locals: { claim: claim }
      - else
        = render partial: 'shared/summary_lgfs', locals: { claim: claim }

    - if claim.additional_information.present?
      %h3.heading-medium
        = t('.additional_information')
      %p.indent-sides
        = claim.additional_information