- retrial_detail_translations = 'external_users.claims.case_details.retrial_detail_fields'
%tr
  %th{scope: "col"}
    = t("#{retrial_detail_translations}.retrial_started_at")
  %td
    = claim.retrial_started_at.strftime(Settings.date_format) rescue ''

%tr
  %th{scope: "col"}
    = t("#{retrial_detail_translations}.retrial_estimated_length")
  %td
    = claim.retrial_estimated_length rescue ''

%tr
  %th{scope: "col"}
    = t("#{retrial_detail_translations}.retrial_actual_length")
  %td
    = claim.retrial_actual_length rescue ''

%tr
  %th{scope: "col"}
    = t("#{retrial_detail_translations}.retrial_concluded_at")
  %td
    = claim.retrial_concluded_at.strftime(Settings.date_format) rescue ''
