- cracked_trial_detail_translations = 'external_users.claims.case_details.cracked_trial_fields'
.basic-info-row
  .column-quarter
    .b
      = t("#{cracked_trial_detail_translations}.trial_fixed_notice_at")
    = claim.trial_fixed_notice_at.strftime('%d/%m/%Y') rescue ''
  .column-quarter
    .b
      = t("#{cracked_trial_detail_translations}.trial_fixed_at")
    = claim.trial_fixed_at.strftime('%d/%m/%Y') rescue ''
  .column-quarter
    .b
      = t("#{cracked_trial_detail_translations}.trial_cracked_at")
    =  claim.trial_cracked_at.strftime('%d/%m/%Y') rescue ''
  .column-quarter
    .b
      = t("#{cracked_trial_detail_translations}.trial_cracked_at_third")
    = claim.trial_cracked_at_third.humanize rescue ''
