- if claim.certification.present?
  = render partial: 'shared/certification', locals: { claim: claim }

.grid-row
  %h3.heading-medium
    = "Claim and case type"
  %table.table-summary
    %caption
      %span.table-caption.visuallyhidden
        = "This section contains details of the case"
    %tbody
      - unless claim.providers_ref.blank?
        %tr
          %th{scope: "col"}
            = 'Provider reference number'
          %td
            = claim.providers_ref

      - unless claim.draft?
        %tr
          %th{scope: "col"}
            = "Claim submitted on"
          %td
            = claim.submitted_at

      - if claim.case_workers.any? && current_user_is_caseworker? && current_user.persona.admin?
        %tr
          %th{scope: "col"}
            = t ('.assignee')
          %td
            = claim.case_worker_names

      - if @claim.lgfs?
        %tr
          %th{scope: "col"}
            = t('common.external_user.claim_creator')
          %td
            = claim.creator.name

      - if @claim.agfs?
        %tr
          %th{scope: "col"}
            = t("common.external_user.#{@claim.external_user_type}")
          %td
            = claim.external_user.name
        %tr
          %th{scope: "col"}
            = t("common.external_user.category.#{@claim.external_user_type}")
          %td
            = claim.advocate_category

      %tr
        %th{scope: "col"}
          = t("common.external_user.account_number.#{@claim.external_user_type}")
        %td
          = claim.supplier_number

      %tr
        %th{scope: "col"}
          = t('common.crown_court')
        %td
          = claim.court.name if claim.court

      %tr
        %th{scope: "col"}
          =t('.case_num')
        %td
          = claim.case_number
          %span.unique-id-small
            = claim.unique_id

      - if claim.transfer_court.present?
        %tr
          %th{scope: "col"}
            = t('common.transfer_court')
          %td
            = claim.transfer_court.name

        %tr
          %th{scope: "col"}
            = t('common.transfer_case_number')
          %td
            = claim.transfer_case_number

      - if claim.case_type.try(:name)
        %tr
          %th{scope: "col"}
            = t('.case_type')
          %td
            = claim.case_type.try(:name)

      - if claim.agfs? && claim.case_type.present? && claim.requires_cracked_dates?
        = render partial: 'shared/claim_cracked_trial_details', locals: { claim: claim }

      - if claim.case_type && claim.case_concluded_at
        = render partial: 'shared/claim_case_concluded_at_details', locals: { claim: claim }

      - if claim.lgfs? && claim.interim? && !claim.interim_fee.nil?
        = render partial: 'shared/claim_interim_details', locals: { claim: claim }

      - if claim.transfer?
        = render partial: 'shared/claim_transfer_details', locals: { claim: claim }

      - if claim&.requires_trial_dates?
        = render partial: 'shared/claim_trial_details', locals: { claim: claim }

      - if claim&.requires_retrial_dates?
        = render partial: 'shared/claim_retrial_details', locals: { claim: claim }

  - if claim.defendants.any?
    %h3.heading-medium
      = "Defendants"
    = render partial: 'shared/claim_defendants', locals: {defendants: claim.defendants }
  - else
    = "No defendant details have been supplied for this claim."

  - unless claim.fixed_fee_case?
    = render partial: 'external_users/claims/offence_details/summary', locals: { claim: claim }
