%section
  - if claim.case_workers.any? && CaseWorker === current_user.persona && current_user.persona.admin?
    %p
      %strong
        =t ('.assignee')
      = claim.case_worker_names
  %ul.case-data
    %li
      %dl
        %dt
          =t('.defendant')
        %dd
          = claim.defendant_names
        %dt
          = t('.reporders')
        %dd
          = claim.representation_order_details
        %dt
          =t('.adv_acc_no')
        %dd
          = claim.advocate.supplier_number
        %dt
          =t('.submit_date')
        %dd
          = claim.submitted_at(include_time: true) unless claim.draft?
        %dt
          =t('.case_num')
        %dd
          = claim.case_number
        %dt
          = t('.case_type')
        %dd
          = claim.case_type.try(:name)
        - if claim.case_type && claim.case_type.requires_cracked_dates
          %dt
            = t('advocates.claims.cracked_trial_fields.trial_fixed_notice_at')
          %dd
            = claim.trial_fixed_notice_at.strftime('%d/%m/%Y')
          %dt
            = t('advocates.claims.cracked_trial_fields.trial_fixed_at')
          %dd
            = claim.trial_fixed_at.strftime('%d/%m/%Y')
          %dt
            = t('advocates.claims.cracked_trial_fields.trial_cracked_at')
          %dd
            = "#{claim.trial_cracked_at.strftime('%d/%m/%Y')} (#{claim.trial_cracked_at_third.humanize})"
        %dt
          =t('.offence')
        %dd
          - if claim.offence
            = claim.offence.description
        %dt
          =t('.offence_class')
        %dd
          - if claim.offence
            = claim.offence.offence_class
    %li
      %dl
        %dt
          =t('common.crown_court')
        %dd
          - if claim.court
            = claim.court.name
        %dt
          = t('.q.retrial')
        %dd
          = claim.retrial
        %dt
          =t('.j_a')
        %dd
          = claim.any_judicial_apportionments        
        %dt
          = t('.trial_concluded')
        %dd
          = claim.trial_concluded
        %dt
          = t('common.advocate')
        %dd
          = claim.advocate.name
        %dt
          = t('.advocate_category')
        %dd
          = claim.advocate_category
