.claim-hgroup
  .grid-row
    .column-one-third
      %h1
        = 'Case number:'
        %span.case-number-header
          = claim.case_number
          %span.unique-id-small= claim.unique_id
    .column-one-third
      .claim-status{tabindex: 0}
        = 'Status:'
        %span{class: "state state-#{claim.state}"}
          = claim.state.humanize

    .column-one-third
      %h1
        = 'Claim assessed date:'
        %span.case-number-header
          = claim.assessment_date

  .grid-row
    .column-one-third
      %h1
        = 'Defendant names:'
        %span.case-number-header
          = claim.defendant_name_and_initial
        %span
          = claim.other_defendant_summary
    .column-one-third
      %h1
        = 'Firm or Chambers:'
        %span.case-number-header
          = claim.provider.name


    .column-one-third.claim-detail-actions
      - if current_user.persona.is_a?(ExternalUser)
        - if claim.editable?
          = "Actions:"
          %div.action-wrapper
            = link_to 'Edit this claim', edit_polymorphic_path(claim), class: 'button edit-claim'
            -if claim.from_api? || claim.api_web_edited?
              = form_for @claim, as: :claim, url:polymorphic_path(claim, anchor: 'evidence_upload'), builder: AdpFormBuilder, multipart: true, authenticity_token: true do |f|
                = f.hidden_field :form_step, value: 'offence_details'
                = f.hidden_field :form_id, value: @claim.form_id
                = f.submit t('buttons.add_evidence'), name: 'commit_continue', class: 'button left btn-spacer-20 button-secondary blue certify-claim'
            = link_to 'Delete draft', external_users_claim_path(claim), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-draft'

        - if claim.archivable?
          = "Actions:"
          %div.action-wrapper
            - if claim.rejected?
              = button_to 'Redraft this claim', clone_rejected_external_users_claim_path(claim), method: 'patch', class: 'button resubmit-claim', form: { style: 'display: inline-block;' }
            = link_to 'Archive', external_users_claim_path(claim), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button'
        - if claim.archived_pending_delete?
          = "Actions:"
          %div.action-wrapper
            = button_to 'Unarchive', unarchive_external_users_claim_path(claim), method: 'patch', class: 'button', form: { style: 'display: inline-block;' }
