- cracked_trial_detail_translations = 'external_users.claims.case_details.cracked_trial_fields'

- trial_cracked_at_third_key = ''
- if claim.hardship?
  - trial_cracked_at_third_key = t("#{cracked_trial_detail_translations}.trial_cracked_at_third.hardship")
- else
  - trial_cracked_at_third_key = t("#{cracked_trial_detail_translations}.trial_cracked_at_third.default")

= govuk_summary_list do |summary_list|
  - summary_list.with_row do |row|
    - row.with_key(text: t("#{cracked_trial_detail_translations}.trial_fixed_notice_at"))
    - row.with_value(text: (claim.trial_fixed_notice_at&.strftime(Settings.date_format) rescue ''))

  - summary_list.with_row do |row|
    - row.with_key(text: t("#{cracked_trial_detail_translations}.trial_fixed_at"))
    - row.with_value(text: (claim.trial_fixed_at&.strftime(Settings.date_format) rescue '' ))

  - summary_list.with_row do |row|
    - row.with_key(text: t("#{cracked_trial_detail_translations}.trial_cracked_at"))
    - row.with_value(text: (claim.trial_cracked_at&.strftime(Settings.date_format) rescue '' ))

  - summary_list.with_row do |row|
    - row.with_key(text: trial_cracked_at_third_key)
    - row.with_value(text: (claim.trial_cracked_at_third&.humanize rescue '' ))

