#claim-status
  - if claim.display_reject_refuses_reasons?
    = render partial: 'shared/claim_state_transition_reasons', locals: { claim: claim }

  = render partial: 'shared/summary_totals', locals: { claim: claim }

  %h3.heading-medium
    = "Assessment summary"

  %table#determinations{summary: t('.summary')}
    %caption.visuallyhidden
      = t('.caption')
    %thead
      %tr
        %th

        %th.numeric{scope: 'col'}
          = t('.claimed_by', type: claim.external_user_description)
        %th.numeric{ scope: 'col'}
          = t('.laa_heading')
    %tbody
      - if claim.redeterminations.any?
        = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.redeterminations.last }
      - else
        = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.assessment }

