.govuk-grid-row.history
  .govuk-grid-column-one-third
    = ''
  .govuk-grid-column-two-thirds
    .message-right.event
      .message-container
        .message-body
          = determination.event
          %table
            %caption.govuk-visually-hidden
              = t('.caption')
            - determination.itemise do |item, amount|
              %tr
                %th{ scope: 'row' }
                  #{item}:
                %td
                  #{number_to_currency(amount)}
