= form_for(claim, url: case_workers_claim_path(claim), as: :claim) do |f|
  = hidden_field_tag :messages, 'true'

  #claim-status.js-cw-claim-assessment
    = render partial: 'shared/determination_claim_totals', locals: { claim: claim}

    %h3.heading-medium
      = 'Assessment summary'
    %table#determinations{data:{apply_vat: "#{claim.apply_vat}", vat_url: vat_path(format: :json), submitted_date: claim.vat_date(:db), scheme: claim.agfs? ? 'agfs' : 'lgfs' }}
      %thead
        %tr{:style => "vertical-align: top;"}
          %th &nbsp;
          %th
            = t('shared.assessment.claimed_by', type: claim.external_user_description)
          %th
            Total authorised by LAA
            - if claim.opened_for_redetermination?
              .form-hint.xsmall include any amount already authorised
      %tbody
        // CASEWORKER
        -if current_user_is_caseworker? && @claim.enable_assessment_input?
          // ASSESSMENT INPUT
          = f.fields_for :assessment do |af|
            = render partial: 'case_workers/claims/determination_fields', locals: { f: af, claim: claim}

        -elsif current_user_is_caseworker? && @claim.enable_determination_input?
          // DETERMINATION INPUT
          = f.fields_for :redeterminations, claim.redeterminations.build do |rf|
            = render partial: 'case_workers/claims/determination_fields', locals: { f: rf, claim: claim}

        - elsif claim.redeterminations.any?
          // REDETERMINATION
          = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.redeterminations.last }

        - else
          // ELSE
          = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.assessment }

  // CASE WORKER ACTIONS
  - if current_user_is_caseworker?
    .js-cw-claim-action
      %fieldset.form-group.inline.spacer
        %legend.bold-normal.form-label
          = "Update the claim status"
        = f.collection_radio_buttons(:state, claim.valid_transitions_for_detail_form, :first, :last) do |b|
          - b.label(class: "block-label") { b.radio_button + b.text }

    .js-cw-claim-rejection-reasons
      %fieldset.form-group.nested-fields.indent-fieldset.spacer
        %legend.bold-normal.form-label
          = "Choose reason for rejection"
        = collection_radio_buttons(nil, :state_reason, ClaimStateTransitionReason.reasons(:rejected), :code, :description) do |b|
          - b.label(class: "block-label") { b.radio_button + b.text }

    %p
      = f.submit 'Update', class: 'button', id: 'button'
