#claim-status
  - if claim.display_reject_refuses_reasons?
    = render partial: 'shared/claim_state_transition_reasons', locals: { claim: claim }

  = render partial: 'shared/summary_totals', locals: { claim: claim }

  = govuk_table(classes: 'app-table--responsive', html_attributes: { id: 'determinations' }) do |table|
    = table.with_caption do
      %h2.govuk-heading-l
        = t('shared.determinations_form.assessment_summary')

    = table.with_head do |head|
      = head.with_row do |row|
        = row.with_cell(text: t('common.description'))
        = row.with_cell(text: t('.claimed_by', type: claim.external_user_description), numeric: true)
        = row.with_cell(text: t('.laa_heading'), numeric: true)

    = table.with_body do |body|
      - if claim.redeterminations.any?
        = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.redeterminations.last, body: body }
      - else
        = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.assessment, body: body }
