%h3.heading-medium
  = 'Claim totals'

  %table
    %thead
      %tr
        %th{:scope => "col"}

        %th.numeric{:scope => "col"}
          Net Total
        %th.numeric{:scope => "col"}
          VAT only
        %th.numeric{:scope => "col"}
          Gross Total

    %tbody
      %tr
        %td
          Fees
        %td.numeric
          = claim.fees_total
        %td.numeric
          = claim.fees_vat
        %td.numeric
          = claim.fees_gross

      - if claim.can_have_expenses?
        %tr
          %td
            Expenses
          %td.numeric
            = claim.expenses_total
          %td.numeric
            = claim.expenses_vat
          %td.numeric
            = claim.expenses_gross

      - if claim.can_have_disbursements?
        %tr
          %td
            Disbursements
          %td.numeric
            = claim.disbursements_total
          %td.numeric
            = claim.disbursements_vat
          %td.numeric
            = claim.disbursements_gross

      %tr
        %td{:colspan => 4}
          = "&nbsp;".html_safe
      %tr
        %td
          Claim Total:
        %td.numeric
          = claim.total
        %td.numeric
          = claim.vat_amount
        %td.numeric
          = claim.total_inc_vat