- present(determination) do |determination|
  %tr.determination-display
    %td Fees
    %td= claim.fees_total
    %td#determination-fees= determination.fees_total
  %tr.determination-display
    %td Expenses
    %td= claim.expenses_total
    %td#determination-expenses= determination.expenses_total
  %tr.determination-display
    %td Total
    %td= claim.total
    %td#determination-total= determination.total