#claim-status
  - if claim.last_state_transition_reason.present?
    %h3.indent-sides= "Reason provided: #{claim.last_state_transition_reason.description}"

  %table#determinations.indent-sides{summary: t('.summary')}
    %caption.visuallyhidden
      = t('.caption')
    %thead
      %tr
        %th

        %th.numeric{scope: 'col'}
          = t('.claimed_by', type: claim.external_user_description)
        %th.numeric{ scope: 'col'}
          = t('.laa_heading')
    %tbody
      - if claim.redeterminations.any?
        = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.redeterminations.last }
      - else
        = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.assessment }
