#claim-status
  - if claim.display_reject_refuses_reasons?
    = render partial: 'shared/claim_state_transition_reasons', locals: { claim: claim }

  = render partial: 'shared/summary_totals', locals: { claim: claim }

  = cccd_govuk_table(id: 'determinations') do
    = govuk_table_caption do
      %h2.govuk-heading-l
        = t('shared.determinations_form.assessment_summary')

    = govuk_table_thead do
      = govuk_table_row do
        = govuk_table_th do
          = t('common.description')

        = govuk_table_th_numeric do
          = t('.claimed_by', type: claim.external_user_description)

        = govuk_table_th_numeric do
          = t('.laa_heading')

    = govuk_table_tbody do
      - if claim.redeterminations.any?
        = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.redeterminations.last }
      - else
        = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.assessment }
