- present(determination) do |determination|
  %tr.determination-display
    %th{scope:'row'} Fees
    %td.numeric
      = claim.fees_total
    %td.numeric#determination-fees= determination.fees_total
  %tr.determination-display
    %th{scope:'row'} Expenses
    %td.numeric
      = claim.expenses_total
    %td.numeric#determination-expenses= determination.expenses_total
  - if claim.disbursements.any?
    %tr.determination-display
      %th{scope:'row'} Disbursements
      %td.numeric
        = claim.disbursements_total
      %td.numeric#determination-disbursements= determination.disbursements_total
  %tr.determination-display
    %th{scope:'row'}
      Total(excluding VAT)
    %td.numeric
      = claim.total
    %td.numeric#js-determination-total-exc-vat
      = determination.total
  %tr.determination-display
    %th{scope:'row'}
      = "VAT(#{VatRate.pretty_rate(Date.parse(claim.vat_date))})"
    %td.numeric
      = claim.vat_amount
    %td.numeric#js-determination-total-vat
      = determination.vat_amount
  %tr.determination-display
    %th{scope:'row'}
      = "Total(including #{VatRate.pretty_rate(Date.parse(claim.vat_date))} VAT)"
    %td.numeric
      = claim.total_inc_vat
    %td.numeric#js-determination-total-inc-vat
      = determination.total_inc_vat
