= render partial: 'shared/evidence_checklist'

.app-summary-section
  %h3.govuk-heading-m
    = t('.existing_evidence')

  - if current_user_persona_is?(CaseWorker) && @claim.documents.any?
    = govuk_link_to t('shared.download_all_html', context: t('.existing_evidence')), download_zip_case_workers_claim_path(@claim), class: 'download-all-link'

  - if @claim.documents.none?
    %p.govuk-body
      = t('.no_documents_uploaded')

  - else
  .govuk-summary-card.custom-summary-card
  .govuk-summary-card__title-wrapper
    %h2.govuk-summary-card__title= t('.existing_evidence')
  .govuk-summary-card__content
    %dl.govuk-summary-list
      %dt.govuk-summary-list__key= t('.name_of_file')
      %dd.govuk-summary-list__value
        - @claim.documents.includes(:document_blob, :converted_preview_document_attachment).each do |document|
          = govuk_link_to document.document_file_name, download_document_path(document)

      %dt.govuk-summary-list__key= t('.file_size')
      %dd.govuk-summary-list__value
        - @claim.documents.each do |document|
          = number_to_human_size(document.document_file_size)

      %dt.govuk-summary-list__key= t('.date_added')
      %dd.govuk-summary-list__value
        - @claim.documents.each do |document|
          = document.created_at.strftime(Settings.date_format)
