%section
  = render partial: 'shared/evidence_checklist'
  %h3
    = t('.existing_evidence')
  - if @claim.documents.none?
    = t('.no_documents_uploaded')
  - else
    %table#download-files-report
      %thead
        %tr
          %th
            = t('.name_of_file')
          %th.numerical
            = t('.date_added')
          %th
            = t('.actions')
      %tbody

        - @claim.documents.each do |document|
          %tr
            %td
              = document.document_file_name
            %td.numerical
              = document.created_at
            %td
              - if document.converted_preview_document.present?
                = link_to t('common.view'), document_path(document), target: '_blank', class: 'view'
                = " | "
              = link_to t('common.download'), download_document_path(document), class: 'download'
