.evidence-checklist-read-only
  - if @claim.disk_evidence?
    %h3.govuk-heading-m
      = t('.evidence_address')
    = render partial: 'external_users/claims/supporting_documents/laa_address', locals: { f: @claim }

  - unless @claim.evidence_checklist_ids.empty?
    .govuk-summary-card
      .govuk-summary-card__title-wrapper
        %h2.govuk-summary-card__title= (t('shared.evidence_checklist.caption'))
      .govuk-summary-card__content
        %dl.govuk-summary-list
          = govuk_summary_list do
            %ul.remove-margin
            - DocType.find_by_ids(@claim.evidence_checklist_ids).each do |dt|
              %li.no-bullets-item.format-supporting-evidence-list
                = dt.name
