%section
  = render partial: 'shared/evidence_checklist'
  %h3.indent-sides
    = t('.existing_evidence')
  - if @claim.documents.none?
    .indent-sides
      = t('.no_documents_uploaded')
  - else
    %table#download-files-report.indent-sides
      %caption.visually-hidden
        = t('.existing_evidence')
      %colgroup
        %col
        %col
        %col
        %col
      %thead
        %tr
          %th{scope:'col'}
            = t('.name_of_file')
          %th{scope:'col'}
            = t('.file_size')
          %th.numeric{scope:'col'}
            = t('.date_added')
          %th{scope:'col'}
            = t('.actions')
      %tbody

        - @claim.documents.each do |document|
          %tr
            %td
              = document.document_file_name
            %td
              = number_to_human_size(document.document_file_size)
            %td.numeric
              = document.created_at
            %td
              - if document.converted_preview_document.present?
                = link_to t('common.view'), document_path(document), target: '_blank', class: 'view'
                = " | "
              = link_to t('common.download'), download_document_path(document), class: 'download'
