= simple_form_for message, remote: !@claim.redeterminable?, authenticity_token: true do |f|
  = f.input :claim_id, value: @claim.id, as: :hidden

  - if current_user_persona_is?(ExternalUser) && @claim.redeterminable?
    .js-hide-status
      %fieldset.inline{ 'aria-describedby': 'radio-control-legend-1' }
        %legend#radio-control-legend-1
          %span.form-label-bold
            = t('.update_claim_status')

        .form-group.inline.js-test-claim-action
          = f.collection_radio_buttons(:claim_action, Claims::ExternalUserActions.available_for(@claim), :to_s, :to_s) do |b|
            .multiple-choice
              = b.radio_button("aria-labelledby": "radio-control-legend-1 #{b.text.to_css_class}")
              = b.label(id: b.value.to_css_class) { b.value.humanize }

  - if messaging_permitted?(message) || current_user_is_caseworker?
    .grid-row.js-test-send-buttons

      .message-column.form-group
        = f.label :body, 'Enter a message', class: 'form-label'
        = f.text_area :body, as: :text, rows: 10, label: false, class: 'form-control'

        - if current_user_is_caseworker? && @claim.written_reasons_outstanding?
          .written-reasons-checkbox
            = f.input :written_reasons_submitted, as: :boolean
      .upload-column.form-group
        = f.label :attachment, 'Optionally attach a file (maximum 1 file per message)', class: 'form-label'
        = f.file_field :attachment

    .xsmall.form-hint
      = t('.accepted_files_help_text')

    .file-to-be-uploaded
      %span.filename
      = ' | '
      %a{ href: '#', title: t('.remove_file_tool_tip') }
        = t('.remove')

    .submit-column
      = f.submit t('.send'), class: 'button-secondary'

