.grid-row.message{ id: dom_id(message) }

  - if message.sender_is_a?(ExternalUser)
    .column-two-thirds
      .message-left
        .message-container
          .message-body
            = message.body
            .message-audit
              = message.sender_name
              = message.timestamp

    .column-one-third
      &nbsp;

  - if message.sender_is_a?(CaseWorker)
    .column-one-third
      &nbsp;
    .column-two-thirds
      .message-right
        .message-container
          .message-body
            = message.body
            .message-audit
              = message.sender_name
              = message.timestamp
