= simple_form_for message, remote: true, authenticity_token: true  do |f|
  = f.input :claim_id, value: message.claim.id, as: :hidden
  - if current_user.persona.is_a?(ExternalUser) && Claim::BaseClaim::VALID_STATES_FOR_REDETERMINATION.include?(message.claim.state)
    .js-hide-status
      = f.label "Update your claim status", class: "form-label bold-normal"
      .form-group.inline.js-test-claim-action
        = f.collection_radio_buttons(:claim_action, ['Apply for redetermination', 'Request written reasons'], :to_s, :to_s) do |b|
          - b.label(class: "block-label") { b.radio_button + b.value.humanize }
  - if (current_user.persona.is_a?(ExternalUser) && (Claim::BaseClaim::VALID_STATES_FOR_REDETERMINATION.include?(message.claim.state) == false)|| message.claim_action.present?) || current_user.persona.is_a?(CaseWorker)
    .grid-row.js-test-send-buttons
      .upload-column
        .upload-button.button-secondary
          =  f.input :attachment, as: :file, wrapper: false, label: false
          .upload-title="+ Upload"
      .message-column
        = f.input :body, as: :string, placeholder: 'Enter your message here', label: false
        - if current_user.persona.is_a?(CaseWorker) && message.claim.written_reasons_outstanding?
          .written-reasons-checkbox
            = f.input :written_reasons_submitted, as: :boolean
      .submit-column
        = f.submit 'Send', class: 'button-secondary'
    .xsmall.form-hint
      = "Files accepted: pdf, doc, rtf, jpeg, png, tiff, bmp: (Max file upload 20MB)"
    .file-to-be-uploaded
      %span.filename
      = " | "
      %a{href:"#", title: "Remove the file you have selected to upload"}
        = "Remove"
