= simple_form_for message, remote: !@claim.redeterminable?, authenticity_token: true  do |f|
  = f.input :claim_id, value: @claim.id, as: :hidden

  - if current_user_persona_is?(ExternalUser) && @claim.redeterminable?
    .js-hide-status
      = f.label t('.update_claim_status'), class: "form-label bold-normal"
      .form-group.inline.js-test-claim-action
        = f.collection_radio_buttons(:claim_action, Settings.claim_actions, :to_s, :to_s) do |b|
          - b.label(class: "block-label") { b.radio_button + b.value.humanize }

  - if advocate_messaging_permitted?(message) || current_user_is_caseworker?
    .grid-row.js-test-send-buttons
      Enter a message below and optionally attach a file (maximum 1 file per message).
      .message-column
        = f.text_area :body, as: :text, rows: 10, placeholder: t('.message_placeholder'), label: false, class: 'form-control'

        - if current_user_is_caseworker? && @claim.written_reasons_outstanding?
          .written-reasons-checkbox
            = f.input :written_reasons_submitted, as: :boolean
      .upload-column
        = f.file_field :attachment

    .xsmall.form-hint
      = t('.accepted_files_help_text')

    .file-to-be-uploaded
      %span.filename
      = " | "
      %a{href:"#", title: t('.remove_file_tool_tip')}
        = t('.remove')

    .submit-column
      = f.submit t('.send'), class: 'button-secondary'

