%section#messages
  .timeline
    %ul.days
      %li
        %ul
          - if @messages.none?
            %span.no-messages
              No messages found
          - else
            = render partial: 'shared/message', collection: @messages

    = simple_form_for @message, remote: true, authenticity_token: true  do |f|
      .message-notification
      .message-error

      = f.input :claim_id, value: @claim.id, as: :hidden
      = f.input :subject, placeholder: 'Subject', label: false
      = f.input :body, placeholder: 'Message', label: false

      - if Claim::VALID_STATES_FOR_REDETERMINATION.include?(@claim.state)
        .claim-action-dropdown
          = f.label :claim_action
          = f.collection_select :claim_action, ['Apply for redetermination', 'Request written reasons'], :to_s, :to_s, { prompt: true }, { class: 'select2' }

      = f.input :attachment, as: :file, label: false

      = f.submit 'Post', class: 'button'
