.grid-row{id: dom_id(message) }

  - if message.sender_is_a?(Advocate)
    .column-two-thirds
      .message-left
        .message-container
          .message-body
            = message.body
            - if message.attachment.present?
              .has-attachment
                = "Attachment:"
                = link_to(message.attachment.original_filename, download_attachment_message_path(message), title: 'Download '+ message.attachment.original_filename, class: 'attachment')
          .grid-row.message-audit
            .column-half.sender
              = message.sender_name
              (#{message.sender_persona})
            .column-half.sent
              = message.timestamp
    .column-third
      &nbsp;

  - if message.sender_is_a?(CaseWorker)
    .column-third
      &nbsp;
    .column-two-thirds
      .message-right
        .message-container
          .message-body
            = message.body
            - if message.attachment.present?
              .has-attachment
                = "Attachment:"
                = link_to(message.attachment.original_filename, download_attachment_message_path(message), title: 'Download '+ message.attachment.original_filename, class: 'attachment')
          .grid-row.message-audit
            .column-half.sender
              - if current_user.persona.is_a?(CaseWorker)
                = message.sender_name
              (#{message.sender_persona})
            .column-half.sent
              = message.timestamp
