%section#messages
  .messages-container
    .messages-list
      = render partial: 'shared/message_list', locals: {claim: @claim }
    .message-status
      = "Status:"
      %span.message-success
      %span.message-error
    .message-controls
      = simple_form_for @message, remote: true, authenticity_token: true  do |f|
        = f.input :claim_id, value: @claim.id, as: :hidden
        .grid-row
          .upload-column
            .upload-button
              =  f.input :attachment, as: :file, wrapper: false, label: false
              .upload-title="Upload File"
          .message-column
            = f.input :body, :wrapper => false, placeholder: 'Enter your message', label: false
          .submit-column
            = f.submit 'Send', class: 'button button-secondary'

        - if current_user.persona.is_a?(Advocate) && Claim::VALID_STATES_FOR_REDETERMINATION.include?(@claim.state)
          .claim-action-dropdown
            = f.label :claim_action
            = f.collection_select :claim_action, ['Apply for redetermination', 'Request written reasons'], :to_s, :to_s, { prompt: true }, { class: 'select2' }

        - if current_user.persona.is_a?(CaseWorker) && @claim.written_reasons_outstanding?
          .written-reasons-checkbox
            = f.input :written_reasons_submitted, as: :boolean
