.grid-row{id: dom_id(message) }

  - if message.sender_is_a?(ExternalUser)
    .column-two-thirds
      .message-left
        .message-container
          .message-body
            = message.body
          .grid-row.message-audit
            .column-half.sender
              = message.sender_name
              (#{message.sender_persona})
            .column-half.sent
              = message.timestamp
    .column-third
      &nbsp;

  - if message.sender_is_a?(CaseWorker)
    .column-third
      &nbsp;
    .column-two-thirds
      .message-right
        .message-container
          .message-body
            = message.body
          .grid-row.message-audit
            .column-half.sender
              - if current_user_is_caseworker?
                = message.sender_name
              (#{message.sender_persona})
            .column-half.sent
              = message.timestamp
