.govuk-summary-card
  .govuk-summary-card__title-wrapper
    %h2.govuk-summary-card__title
      = t('common.fees')

  .govuk-summary-card__content
    = govuk_table(classes: 'app-table--responsive') do |table|
      = table.with_caption(classes: 'govuk-visually-hidden', text: t('.fees.caption'))

      = table.with_head do |head|
        = head.with_row do |row|
          = row.with_cell(text: t('.fee_category'))
          = row.with_cell(text: t('.fee_type'))
          - unless claim.interim?
            = row.with_cell(text: t('.quantity'), numeric: true)
          = row.with_cell(text: t('.rate'), numeric: true)
          = row.with_cell(text: t('.net_amount'), numeric: true)

      = table.with_body do |body|
        - present_collection(claim.fees.select(&:present?).sort_by(&:position)).each do |fee|
          = body.with_row do |row|
            = row.with_cell(html_attributes: { 'data-label': t('.fee_category') }) do
              = fee.fee_type&.fee_category_name || 'n/a'
              - if fee.fee_type.unique_code.eql?('BABAF')
                - if fee.first_day_of_trial
                  %p{ class: 'govuk-!-margin-bottom-1' }= t('.first_day_of_trial')
                  %p{ class: 'govuk-!-margin-bottom-2' }= fee.first_day_of_trial
                  - if fee.retrial_started_at
                    %p{ class: 'govuk-!-margin-bottom-1' }= t('.retrial_started_at')
                    %p{ class: 'govuk-!-margin-bottom-2' }= fee.retrial_started_at

              - if fee.dates_attended.any?
                %p{ class: 'govuk-!-margin-bottom-1' }
                  - if fee.fee_type.unique_code.eql?('BABAF')
                    = t(fee.claim.case_type.name.split(' ').map(&:capitalize).join.underscore, scope: "external_users.claims.basic_fees.basic_fee_fields_primary.date_label")
                  - else
                    = t('.dates_attended')
                %p{ class: 'govuk-!-margin-bottom-2' }= fee.dates_attended_delimited_string

              - if fee.date?
                %p{ class: 'govuk-!-margin-bottom-2' }= "#{t('.date')}: #{fee.date}"

            = row.with_cell(html_attributes: { 'data-label': t('.fee_type') }) do
              = fee.fee_type&.description || 'n/a'
              - if fee.sub_type.present?
                %p{ class: 'govuk-!-margin-bottom-1' }= "#{t('.fee_subtype')}: #{fee.sub_type.description}"
              - if fee.case_uplift?
                %p{ class: 'govuk-!-margin-bottom-1' }= "#{t('.case_numbers')}: #{fee.case_numbers}"

            - unless claim.interim?
              = row.with_cell(html_attributes: { 'data-label': t('.quantity') }, text: fee.quantity, numeric: true)

            = row.with_cell(html_attributes: { 'data-label': t('.rate') }, text: fee.rate, numeric: true)
            = row.with_cell(html_attributes: { 'data-label': t('.net_amount') }, text: fee.amount, numeric: true)

    = govuk_table(classes: 'app-table--responsive govuk-table--custom govuk-!-margin-bottom-0') do |table|
      = table.with_head do |head|
        = head.with_row do |row|
          = row.with_cell(text: t('shared.description'))
          = row.with_cell(text: t('shared.net_amount'), numeric: true)
          = row.with_cell(text: t('shared.vat'), numeric: true)
          = row.with_cell(text: t('shared.gross_amount'), numeric: true)

      = table.with_body do |body|
        = body.with_row(classes: 'govuk-table__row--no-bottom-border') do |row|
          = row.with_cell(html_attributes: { 'data-label': t('shared.description') }, text: t('shared.summary.fees_total'))
          = row.with_cell(html_attributes: { 'data-label': t('shared.net_amount') }, text: claim.fees_total, numeric: true)
          = row.with_cell(html_attributes: { 'data-label': t('shared.vat') }, text: claim.fees_vat, numeric: true)
          = row.with_cell(html_attributes: { 'data-label': t('shared.gross_amount') }, text: claim.fees_gross, numeric: true)
