- unless claim.providers_ref.blank?
  = govuk_table_row do
    = govuk_table_th(scope: 'row', class: 'summary-page-table-two-row') { t('.provider_reference') }
    = govuk_table_td { claim.providers_ref }

- unless claim.draft?
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t('.claim_submitted') }
    = govuk_table_td { claim.submitted_at }

- if claim.case_workers.any? && current_user_is_caseworker? && current_user.persona.admin?
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t('.assignee') }
    = govuk_table_td { claim.case_worker_names }

- if @claim.lgfs?
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t('common.external_user.claim_creator') }
    = govuk_table_td { claim.creator.name }

- if @claim.agfs?
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t("common.external_user.#{@claim.external_user_type}") }
    = govuk_table_td { claim.external_user.name }
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t("common.external_user.category.#{@claim.external_user_type}") }
    = govuk_table_td { claim.advocate_category }

= govuk_table_row do
  = govuk_table_th(scope: 'row') { t("common.external_user.account_number.#{@claim.external_user_type}") }
  = govuk_table_td { claim.supplier_number }

- if claim.court
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t('common.crown_court') }
    = govuk_table_td { claim.court.name }

= govuk_table_row do
  = govuk_table_th(scope: 'row') { t('.case_num') }
  = govuk_table_td do
    = claim.case_number
    %span.unique-id-small
      = claim.unique_id

- if claim.transfer_court.present?
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t('common.transfer_court') }
    = govuk_table_td { claim.transfer_court.name }
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t('common.transfer_case_number') }
    = govuk_table_td { claim.transfer_case_number }

- if claim.case_stage
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t('.case_stage') }
    = govuk_table_td { claim.case_stage&.description }

- if claim.display_case_type?
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t('.case_type') }
    = govuk_table_td { claim.case_type&.name }

- if claim.discontinuance?
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t('common.prosecution_evidence') }
    = govuk_table_td { t(claim.prosecution_evidence?.class) }
