.govuk-summary-card
  .govuk-summary-card__title-wrapper
    %h2.govuk-summary-card__title
      = "#{t('.title_defendant')} #{index}"

  .govuk-summary-card__content
    = govuk_table do
      = govuk_table_tbody do
        = govuk_table_row do
          = govuk_table_th(scope: 'row') { t('.first_name') }
          = govuk_table_td { defendant.first_name }

        = govuk_table_row do
          = govuk_table_th(scope: 'row') { t('.last_name') }
          = govuk_table_td { defendant.last_name }

        = govuk_table_row do
          = govuk_table_th(scope: 'row') { t('.date_of_birth') }
          = govuk_table_td { defendant.date_of_birth.strftime(Settings.date_format) rescue '' }

        = govuk_table_row do
          = govuk_table_th(scope: 'row') { t('.order_of_judicial_apportionment') }
          = govuk_table_td { defendant.order_for_judicial_apportionment == true ? t('global_yes') : t('global_no') }

        - if defendant.representation_orders.any?
          - defendant.representation_orders.each_with_index do |representation_order, index|
            = govuk_table_row do
              = govuk_table_th(scope: 'row') { "#{t('.reporders')} #{index + 1}" }
              = govuk_table_td do
                %p
                  %span= representation_order.representation_order_date.strftime(Settings.date_format) rescue ''
                %p
                  %span= t('.maat_reference')
                  = representation_order.maat_reference

        - else
          = govuk_inset_text(t('.no_reporder'))
