= govuk_summary_list_row do
  = govuk_summary_list_key { t('common.transfer_detail_summary') }
  = govuk_summary_list_value(class: 'govuk-!-width-one-quarter') { claim.transfer_detail_summary rescue '' }

= govuk_summary_list_row do
  = govuk_summary_list_key { t('common.transfer_date') }
  = govuk_summary_list_value(class: 'govuk-!-width-one-quarter') { claim.transfer_date rescue '' }
