.govuk-summary-card
  .govuk-summary-card__title-wrapper
    %h2.govuk-summary-card__title
      = t('.certification_box_title')

  .govuk-summary-card__content
    = govuk_table do
      = govuk_table_tbody do
        = govuk_table_row(class: 'no-border-bottom') do
          = govuk_table_th(scope: 'row') { t('.instructed_heading') }
          = govuk_table_td { claim.external_user.name }

        - if @claim.agfs?
          = govuk_table_row do
            = govuk_table_th(scope: 'row') { t('.certification_reason') }
            = govuk_table_td { claim.certification.certification_type.name rescue '' }
