.govuk-summary-card
  .govuk-summary-card__title-wrapper
    %h2.govuk-summary-card__title
      = t('common.fees')
  .govuk-summary-card__content
    = govuk_table(classes: 'app-table--responsive govuk-!-margin-bottom-2') do |table|
      = table.with_caption(classes: 'govuk-visually-hidden', text: t('.fees.caption'))

      = table.with_head do |head|
        = head.with_row do |row|
          = row.with_cell(text: t('.fee_category'))
          = row.with_cell(text: t('.fee_type'))

          - if claim.display_days?
            = row.with_cell(text: claim.transfer? ? t('.days_claimed') : t('.actual_trial_length'), numeric: true)

          = row.with_cell(text: claim.fixed_fee_case? ? t('.quantity') : 'PPE', numeric: true)

          - if claim.fixed_fee_case?
            = row.with_cell(text: t('.rate'), numeric: true)

          = row.with_cell(text: t('.amount'), numeric: true)

      = table.with_body do |body|
        - present_collection(claim.fees.select(&:present?).sort_by(&:position)).each do |fee|
          = body.with_row do |row|
            = row.with_cell(html_attributes: { 'data-label': t('.fee_category') }) do
              = fee.fee_type&.fee_category_name || fee.not_applicable
              - if fee.dates_attended.any?
                %br
                = t('.dates_attended')
                = fee.dates_attended_delimited_string
              - if fee.date?
                %br
                = t('.date')
                = fee.date

            = row.with_cell(html_attributes: { 'data-label': t('.fee_type') }) do
              = fee.fee_type&.description || fee.not_applicable
              - if fee.sub_type.present?
                %br
                = "#{t('.fee_subtype')}: #{fee.sub_type.description}"
              - if fee.case_uplift?
                %br
                = "(#{t('.case_numbers')}: #{fee.case_numbers})"

            - if claim.display_days?
              = row.with_cell(html_attributes: { 'data-label': claim.transfer? ? t('.days_claimed') : t('.actual_trial_length') }, numeric: true) do
                = fee.days_claimed

            = row.with_cell(html_attributes: { 'data-label': claim.fixed_fee_case? ? t('.quantity') : 'PPE' }, text: fee.quantity, numeric: true)

            - if claim.fixed_fee_case?
              = row.with_cell(html_attributes: { 'data-label': t('.rate') }, text: fee.rate, numeric: true)

            = row.with_cell(html_attributes: { 'data-label': t('.amount') }, text: fee.amount, numeric: true)

    .govuk-summary-list
      = govuk_summary_list_row do
        = govuk_summary_list_key do
          = t('.fees_total')
        = govuk_summary_list_value(class: 'govuk-!-text-align-right') do
          = claim.fees_total
