= govuk_summary_card(title: "#{t('.title_defendant')} #{index}") do |card|
  - card.with_summary_list do |summary_list|

    - summary_list.with_row do |row|
      - row.with_key(text: t('shared.new_claim_defendant_details.full_name'))
      - row.with_value(text: defendant.name, classes: 'govuk-!-width-one-quarter')

    - summary_list.with_row do |row|
      - row.with_key(text: t('shared.new_claim_defendant_details.date_of_birth'))
      - row.with_value(text: (defendant.date_of_birth&.strftime(Settings.date_format) || ''), classes: 'govuk-!-width-one-quarter')

    - summary_list.with_row do |row|
      - row.with_key(text: t('shared.new_claim_defendant_details.order_of_judicial_apportionment'))
      - row.with_value(text: (defendant.order_for_judicial_apportionment ? t('global_yes') : t('global_no')), classes: 'govuk-!-width-one-quarter')

    - if defendant.representation_orders.any?
      - defendant.representation_orders.each_with_index do |representation_order, rep_index|
        - summary_list.with_row do |row|
          - row.with_key(text: "#{t('shared.new_claim_defendant_details.reporders')} #{rep_index + 1}")
          - row.with_value do
            %p
              %span= representation_order.representation_order_date&.strftime(Settings.date_format) || ''
            %p
              %span= t('shared.new_claim_defendant_details.maat_reference')
              = representation_order.maat_reference
    - else
      = govuk_inset_text(text: t('shared.new_claim_defendant_details.no_reporder'))
