- fee = present(claim.interim_fee)

%dl.govuk-summary-list__row.summary-page-table-two-row
  %dt.govuk-summary-list__key
    = t('shared.summary.fee_type')
  %dd.govuk-summary-list__value
    = fee.fee_type.description

- if fee.is_interim_warrant?
  .govuk-summary-list
    %dl.govuk-summary-list__row.summary-page-table-two-row
      %dt.govuk-summary-list__key
        = t('shared.summary.warrant_fee.date_issued')
      %dd.govuk-summary-list__value
        = fee.warrant_issued_date

- if fee.warrant_executed_date.present?
  .govuk-summary-list
    %dl.govuk-summary-list__row.summary-page-table-two-row
      %dt.govuk-summary-list__key
        = t('shared.summary.warrant_fee.date_executed')
      %dd.govuk-summary-list__value
        = fee.warrant_executed_date
- else
  - unless fee.is_disbursement?
    %dl.govuk-summary-list__row.summary-page-table-two-row
      %dt.govuk-summary-list__key
        = t('shared.summary.ppe_total')
      %dd.govuk-summary-list__value
        = fee.quantity
  - if fee.is_effective_pcmh?
    %dl.govuk-summary-list__row.summary-page-table-two-row
      %dt.govuk-summary-list__key
        = t('shared.summary.effective_pcmh_date')
      %dd.govuk-summary-list__value
        = fee.effective_pcmh_date

  - if fee.is_trial_start?
    %dl.govuk-summary-list__row.summary-page-table-two-row
      %dt.govuk-summary-list__key
        = t('shared.summary.trial_start')
      %dd.govuk-summary-list__value
        = fee.first_day_of_trial

    %dl.govuk-summary-list__row.summary-page-table-two-row
      %dt.govuk-summary-list__key
        = t('shared.summary.estimated_trial_length')
      %dd.govuk-summary-list__value
        = fee.estimated_trial_length

  - if fee.is_retrial_start?
    %dl.govuk-summary-list__row.summary-page-table-two-row
      %dt.govuk-summary-list__key
        = t('shared.summary.retrial_start')
      %dd.govuk-summary-list__value
        = fee.retrial_started_at

    %dl.govuk-summary-list__row.summary-page-table-two-row
      %dt.govuk-summary-list__key
        = t('shared.summary.estimated_retrial_length')
      %dd.govuk-summary-list__value
        = fee.retrial_estimated_length

  - if fee.is_retrial_new_solicitor?
    %dl.govuk-summary-list__row.summary-page-table-two-row
      %dt.govuk-summary-list__key
        = t('shared.summary.legal_aid_transfer_date')
      %dd.govuk-summary-list__value
        = fee.legal_aid_transfer_date

    %dl.govuk-summary-list__row.summary-page-table-two-row
      %dt.govuk-summary-list__key
        = t('shared.summary.trial_concluded_at')
      %dd.govuk-summary-list__value
        = fee.trial_concluded_at
