.govuk-summary-card
  .govuk-summary-card__title-wrapper
    %h2.govuk-summary-card__title
      = t('.certification_box_title')

  .govuk-summary-card__content
    = govuk_summary_list do
      = govuk_summary_list_row_collection(t('.instructed_heading'), class: 'summary-page-table-two-row') do
        = claim.external_user.name

      - if @claim.agfs?
        = govuk_summary_list_row_collection(t('.certification_reason'), class: 'summary-page-table-two-row' ) do
          = claim.certification.certification_type.name rescue ''
