.govuk-summary-card
  .govuk-summary-card__title-wrapper
    %h2.govuk-summary-card__title
      - if vat_total
        = t('.disbursements_gross')
      - else
        = t('.disbursements_without_vat')
  .govuk-summary-card__content
    = govuk_table(classes: 'govuk-table--custom govuk-!-margin-bottom-0 app-table--responsive') do |table|
      = table.with_caption(classes: 'govuk-visually-hidden', text: t('.disbursements_caption'))

      = table.with_head do |head|
        = head.with_row do |row|
          = row.with_cell(text: t('.disbursement_type'))
          = row.with_cell(text: t('.net_amount'), numeric: true)
          = row.with_cell(text: t('.vat_amount'), numeric: true)
          = row.with_cell(text: t('.gross_amount'), numeric: true)

      = table.with_body do |body|
        - present_collection(disbursements).each do |disbursement|
          = body.with_row do |row|
            = row.with_cell(html_attributes: { 'data-label': t('.disbursement_type') }, text: disbursement.name)
            = row.with_cell(html_attributes: { 'data-label': t('.net_amount') }, text: disbursement.net_amount, numeric: true)
            = row.with_cell(html_attributes: { 'data-label': t('.vat') }, text: disbursement.vat_amount, numeric: true)
            = row.with_cell(html_attributes: { 'data-label': t('.gross_amount') }, text: disbursement.total, numeric: true)

      = table.with_foot(classes: 'govuk-table__foot') do |foot|
        = foot.with_row(classes: 'govuk-table__row--no-bottom-border') do |row|
          = row.with_cell(header: true, classes: 'govuk-table__cell', html_attributes: { scope: 'row' }, text: t('shared.disbursement_type')) do
            - vat_total ? t('.disbursements_gross') : t('.disbursements_without_vat')
          = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.net_amount') }, text: net_total, numeric: true)
          = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.vat') }, text: vat_total, numeric: true)
          = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.gross_amount') },text: gross_total, numeric: true)