- fee = present(claim.interim_fee)
= govuk_table_row do
  = govuk_table_th(scope: 'row') { t('shared.summary.fee_type') }
  = govuk_table_td { fee.fee_type.description }

- if fee.is_interim_warrant?
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t('shared.summary.warrant_fee.date_issued') }
    = govuk_table_td { fee.warrant_issued_date }

- if fee.warrant_executed_date.present?
  = govuk_table_row do
    = govuk_table_th(scope: 'row') { t('shared.summary.warrant_fee.date_executed') }
    = govuk_table_td { fee.warrant_executed_date }
- else
  - unless fee.is_disbursement?
    = govuk_table_row do
      = govuk_table_th(scope: 'row') { t('shared.summary.ppe_total') }
      = govuk_table_td { fee.quantity }

  - if fee.is_effective_pcmh?
    = govuk_table_row do
      = govuk_table_th(scope: 'row') { t('shared.summary.effective_pcmh_date') }
      = govuk_table_td { fee.effective_pcmh_date }

  - if fee.is_trial_start?
    = govuk_table_row do
      = govuk_table_th(scope: 'row') { t('shared.summary.trial_start') }
      = govuk_table_td { fee.first_day_of_trial }
    = govuk_table_row do
      = govuk_table_th(scope: 'row') { t('shared.summary.estimated_trial_length') }
      = govuk_table_td { fee.estimated_trial_length }

  - if fee.is_retrial_start?
    = govuk_table_row do
      = govuk_table_th(scope: 'row') { t('shared.summary.retrial_start') }
      = govuk_table_td { fee.retrial_started_at }
    = govuk_table_row do
      = govuk_table_th(scope: 'row') { t('shared.summary.estimated_retrial_length') }
      = govuk_table_td { fee.retrial_estimated_length }

  - if fee.is_retrial_new_solicitor?
    = govuk_table_row do
      = govuk_table_th(scope: 'row') { t('shared.summary.legal_aid_transfer_date') }
      = govuk_table_td { fee.legal_aid_transfer_date }
    = govuk_table_row do
      = govuk_table_th(scope: 'row') { t('shared.summary.trial_concluded_at') }
      = govuk_table_td { fee.trial_concluded_at }
