- present(@claim) do |claim|
  - if @claim.fees_total == 0
    %p.govuk-body
      = t('shared.summary.no_values.fees')

  - else
    = render partial: 'shared/new_lgfs_fee_details', locals: { claim: claim }

  - if claim.final? && claim.interim_claim_info.present?
    = render partial:'shared/new_warrant_fees_details', locals: { claim: claim }

  - if claim.can_have_disbursements?
    %h2.govuk-heading-l
      = t('common.disbursements')

    - if claim.disbursements.empty?
      %p.govuk-body
        = t('shared.summary.no_values.disbursements')

    - else
      - if claim.disbursements.with_vat.any?
        = render partial: 'shared/new_lgfs_disbursements', locals: { disbursements: claim.disbursements.with_vat, net_total: claim.disbursements_with_vat_net, vat_total: claim.disbursements_vat, gross_total: claim.disbursements_with_vat_gross }
      - if claim.disbursements.without_vat.any?
        = render partial: 'shared/new_lgfs_disbursements', locals: { disbursements: claim.disbursements.without_vat, net_total: claim.disbursements_without_vat_net, vat_total: nil, gross_total: claim.disbursements_without_vat_gross }

