= govuk_table_row do
  = govuk_table_th(scope: 'row') { t('.retrial_started_at') }
  = govuk_table_td { claim&.retrial_started_at&.strftime(Settings.date_format) }

= govuk_table_row do
  = govuk_table_th(scope: 'row') { t('.retrial_estimated_length') }
  = govuk_table_td { claim&.retrial_estimated_length }

= govuk_table_row do
  = govuk_table_th(scope: 'row') { t('.retrial_actual_length') }
  = govuk_table_td { claim&.retrial_actual_length }

= govuk_table_row do
  = govuk_table_th(scope: 'row') { t('.retrial_concluded_at') }
  = govuk_table_td { claim&.retrial_concluded_at&.strftime(Settings.date_format) }

= govuk_table_row do
  = govuk_table_th(scope: 'row') { t('.retrial_reduction') }
  = govuk_table_td { claim&.retrial_reduction? ? 'Yes' : 'No' }

