-# AGFS fees accordion content
- present(@claim) do |claim|
  %section#summary
    %h3.govuk-heading-m
      = t('common.fees')
    - if @claim.fees_total == 0
      %p.govuk-body
        = t('shared.summary.no_values.fees')
    - else
      = govuk_table do
        = govuk_table_caption(class: 'govuk-visually-hidden') do
          = t('.fees.caption')
        = govuk_table_thead do
          = govuk_table_row do
            = govuk_table_th do
              = t('.fee_category')
            = govuk_table_th do
              = t('.fee_type')
            - unless claim.interim?
              = govuk_table_th_numeric do
                = t('.quantity')

            = govuk_table_th_numeric do
              = t('.rate')
            = govuk_table_th_numeric do
              = t('shared.net_amount')
        = govuk_table_tbody do
          - present_collection(claim.fees.select(&:present?).sort_by(&:position)).each do |fee|
            = govuk_table_row do
              = govuk_table_td('data-label': t('.fee_category')) do
                = fee.fee_type&.fee_category_name || 'n/a'
                %br/
                - if fee.fee_type.unique_code.eql?('BABAF')
                  - if fee.first_day_of_trial
                    = t('shared.summary.dates_attended.first_day_of_trial')
                    %br/
                    = fee.first_day_of_trial
                    %br/
                    %br/

                  - if fee.retrial_started_at
                    = t('shared.summary.dates_attended.retrial_started_at')
                    %br/
                    = fee.retrial_started_at
                    %br/
                    %br/
                - if fee.dates_attended.any?
                  - if fee.fee_type.unique_code.eql?('BABAF')
                    = t(fee.claim.case_type.name.split(' ').collect(&:capitalize).join.underscore, scope: "external_users.claims.basic_fees.basic_fee_fields_primary.date_label")
                  - else
                    = t('shared.summary.dates_attended.dates_attended')
                  %br/
                  = fee.dates_attended_delimited_string
                  %br/
                  %br/


                - if fee.date?
                  = t('.date')
                  = fee.date
              = govuk_table_td('data-label': t('.fee_type')) do
                = fee.fee_type&.description || 'n/a'
                - if fee.sub_type.present?
                  %p
                    = "#{t('.fee_subtype')}: #{fee.sub_type.description}"
                - if fee.case_uplift?
                  %br
                  = "#{t('.case_numbers')}: #{fee.case_numbers}"
              - unless claim.interim?
                = govuk_table_td_numeric('data-label': t('.quantity')) do
                  = fee.quantity
              = govuk_table_td_numeric('data-label': t('.rate')) do
                = fee.rate
              = govuk_table_td_numeric('data-label': t('shared.net_amount')) do
                = fee.amount

      = govuk_table do
        = govuk_table_thead do
          = govuk_table_row do
            = govuk_table_th do
              = t('shared.description')
            = govuk_table_th_numeric do
              = t('shared.net_amount')
            = govuk_table_th_numeric do
              = t('shared.vat')
            = govuk_table_th_numeric do
              = t('shared.gross_amount')

        = govuk_table_tbody do
          = govuk_table_row do
            = govuk_table_td('data-label': t('shared.description')) do
              = t('shared.summary.fees_total')
            = govuk_table_td_numeric('data-label': t('shared.net_amount')) do
              = claim.fees_total
            = govuk_table_td_numeric('data-label': t('shared.vat')) do
              = claim.fees_vat
            = govuk_table_td_numeric('data-label': t('shared.gross_amount')) do
              = claim.fees_gross

    - if claim.final? && claim.interim_claim_info.present?
      - present(claim.interim_claim_info) do |info|
        - if info.warrant_fee_paid?
          %h3.govuk-heading-m
            = t('common.interim_claim_info')
          = govuk_table do
            = govuk_table_caption(class: 'govuk-visually-hidden') do
              = t('.fees.caption')
            = govuk_table_tbody do
              = govuk_table_row do
                = govuk_table_th(scope: 'row') do
                  = t('shared.claims.interim_claim_info.fields.date_issued')
                = govuk_table_td do
                  = info.warrant_issued_date
              = govuk_table_row do
                = govuk_table_th(scope: 'row') do
                  = t('shared.claims.interim_claim_info.fields.date_executed')
                = govuk_table_td do
                  = info.warrant_executed_date

    - if claim.expenses.empty?
      %h3.govuk-heading-m
        = t('common.expenses')
      %p.govuk-body
        = t('shared.summary.no_values.expenses')
    - else
      = render partial: 'shared/summary/expenses', locals: { claim: claim }
