.search-form{style: "width:60%;"}
  = form_tag search_path, method: :get do
    = hidden_field_tag :tab, params[:tab]
    = hidden_field_tag :sort, params[:sort]
    = hidden_field_tag :direction, params[:direction]
    %fieldset
      %legend
        = t('common.search')
      .input.form-group
        = label_tag :search, class: 'form-label' do
          %span.label-text
            = t('common.search')
          %span.form-hint
            = hint_text
        = text_field_tag :search, params[:search], class: "form-control search"
        = button_tag(type: 'submit', class: 'button search', title: "#{ t('common.search') }") do
          %object{:type => 'image/svg+xml', :data => image_path('icons/search-ico.svg'), :class => "search-icon"}

  = yield :search_html_block