- present(@claim) do |claim|
  %section#summary
    %h3.heading-medium
      = t('common.fees')
    - if @claim.fees_total == 0
      %p
        = t('shared.summary.no_values.fees')
    - else
      / table does noe require summary
      %table.figures
        %caption.visually-hidden
          = t('.fees.caption')
        %thead
          %tr
            %th{ scope: 'col' }
              = t('.fee_category')
            %th{ scope: 'col' }
              = t('.fee_type')
            %th.numeric{ scope: 'col' }
              = "PPE"
            %th.numeric{ scope: 'col' }
              = t('.amount')
        %tbody
          - present_collection(claim.fees.select(&:present?).sort_by(&:position)).each do |fee|
            %tr
              %td
                = fee.fee_type&.fee_category_name || 'n/a'
                - if fee.dates_attended.any?
                  %br
                  = t('.dates_attended')
                  = fee.dates_attended_delimited_string
                - if fee.date?
                  %br
                  = t('.date')
                  = fee.date
              %td{scope: 'row'}
                = fee.fee_type&.description || 'n/a'
                - if fee.sub_type.present?
                  %p
                    = "#{t('.fee_subtype')}: #{fee.sub_type.description}"
                - if fee.case_uplift?
                  %br
                  = "(#{t('.case_numbers')}: #{fee.case_numbers})"
              %td.numeric
                = fee.quantity
              %td.numeric
                = fee.amount

      .totals
        = t('.fees_total')
        = claim.fees_total

    - if claim.final? && claim.interim_claim_info.present?
      - present(claim.interim_claim_info) do |info|
        %h3.heading-medium
          = t('common.interim_claim_info')
        - if info.warrant_fee_paid?
          %table.table-summary
            %caption.hidden
              = t('.fees.caption')
            %tbody
              %tr
                %th.col-date{ scope: 'col' }
                  = t('shared.claims.interim_claim_info.fields.date_issued')
                %td
                  = info.warrant_issued_date
              %tr
                %th.col-date{ scope: 'col' }
                  = t('shared.claims.interim_claim_info.fields.date_executed')
                %td
                  = info.warrant_executed_date

    - if claim.can_have_expenses?
      - if claim.expenses.empty?
        %h3.heading-medium
          = "Expenses"
        %p
          = t('shared.summary.no_values.expenses')
      - else
        / table does noe require summary
        - if claim.expenses.with_vat.any?
          %h3.heading-medium
            = "Expenses with VAT"
          %table.figures
            %caption.visually-hidden
              = t('.expenses.caption')
            %thead
              %tr
                %th.col-date{scope: 'col'}
                  = t('.date')
                %th.col-type{scope: 'col'}
                  = t('.expense_type')
                %th{scope: 'col'}
                  = t('.location')
                %th.col-net.numeric{scope: 'col'}
                  = "Net amount"
                %th.col-vat.numeric{scope: 'col'}
                  = "VAT"
                %th.col-gross.numeric{scope: 'col'}
                  = "Gross amount"
            %tbody
              - present_collection(claim.expenses.with_vat).each do |expense|
                %tr.no-border
                  %td
                    = expense.pretty_date
                  %td{scope:'row'}
                    %span.bold-normal
                      = expense.name
                  %td
                    %span.bold-normal
                      = "#{expense.reason}"
                    %br/
                    .details
                      = expense.location
                      %br/
                      - if expense.distance?
                        = "Dist: #{expense.distance} miles"
                        %br/
                        = "Cost: #{expense.mileage_rate}"
                        %br/
                      - if expense.hours?
                        = "Hours: #{expense.hours}"

                  %td.numeric
                    = expense.amount
                  %td.numeric
                    = expense.vat_amount
                  %td.numeric
                    = expense.gross_amount

            %tfoot
              %tr.totals
                %td{colspan: 3}
                  = "Expenses with VAT total:"
                %td.numeric
                  = claim.expenses_with_vat_net
                %td.numeric
                  = claim.expenses_vat
                %td.numeric
                  = claim.expenses_with_vat_gross

        - if claim.expenses.without_vat.any?
          %h3.heading-medium
            = "Expenses without VAT"
          %table.figures
            %caption.visually-hidden
              = t('.expenses.caption')
            %thead
              %tr
                %th.col-date{scope: 'col'}
                  = t('.date')
                %th.col-type{scope: 'col'}
                  = t('.expense_type')
                %th{scope: 'col'}
                  = "Details"
                %th.col-net.numeric{scope: 'col'}
                  = "Net amount"
                %th.col-gross.numeric{scope: 'col'}
                  = "Gross amount"
            %tbody
              - present_collection(claim.expenses.without_vat).each do |expense|
                %tr.no-border
                  %td
                    = expense.pretty_date
                  %td{scope:'row'}
                    %span.bold-normal
                      = expense.name
                  %td
                    %span.bold-normal
                      = "#{expense.reason}"
                    %br/
                    .details
                      = expense.location
                      %br/
                      - if expense.distance?
                        = "Dist: #{expense.distance} miles"
                        %br/
                        = "Cost: #{expense.mileage_rate}"
                        %br/
                      - if expense.hours?
                        = "Hours: #{expense.hours}"

                  %td.numeric
                    = expense.amount
                  %td.numeric
                    = expense.gross_amount

            %tfoot
              %tr.totals
                %td{colspan: 3}
                  = "Expenses without VAT total:"
                %td.numeric
                  = claim.expenses_without_vat_net
                %td.numeric
                  = claim.expenses_without_vat_gross

    - if claim.can_have_disbursements?
      - if claim.disbursements.empty?
        %h3.heading-medium
          = "Disbursements"
        %p
          = t('shared.summary.no_values.disbursements')
      - else
        / table does noe require summary
        - if claim.disbursements.with_vat.any?
          %h3.heading-medium
            = "Disbursements with VAT"
          %table.figures
            %caption.visually-hidden
              = t('.disbursements.caption')
            %thead
              %tr
                %th{scope: 'col'}
                  = "Disbursement type"
                %th.col-net.numeric{scope: 'col'}
                  = "Net amount"
                %th.col-vat.numeric{scope: 'col'}
                  = "VAT"
                %th.col-gross.numeric{scope: 'col'}
                  = "Gross amount"
            %tbody
              - present_collection(claim.disbursements.with_vat).each do |disbursement|
                %tr
                  %td{scope:'row'}
                    = disbursement.name
                  %td.numeric
                    = disbursement.net_amount
                  %td.numeric
                    = disbursement.vat_amount
                  %td.numeric
                    = disbursement.total
            %tfoot
              %tr.totals
                %td
                  = "Disbursements with VAT total:"
                %td.numeric
                  = claim.disbursements_with_vat_net
                %td.numeric
                  = claim.disbursements_vat
                %td.numeric
                  = claim.disbursements_with_vat_gross

        - if claim.disbursements.without_vat.any?
          %h3.heading-medium
            = "Disbursements without VAT"
          %table.figures
            %caption.visually-hidden
              = t('.disbursements.caption')
            %thead
              %tr
                %th{scope: 'col'}
                  = "Disbursement type"
                %th.col-net.numeric{scope: 'col'}
                  = "Net amount"
                %th.col-gross.numeric{scope: 'col'}
                  = "Gross amount"
            %tbody
              - present_collection(claim.disbursements.without_vat).each do |disbursement|
                %tr
                  %td{scope:'row'}
                    = disbursement.name
                  %td.numeric
                    = disbursement.net_amount
                  %td.numeric
                    = disbursement.total
            %tfoot
              %tr.totals
                %td
                  = "Disbursements without VAT total:"
                %td.numeric
                  = claim.disbursements_without_vat_net
                %td.numeric
                  = claim.disbursements_without_vat_gross
