- present(@claim) do |claim|
  %section#summary
    %h3
      = t('common.fees')
    - if @claim.fees_total == 0
      %p
        There are no fees for this claim
    - else
      %table
        %caption.visually-hidden
          = t('common.fees')
        %colgroup
          %col
          %col
          %col
          %col
          %col
        %thead
          %tr
            %th{ scope: 'col'}
              = t('.fee_category')
            %th{ scope: 'col'}
              = t('.fee_type')
            %th.numeric{ scope: 'col'}
              = t('.quantity')
            %th.numeric{ scope: 'col'}
              = t('.rate')
            %th.numeric{ scope: 'col'}
              = t('.amount')
        %tbody
          - present_collection(claim.fees.select(&:present?)).each do |fee|
            %tr
              %td
                = fee.fee_type.fee_category_name
                - if fee.dates_attended.any?
                  %br
                  = t('.dates_attended')
                  = fee.dates_attended_delimited_string
              %td
                = fee.fee_type.description
              %td.numeric
                = fee.quantity
              %td.numeric
                = fee.rate
              %td.numeric
                = fee.amount
      .totals
        = t('.fees_total')
        = claim.fees_total

    %h3
      = t('common.expenses')
    - if claim.expenses.empty?
      %p
        There are no expenses for this claim
    - else
      %table
        %caption.visually-hidden
          = t('common.expenses')
        %colgroup
          %col
          %col
          %col
          %col
          %col
          %col
          %col
        %thead
          %tr
            %th{scope: 'col'}
              = t('.expense_type')
            %th{scope: 'col'}
              = t('.reason')
            %th{scope: 'col'}
              = t('.reason_text')
            %th{scope: 'col'}
              = t('.location')
            %th.numeric{scope: 'col'}
              = t('.distance')
            %th.numeric{scope: 'col'}
              = t('.quantity_hours')
            %th.numeric{scope: 'col'}
              = t('.amount')
        %tbody
          - present_collection(claim.expenses).each do |expense|
            %tr
              %td
                = expense.name
                %br
                = expense.date.strftime(Settings.date_format)
              %td
                = expense.expense_reason.reason
              %td
                = expense.reason_text
              %td
                = expense.location
              %td.numeric
                = expense.distance
              %td.numeric
                = expense.quantity
              %td.numeric
                = expense.amount

      .totals
        = t('.expenses_total')
        = claim.expenses_total

    .totals
      = t('.claim_total')
      = claim.total_inc_vat

    - unless @claim.additional_information.blank?
      %h3
        = t('.additional_information')
      %p
        = @claim.additional_information
