- present(@claim) do |claim|
  %section#summary
    %h3.heading-medium
      = t('common.fees')
    - if @claim.fees_total == 0
      %p
        = t('shared.summary.no_values.fees')
    - else
      / table does not require summary
      %table.figures
        %caption.visually-hidden
          = t('.fees.caption')
        %thead
          %tr
            %th.col-fee-cat{ scope: 'col' }
              = t('.fee_category')
            %th{ scope: 'col' }
              = t('.fee_type')
            - unless claim.interim?
              %th.numeric{ scope: 'col' }
                = t('.quantity')

            %th.numeric{ scope: 'col' }
              = t('.rate')
            %th.numeric.col-gross{ scope: 'col' }
              = "Net amount"
        %tbody
          - present_collection(claim.fees.select(&:present?).sort_by(&:position)).each do |fee|
            %tr
              %td
                = fee.fee_type&.fee_category_name || 'n/a'
                - if fee.dates_attended.any?
                  %br
                  = t('.dates_attended')
                  = fee.dates_attended_delimited_string
                - if fee.date?
                  %br
                  = t('.date')
                  = fee.date
              %td{scope: 'row'}
                = fee.fee_type&.description || 'n/a'
                - if fee.sub_type.present?
                  %p
                    = "#{t('.fee_subtype')}: #{fee.sub_type.description}"
                - if fee.case_uplift?
                  %br
                  = "#{t('.case_numbers')}: #{fee.case_numbers}"
              - unless claim.interim?
                %td.numeric
                  = fee.quantity
              %td.numeric
                = fee.rate
              %td.numeric
                = fee.amount

      %table.figures
        %thead
          %tr
            %th
              = "&nbsp;".html_safe
            %th.col-net.numeric
              = "Net amount"
            %th.col-vat.numeric
              = "VAT"
            %th.col-gross.numeric
              = "Gross amount"

        %tbody
          %tr.totals
            %td
              = "Fees Totals:"
            %td.numeric
              = claim.fees_total
            %td.numeric
              = claim.fees_vat
            %td.numeric
              = claim.fees_gross

    - if claim.final? && claim.interim_claim_info.present?
      - present(claim.interim_claim_info) do |info|
        %h3.heading-medium
          = t('common.interim_claim_info')
        - if info.warrant_fee_paid?
          %table.table-summary
            %caption.hidden
              = t('.fees.caption')
            %tbody
              %tr
                %th.col-date{ scope: 'col' }
                  = t('shared.claims.interim_claim_info.fields.date_issued')
                %td
                  = info.warrant_issued_date
              %tr
                %th.col-date{ scope: 'col' }
                  = t('shared.claims.interim_claim_info.fields.date_executed')
                %td
                  = info.warrant_executed_date

    - if claim.can_have_expenses?
      - if claim.expenses.empty?
        %h3.heading-medium
          = "Expenses"
        %p
          = t('shared.summary.no_values.expenses')
      - else
        = render partial: 'shared/summary/expenses', locals: { claim: claim }
