- present(@claim) do |claim|
  %section#summary
    %h3.govuk-heading-m
      = t('common.fees')

    - if @claim.fees_total == 0
      %p.govuk-body
        = t('shared.summary.no_values.fees')

    - else
      = govuk_table(classes: 'app-table--responsive') do |table|
        = table.with_caption(classes: 'govuk-visually-hidden', text: t('.fees.caption'))

        = table.with_head do |head|
          = head.with_row do |row|
            = row.with_cell(text: t('.fee_category'))
            = row.with_cell(text: t('.fee_type'))

            - if claim.display_days?
              = row.with_cell(text: claim.transfer? ? t('.days_claimed') : t('.actual_trial_length'), numeric: true)

            = row.with_cell(text: claim.fixed_fee_case? ? t('.quantity') : 'PPE', numeric: true)

            - if claim.fixed_fee_case?
              = row.with_cell(text: t('.rate'), numeric: true)

            = row.with_cell(text: t('.amount'), numeric: true)

        = table.with_body do |body|
          - present_collection(claim.fees.select(&:present?).sort_by(&:position)).each do |fee|
            = body.with_row do |row|
              = row.with_cell(html_attributes: { 'data-label': t('.fee_category') }) do
                = fee.fee_type&.fee_category_name || fee.not_applicable
                - if fee.dates_attended.any?
                  %br
                  = t('.dates_attended')
                  = fee.dates_attended_delimited_string
                - if fee.date?
                  %br
                  = t('.date')
                  = fee.date

              = row.with_cell(html_attributes: { 'data-label': t('.fee_type') }) do
                = fee.fee_type&.description || fee.not_applicable
                - if fee.sub_type.present?
                  %br
                  = "#{t('.fee_subtype')}: #{fee.sub_type.description}"
                - if fee.case_uplift?
                  %br
                  = "(#{t('.case_numbers')}: #{fee.case_numbers})"

              - if claim.display_days?
                = row.with_cell(html_attributes: { 'data-label': claim.transfer? ? t('.days_claimed') : t('.actual_trial_length') }, numeric: true) do
                  = fee.days_claimed

              = row.with_cell(html_attributes: { 'data-label': claim.fixed_fee_case? ? t('.quantity') : 'PPE' }, text: fee.quantity, numeric: true)

              - if claim.fixed_fee_case?
                = row.with_cell(html_attributes: { 'data-label': t('.rate') }, text: fee.rate, numeric: true)

              = row.with_cell(html_attributes: { 'data-label': t('.amount') }, text: fee.amount, numeric: true)

      .totals
        = t('.fees_total')
        = claim.fees_total

    - if claim.final? && claim.interim_claim_info.present?
      - present(claim.interim_claim_info) do |info|
        - if info.warrant_fee_paid?
          %h3.govuk-heading-m
            = t('common.interim_claim_info')

          = govuk_table(classes: 'app-table--responsive') do |table|
            = table.with_caption(classes: 'govuk-visually-hidden', text: t('.fees.caption'))

            = table.with_body do |body|
              = body.with_row do |row|
                = row.with_cell(header: true, html_attributes: { scope: 'row' }, text: t('shared.claims.interim_claim_info.fields.date_issued'))
                = row.with_cell(text: info.warrant_issued_date)
              = body.with_row do |row|
                = row.with_cell(header: true, html_attributes: { scope: 'row' }, text: t('shared.claims.interim_claim_info.fields.date_executed'))
                = row.with_cell(text: info.warrant_executed_date)

    - if claim.expenses.empty?
      %h3.govuk-heading-m
        = t('common.expenses')

      %p.govuk-body
        = t('shared.summary.no_values.expenses')
    - else
      = render partial: 'shared/summary/expenses', locals: { claim: claim }

    - if claim.can_have_disbursements?
      - if claim.disbursements.empty?
        %h3.govuk-heading-m
          = t('common.disbursements')

        %p.govuk-body
          = t('shared.summary.no_values.disbursements')

      - else
        - if claim.disbursements.with_vat.any?
          %h3.govuk-heading-m
            = t('shared.disbursements_gross')

          = govuk_table(classes: 'app-table--responsive') do |table|
            = table.with_caption(classes: 'govuk-visually-hidden', text: t('.disbursements.caption'))

            = table.with_head do |head|
              = head.with_row do |row|
                = row.with_cell(text: t('shared.disbursement_type'))
                = row.with_cell(text: t('shared.net_amount'), numeric: true)
                = row.with_cell(text: t('shared.vat'), numeric: true)
                = row.with_cell(text: t('shared.gross_amount'), numeric: true)

            = table.with_body do |body|
              - present_collection(claim.disbursements.with_vat).each do |disbursement|
                = body.with_row do |row|
                  = row.with_cell(html_attributes: { 'data-label': t('shared.disbursement_type') }, text: disbursement.name)
                  = row.with_cell(html_attributes: { 'data-label': t('shared.net_amount') }, text: disbursement.net_amount, numeric: true)
                  = row.with_cell(html_attributes: { 'data-label': t('shared.vat') }, text: disbursement.vat_amount, numeric: true)
                  = row.with_cell(html_attributes: { 'data-label': t('shared.gross_amount') }, text: disbursement.total, numeric: true)

            = table.with_foot(classes: 'govuk-table__foot') do |foot|
              = foot.with_row do |row|
                = row.with_cell(header: true, classes: 'govuk-table__cell', html_attributes: { scope: 'row', 'data-label': t('shared.disbursement_type') }, text: t('shared.disbursements_gross'))
                = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.net_amount') }, text: claim.disbursements_with_vat_net, numeric: true)
                = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.vat') }, text: claim.disbursements_vat, numeric: true)
                = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.gross_amount') }, text: claim.disbursements_with_vat_gross, numeric: true)

        - if claim.disbursements.without_vat.any?
          %h3.govuk-heading-m
            = t('shared.disbursements_no_vat')

          = govuk_table(classes: 'app-table--responsive') do |table|
            = table.with_caption(classes: 'govuk-visually-hidden', text: t('.disbursements.caption'))

            = table.with_head do |head|
              = head.with_row do |row|
                = row.with_cell(text: t('shared.disbursement_type'))
                = row.with_cell(text: t('shared.net_amount'), numeric: true)
                = row.with_cell(text: t('shared.gross_amount'), numeric: true)

            = table.with_body do |body|
              - present_collection(claim.disbursements.without_vat).each do |disbursement|
                = body.with_row do |row|
                  = row.with_cell(html_attributes: { 'data-label': t('shared.disbursement_type') }, text: disbursement.name)
                  = row.with_cell(html_attributes: { 'data-label': t('shared.net_amount') }, text: disbursement.net_amount, numeric: true)
                  = row.with_cell(html_attributes: { 'data-label': t('shared.gross_amount') }, text: disbursement.total, numeric: true)

            = table.with_foot(classes: 'govuk-table__foot') do |foot|
              = foot.with_row do |row|
                = row.with_cell(header: true, classes: 'govuk-table__cell', html_attributes: { scope: 'row', 'data-label': t('shared.disbursement_type') }, text: t('shared.disbursements_no_vat'))
                = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.net_amount') }, text: claim.disbursements_without_vat_net, numeric: true)
                = row.with_cell(classes: 'govuk-table__cell govuk-table__cell--numeric', html_attributes: { 'data-label': t('shared.gross_amount') }, text: claim.disbursements_without_vat_gross, numeric: true)