%h2.govuk-heading-m
  = t('shared.summary_totals')

%table.figures
  %thead
    %tr
      %th{ scope: 'col' }
        = t('shared.description')
      %th.col-net.numeric{ scope: 'col' }
        = t('shared.net_amount')
      %th.col-vat.numeric{ scope: 'col' }
        = t('shared.vat')
      %th.col-gross.numeric{ scope: 'col' }
        = t('shared.gross_amount')

  %tbody
    %tr
      %td
        = t('shared.fees')
      %td.numeric
        = claim.fees_total
      %td.numeric
        = claim.fees_vat
      %td.numeric
        = claim.fees_gross

    - if claim.expenses.with_vat.any?
      %tr
        %td
          = "Expenses with VAT"
        %td.numeric
          = claim.expenses_with_vat_net
        %td.numeric
          = claim.expenses_vat
        %td.numeric
          = claim.expenses_with_vat_gross

    - if claim.expenses.without_vat.any?
      %tr
        %td
          = t('shared.expenses_net')
        %td.numeric
          = claim.expenses_without_vat_net
        %td.numeric
          = ''
        %td.numeric
          = claim.expenses_without_vat_gross

    - if claim.disbursements.with_vat.any?
      %tr
        %td
          = t('shared.disbursements_gross')
        %td.numeric
          = claim.disbursements_with_vat_net
        %td.numeric
          = claim.disbursements_vat
        %td.numeric
          = claim.disbursements_with_vat_gross

    - if claim.disbursements.without_vat.any?
      %tr
        %td
          = t('shared.disbursements_no_vat')
        %td.numeric
          = claim.disbursements_without_vat_net
        %td.numeric
          = "-"
        %td.numeric
          = claim.disbursements_without_vat_gross
  %tfoot
    %tr.totals
      %td
        = t('shared.claim_total')
      %td.numeric
        = claim.total
      %td.numeric
        = claim.vat_amount
      %td.numeric
        = claim.total_inc_vat
