= cccd_govuk_table do
  = govuk_table_caption do
    %h2.govuk-heading-l
      = t('shared.summary_totals')

  = govuk_table_thead do
    = govuk_table_row do
      = govuk_table_th do
        = t('shared.description')
      = govuk_table_th_numeric do
        = t('shared.net_amount')
      = govuk_table_th_numeric do
        = t('shared.vat')
      = govuk_table_th_numeric do
        = t('shared.gross_amount')

  = govuk_table_tbody do
    = govuk_table_row do
      = govuk_table_th(scope: 'row', 'data-label': t('shared.description')) do
        = t('shared.fees')
      = govuk_table_td_numeric('data-label': t('shared.net_amount')) do
        = claim.fees_total
      = govuk_table_td_numeric('data-label': t('shared.vat')) do
        = claim.fees_vat
      = govuk_table_td_numeric('data-label': t('shared.gross_amount')) do
        = claim.fees_gross

    - if claim.expenses.with_vat.any?
      = govuk_table_row do
        = govuk_table_th(scope: 'row', 'data-label': t('shared.description')) do
          = "Expenses with VAT"
        = govuk_table_td_numeric('data-label': t('shared.net_amount')) do
          = claim.expenses_with_vat_net
        = govuk_table_td_numeric('data-label': t('shared.vat')) do
          = claim.expenses_vat
        = govuk_table_td_numeric('data-label': t('shared.gross_amount')) do
          = claim.expenses_with_vat_gross

    - if claim.expenses.without_vat.any?
      = govuk_table_row do
        = govuk_table_th(scope: 'row', 'data-label': t('shared.description')) do
          = t('shared.expenses_net')
        = govuk_table_td_numeric('data-label': t('shared.net_amount')) do
          = claim.expenses_without_vat_net
        = govuk_table_td_numeric('data-label': t('shared.vat')) do
          = ''
        = govuk_table_td_numeric('data-label': t('shared.gross_amount')) do
          = claim.expenses_without_vat_gross

    - if claim.disbursements.with_vat.any?
      = govuk_table_row do
        = govuk_table_th(scope: 'row', 'data-label': t('shared.description')) do
          = t('shared.disbursements_gross')
        = govuk_table_td_numeric('data-label': t('shared.net_amount')) do
          = claim.disbursements_with_vat_net
        = govuk_table_td_numeric('data-label': t('shared.vat')) do
          = claim.disbursements_vat
        = govuk_table_td_numeric('data-label': t('shared.gross_amount')) do
          = claim.disbursements_with_vat_gross

    - if claim.disbursements.without_vat.any?
      = govuk_table_row do
        = govuk_table_th(scope: 'row', 'data-label': t('shared.description')) do
          = t('shared.disbursements_no_vat')
        = govuk_table_td_numeric('data-label': t('shared.net_amount')) do
          = claim.disbursements_without_vat_net
        = govuk_table_td_numeric('data-label': t('shared.vat')) do
          = "-"
        = govuk_table_td_numeric('data-label': t('shared.gross_amount')) do
          = claim.disbursements_without_vat_gross

  = govuk_table_tfoot do
    = govuk_table_row do
      = govuk_table_th(scope: 'row', 'data-label': t('shared.description')) do
        = t('shared.claim_total')
      = govuk_table_td_numeric('data-label': t('shared.net_amount')) do
        = claim.total
      = govuk_table_td_numeric('data-label': t('shared.vat')) do
        = claim.vat_amount
      = govuk_table_td_numeric('data-label': t('shared.gross_amount')) do
        = claim.total_inc_vat
