- present(@claim) do |claim|
  %section#summary
    %h3.govuk-heading-m
      = t('common.fees')

    - if @claim.fees_total == 0
      %p.govuk-body
        = t('shared.summary.no_values.fees')

    - else
      = govuk_table do
        = govuk_table_caption(class: 'govuk-visually-hidden') do
          = t('.fees.caption')

        = govuk_table_thead do
          = govuk_table_row do
            = govuk_table_th do
              = t('.fee_category')

            = govuk_table_th do
              = t('.fee_type')

            - if claim.display_days?
              = govuk_table_th_numeric do
                = claim.transfer? ? t('.days_claimed') : t('.actual_trial_length')

            = govuk_table_th_numeric do
              = claim.fixed_fee_case? ? t('.quantity') : 'PPE'

            - if claim.fixed_fee_case?
              = govuk_table_th_numeric do
                = t('.rate')

            = govuk_table_th_numeric do
              = t('.amount')

        = govuk_table_tbody do
          - present_collection(claim.fees.select(&:present?).sort_by(&:position)).each do |fee|
            = govuk_table_row do
              = govuk_table_td('data-label': t('.fee_category')) do
                = fee.fee_type&.fee_category_name || fee.not_applicable
                - if fee.dates_attended.any?
                  %br
                  = t('.dates_attended')
                  = fee.dates_attended_delimited_string
                - if fee.date?
                  %br
                  = t('.date')
                  = fee.date

              = govuk_table_td('data-label': t('.fee_type')) do
                = fee.fee_type&.description || fee.not_applicable
                - if fee.sub_type.present?
                  %br
                  = "#{t('.fee_subtype')}: #{fee.sub_type.description}"
                - if fee.case_uplift?
                  %br
                  = "(#{t('.case_numbers')}: #{fee.case_numbers})"

              - if claim.display_days?
                = govuk_table_td_numeric('data-label': claim.transfer? ? t('.days_claimed') : t('.actual_trial_length')) do
                  = fee.days_claimed

              = govuk_table_td_numeric('data-label': claim.fixed_fee_case? ? t('.quantity') : 'PPE') do
                = fee.quantity

              - if claim.fixed_fee_case?
                = govuk_table_td_numeric('data-label': t('.rate')) do
                  = fee.rate

              = govuk_table_td_numeric('data-label': t('.amount')) do
                = fee.amount

      .totals
        = t('.fees_total')
        = claim.fees_total

    - if claim.final? && claim.interim_claim_info.present?
      - present(claim.interim_claim_info) do |info|
        - if info.warrant_fee_paid?
          %h3.govuk-heading-m
            = t('common.interim_claim_info')

          = govuk_table do
            = govuk_table_caption(class: 'govuk-visually-hidden') do
              = t('.fees.caption')

            = govuk_table_tbody do
              = govuk_table_row do
                = govuk_table_th do
                  = t('shared.claims.interim_claim_info.fields.date_issued')

                = govuk_table_td do
                  = info.warrant_issued_date

              = govuk_table_row do
                = govuk_table_th do
                  = t('shared.claims.interim_claim_info.fields.date_executed')

                = govuk_table_td do
                  = info.warrant_executed_date

    - if claim.expenses.empty?
      %h3.govuk-heading-m
        = t('common.expenses')

      %p.govuk-body
        = t('shared.summary.no_values.expenses')
    - else
      = render partial: 'shared/summary/expenses/summary', locals: { claim: claim }

    - if claim.can_have_disbursements?
      - if claim.disbursements.empty?
        %h3.govuk-heading-m
          = t('common.disbursements')

        %p.govuk-body
          = t('shared.summary.no_values.disbursements')

      - else
        - if claim.disbursements.with_vat.any?
          %h3.govuk-heading-m
            = t('shared.disbursements_gross')

          = govuk_table do
            = govuk_table_caption(class: 'govuk-visually-hidden') do
              = t('.disbursements.caption')

            = govuk_table_thead do
              = govuk_table_row do
                = govuk_table_th do
                  = t('shared.disbursement_type')

                = govuk_table_th_numeric do
                  = t('shared.net_amount')

                = govuk_table_th_numeric do
                  = t('shared.vat')

                = govuk_table_th_numeric do
                  = t('shared.gross_amount')

            = govuk_table_tbody do
              - present_collection(claim.disbursements.with_vat).each do |disbursement|
                = govuk_table_row do
                  = govuk_table_td('data-label': t('shared.disbursement_type')) do
                    = disbursement.name

                  = govuk_table_td_numeric('data-label': t('shared.net_amount')) do
                    = disbursement.net_amount

                  = govuk_table_td_numeric('data-label': t('shared.vat')) do
                    = disbursement.vat_amount

                  = govuk_table_td_numeric('data-label': t('shared.gross_amount')) do
                    = disbursement.total

            = govuk_table_tfoot do
              = govuk_table_row do
                = govuk_table_th(scope: 'row', 'data-label': t('shared.disbursement_type')) do
                  = t('shared.disbursements_gross')

                = govuk_table_td_numeric('data-label': t('shared.net_amount')) do
                  = claim.disbursements_with_vat_net

                = govuk_table_td_numeric('data-label': t('shared.vat')) do
                  = claim.disbursements_vat

                = govuk_table_td_numeric('data-label': t('shared.gross_amount')) do
                  = claim.disbursements_with_vat_gross

        - if claim.disbursements.without_vat.any?
          %h3.govuk-heading-m
            = t('shared.disbursements_no_vat')

          = govuk_table do
            = govuk_table_caption(class: 'govuk-visually-hidden') do
              = t('.disbursements.caption')

            = govuk_table_thead do
              = govuk_table_row do
                = govuk_table_th do
                  = t('shared.disbursement_type')

                = govuk_table_th_numeric do
                  = t('shared.net_amount')

                = govuk_table_th_numeric do
                  = t('shared.gross_amount')

            = govuk_table_tbody do
              - present_collection(claim.disbursements.without_vat).each do |disbursement|
                = govuk_table_row do
                  = govuk_table_td('data-label': t('shared.disbursement_type')) do
                    = disbursement.name

                  = govuk_table_td_numeric('data-label': t('shared.net_amount')) do
                    = disbursement.net_amount

                  = govuk_table_td_numeric('data-label': t('shared.gross_amount')) do
                    = disbursement.total

            = govuk_table_tfoot do
              = govuk_table_row do
                = govuk_table_th(scope: 'row', 'data-label': t('shared.disbursement_type')) do
                  = t('shared.disbursements_no_vat')

                = govuk_table_td_numeric('data-label': t('shared.net_amount')) do
                  = claim.disbursements_without_vat_net

                = govuk_table_td_numeric('data-label': t('shared.gross_amount')) do
                  = claim.disbursements_without_vat_gross
