%h3.heading-medium
  = t('.heading')
%table.summary
  %thead
    %tr
      %th
        = t('.description')
      %th.col-net.numeric{scope: 'col'}
        = t('.net_amount')
      %th.col-vat.numeric{scope: 'col'}
        = t('.vat_amount')
      %th.col-gross.numeric{scope: 'col'}
        = t('.gross_amount')
  %tbody
    %tr
      %th{scope: 'row'}
        = t('.fees')
      %td.numeric
        = claim.fees_total
      %td.numeric
        = claim.fees_vat
      %td.numeric
        = claim.fees_gross

    - if claim.expenses.with_vat.any?
      %tr
        %th{scope: 'row'}
          = t('.expenses_with_vat')
        %td.numeric
          = claim.expenses_with_vat_net
        %td.numeric
          = claim.expenses_vat
        %td.numeric
          = claim.expenses_with_vat_gross

    - if claim.expenses.without_vat.any?
      %tr
        %th{scope: 'row'}
          = t('.expenses_without_vat')
        %td.numeric
          = claim.expenses_without_vat_net
        %td.numeric
          = ""
        %td.numeric
          = claim.expenses_without_vat_gross

    - if claim.disbursements.with_vat.any?
      %tr
        %th{scope: 'row'}
          = ""
          = t('.disbursements_with_vat')
        %td.numeric
          = claim.disbursements_with_vat_net
        %td.numeric
          = claim.disbursements_vat
        %td.numeric
          = claim.disbursements_with_vat_gross

    - if claim.disbursements.without_vat.any?
      %tr
        %th{scope: 'row'}
          = t('.disbursements_without_vat')
        %td.numeric
          = claim.disbursements_without_vat_net
        %td.numeric
          = "-"
        %td.numeric
          = claim.disbursements_without_vat_gross
  %tfoot
    %tr.totals
      %th{scope: 'row'}
        = t('.claim_total')
      %th.numeric
        = claim.total
      %th.numeric
        = claim.vat_amount
      %th.numeric
        = claim.total_inc_vat
