- present(@claim) do |claim|
  %section#summary
    %h3.heading-medium
      = t('common.fees')
    - if @claim.fees_total == 0
      %p
        = t('shared.summary.no_values.fees')
    - else
      / table does noe require summary
      %table.figures
        %caption.visually-hidden
          = t('.fees.caption')
        %thead
          %tr
            %th{ scope: 'col' }
              = t('.fee_category')
            %th{ scope: 'col' }
              = t('.fee_type')
            - if claim.display_days?
              %th.numeric{ scope: 'col' }
                = claim.transfer? ? t('.days_claimed') : t('.actual_trial_length')
            %th.numeric{ scope: 'col' }
              = claim.fixed_fee_case? ? t('.quantity') : 'PPE'
            - if claim.fixed_fee_case?
              %th.numeric{ scope: 'col' }
                = t('.rate')
            %th.numeric{ scope: 'col' }
              = t('.amount')
        %tbody
          - present_collection(claim.fees.select(&:present?).sort_by(&:position)).each do |fee|
            %tr
              %td
                = fee.fee_type&.fee_category_name || fee.not_applicable
                - if fee.dates_attended.any?
                  %br
                  = t('.dates_attended')
                  = fee.dates_attended_delimited_string
                - if fee.date?
                  %br
                  = t('.date')
                  = fee.date
              %td
                = fee.fee_type&.description || fee.not_applicable
                - if fee.sub_type.present?
                  %p
                    = "#{t('.fee_subtype')}: #{fee.sub_type.description}"
                - if fee.case_uplift?
                  %br
                  = "(#{t('.case_numbers')}: #{fee.case_numbers})"
              - if claim.display_days?
                %td.numeric{ scope: 'col' }
                  = fee.days_claimed
              %td.numeric
                = fee.quantity
              - if claim.fixed_fee_case?
                %td.numeric
                  = fee.rate
              %td.numeric
                = fee.amount

      .totals
        = t('.fees_total')
        = claim.fees_total

    - if claim.final? && claim.interim_claim_info.present?
      - present(claim.interim_claim_info) do |info|
        - if info.warrant_fee_paid?
          %h3.heading-medium
            = t('common.interim_claim_info')
          %table.table-summary
            %caption.hidden
              = t('.fees.caption')
            %tbody
              %tr
                %th.col-date{ scope: 'col' }
                  = t('shared.claims.interim_claim_info.fields.date_issued')
                %td
                  = info.warrant_issued_date
              %tr
                %th.col-date{ scope: 'col' }
                  = t('shared.claims.interim_claim_info.fields.date_executed')
                %td
                  = info.warrant_executed_date

    - if claim.can_have_expenses?
      - if claim.expenses.empty?
        %h3.heading-medium
          = t('common.expenses')
        %p
          = t('shared.summary.no_values.expenses')
      - else
        = render partial: 'shared/summary/expenses', locals: { claim: claim }

    - if claim.can_have_disbursements?
      - if claim.disbursements.empty?
        %h3.heading-medium
          = t('common.disbursements')
        %p
          = t('shared.summary.no_values.disbursements')
      - else
        / table does noe require summary
        - if claim.disbursements.with_vat.any?
          %h3.heading-medium
            = t('shared.disbursements_gross')
          %table.figures
            %caption.visually-hidden
              = t('.disbursements.caption')
            %thead
              %tr
                %th{ scope: 'col' }
                  = t('shared.disbursement_type')
                %th.col-net.numeric{ scope: 'col' }
                  = t('shared.net_amount')
                %th.col-vat.numeric{ scope: 'col' }
                  = t('shared.vat')
                %th.col-gross.numeric{ scope: 'col' }
                  = t('shared.gross_amount')
            %tbody
              - present_collection(claim.disbursements.with_vat).each do |disbursement|
                %tr
                  %td
                    = disbursement.name
                  %td.numeric
                    = disbursement.net_amount
                  %td.numeric
                    = disbursement.vat_amount
                  %td.numeric
                    = disbursement.total
            %tfoot
              %tr.totals
                %td
                  = t('shared.disbursements_gross')
                %td.numeric
                  = claim.disbursements_with_vat_net
                %td.numeric
                  = claim.disbursements_vat
                %td.numeric
                  = claim.disbursements_with_vat_gross

        - if claim.disbursements.without_vat.any?
          %h3.heading-medium
            = t('shared.disbursements_no_vat')
          %table.figures
            %caption.visually-hidden
              = t('.disbursements.caption')
            %thead
              %tr
                %th{ scope: 'col' }
                  = t('shared.disbursement_type')
                %th.col-net.numeric{ scope: 'col' }
                  = t('shared.net_amount')
                %th.col-gross.numeric{ scope: 'col' }
                  = t('shared.gross_amount')
            %tbody
              - present_collection(claim.disbursements.without_vat).each do |disbursement|
                %tr
                  %td
                    = disbursement.name
                  %td.numeric
                    = disbursement.net_amount
                  %td.numeric
                    = disbursement.total
            %tfoot
              %tr.totals
                %td
                  = t('shared.disbursements_no_vat')
                %td.numeric
                  = claim.disbursements_without_vat_net
                %td.numeric
                  = claim.disbursements_without_vat_gross
