- present(@claim) do |claim|
  %section#summary
    %h3
      = t('common.fees')
    - if @claim.fees_total == 0
      %p
        There are no fees for this claim
    - else
      %table
        %thead
          %tr
            %th
              = t('.fee_category')
            %th
              = t('.fee_type')
            %th
              = t('.quantity')
            %th
              = t('.rate')
            %th
              = t('.amount')
        %tbody
          - present_collection(claim.fees.select(&:present?)).each do |fee|
            %tr
              %td
                = fee.fee_type.fee_category_name
                - if fee.dates_attended.any?
                  %br
                  = t('.dates_attended')
                  = fee.dates_attended_delimited_string
              %td
                = fee.fee_type.description
              %td
                = fee.quantity
              %td
                = fee.rate
              %td
                = fee.amount
      .totals
        = t('.fees_total')
        = claim.fees_total

    %h3
      = t('common.expenses')
    - if claim.expenses.empty?
      %p
        There are no expenses for this claim
    - else
      %table
        %thead
          %tr
            %th
              = t('.expense_type')
            %th
              = t('.location')
            %th
              = t('.quantity_hours')
            %th
              = t('.rate')
            %th
              = t('.amount')
        %tbody
          - present_collection(claim.expenses).each do |expense|
            %tr
              %td
                = expense.expense_type.name
                - if expense.dates_attended.any?
                  %br
                  Dates attended:
                  = expense.dates_attended_delimited_string
              %td
                = expense.location
              %td
                = expense.quantity
              %td
                = '%.2f' % expense.rate if expense.rate
              %td
                = expense.amount

      .totals
        = t('.expenses_total')
        = claim.expenses_total

    .totals
      = t('.claim_total')
      = claim.total_inc_vat

    - unless @claim.additional_information.blank?
      %h3
        = t('.additional_information')
      %p
        = @claim.additional_information
