- present(@claim) do |claim|
  %section#summary
    %h3.govuk-heading-m
      = t('common.fees')
    - if @claim.fees_total == 0
      %p
        = t('shared.summary.no_values.fees')
    - else
      / table does noe require summary
      = govuk_table do
        = govuk_table_caption(class: 'govuk-visually-hidden') do
          = t('.fees.caption')
        = govuk_table_thead do
          = govuk_table_row do
            = govuk_table_th do
              = t('.fee_category')
            = govuk_table_th do
              = t('.fee_type')
            - unless claim.lgfs? && claim.interim?
              = govuk_table_th_numeric do
                = t('.quantity')
            - if claim.agfs?
              = govuk_table_th_numeric do
                = t('.rate')
            = govuk_table_th_numeric do
              = t('.amount')
        = govuk_table_tbody do
          - present_collection(claim.fees.select(&:present?).sort_by(&:position)).each do |fee|
            = govuk_table_row do
              = govuk_table_td('data-label': t('.fee_category')) do
                = fee.fee_type&.fee_category_name || 'n/a'
                - if fee.dates_attended.any?
                  %br
                  = t('.dates_attended')
                  = fee.dates_attended_delimited_string
                - if fee.date?
                  %br
                  = t('.date')
                  = fee.date
              = govuk_table_td('data-label': t('.fee_type')) do
                = fee.fee_type&.description || 'n/a'
                - if fee.sub_type.present?
                  %p
                    = "#{t('.fee_subtype')}: #{fee.sub_type.description}"

              - unless claim.lgfs? && claim.interim?
                = govuk_table_td_numeric('data-label': t('.quantity')) do
                  = fee.quantity
              - if claim.agfs?
                = govuk_table_td_numeric('data-label': t('.rate')) do
                  = fee.rate
              = govuk_table_td_numeric('data-label': t('.amount')) do
                = fee.amount
      .totals
        = t('.fees_total')
        = claim.fees_total

    %h3.govuk-heading-m
      = t('common.expenses')
    - if claim.expenses.empty?
      %p
        = t('shared.summary.no_values.expenses')
    - else

      = govuk_table do
        = govuk_table_caption(class: 'govuk-visually-hidden') do
          = t('.expenses.caption')

        = govuk_table_thead do
          = govuk_table_row do
            = govuk_table_th do
              = t('.date')
            = govuk_table_th do
              = t('.expense_type')
            = govuk_table_th_numeric do
              = t('.distance')
            - if claim.agfs?
              = govuk_table_th_numeric do
                = t('.quantity_hours')
            = govuk_table_th do
              = t('.location')
            = govuk_table_th_numeric do
              = t('.amount')
            - if claim.lgfs?
              = govuk_table_th_numeric do
                = t('.vat_amount')
              = govuk_table_th_numeric do
                = t('shared.summary.total_amount')

        = govuk_table_tbody do
          - present_collection(claim.expenses).each do |expense|
            = govuk_table_row do
              = govuk_table_td('data-label': t('.date')) do
                = expense.pretty_date
              = govuk_table_td('data-label': t('.expense_type')) do
                = expense.name
                - if expense.distance?
                  (#{expense.mileage_rate})
              = govuk_table_td_numeric('data-label': t('.distance')) do
                = expense.distance
              - if claim.agfs?
                = govuk_table_td_numeric('data-label': t('.quantity_hours')) do
                  = expense.hours
              = govuk_table_td('data-label': t('.location')) do
                = expense.location
              = govuk_table_td_numeric('data-label': t('.amount')) do
                = expense.amount
              - if claim.lgfs?
                = govuk_table_td_numeric('data-label': t('.vat_amount')) do
                  = expense.vat_amount
                = govuk_table_td_numeric('data-label': t('shared.summary.total_amount')) do
                  = expense.total
            = govuk_table_row do
              = govuk_table_td('data-label': t('.reason'), colspan: '7') do
                .bold-normal
                  = t('.reason')
                = expense.reason
      .totals
        = t('.expenses_total')
        = claim.expenses_total

    - if claim.can_have_disbursements?
      %h3.govuk-heading-m
        = t('common.disbursements')
      - if claim.disbursements.empty?
        %p
          = t('shared.summary.no_values.disbursements')
      - else

        = govuk_table do
          = govuk_table_caption(class: 'govuk-visually-hidden') do
            = t('.disbursements.caption')

          = govuk_table_thead do
            = govuk_table_row do
              = govuk_table_th do
                = 'Disbursement type'
              = govuk_table_th_numeric do
                = t('shared.summary.amount')
              = govuk_table_th_numeric do
                = t('shared.summary.vat_amount')
              = govuk_table_th_numeric do
                = t('shared.summary.total_amount')

          = govuk_table_tbody do
            - present_collection(claim.disbursements).each do |disbursement|
              = govuk_table_row do
                = govuk_table_td('data-label': 'Disbursement type', scope: 'row') do
                  = disbursement.name
                = govuk_table_td_numeric('data-label': t('shared.summary.amount')) do
                  = disbursement.net_amount
                = govuk_table_td_numeric('data-label': t('shared.summary.vat_amount')) do
                  = disbursement.vat_amount
                = govuk_table_td_numeric('data-label': t('shared.summary.total_amount')) do
                  = disbursement.total
        .totals
          = t('shared.disbursements_total')
          = claim.disbursements_total

    .totals
      = t('shared.claim_net_total')
      = claim.total

    .totals
      = t('shared.vat')
      = claim.vat_amount

    .totals
      = t('shared.claim_gross_total')
      = claim.total_inc_vat

    - if claim.additional_information.present?
      %h3.govuk-heading-m
        = t('.additional_information')
      %p.indent-sides
        = claim.additional_information
