.supplier-number-group.form-group.mod-supplier-details.fx-numberedList-item
  %h2.heading-small
    = "Supplier "
    %span.fx-numberedList-number
    - editable = f.object.new_record? || f.object.supplier_number.blank? || !f.object.valid?
    - if editable
      = link_to_remove_association t('.remove'), f, class: 'header-action remove_fields dynamic', wrapper_class: 'supplier-number-group'
    - else
      - if f.object.has_non_archived_claims?
        %span.form-hint
          Cannot remove supplier number while claims are still in progress
      - else
        = link_to_remove_association t('.remove'), f, { wrapper_class: 'supplier-number-group', class: 'header-action remove_fields dynamic' }

  -# adp_text_field does not allow to use rails defaults locales for model attributes :S
  - attributes_scope = 'activerecord.attributes.supplier_number'
  - form_scope = 'shared.providers.form.supplier_details'

  = f.adp_text_field :name, id: "lgfs_supplier_number_#{f.options[:child_index]}_name", label: t('label.supplier_name', scope: form_scope), hint_text: t('hint_text.supplier_name', scope: form_scope), disabled: !editable, errors: f.options[:parent_builder].object.errors

  = f.adp_text_field :postcode, id: "lgfs_supplier_number_#{f.options[:child_index]}_postcode", label: t('label.postcode', scope: form_scope), hint_text: t('hint_text.postcode', scope: form_scope), input_classes: 'form-control-1-4', disabled: !editable, errors: f.options[:parent_builder].object.errors

  = f.adp_text_field :supplier_number, id: "lgfs_supplier_number_#{f.options[:child_index]}_supplier_number", label: t('label.supplier_number', scope: form_scope), hint_text: t('hint_text.supplier_number', scope: form_scope), input_classes: 'form-control-1-4', disabled: !editable, errors: f.options[:parent_builder].object.errors

  %hr/
