.supplier-number-group.fx-numberedList-item
  %fieldset.govuk-fieldset
    %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
      %span.govuk-heading-m
        = t('.details_heading')
        %span.fx-numberedList-number

    - editable = f.object.new_record? || f.object.supplier_number.blank? || !f.object.valid?
    - if editable
      = link_to_remove_association f, wrapper_class: 'supplier-number-group', class: 'govuk-link govuk-!-display-none fx-numberedList-action' do
        = t('common.remove_html', context: t('.details_heading'))
    - else
      - if f.object.has_non_archived_claims?
        %span.govuk-hint
          Cannot remove supplier number while claims are still in progress
      - else
        = link_to_remove_association f, wrapper_class: 'supplier-number-group', class: 'govuk-link govuk-!-display-none fx-numberedList-action' do
          = t('common.remove_html', context: t('.details_heading'))

    - form_scope = 'shared.providers.form.supplier_details'

    = f.govuk_text_field :name,
      hint: { text: t('hint_text.supplier_name', scope: form_scope) },
      label: { text: t('label.supplier_name', scope: form_scope) }

    = f.govuk_text_field :postcode,
      hint: { text: t('hint_text.postcode', scope: form_scope) },
      label: { text: t('label.postcode', scope: form_scope) }

    = f.govuk_text_field :supplier_number,
      hint: { text: t('hint_text.supplier_number', scope: form_scope) },
      label: { text: t('label.supplier_number', scope: form_scope) }

  %hr/
