= form_for [:external_users, :admin, @external_user] do |f|

  = f.fields_for :user do |user_fields|
    .form-group
      %a{name: 'first_name'}
      = user_fields.label :first_name, t(".first_name"), class: "form-label"
      = user_fields.text_field :first_name, class: "form-control"
    .form-group
      %a{name: 'last_name'}
      = user_fields.label :last_name, t(".last_name"), class: "form-label"
      = user_fields.text_field :last_name, class: "form-control"

    .form-group
      %a{name: 'email'}
      = user_fields.label :email, t(".email"), class: "form-label"
      = user_fields.email_field :email, class: "form-control"
    - if @external_user.new_record?
      .form-group
        %a{name: 'email_confirmation'}
        = user_fields.label :email_confirmation, t(".email_confirmation"), class: "form-label"
        = user_fields.email_field :email_confirmation, class: "form-control"

    - if Settings.email_notification_enabled?
      .form-group
        %fieldset.inline{"aria-describedby": "radio-control-legend-email"}
          %legend#radio-control-legend-email
            %span.heading-medium
              = t('.email_notification')

          = user_fields.collection_radio_buttons(:email_notification_of_message, [true, false], :to_s, :to_s) do |b|
            .multiple-choice
              = b.radio_button("aria-labelledby": "radio-control-legend-email #{b.text.to_css_class}")
              = b.label(id: b.text.to_css_class) { (b.value.to_s == 'true' ? t('.answer_yes') : t('.answer_no')) }

    - if current_user.persona.admin?
      .form-group
        %fieldset.inline.js-advocate-roles{"aria-describedby": "checkbox-control-legend-roles"}
          %legend#checkbox-control-legend-roles
            %span.heading-medium
              = t('.roles')

          = f.collection_check_boxes(:roles, @external_user.available_roles, :to_s, :to_s) do |b|
            .multiple-choice
              = b.check_box("aria-labelledby": "checkbox-control-legend-roles #{b.text.to_css_class}")
              = b.label(id: b.text.to_css_class) { b.value.humanize }

    - if current_user.persona.provider.chamber?
      .form-group.js-chamber-advocates-only
        %fieldset.inline{"aria-describedby": "checkbox-control-legend-vat"}
          %legend#checkbox-control-legend-vat
            = t('.vat_registered')

          = f.collection_radio_buttons(:vat_registered, [true, false], :to_s, :to_s) do |b|
            .multiple-choice
              = b.radio_button("aria-labelledby": "checkbox-control-legend-vat #{b.text.to_css_class}")
              = b.label(id: b.text.to_css_class) { (b.value.to_s == 'true' ? t('.answer_yes') : t('.answer_no')) }

      .form-group
        = f.label :supplier_number, t('.supplier_number'), class: 'form-label-bold'
        = f.text_field :supplier_number, class: 'form-control'

  .form-group
    = f.submit t('.save'), class: 'button'
