= form_with model: [:external_users, :admin, @external_user] do |f|

  = f.fields_for :user do |user_fields|
    = user_fields.govuk_error_summary

    = user_fields.govuk_text_field :first_name,
      label: { text: t('.first_name') }

    = user_fields.govuk_text_field :last_name,
      label: { text: t('.last_name') }

    = user_fields.govuk_email_field :email,
      label: { text: t('.email') }

    - if @external_user.new_record?
      = user_fields.govuk_email_field :email_confirmation,
        label: { text: t('.email_confirmation') }

    = user_fields.govuk_collection_radio_buttons :email_notification_of_message,
      [['Yes','true'],['No','false']],
      :last,
      :first,
      inline: true,
      legend: { text: t('.email_notification'), size: 's' }

    - if current_user.persona.admin?
      = f.govuk_check_boxes_fieldset :roles, legend: { text: t('.roles'), size: 's' } do
        - @external_user.available_roles.each_with_index do |role, idx|
          = f.govuk_check_box(:roles,
            role,
            label: { text: role.humanize },
            link_errors: idx.zero?) do

            - if role.eql?('advocate') && current_user.persona.provider.chamber?
              = f.govuk_collection_radio_buttons :vat_registered,
                [['Yes','true'],['No','false']],
                :last,
                :first,
                inline: true,
                legend: { text: t('.vat_registered'), size: 's' }

              = f.govuk_text_field :supplier_number,
                hint: { text: t('.supplier_number_hint') },
                label: { text: t('.supplier_number') }

    = f.govuk_submit t('.save')
