= form_for [:external_users, :admin, @external_user] do |f|

  = f.fields_for :user do |user_fields|
    .form-group
      %a{name: 'first_name'}
      = user_fields.label :first_name, t(".first_name"), class: "form-label"
      = user_fields.text_field :first_name, class: "form-control"
    .form-group
      %a{name: 'last_name'}
      = user_fields.label :last_name, t(".last_name"), class: "form-label"
      = user_fields.text_field :last_name, class: "form-control"

    .form-group
      %a{name: 'email'}
      = user_fields.label :email, t(".email"), class: "form-label"
      = user_fields.email_field :email, class: "form-control"
    - if @external_user.new_record?
      .form-group
        %a{name: 'email_confirmation'}
        = user_fields.label :email_confirmation, t(".email_confirmation"), class: "form-label"
        = user_fields.email_field :email_confirmation, class: "form-control"

    %fieldset.inline.js-advocate-roles
      %legend
        = 'Roles'
      = f.collection_check_boxes(:roles, @external_user.available_roles, :to_s, :to_s) do |b|
        - b.label(class: "block-label") { b.check_box + b.value.humanize }

      - if current_user.persona.provider.chamber?
        .js-chamber-advocates-only
          %fieldset
            = f.label :vat_registered, class: "form-label"
            .form-group.inline
              =f.collection_radio_buttons(:vat_registered, [true, false], :to_s, :to_s) do |b|
                - b.label(class: 'block-label') { b.radio_button + (b.value.to_s == 'true' ? 'Yes' : 'No') }

          = f.label :supplier_number, t(".supplier_number"), class: "form-label"
          = f.text_field :supplier_number, class: "form-control"

  = f.submit 'Save', class: "button"
