= render partial: 'errors/error_summary', locals:{ ep: @external_user, error_summary: t('.prohibited_save')}

= render partial: 'layouts/header', locals: {page_heading: 'Change password'}

.main-section.container
  .body-content
    = form_for [:external_users, :admin, @external_user], url: update_password_external_users_admin_external_user_path do |f|
      = f.fields_for :user do |user_fields|
        .form-fields
          %fieldset
            %legend.visually-hidden Change Password
            .form-group
              .form-group.input
                = user_fields.label :current_password, t(".current_password"), class: "form-label"
                = user_fields.password_field :current_password, class: "form-control"
              .form-group.input
                = user_fields.label :password, t(".password"), class: "form-label"
                = user_fields.password_field :password, class: "form-control"
              .form-group.input
                = user_fields.label :password_confirmation, t(".password_confirmation"), class: "form-label"
                = user_fields.password_field :password_confirmation, class: "form-control"

            = f.submit t(".submit"), class: "button"
