- if @external_user.user.errors.any?
  .validation-summary
    %h3.heading-small= "#{t('.prohibited_save')} #{pluralize(@external_user.user.errors.count, 'error')}"
    %ul
      - @external_user.user.errors.full_messages.each do |msg|
        %li= msg
= render partial: 'layouts/header', locals: {page_heading: 'Change password'}
  Change password

= form_for [:external_users, :admin, @external_user], url: update_password_external_users_admin_external_user_path do |f|
  = f.fields_for :user do |user_fields|
    %fieldset.user-form
      = user_fields.label :current_password, t(".current_password"), class: "form-label"
      = user_fields.password_field :current_password, class: "form-control"
      = user_fields.label :password, t(".password"), class: "form-label"
      = user_fields.password_field :password, class: "form-control"
      = user_fields.label :password_confirmation, t(".password_confirmation"), class: "form-label"
      = user_fields.password_field :password_confirmation, class: "form-control"

  = f.submit t(".submit"), class: "button"
