= content_for :page_title, flush: true do
  = t(".page_title_#{current_user.provider.provider_type}")

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading', provider_name: "#{current_user.provider.name}") }

= content_for :search_html_block do
  .form-group{ class: 'govuk-!-margin-bottom-6'}
    = govuk_link_to t('.new_user'), new_external_users_admin_external_user_path

= render partial: 'shared/search_form', locals: { search_path: external_users_admin_external_users_path(anchor: 'search-button'), hint_text: t('hint.search_users'), button_text: t('search.users') }

= govuk_table(classes: 'app-table--responsive') do |table|
  = table.with_caption(classes: 'govuk-visually-hidden', text: t('.table_caption', provider_name: "#{current_user.provider.name}"))

  = table.with_head do |head|
    = head.with_row do |row|
      = row.with_cell(text: t('.last_name'))
      = row.with_cell(text: t('.first_name'))
      = row.with_cell(text: t('.supplier_number'))
      = row.with_cell(text: t('.email'))
      = row.with_cell(text: t('.email_confirmation'))
      = row.with_cell(text: t('.status'))
      = row.with_cell(text: t('.actions'))

  = table.with_body do |body|
    - @external_users.each do |advocate|
      = body.with_row do |row|
        = row.with_cell(html_attributes: { 'data-label': t('.last_name') }, text: advocate.last_name)
        = row.with_cell(html_attributes: { 'data-label': t('.first_name') }, text: advocate.first_name)
        = row.with_cell(html_attributes: { 'data-label': t('.supplier_number') }) do
          = advocate.supplier_number ? advocate.supplier_number : '-'
        = row.with_cell(html_attributes: { 'data-label': t('.email') }) do
          = govuk_mail_to advocate.email, advocate.email, { title: t('.email_title', external_user: advocate.name) }
        = row.with_cell(html_attributes: { 'data-label': t('.email_confirmation') }) do
          = advocate.send_email_notification_of_message? ? t('.option_yes') : t('.option_no')
        = row.with_cell(html_attributes: { 'data-label': t('.status') }, text: govuk_tag_active_user?(advocate))
        = row.with_cell(html_attributes: { 'data-label': t('.actions') }) do
          - if advocate.active? && advocate.enabled?
            = render partial: 'edit_delete_links', locals: { advocate: advocate }
          - elsif advocate.active? && !advocate.enabled?
            = render partial: 'edit_delete_links', locals: { advocate: advocate }
