= render partial: 'layouts/header', locals: {page_heading: t('.title')}

= content_for :search_html_block do
  %div
    = link_to t('.new_user'), new_external_users_admin_external_user_path, class: 'button right'
= render partial: 'shared/search_form', locals: { search_path: external_users_admin_external_users_path, hint_text: t('hint.search') }

%table.report
  %thead
    %th
      = t('.last_name')
    %th
      = t('.first_name')
    %th
      = t('.supplier_number')
    %th
      = t('.email')
    - if Settings.email_notification_enabled?
      %th
        = "Email notifications of messages?"
    %th
      = t('.actions')
  %tbody
    - @external_users.each do |advocate|
      %tr
        %td
          = advocate.last_name
        %td
          = advocate.first_name
        %td
          = advocate.supplier_number
        %td
          = mail_to advocate.email, advocate.email, {title: "Email #{advocate.name}"}
        - if Settings.email_notification_enabled?
          %td
            = advocate.send_email_notification_of_message? ? 'Yes' : 'No'
        %td.user-controls
          - if advocate.active?
            = link_to 'Edit',  edit_external_users_admin_external_user_path(advocate)
            = " | "
            = link_to 'Delete', external_users_admin_external_user_path(advocate), method: :delete, data: { confirm: 'Are you sure?' }
          - else
            Inactive
