= content_for :page_title, flush: true do
  = t(".page_title_#{current_user.provider.provider_type}")

= render partial: 'layouts/header', locals: {page_heading: t('.page_heading')}

= content_for :search_html_block do
  .form-group
    = link_to t('.new_user'), new_external_users_admin_external_user_path

= render partial: 'shared/search_form', locals: { search_path: external_users_admin_external_users_path(anchor: 'listanchor'), hint_text: t('hint.search_users'), button_text: t('search.users') }

%table.report
  %thead
    %th
      = t('.last_name')
    %th
      = t('.first_name')
    %th
      = t('.supplier_number')
    %th
      = t('.email')
    - if Settings.email_notification_enabled?
      %th
        = t('.email_confirmation')
    %th
      = t('.actions')
  %tbody
    - @external_users.each do |advocate|
      %tr
        %td
          = advocate.last_name
        %td
          = advocate.first_name
        %td
          = advocate.supplier_number ? advocate.supplier_number : '-'
        %td
          = mail_to advocate.email, advocate.email, {title: t('.email_title', external_user: advocate.name)}
        - if Settings.email_notification_enabled?
          %td
            = advocate.send_email_notification_of_message? ? t('.option_yes') : t('.option_no')
        %td.user-controls
          - if advocate.active?
            = link_to t('.edit'),  edit_external_users_admin_external_user_path(advocate)
            = " | "
            = link_to t('.delete'), external_users_admin_external_user_path(advocate), method: :delete, data: { confirm: t('.confirmation') }
          - else
            Inactive
