= content_for :page_title, flush: true do
  = t(".page_title_#{current_user.provider.provider_type}")

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading', provider_name: "#{current_user.provider.name}") }

= content_for :search_html_block do
  .form-group
    = govuk_link_to t('.new_user'), new_external_users_admin_external_user_path

= render partial: 'shared/search_form', locals: { search_path: external_users_admin_external_users_path(anchor: 'search-button'), hint_text: t('hint.search_users'), button_text: t('search.users') }


= govuk_table do
  = govuk_table_caption(class: 'govuk-visually-hidden') do
    = t('.table_caption', provider_name: "#{current_user.provider.name}")

  = govuk_table_thead_collection [t('.last_name'),
  t('.first_name'),
  t('.supplier_number'),
  t('.email'),
  t('.email_confirmation'),
  t('.actions')]

  = govuk_table_tbody do
    - @external_users.each do |advocate|
      = govuk_table_row do
        = govuk_table_td('data-label': t('.last_name')) { advocate.last_name }

        = govuk_table_td('data-label': t('.first_name')) { advocate.first_name }

        = govuk_table_td('data-label': t('.supplier_number')) do
          = advocate.supplier_number ? advocate.supplier_number : '-'

        = govuk_table_td('data-label': t('.email')) do
          = govuk_mail_to advocate.email, advocate.email, { title: t('.email_title', external_user: advocate.name) }

        = govuk_table_td('data-label': t('.email_confirmation')) do
          = advocate.send_email_notification_of_message? ? t('.option_yes') : t('.option_no')

        = govuk_table_td('data-label': t('.actions')) do
          - if advocate.active? && advocate.enabled?
            = render partial: 'edit_delete_links', locals: { advocate: advocate }
          - elsif advocate.active? && !advocate.enabled?
            Inactive
            = render partial: 'edit_delete_links', locals: { advocate: advocate }
          - else
            Inactive
