= content_for :page_title  do
  = t(".page_title_#{@current_provider.provider_type}")

= render partial: 'errors/error_summary', locals:{ ep: @external_user.user, error_summary: t('.prohibited_save')}

= render partial: 'layouts/header', locals: {page_heading: t('.new_advocate')}

= render 'form'
