= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = govuk_summary_list do |summary_list|
      - summary_list.with_row do |row|
        - row.with_key(text: t('.name'))
        - row.with_value(text: @external_user.name )

      - summary_list.with_row do |row|
        - row.with_key(text: t('.email'))
        - row.with_value(text: (govuk_mail_to @external_user.email, @external_user.email ))

      - summary_list.with_row do |row|
        - row.with_key(text: t('.roles'))
        - row.with_value(text: @external_user.roles.map(&:humanize).join(', ') )

      - summary_list.with_row do |row|
        - row.with_key(text: t('.supplier_number'))
        - row.with_value(text: @external_user.supplier_number )


    .govuk-button-group
      - if can? :edit, @external_user
        = govuk_button_link_to(t('.edit'), edit_external_users_admin_external_user_path(@external_user))

      - if can? :change_password, @external_user
        = govuk_button_link_to(t('.change_password'), change_password_external_users_admin_external_user_path(@external_user), secondary: true)
