= render partial: 'layouts/header', locals: {page_heading: 'Your account'}

.body-content
  .table-container.container
    %table
      %caption
        = 'Your account'
      %colgroup
        %col
        %col
      %tbody
        %tr
          %th{scope:'row'}
            = 'Name:'
          %td
            = @external_user.name
        %tr
          %th{scope:'row'}
            = 'Email:'
          %td
            = mail_to @external_user.email, @external_user.email
        %tr
          %th{scope:'row'}
            = 'Roles:'
          %td
            = @external_user.roles.map(&:humanize).join(', ')
        %tr
          %th{scope:'row'}
            = 'Supplier number:'
          %td
            = @external_user.supplier_number

  - if can? :edit, @external_user
    = link_to 'Edit', edit_external_users_admin_external_user_path(@external_user), class: 'btn-gray btn-spacer-20'

  - if can? :change_password, @external_user
    = link_to 'Change password', change_password_external_users_admin_external_user_path(@external_user), class: 'btn-gray'
