= content_for :page_title, flush: true do
  = t('.page_title', external_user: @external_user.name)

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

%h2.heading-medium
  = t('.heading')

= render 'form'
