
= content_for :page_title, flush: true do
  = t('.page_title', external_user: @external_user.name)

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      = t('.page_title', external_user: @external_user.name)

    %h2.govuk-heading-m
      = t('.enable_message', external_user: @external_user.name)

    = form_with model: [:provider_management, @external_user], url: update_availability_provider_management_provider_external_user_path(@provider, @external_user), builder: GdsAdpFormBuilder do |f|
      = f.hidden_field :availability, value: true

      .govuk-button-group
        = f.govuk_submit(t('.enable_user'))
        = govuk_link_to(t('.cancel_button'),provider_management_provider_external_user_path(@provider, @external_user))
