= content_for :page_title, flush: true do
  = t('.page_title')

.govuk-grid-row
  .govuk-grid-column-two-thirds

    = form_for :external_user, url: provider_management_external_users_find_path do |f|
      = f.govuk_email_field :email,
        label: { text: t('.page_heading'), tag: 'h1', size: 'l' }

      = f.govuk_submit t('.submit')
