= content_for :page_title, flush: true do
  = t('.page_title', provider_name: @provider.name)

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

.form-group.form-buttons
  = govuk_link_button(t('.add_provider'), new_provider_management_provider_external_user_path(@provider))

%table{ summary: t('.table_summary', provider_name: @provider.name) }
  %caption
    %h2.govuk-heading-m
      = t('.caption', provider_name: @provider.name)

  %thead
    %th{ scope: 'col' }
      = t('.name')
    %th{ scope: 'col' }
      = t('.supplier_number')
    %th{ scope: 'col' }
      = t('.email')
    %th{ scope: 'col' }
      = t('.state')

  %tbody
    - @external_users.each do |advocate|
      %tr
        %td
          = advocate.active? ? govuk_link_to(advocate.name, provider_management_provider_external_user_path(@provider, advocate), 'aria-label': t('.view_details', text: advocate.name)) : advocate.name
        %td
          = advocate.supplier_number
        %td
          = govuk_mail_to advocate.email, advocate.email, 'aria-label': t('.title', provider: advocate.name)
        %td
          = advocate.active? ? t('.live') : t('.inactive')
