= content_for :page_title, flush: true do
  = t('.page_title', provider_name: @provider.name)

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading', provider: @provider.name) }

.govuk-grid-row
  .govuk-grid-column-full
    - if can? :new, ExternalUser
      = govuk_button_link_to(t('.add_provider'), new_provider_management_provider_external_user_path(@provider))

    = govuk_table(class: 'govuk-!-margin-top-9') do
      = govuk_table_caption(class: 'govuk-visually-hidden') do
        = t('.caption', provider_name: @provider.name)

      = govuk_table_thead_collection [t('.name'),
        t('.supplier_number'),
        t('.email'),
        t('.state')]

      = govuk_table_tbody do
        - @external_users.each do |advocate|
          = govuk_table_row do
            = govuk_table_td('data-label': t('.name')) do
              = can?(:show, advocate) ? govuk_link_to(advocate.name, provider_management_provider_external_user_path(@provider, advocate), 'aria-label': t('.view_details', text: advocate.name)) : advocate.name

            = govuk_table_td('data-label': t('.supplier_number')) do
              = advocate.supplier_number

            = govuk_table_td('data-label': t('.email')) do
              = govuk_mail_to advocate.email, advocate.email, 'aria-label': t('.title', provider: advocate.name)

            = govuk_table_td('data-label': t('.state')) do
              = (advocate.active? && advocate.enabled?) ? t('.live') : t('.inactive')
