= content_for :page_title, flush: true do
  = t('.page_title', provider_name: @provider.name)

= content_for :v2_stylesheets do
  = stylesheet_link_tag 'v2/application', media: 'all'


= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

%h2.heading-medium
  = t('.heading', provider_name: @provider.name)

= render 'form'
