= content_for :page_title, flush: true do
  = t('.page_title', provider_name: @provider.name)


= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

%h2.govuk-heading-m
  = t('.heading', provider_name: @provider.name)

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = render 'form'
