= content_for :page_title, flush: true do
  = t('.page_title', external_user: @external_user.name)

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading', external_user: @external_user.name) }

.govuk-grid-row
  .govuk-grid-column-two-thirds

    = govuk_summary_list do |summary_list|

      - summary_list.with_row do |row|
        - row.with_key(text: t('.provider'))
        - row.with_value do
          = govuk_link_to @external_user.provider.name, provider_management_provider_path(@provider), 'aria-label': t('.edit_provider')

      - summary_list.with_row do |row|
        - row.with_key(text: t('.email'))
        - row.with_value(text: govuk_mail_to(@external_user.email, @external_user.email))

      - summary_list.with_row do |row|
        - row.with_key(text: t('.name'))
        - row.with_value(text:  @external_user.name )

      - summary_list.with_row do |row|
        - row.with_key(text: t('.supplier_number'))
        - row.with_value(text: @external_user.supplier_number )

      - summary_list.with_row do |row|
        - row.with_key(text: t('.vat_registered'))
        - row.with_value(text: @external_user.vat_registered? ? t('.answer_yes') : t('.answer_no') )

      - summary_list.with_row do |row|
        - row.with_key(text: t('.role'))
        - row.with_value(text: @external_user.roles.map(&:humanize).join(', ') )

      - summary_list.with_row do |row|
        - row.with_key(text: t('.state'))
        - row.with_value(text: account_status(@external_user) )

    .govuk-button-group
      - if can? :edit, @external_user
        = govuk_button_link_to(t('.edit'), edit_provider_management_provider_external_user_path(@provider, @external_user))

      - if can? :change_password, @external_user
        = govuk_button_link_to(t('.change_password'), change_password_provider_management_provider_external_user_path(@provider, @external_user), secondary: true)

      - if @external_user.enabled?
        - if can? :change_availability, @external_user
          = govuk_button_link_to(t('.disable_user'), change_availability_provider_management_provider_external_user_path(@provider, @external_user), warning: true)
      - else
        - if can? :change_availability, @external_user
          = govuk_button_link_to(t('.enable_user'), change_availability_provider_management_provider_external_user_path(@provider, @external_user))
