.govuk-grid-row{class: 'govuk-!-margin-top-9'}
  .govuk-grid-column-full

    - if providers.none?
      %p
        = t('.no_provider')

    - else
      = govuk_table(classes: 'app-table--responsive') do |table|
        = table.with_caption(classes: 'govuk-visually-hidden', text: t('.caption'))

        = table.with_head do |head|
          = head.with_row do |row|
            = row.with_cell(text: t('.provider_name'))
            = row.with_cell(text: t('.provider_type'))
            = row.with_cell(text: t('.fee_schemes'))
            = row.with_cell(text: t('.vat_registered'))
            = row.with_cell(text: t('.users'))

        = table.with_body do |body|
          - providers.each do |provider|
            = body.with_row(html_attributes: { id: dom_id(provider) }) do |row|
              = row.with_cell(html_attributes: { 'data-label': t('.provider_name') }) do
                = govuk_link_to provider.name, provider_management_provider_path(provider)
              = row.with_cell(html_attributes: { 'data-label': t('.provider_type') }, text: provider.provider_type.humanize)
              = row.with_cell(html_attributes: { 'data-label': t('.fee_schemes') }, text: provider.roles.map(&:upcase) * ', ')
              = row.with_cell(html_attributes: { 'data-label': t('.vat_registered') }) do
                = provider.vat_registered == true ? t('global_yes') : t('global_no')
              = row.with_cell(html_attributes: { 'data-label': t('.users') }) do
                = govuk_link_to t('.manage_user_html', context: provider.name), provider_management_provider_external_users_path(provider)
