.govuk-grid-row{class: 'govuk-!-margin-top-9'}
  .govuk-grid-column-full

    - if providers.none?
      %p
        = t('.no_provider')

    - else
      = cccd_govuk_table do
        = govuk_table_caption(class: 'govuk-visually-hidden') do
          = t('.caption')

        = govuk_table_thead_collection [t('.provider_name'),
        t('.provider_type'),
        t('.fee_schemes'),
        t('.vat_registered'),
        t('.users')]

        = govuk_table_tbody do
          - providers.each do |provider|
            = govuk_table_row(id: dom_id(provider)) do
              = govuk_table_td('data-label': t('.provider_name')) do
                = govuk_link_to provider.name, provider_management_provider_path(provider)

              = govuk_table_td('data-label': t('.provider_type')) do
                = provider.provider_type.humanize

              = govuk_table_td('data-label': t('.fee_schemes')) do
                = provider.roles.map(&:upcase) * ', '

              = govuk_table_td('data-label': t('.vat_registered')) do
                = provider.vat_registered == true ? t('global_yes') : t('global_no')

              = govuk_table_td('data-label': t('.users')) do
                = govuk_link_to t('.manage_user_html', context: provider.name), provider_management_provider_external_users_path(provider)
