= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

.form-section
  .form-group.form-buttons
    = govuk_link_button(href: new_provider_management_provider_path) { t('.add_a_provider') }
    = govuk_link_button_secondary(href: provider_management_external_users_find_path) { t('.find_provider_by_email') }

= render partial: 'providers', locals: { providers: @providers }
