= content_for :page_title, flush: true do
  = t('.page_title')

= content_for :v2_stylesheets do
  = stylesheet_link_tag 'v2/application', media: 'all'

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

.form-section
  .form-group.form-buttons
    = link_to t('.add_a_provider'), new_provider_management_provider_path, class: 'button', role: 'button'
    = link_to t('.find_provider_by_email'), provider_management_external_users_find_path, class: 'link-secondary'

= render partial: 'providers', locals: { providers: @providers }
