= content_for :page_title, flush: true do
  = t('.page_title', provider_name: @provider.name)

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading', provider_name: @provider.name) }

.govuk-grid-row
  .govuk-grid-column-two-thirds

    = govuk_summary_list do
      = govuk_summary_list_row_collection(t('.provider_type')) { @provider.provider_type.capitalize }

      = govuk_summary_list_row_collection(t('.fee_schemes')) { @provider.roles.map(&:upcase) * ', ' }

      - if @provider.lgfs_supplier_numbers.any?
        = govuk_summary_list_row_collection(t('.lgfs_supplier_numbers')) { @provider.lgfs_supplier_numbers.to_sentence }

      - if @provider.firm? && @provider.agfs?
        = govuk_summary_list_row_collection(t('.firm_agfs_supplier_number')) { @provider.firm_agfs_supplier_number }

      = govuk_summary_list_row_collection(t('.vat_registered')) { @provider.vat_registered == true ? t('.answer_yes') : t('.answer_no') }

    - if can? :edit, @provider
      = govuk_button_link_to(t('.edit'), edit_provider_management_provider_path(@provider))
