#transfer-fee.mod-fees
  = f.anchored_without_label 'transfer_fee'
  %h2.bold-medium
    = t('.transfer_fee_section_header')
  %p.form-hint.xsmall
    = t('.transfer_fee_prompt_text_html')

  = f.fields_for :transfer_fee do |tf|
    .transfer-fee-group.nested-fields.mod-fees
      %fieldset
        .form-row
          .column-three-quarters
            = tf.label :fee_type, t('.fee_type')
            = tf.anchored_attribute 'fee_type'
            = @claim.transfer_fee.description

          .column-quarter.fee-amount
            = tf.label :amount, t('.total')
            = tf.anchored_attribute 'amount'
            %span.currency-indicator>< £
            = tf.number_field :amount, value: number_with_precision(tf.object.amount, precision: 2), class: 'form-control amount', size: 10, maxlength: 8
            = validation_error_message(@error_presenter, 'transfer_fee.amount')
            = validation_error_message(@error_presenter, 'transfer_fee')

  = render partial: 'external_users/claims/transfer_fee/detail_fields', locals: { f: f }
