#transfer-fee.mod-fees
  = f.anchored_without_label 'transfer_fee'
  %h2.bold-medium
    = t('.transfer_fee_section_header')
  %p.form-hint.xsmall
    = t('.transfer_fee_prompt_text_html')

  = f.fields_for :transfer_fee do |tf|
    .transfer-fee-group.nested-fields.mod-fees.js-block{data:{"type": "transferFees", autovat: @claim.apply_vat? ? "true" : "false"}}
      %fieldset
        .form-row
          .column-one-third
            = tf.label :fee_type, t('.fee_type')
            = tf.anchored_attribute 'fee_type'
            = @claim.transfer_fee.description

          .column-one-third.condensed.js-expense-location.fee-amount
            .form-group.location_wrapper
              = tf.adp_text_field :quantity,
                        label: t('.ppe_total'),
                        input_classes:'quantity',
                        value: number_with_precision(tf.object.quantity, precision: 0),
                        error_key:'transfer_fee.quantity',
                        errors: @error_presenter

          .column-one-third.condensed.fee-total
            = tf.adp_text_field :amount,
                                label: t('.total'),
                                input_classes:'total',
                                input_type: 'currency',
                                value: number_with_precision(tf.object.amount, precision: 2),
                                errors: @error_presenter,
                                error_key: 'transfer_fee.amount'
