#transfer-fees-section.app-summary-section
  %h2.govuk-heading-l
    = t('external_users.claims.transfer_fee.summary.header')

  - if local_assigns[:editable]
    = govuk_link_to t('common.change_html', context: t('external_users.claims.transfer_fee.summary.header')), edit_polymorphic_path(claim, step: :transfer_fees, referrer: :summary), class: 'link-change'

  - if claim.transfer_fee.nil?
    %p
      There is no transfer fee for this claim

  - else
    - fee = present(claim.transfer_fee)

    = govuk_summary_list do
      = govuk_summary_list_row_collection( t('external_users.claims.interim_fee.fields.ppe_total') ) { fee.quantity }
      = govuk_summary_list_row_collection( t('shared.summary.amount') ) { fee.amount }
