%p
  = t('pages.contact_us.hint_text')

%p
  = t('pages.contact_us.advocate_hint')
%dl.contact-us-details
  %dt
    = t('email')
  %dd
    = govuk_mail_to Settings.advocates_email
  %dt
    = t('phone')
  %dd
    = govuk_link_to format_phone_number(Settings.advocate_phone_contact), "tel:#{Settings.advocate_phone_contact}"

%p
  = t('pages.contact_us.litigator_hint')
%dl.contact-us-details
  %dt
    = t('email')
  %dd
    = govuk_mail_to Settings.litigators_email
  %dt
    = t('phone')
  %dd
    = govuk_link_to format_phone_number(Settings.litigator_phone_contact), "tel:#{Settings.litigator_phone_contact}"
