- title 'Terms and Conditions'

= render partial: 'layouts/header', locals: {page_heading: 'THE “CLAIM FOR CROWN COURT DEFENCE” APPLICATION TERMS OF USE'}

%section.tandcs
  %p
    %h3.section-title
      1. INTRODUCTION
  %p
    These terms apply to you when you use the “Claim for crown court defence” application, available at
    = link_to 'https://claim-crown-court-defence.service.gov.uk/', 'https://claim-crown-court-defence.service.gov.uk/'
    \.
  %p
    The application is a single point of log in for payments under the
    Advocates’ Graduated Fee Scheme
    %b AGFS
  %p
    These terms will also apply to the Litigators’ Graduated Fee Scheme
    %b LGFS
    , when the Legal Aid Agency (the 
    %b LAA
    ) notifies you of this.

  %p
    The LAA is an executive agency of the Ministry of Justice, through which
    the Lord Chancellor acts to administer legal aid.
  %p
    Please read these terms carefully and do not use the application if you do
    not agree with them.
  %p
    %h3.section-title
      2. DEFINITIONS
  %p
    In these terms:
  %p
    %b advocate
    means a practising barrister or someone who is authorised by any relevant
    approved regulator to exercise a 'right of audience' as defined by
    section 119 (1) of the Courts and Legal Services Act 1990 who is
    instructed by an authorising organisation.
  %p
    %b
      the application
    means the “Claim for crown court defence” application, available at 
    = link_to 'https://claim-crown-court-defence.service.gov.uk/', 'https://claim-crown-court-defence.service.gov.uk/'
    \.
  %p
    %b
      authorised representative 
    means:
    %ul
      %li
        any employee of an authorising organisation; or
      %li
        any person, firm or company authorised by an authorising organisation to
        supply services to them in accordance with the standard terms and
        with authority from the authorising organisation to accept the terms
        on their behalf; and, in each case, who is also an authorised
        signatory; or
      %li
        an advocate; or
      %li
        a litigator

  %p
    %b
      authorised signatory 
    means an authorised representative of an authorising organisation who meets
    our signatory requirements as set out in the AGFS and, as applicable,
    LGFS bill submission screens.
  %p
    %b
      authorising organisation 
    means an organisation or person making claims under the standard terms, or
    any other organisation or person who has written authority from us to
    use the application in accordance with the terms.
  %p
    %b claim
    means a claim for payment, correctly made in accordance with the Criminal
    Legal Aid (Remuneration) (Amendment) Regulations 2013, that you’ve
    submitted to us for work you’ve done for someone who has been
    assessed (by a competent person or body) as a person for whom, under
    the legal aid legislation, work may be performed.
  %p
    %b data
    means as defined in the Data Protection Act 1998.

  %p
    %b
      data controller 
    means as defined in the Data Protection Act 1998.
  %p
    %b
      data processor 
    means as defined in the Data Protection Act 1998.
  %p
    %b
      data protection legislation
    means:
  %ul
    %li
      the Data Protection Act 1998
    %li
      the EU Data Protection Directive 95/46/EC
    %li
      the Regulation of Investigatory Powers Act 2000
    %li
      the Telecommunications (Lawful Business Practice) (Interception of
      Communications) Regulations 2000 (SI 2000/2699)
    %li
      the Electronic Communications Data Protection Directive 2002/58/EC
    %li
      the Privacy and Electronic Communications (EC Directive) Regulations
      2003, and
    %li
      all applicable laws and regulations relating to processing of personal
      data and privacy, including where applicable the guidance and codes
      of practice issued by the Information Commissioner

  %p
    %b
      data subject 
    means as defined in the Data Protection Act 1998.
  %p
    %b
      LAA data 
    means:
  %ul
    %li
      the data on the application (including drawings, diagrams, images or
      sounds, together with any database made up of any of these which is
      embodied in any electronic, magnetic optical or tangible media)
      which: 
      %ul
        %li
          is supplied to you by us or on our behalf; 
        %li
          you are required to process as part of your contract with us
    %li
      any personal data for which we are the data controller (but not
      including the shared data)

  %p
    %b
      legal aid legislation
    means the Legal Aid, Sentencing and Punishment of Offenders Act 2012
    and statutory instruments made under that act that are relevant to
    the AGFS and/or LGFS (as applicable).
  %p
    %b
      litigator
    means a solicitor, firm of solicitors or other appropriately qualified
    person referred to in a representation order as representing an
    assisted person.

  %p
    %b
      personal data 
    means as defined in the Data Protection Act 1998.

  %p
    %b process
    means as defined under the data protection legislation but, for the
    purposes of these terms, it shall include both manual and automatic
    processing.

  %p
    %b
      shared data
    means data (including personal data) on the application for which you are
    the data controller, either alone or in common with us.

  %p
    %b
      standard terms
    means, as applicable:
  %ul
    %li
      the 2010 Standard Civil Contract, the 2010 Standard Crime Contract, the
      2013 CLA Contract, any 2013, 2014 or 2015 Standard Civil Contract or
      any replacement contract available at:
      = link_to 'www.justice.gov.uk/legal-aid/contracts-and-tenders', 'http://www.justice.gov.uk/legal-aid/contracts-and-tenders', rel: 'external'
      , entered into between us and an authorising organisation for the
      provision of legal aid services, as each such contract is amended
      and updated from time to time; and
    %li
      the Criminal Legal Aid (Remuneration) (Amendment) Regulations 2013 being
      regulations incorporating both the AGFS and the LGFS and available at:
      = link_to 'www.legislation.gov.uk/uksi/2013/422/contents', 'http://www.legislation.gov.uk/uksi/2013/422/contents', rel: 'external'
  %p
    Reference to any legal aid legislation and other legislation (including any
    subordinate legislation made under it) is, as the context requires, a
    reference to any substitute for, amendment, variation or re-enactment
    of this legislation and any subordinate legislation made under it
    (whether on or after the date of these terms) and is a reference to
    any legislation which supersedes it and/or any subordinate
    legislation made under it and includes any new legal aid legislation
    in force on or after the date of these terms.
  %p
    %b
      we, us, our 
    means the Lord Chancellor acting through the LAA.
  %p
    %b
      you, your 
    refers to (unless expressly indicated otherwise) you as an authorised
    representative, whom an authorising organisation has authorised to
    use the application, an advocate or a litigator (as relevant).
  %p
    %h3.section-title
      3. AUTHORISING ORGANISATION AND INSTRUCTED COUNSEL
  %p
    To use the application, you must be:
  %ul
    %li
      an authorised representative
    %li
      an authorised signatory
    %li
      an advocate, or
    %li
      a litigator
  %p
    The authorising organisation will make sure that any authorised
    representative who it allows to access the application complies with
    these terms and the applicable provisions in the standard terms.
  %p
    If you are an authorised representative, advocate or litigator, you
    shall comply with these terms when using the application.
  %p
    %h3.section-title
      4. LICENCE TO USE THE APPLICATION
  %p
    %b
      Authorised representatives
  %p
    We grant you a non-exclusive, non-transferable and revocable licence to
    use the application in accordance with the purposes set out in the standard terms.
  %p
    %b Advocates
  %p
    We grant you a non-exclusive, non-transferable and revocable licence to
    use the application to help us fulfil our statutory obligations under
    Part 1 of the Legal Aid, Sentencing and Punishment of Offenders Act
    2012 relating to the legal aid scheme.
  %p
    %b
      Litigators
  %p
    We grant you a non-exclusive, non-transferable and revocable licence to
    use the application in accordance with the purposes set out in the
    standard terms.
  %p
    %h3.section-title
      5. INFORMATION ON THE APPLICATION
  %p
    You acknowledge that any information and other materials posted on the
    application are not intended to amount to advice that anyone should
    rely on.
  %p
    %h3.section-title
      6. AVAILABILITY OF THE APPLICATION
  %p
    We will use reasonable endeavours to make sure that the application is
    available but we will not be liable to you if for any reason it is
    unavailable.
  %p
    We reserve the right to withdraw or amend the application or the
    services we provide through it without notice.
  %p
    From time to time, we may:
  %ul
    %li
      restrict access to some or all of the application
    %li
      make changes to the application and any material on it
  %p
    %h3.section-title
      7. INFORMATION SUBMITTED THROUGH THE APPLICATION
  %p
    As an authorising organisation, you will make sure that:
  %ul
    %li
      your authorised representatives, advocates and litigators submit claims,
      information and requests through the application in accordance with
      the standard terms;
    %li
      your authorised representatives, advocates and litigators do not make the
      same submission in paper form and electronically through the
      application unless authorised to do so by us; and
    %li
      your authorised representatives, advocates and litigators submit only
      true, accurate and reasonable claims, and you acknowledge that any
      breach of this requirement is a material breach of these terms and
      standard terms by you
  %p
    As an advocate or litigator, you shall:
  %ul
    %li
      submit claims, information and requests through the application in
      accordance with these terms
    %li
      not make the same submission in paper form and electronically through
      the application unless authorised to do so by us; and
    %li
      submit only true, accurate and reasonable claims
  %p
    As an advocate, you acknowledge that any breach of this section is a
    material breach of these terms by you.
  %p
    We will use the information you provide through the application to
    administer your claims and submissions in accordance with the legal
    aid legislation, and the standard terms where appropriate.
  %p
    %h3.section-title
      8. DATA PROTECTION

  %p
    You shall comply with:
  %ul
    %li
      any notification requirements under the data protection legislation
    %li
      all obligations imposed on you by the data protection legislation while
      processing data on the application, and
    %li
      Clause 16 (data protection) of the standard terms
  %p
    Any inconsistency between this section 8 and clause 16 (Data protection)
    of the standard terms shall be resolved in favour of clause 16 (Data
    protection) of the standard terms.
  %p
    Without prejudice to the general obligations under the data protection
    legislation, in relation to the data on the application, you shall:
  %ul
    %li
      comply with the data processor’s obligations when processing any LAA
      data or shared data that we are responsible for as data controller
    %li
      comply with the obligations of the data controller, to the extent that you
      are data controller of any shared data
    %li
      not process the LAA data or shared data except as necessary for you to
      fulfil your obligations under the standard terms or as otherwise
      expressly authorised by us in writing
    %li
      if you are an advocate, ensure that you do not process the LAA data or
      shared data except as necessary for you to perform your
      instructions;
    %li
      have in place appropriate technical and contractual measures, including
      any such measures which are specified in the standard terms and that
      we may otherwise require from time to time, to ensure the security
      of the personal data
    %li
      provide us with such information as we may reasonably require, either to be
      satisfied that you are complying with your obligations contained in
      the data protection legislation, or in order to comply with any
      obligations imposed on us by virtue of the data protection
      legislation
    %li
      promptly notify us of any breach of the security measures required to be put
      in place pursuant to this section 8
    %li
      not knowingly do or negligently omit to do anything which places us in
      breach of our obligations under the data protection legislation
  %p
    If you lose, corrupt or degrade LAA data or shared data, whether
    knowingly or otherwise, so that it is unusable, we may at our sole
    discretion:
  %ul
    %li
      require you (at your reasonable expense) to restore or procure the
      restoration of LAA data or shared data in accordance with our
      requirements; and/or
    %li
      restore or procure the restoration of LAA data or shared data ourselves and
      require you to reimburse any reasonable expenses incurred in
      accordance with our requirements
  %p
    The authorised organisation shall defend, indemnify and hold us harmless
    against claims, actions, proceedings, losses, damages, expenses and
    costs (including without limitation court costs and reasonable legal
    fees) arising from a breach of any obligations set out in this
    section 8.
  %p
    The provisions of this section 8 shall apply for as long as you continue
    to have a valid licence to use the application under section 4, and
    shall continue to apply for a period of six years following
    termination (howsoever caused) of your licence.
  %p
    %h3.section-title
      9. USERS AND PASSWORDS
  %p
    %b
      Advocate user 
  %p
    The advocate user can create, edit, submit, view, manage and delete
    bills. However, the advocate user can only create, edit, submit,
    view, manage and delete their own bills.

  %p
    %b
      Advocate administrator user
  %p
    The advocate administrator user can create, edit, submit, view, manage
    and delete bills of any advocates for whom they have been allocated
    responsibility. They can also set up other users as advocate
    administrator users and advocate users.
  %p
    Where we provide you (as the authorising organisation) with advocate
    administrator user or advocate user rights, you shall ensure that the
    authorised representatives:
  %ul
    %li
      understand their obligations under these terms
    %li
      understand the nature and scope of their permissions and do not exceed such
      permissions; and
    %li
      are prevented from accessing the application once they cease to be
      authorised to do so
  %p
    If you receive a username, password or any other piece of information as
    part of our security procedures, you must treat this as confidential
    and not disclose it to anyone. We have the right to disable or change
    any username or password, whether chosen by you or allocated by us,
    at any time if we believe you have failed to comply with any of the
    provisions of these terms or we believe it is necessary to safeguard
    the application’s security.
  %p
    You are responsible for making all arrangements necessary for you to have
    access to the application.
  %p
    If you have more than one set of usernames and passwords provided by
    different authorising organisations, advocates or litigators (as
    applicable), you shall only use each username and password in
    accordance with the permissions and purposes authorised by the
    issuing authorising organisation.
  %p
    %h3.section-title
      10. INTELLECTUAL PROPERTY RIGHTS
  %p
    We are the owner or the licensee of all intellectual property rights in
    the application, and in the material published on it. These rights
    are protected by international copyright laws and treaties. All such
    rights are reserved.
  %p
    You may print extracts from the contents of the application only when you
    need to do so to use the service provided by the application, (and
    provided that you do not alter, amend or delete any intellectual
    property rights, notices or marks). Reproduction of all or part of
    the application or its contents in any form is prohibited for any
    other purpose. None of the contents of the application may be copied
    or otherwise incorporated into or stored in any other electronic
    system, publication or other work in any form (whether hard copy,
    electronic or other) other than as set out in this section 10.
  %p
    You must not modify in any way the paper or digital copies of any
    materials you have printed off or downloaded.
  %p
    If you print off, copy or download any part of the application in breach
    of these terms, you must, at our option, return or destroy any copies
    you’ve made of any materials from the application and we shall
    have the right to take action in accordance with section 13.
  %p
    %h3.section-title
      11. PROHIBITED USES
  %p
    You may not use the application:
  %ul
    %li
      in any way that breaches any applicable local, national or
      international law or regulation; or
    %li
      in any way that is unlawful or fraudulent, or has any unlawful or
      fraudulent purpose or effect; or
    %li
      to knowingly transmit any data, send or upload any material that
      contains viruses, Trojan horses, worms, time-bombs, keystroke
      loggers, spyware, adware or any other harmful programs or similar
      computer code designed to adversely affect the operation of any
      computer software or hardware
  %p
    You also agree:
  %ul
    %li
      not to reproduce, duplicate, copy or re-sell any part of the application
      in contravention of the provisions of these terms;
    %li
      not to access without authority, interfere with, damage or disrupt:
      %ul
        %li
          any part of the application;
        %li
          any equipment or network on which the application is stored;
        %li
          any software and/or database used in the provision of the application;
        %li
          any equipment or network or software owned or used by any third party; or
        %li
          other users' accounts or information; and
    %li
      not to attack the application via a denial-of-service attack or a
      distributed denial-of-service attack
  %p
    By breaching this section 11, you may commit a criminal offence under
    the Computer Misuse Act 1990. We will report any such breach to the
    relevant law enforcement authorities and co-operate with those
    authorities by disclosing your identity. In the event of such a
    breach, your right to use the application will cease immediately.
  %p
    %h3.section-title
      12. LINKS FROM THE APPLICATION
  %p
    Where the application contains links to other websites and resources
    provided by third parties, these links are provided for your
    information only. We have no control over the contents of those
    websites or resources, and accept no responsibility for them or for
    any loss or damage that may arise from your use of them.
  %p
    %h3.section-title
      13. SUSPENSION AND TERMINATION
  %p
    We may revoke the licence granted to you in section 4 and terminate
    these terms with immediate effect if you breach these terms.
  %p
    We will determine, at our discretion, whether you have breached these
    terms. When a breach of these terms has occurred, we may take
    whatever action we consider appropriate.
  %p
    If you don’t comply with these terms, we may do any or all of the
    following:
  %ul
    %li
      immediately, temporarily or permanently withdraw your right to use the
      application;
    %li
      immediately, temporarily or permanently remove any material you have uploaded to
      the application;
    %li
      issue you a warning;
    %li
      issue legal proceedings against you for reimbursement of all costs on an
      indemnity basis resulting from the breach (including, but not
      limited to, reasonable administrative and legal costs)
    %li
      take further legal action against you; and
    %li
      disclose such information to law enforcement authorities as we reasonably
      feel is necessary
  %p
    We exclude liability for our actions taken in response to breaches of
    these terms. The responses described in these terms are not limited,
    and we may take any other action we reasonably consider appropriate.
  %p
    %h3.section-title
      14. LIABILITY
  %p
    In accordance with the terms, the authorising organisation shall be
    responsible for the acts or omissions of the authorised
    representatives and litigators, and in respect of section 7,
    advocates. The authorising organisation shall defend, indemnify and
    hold us harmless against claims, actions, proceedings, losses,
    damages, expenses and costs (including without limitation court costs
    and reasonable legal fees) arising out of the acts or omissions of
    the authorised representatives, advocates and litigators.
  %p
    To the extent permitted by law, the application is provided without any
    guarantee, conditions or warranties as to its availability, accuracy
    or fitness for purpose.
  %p
    To the extent permitted by law, we expressly exclude all and any
    liability to you in respect of all or any claims arising out of or in
    connection with these terms and your use of the application
    (including without limitation as a result of negligence or any other
    tort under statute or otherwise).
  %p
    To the extent permitted by law, we exclude all conditions, warranties
    and other terms that might otherwise be implied by statute, common
    law or the law of equity.
  %p
    We will not be liable for any loss or damage caused by a distributed
    denial-of-service attack, viruses or other technologically harmful
    material that may infect your computer equipment, computer programs,
    data or other proprietary material due to your use of the application
    or to your downloading of any content on it, or on any website linked
    to it.
  %p
    %h3.section-title
      15. CHANGES TO THESE TERMS
  %p
    We may amend these terms from time to time and we will notify you of
    this on our website. Such changes are effective from the date they
    are notified. Your continued use of the application after this date
    shows your acceptance of such changes.
  %p
    %h3.section-title
      16. INFORMATION ABOUT YOU AND YOUR VISITS TO OUR SITE
  %p
    %b
      Your information
  %p
    We collect and process your personal data (such as your contact details
    and your IP address) in accordance with these terms. By using the
    application, you consent to this.
  %p
    %b Cookies
  %p
    We may use information obtained about you from cookies (files that your
    computer or other device sends to us) which we can access when you
    visit the application in future. The cookies store small pieces of
    information about our users, such as names and email addresses.
  %p
    There are different kinds of cookies with different functions:
  %p
    %b
      Session cookies: 
    these cookies are only stored on your computer during your web session.
    They are automatically deleted when the browser is closed. They
    usually store an anonymous session ID, which allows you to browse a
    website without having to log in to each page. They do not collect
    any information from your computer.
  %p
    %b
      Persistent cookies: 
    a persistent cookie is stored as a file on your computer, and it
    remains there when you close your web browser. The cookie can be read
    by the website that created it when you visit that website again. We
    do not use persistent cookies other than for Google Analytics (please
    see below for information on Google Analytics).
  %p
    %b
      Google Analytics: 
    The application uses Google Analytics, a web analytics service provided
    by Google. Google Analytics uses cookies to analyse how the
    application is being used. The information generated by the cookie
    about your use of the application (including your IP address) will be
    transmitted to and stored by Google on servers in the US. Google will
    use this information to evaluate your use of the application,
    compiling reports on the application activity and internet usage.
    Google may also transfer this information to third parties where
    required to do so by law, or where such third parties process the
    information on Google’s behalf. Google will not associate your
    IP address with any other data held by Google. By using the
    application you consent to Google processing your personal data in
    the manner and for the purposes set out above.
  %p
    %b
      Deleting cookies: 
    If you want to delete any cookies that are already on your computer,
    please read the instructions for your file management software to
    locate the file or directory that stores cookies. If you want to stop
    cookies being stored on your computer in future, please refer to your
    browser manufacturer’s instructions by clicking "Help"
    in your browser menu. You can find out more about deleting or
    controlling cookies at
    = link_to 'www.AboutCookies.org', 'http://www.AboutCookies.org', rel: 'external'
    \.
    Please note: if you delete our cookies or disable future cookies you
    may not be able to access certain areas or features of the
    application.

  %p
    %h3.section-title
      17. JURISDICTION AND APPLICABLE LAW
  %p
    These
    terms and any disputes or claims arising out of or in connection with
    them or their subject matter or formation (including non-contractual
    disputes or claims) are governed by and construed in accordance with
    the laws of England and Wales.
  %p
    We both irrevocably agree that the courts of England and Wales have
    exclusive jurisdiction to settle any dispute or claim that arises out
    of or in connection with these terms or their subject matter or
    formation (including non-contractual disputes or claims).

  %p
    %b
      CONTACT US
  %p
    You can write to us at: The Legal Aid Agency, 102 Petty France, London,
    SW1H 9AJ. 
