= simple_form_for @document, html: { multipart: true } do |f|
  = f.error_notification

  .form-inputs
    = f.association :document_type, label_method: :description
    = f.input :document, label: t('.upload'), as: :file
    = f.input :notes
  .form-actions
    = f.button :submit, t('upload')
