= simple_form_for @document, html: { multipart: true } do |f|
  = f.error_notification

  .form-inputs
    = f.input :document, label: t('.upload'), as: :file
    = f.input :description
  .form-actions
    = f.button :submit, t('upload')
