%h1.page-title Manage #{@provider.provider_type}

%h2
  = @provider.name

%p
  = label_tag :supplier_number, "#{t('.supplier_number')}:", class: "form-label"
  = @provider.supplier_number

%p
  = label_tag :vat_registered, "#{t('.vat_registered')}:", class: "form-label"
  = @provider.vat_registered == true ? 'Yes' : 'No'

%p
  = label_tag :api_key, "#{t('.api_key')}:", class: "form-label"
  .grid-row
    .column-third#api-key
      = @provider.api_key
    .column-two-thirds
      = button_to 'Generate new key', regenerate_api_key_advocates_admin_provider_path(@provider), method: :patch, data: { confirm: "Are you sure?\n\nImportant: the new key will need to be used for all API calls and JSON file claim imports for this provider." }, class: 'button'

- if can? :edit, @provider
  = link_to 'Edit', edit_advocates_admin_provider_path(@provider), class: 'button'
