#warrant_fee.mod-fees
  = f.anchored_without_label 'warrant_fee'
  %h2.bold-medium
    = t('.warrant_fee')

  = f.fields_for :warrant_fee do |wf|

    .form-group.nested-fields.js-block{data:{"type":"fees", autovat: @claim.apply_vat? ? "true" : "false"}}
      .grid-row
        .column-one-half
          = wf.gov_uk_date_field :warrant_issued_date, legend_text: t('.date_issued'), legend_class: 'govuk-legend',
            id: 'warrant_fee.warrant_issued_date', error_messages: gov_uk_date_field_error_messages(@error_presenter, 'warrant_fee.warrant_issued_date')

        .column-one-half
          = wf.gov_uk_date_field :warrant_executed_date, legend_text: t('.date_executed'), legend_class: 'govuk-legend',
            id: 'warrant_fee.warrant_executed_date', error_messages: gov_uk_date_field_error_messages(@error_presenter, 'warrant_fee.warrant_executed_date')

      .grid-row
        .column-quarter
          %label.form-label
            = t('.total')
          %a{id: "amount"}
          %span.currency-indicator>< &pound;
          = wf.number_field :amount, value: number_with_precision(wf.object.amount, precision: 2), class: 'total form-control', size: 10
          = validation_error_message(@error_presenter, 'interim_fee.amount')