#warrant_fee
  = f.anchored_without_label 'interim_fee.warrant'
  %h2.bold-medium
    = t('.warrant_fee')

  = f.fields_for :warrant_fee do |wf|

    %table
      %tbody
        %tr
          %td
            = wf.anchored_attribute 'warrant_issued_date'
            = wf.gov_uk_date_field :warrant_issued_date, legend_text: t('.date_issued')
            = validation_error_message(@error_presenter, :warrant_issued_date)

          %td
            = wf.anchored_attribute 'warrant_executed_date'
            = wf.gov_uk_date_field :warrant_executed_date, legend_text: t('.date_executed')
            = validation_error_message(@error_presenter, :warrant_executed_date)

          - if @claim.interim?
            %td
              = wf.anchored_label(t('.total'), :total, { label_attributes: {class: 'form-label'} })
              .pound-wrapper
                = wf.anchored_attribute 'amount'
                = wf.text_field :amount, value: number_with_precision(wf.object.amount, precision: 2), class: 'amount form-control medium-input'
              = validation_error_message(@error_presenter, 'warrant_fee.amount')
