.form-section
  %h2.heading-large
    = t('external_users.claims.warrant_fee.summary.header')
    - if local_assigns[:editable]
      = govuk_link_to t('.change'), edit_polymorphic_path(claim, step: :interim_fees, referrer: :summary), class: 'link-change', 'aria-label': t('.change_link_label')

  - if claim.warrant_fee.nil?
    %p
      There is no warrant fee for this claim

  - else
    - warrant_fee = present(claim.warrant_fee)

    = govuk_summary_list do
      - if claim.agfs?
        = govuk_summary_list_row( t("common.external_user.category.#{claim.external_user_type}") ) { claim.advocate_category }

      = govuk_summary_list_row( t('shared.summary.warrant_fee.date_issued') ) { warrant_fee.warrant_issued_date }
      = govuk_summary_list_row( t('shared.summary.amount') ) { warrant_fee.amount }
