.app-summary-section
  %h2.govuk-heading-l
    = t('external_users.claims.warrant_fee.summary.header')

  - if local_assigns[:editable]
    = govuk_link_to t('common.change_html', context: t('external_users.claims.warrant_fee.summary.header')), edit_polymorphic_path(claim, step: :interim_fees, referrer: :summary), class: 'link-change'

  - if claim.warrant_fee.nil?
    %p
      There is no warrant fee for this claim

  - else
    - warrant_fee = present(claim.warrant_fee)

    = govuk_summary_list do
      - if claim.agfs?
        = govuk_summary_list_row_collection( t("common.external_user.category.#{claim.external_user_type}") ) { claim.advocate_category }

      = govuk_summary_list_row_collection( t('shared.summary.warrant_fee.date_issued') ) { warrant_fee.warrant_issued_date }
      = govuk_summary_list_row_collection( t('shared.summary.amount') ) { warrant_fee.amount }
