.form-section
  %h2.heading-large
    = t('external_users.claims.warrant_fee.summary.header')
    - if local_assigns[:editable]
      = link_to t('.change'), edit_polymorphic_path(claim, step: :interim_fees, referrer: :summary), class: 'link-change', 'aria-label': t('.change_link_label')

  - if claim.warrant_fee.nil?
    %p
      There is no warrant fee for this claim

  - else
    - warrant_fee = present(claim.warrant_fee)

    %dl.govuk-summary-list
      - if claim.agfs?
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("common.external_user.category.#{claim.external_user_type}")
          %dd.govuk-summary-list__value
            = claim.advocate_category

      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          = t('shared.summary.warrant_fee.date_issued')
        %dd.govuk-summary-list__value
          = warrant_fee.warrant_issued_date

      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          = t('shared.summary.amount')
        %dd.govuk-summary-list__value
          = warrant_fee.amount
