- if @claim.allows_fixed_fees?
  .fx-fee-group.fixed-fee-group.js-block.fx-do-init{ data: { 'type': 'fixedFees', autovat: @claim.apply_vat? ? 'true' : 'false', 'block-type': 'FeeBlockCalculator' } }
    = f.fields_for :fixed_fee do |ff|
      - fee = present(ff.object)

      = ff.govuk_text_field :fee_type_id,
        class: 'js-fee-type',
        label: { text: t('.fee_type'), size: 's' },
        hint: { text: @claim.case_type.fixed_fee_type.description },
        type: 'hidden',
        value: @claim.case_type.fixed_fee_type.id

      = ff.govuk_date_field :date,
        hint: { text: t('.date_hint') },
        legend: { text: t('.date'), size: 's' },
        maxlength_enabled: true

      = ff.govuk_number_field :quantity,
        class: 'quantity fee-quantity js-fee-quantity js-fee-calculator-quantity',
        form_group: { class: 'quantity_wrapper' },
        label: { text: t('.quantity') },
        hint: { text: t('.quantity_hint') },
        min: 1,
        value: fee.quantity,
        width: 3

      = ff.govuk_number_field :rate,
        class: 'rate fee-rate js-fee-calculator-rate',
        form_group: { class: 'js-unit-price-effectee calculated-unit-fee' },
        label: { text: t('.rate') },
        prefix_text: '£',
        readonly: ff.object.price_calculated?,
        value: number_with_precision(ff.object.rate, precision: 2),
        width: 5

      = ff.govuk_text_field :price_calculated,
        form_group: { class: 'js-fee-calculator-success' },
        label: { hidden: true },
        type: 'hidden',
        value: ff.object.price_calculated?

      .fee-calc-help-wrapper.hidden
        = govuk_details(summary_text: t('.help_how_we_calculate_rate_title'), text: t('.help_how_we_calculate_rate_body'))

      = govuk_summary_list_no_border do
        = govuk_summary_list_row do
          = govuk_summary_list_key do
            = t('.amount')

          = govuk_summary_list_value(class: 'fee-net-amount total') do
            = fee.amount || number_to_currency(0)
