- if @claim.allows_fixed_fees?
  .form-section.fx-fee-group.fixed-fee-group.js-block.fx-do-init{ data: { 'type': 'fixedFees', autovat: @claim.apply_vat? ? 'true' : 'false', 'block-type': 'FeeBlockCalculator' } }
    = f.fields_for :fixed_fee do |ff|
      - fee = present(ff.object)

      .form-group
        %br
        %label.form-label-bold
          = t('.fee_type')
        = ff.anchored_attribute 'fee_type'
        = @claim.case_type.fixed_fee_type.description
        = ff.hidden_field :fee_type_id, value: @claim.case_type.fixed_fee_type.id, class: 'js-fee-type'
        = validation_error_message(@error_presenter, :fee_type)

      .form-group
        = ff.anchored_attribute 'date'
        = ff.gov_uk_date_field(:date, legend_text: t('.date'), legend_class: 'govuk-legend', error_messages: gov_uk_date_field_error_messages(@error_presenter, 'fixed_fee.date'))

      = ff.adp_text_field :quantity,
          label: t('.quantity'),
          hint_text: t('.quantity_hint'),
          hide_hint: true,
          input_classes: 'quantity fee-quantity form-control-1-8 js-fee-quantity js-fee-calculator-quantity',
          input_type: 'number',
          value: fee.quantity,
          errors: @error_presenter,
          error_key: 'fixed_fee.quantity'

      .js-unit-price-effectee
        .calculated-unit-fee
        = ff.adp_text_field :rate,
            label: t('.rate'),
            input_classes: 'rate fee-rate js-fee-calculator-rate form-input-denote__input form-control-1-4',
            input_type: 'currency',
            errors: @error_presenter,
            input_readonly: ff.object.price_calculated?,
            value: number_with_precision(ff.object.rate, precision: 2)

      .js-fee-calculator-success
        = ff.hidden_field :price_calculated, value: ff.object.price_calculated?

      .fee-calc-help-wrapper.form-group{ style: 'display: none;' }
        %details
          %summary
            %span.summary
              = t('.help_how_we_calculate_rate_title')
          .panel.panel-border-narrow
            %p
              = t('.help_how_we_calculate_rate_body')

      .form-group
        %label.form-label-bold
          = t('.amount')
        .fee-net-amount.total
          = fee.amount || number_to_currency(0)
