- if @claim.allows_fixed_fees?

  #fixed-fees.mod-fees
    %h2.bold-medium
      = t('.fixed_fees')
    .form-hint.xsmall
      = t('.prompt_text_html')

    = f.fields_for :fixed_fee do |ff|

      .expense-group.nested-fields.js-block{data:{"type":"fees", autovat: @claim.apply_vat? ? "true" : "false"}}
        .grid-row
          .column-two-thirds
            %label.form-label
              = t('.fee_type')
            = ff.anchored_attribute 'fee_type'
            = @claim.case_type.fixed_fee_type.description
            = ff.hidden_field :fee_type_id, value: @claim.case_type.fixed_fee_type.id
            = validation_error_message(@error_presenter, :fee_type)
        .grid-row
          - if @claim.case_type.fixed_fee_type.children.any?
            %label.form-label
              = t('.select_sub_type')
            = ff.anchored_attribute 'sub_type'
            = ff.collection_select :sub_type_id, @claim.case_type.fixed_fee_type.children, :id, :description, { include_blank: true }, { class: 'form-control autocomplete' }
            = validation_error_message(@error_presenter, 'fixed_fee.sub_type')

          .column-one-third.condensed.js-expense-location

        .grid-row
          .column-two-thirds
            - ff.object.dates_attended << DateAttended.new unless ff.object.dates_attended.any?
            = ff.fields_for :dates_attended do |date_attended|
              = render 'date_generic_fields', f: date_attended, field_id: 'fixed_fee.date_attended_1_date'

          .column-one-third.condensed.js-expense-amount.fee-total
            %label.form-label Total

            = ff.anchored_attribute 'amount'
            %span.currency-indicator>< &pound;
            = ff.number_field :amount, value: number_with_precision(ff.object.amount, precision: 2), class: 'form-control total', size: 10, min: 0, max: 999999
            = validation_error_message(@error_presenter, 'fixed_fee.amount')
