= content_for :page_title, flush: true do
  = t('.page_title')

.form-group
  %p.panel.panel-border-wide
    =t('.case_stage_warning_html')

%h2.heading-large
  = t('.page_heading')

= render partial: 'external_users/claims/api_promo_banner', locals: { claim: @claim }

= render partial: 'external_users/claims/supplier_number/fields', locals: { f: f }

= render partial: 'external_users/claims/case_details/fields', locals: { f: f }
