%h1.page-title Manage chambers

%h2
  = @chamber.name

%p
  = label_tag :supplier_number, t('.supplier_number'), class: "form-label"
  = @chamber.supplier_number

%p
  = label_tag :vat_registered, t('.vat_registered'), class: "form-label"
  = @chamber.vat_registered == true ? 'Yes' : 'No'

- if can? :edit, @chamber
  = link_to 'Edit', edit_super_admins_chamber_path(@chamber), class: 'button'

