- transfer_detail_translations = 'external_users.claims.transfer_fee.summary'

.form-section
  %h3.heading-medium
    = t('external_users.claims.transfer_detail.summary.header')
    - if local_assigns[:editable]
      = link_to 'Change', edit_polymorphic_path(claim, step: :transfer_fee_details, referrer: summary_external_users_claim_path(claim)), class: 'link-change'

  %table{ class: 'summary', summary: t('.summary') }
    %caption
      %span.table-caption.visuallyhidden
        = t('.caption')
    %tbody
      %tr
        %th{ scope: 'row', class: 'bold' }
          = t("#{transfer_detail_translations}.litigator_type")
        %td
          = claim.litigator_type_description
      %tr
        %th{ scope: 'row', class: 'bold' }
          = t("#{transfer_detail_translations}.elected_case")
        %td
          = claim.elected_case_description
      %tr
        %th{ scope: 'row', class: 'bold' }
          = t("#{transfer_detail_translations}.transfer_stage_#{claim.litigator_type}")
        %td
          = claim.transfer_stage_description
      %tr
        %th{ scope: 'row', class: 'bold' }
          = t("#{transfer_detail_translations}.transfer_date_#{claim.litigator_type}")
        %td
          = claim.transfer_date
      - if claim.case_conclusion_id.present?
        %tr
          %th{ scope: 'row', class: 'bold' }
            = t("#{transfer_detail_translations}.case_conclusion")
          %td
            = claim.case_conclusion_description
