- transfer_detail_translations = 'external_users.claims.transfer_fee.summary'

.app-summary-section
  %h2.govuk-heading-l
    = t('external_users.claims.transfer_detail.summary.header')

  - if local_assigns[:editable]
    = govuk_link_to t('common.change_html', context: t('external_users.claims.transfer_detail.summary.header')), edit_polymorphic_path(claim, step: :transfer_fee_details, referrer: :summary), class: 'link-change'

  - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
    = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: :transfer_fee_details }
  = govuk_summary_list do |summary_list|
    - summary_list.with_row do |row|
      - row.with_key(text: t("#{transfer_detail_translations}.litigator_type"))
      - row.with_value(text:  claim.litigator_type_description )

    - summary_list.with_row do |row|
      - row.with_key(text: t("#{transfer_detail_translations}.elected_case"))
      - row.with_value(text: claim.elected_case_description )

    - summary_list.with_row do |row|
      - row.with_key(text: t("#{transfer_detail_translations}.transfer_stage_#{claim.litigator_type}"))
      - row.with_value(text: claim.transfer_stage_description )

    - summary_list.with_row do |row|
      - row.with_key(text: t("#{transfer_detail_translations}.transfer_date_#{claim.litigator_type}"))
      - row.with_value(text: claim.transfer_date )

    - if claim.case_conclusion_id.present?
      - summary_list.with_row do |row|
        - row.with_key(text: t("#{transfer_detail_translations}.case_conclusion"))
        - row.with_value(text: claim.case_conclusion_description )

