- transfer_detail_translations = 'external_users.claims.transfer_fee.summary'

.app-summary-section
  %h2.govuk-heading-l
    = t('external_users.claims.transfer_detail.summary.header')

  - if local_assigns[:editable]
    = govuk_link_to t('common.change_html', context: t('external_users.claims.transfer_detail.summary.header')), edit_polymorphic_path(claim, step: :transfer_fee_details, referrer: :summary), class: 'link-change'

  - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
    = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: :transfer_fee_details }
  = govuk_summary_list do
    = govuk_summary_list_row_collection(t("#{transfer_detail_translations}.litigator_type")) {claim.litigator_type_description}
    = govuk_summary_list_row_collection(t("#{transfer_detail_translations}.elected_case")) {claim.elected_case_description}
    = govuk_summary_list_row_collection(t("#{transfer_detail_translations}.transfer_stage_#{claim.litigator_type}")) {claim.transfer_stage_description}
    = govuk_summary_list_row_collection(t("#{transfer_detail_translations}.transfer_date_#{claim.litigator_type}")) {claim.transfer_date}

    - if claim.case_conclusion_id.present?
      = govuk_summary_list_row_collection(t("#{transfer_detail_translations}.case_conclusion")) {claim.case_conclusion_description}
