= form_with model: [:super_admins, :admin, @super_admin] do |f|
  = f.fields_for :user do |user_fields|
    = user_fields.govuk_error_summary

    = user_fields.govuk_text_field :first_name,
      label: { text: t('.first_name') }

    = user_fields.govuk_text_field :last_name,
      label: { text: t('.first_name') }

    = user_fields.govuk_email_field :email,
      label: { text: t('.email') }

    = user_fields.govuk_email_field :email_confirmation,
      label: { text: t('.email_confirmation') }

    = f.govuk_submit t('.submit')
