= form_for [:super_admins, :admin, @superadmin] do |f|
  - if @superadmin.errors.any?
    .validation-summary
      %h3.heading-small= "#{t('.prohibited_save')} #{pluralize(@superadmin.errors.count, t('.error'))}"
      %ul
        - @superadmin.errors._full_messages.each do |msg|
          %li= msg

  = f.fields_for :user do |user_fields|
    %fieldset.user-form
      = user_fields.label t(".first_name"), class: "form-label"
      = user_fields.text_field :first_name, class: "form-control"
      = user_fields.label t(".last_name"), class: "form-label"
      = user_fields.text_field :last_name, class: "form-control"
      = user_fields.label t(".email"), class: "form-label"
      = user_fields.email_field :email, class: "form-control"
      = user_fields.label t(".email_confirmation"), class: "form-label"
      = user_fields.email_field :email_confirmation, class: "form-control"

  = f.submit 'Save', class: "button"
