= form_for [:super_admins, :admin, @super_admin] do |f|
  - if @super_admin.errors.any?
    .validation-summary
      %h3.heading-small= "#{t('.prohibited_save')} #{pluralize(@super_admin.errors.count, t('.error'))}"
      %ul
        - @super_admin.errors.full_messages.each do |msg|
          %li= msg

  = f.fields_for :user do |user_fields|
    %fieldset.user-form

      .form-group
        = user_fields.label t(".first_name"), class: "form-label"
        = user_fields.text_field :first_name, class: "form-control"

      .form-group
        = user_fields.label t(".last_name"), class: "form-label"
        = user_fields.text_field :last_name, class: "form-control"

      .form-group
        = user_fields.label t(".email"), class: "form-label"
        = user_fields.email_field :email, class: "form-control"

      .form-group
        = user_fields.label t(".email_confirmation"), class: "form-label"
        = user_fields.email_field :email_confirmation, class: "form-control"

  = f.submit t('.submit'), class: "button"
