= content_for :page_title, flush: true do
  = t('.page_title', super_admin: @super_admin.name)

= render partial: 'layouts/header', locals: {page_heading: t('.page_heading')}

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_with model: [:super_admins, :admin, @super_admin], url: update_password_super_admins_admin_super_admin_path do |f|
      = f.fields_for :user do |user_fields|
        = user_fields.govuk_error_summary

        = user_fields.govuk_password_field :current_password,
          label: { text: t('.current_password') }

        = user_fields.govuk_password_field :password,
          label: { text: t('.password') }

        = user_fields.govuk_password_field :password_confirmation,
          label: { text: t('.password_confirmation') }

        = f.govuk_submit t('.submit')
