= content_for :page_title, flush: true do
  = t('.page_title', super_admin: @super_admin.name)

= render partial: 'layouts/header', locals: {page_heading: t('.page_heading')}

= form_for [:super_admins, :admin, @super_admin], url: update_password_super_admins_admin_super_admin_path do |f|
  - if @super_admin.user.errors.any?
    .error-summary{"aria-labelledby" => "error-summary-heading", :role => "alert", :tabindex => "-1"}
      %h2#error-summary-heading.heading-medium.error-summary-heading
        = "#{t('.prohibited_save')} #{pluralize(@super_admin.user.errors.count, 'error')}"
      %ul.error-summary-list
        - @super_admin.user.errors.full_messages.each do |msg|
          %li
            = msg

  = f.fields_for :user do |user_fields|
    %fieldset.user-form

      .form-group
        = user_fields.label t(".current_password"), class: "form-label-bold", for: 'super_admin_user_attributes_current_password'
        = user_fields.password_field :current_password, class: "form-control"

      .form-group
        = user_fields.label t(".password"), class: "form-label-bold", for: 'super_admin_user_attributes_password'
        = user_fields.password_field :password, class: "form-control"

      .form-group
        = user_fields.label t(".password_confirmation"), class: "form-label-bold", for: 'super_admin_user_attributes_password_confirmation'
        = user_fields.password_field :password_confirmation, class: "form-control"

  = f.submit t(".submit"), class: "button"
