= render partial: 'layouts/header', locals: {page_heading: 'Change password'}

= form_for [:super_admins, :admin, @super_admin], url: update_password_super_admins_admin_super_admin_path do |f|
  - if @super_admin.user.errors.any?
    .validation-summary
      %h3.heading-small= "#{t('.prohibited_save')} #{pluralize(@super_admin.user.errors.count, 'error')}"
      %ul
        - @super_admin.user.errors.full_messages.each do |msg|
          %li= msg

  = f.fields_for :user do |user_fields|
    %fieldset.user-form

      .form-group
        = user_fields.label t(".current_password"), class: "form-label"
        = user_fields.password_field :current_password, class: "form-control"

      .form-group
        = user_fields.label t(".password"), class: "form-label"
        = user_fields.password_field :password, class: "form-control"

      .form-group
        = user_fields.label t(".password_confirmation"), class: "form-label"
        = user_fields.password_field :password_confirmation, class: "form-control"

  = f.submit t(".submit"), class: "button"
