.govuk-grid-row{class: 'govuk-!-margin-top-9'}
  .govuk-grid-column-full
    %p.govuk-body{class: 'claim-count govuk-!-text-align-right'}
      = pagy_info(@pagy).html_safe

  .govuk-grid-column-full
    = govuk_table(classes: 'app-table--responsive') do |table|
      = table.with_caption(classes: 'govuk-visually-hidden') do
        = params[:action] == 'archived' ? t('case_workers.table_headings.archived_claims') : t('case_workers.table_headings.your_claims')

      = table.with_head do |head|
        = head.with_row do |row|
          = row.with_cell do
            = sortable 'type', t('.type'), 'aria-label': t('.type_sort_label'), id: 'type'
          = row.with_cell do
            = sortable 'case_number', t('.case_number'), 'aria-label': t('.case_number_sort_label'), id: 'case_number'
          = row.with_cell do
            = sortable 'advocate', t('.advocate_litigator'), 'aria-label': t('.advocate_sort_label'), id: 'advocate'
          = row.with_cell(text: t('.defendants'))
          = row.with_cell(numeric: true) do
            = sortable 'total_inc_vat', t('.total'), 'aria-label': t('.total_inc_vat_sort_label'), id: 'total_inc_vat'
          - if params[:action] == 'archived'
            = row.with_cell do
              = sortable 'state', t('.status'), 'aria-label': t('.state_sort_label'), id: 'state'
          = row.with_cell do
            = sortable 'case_type', t('.case_type'), 'aria-label': t('.case_type_sort_label'), id: 'case_type'
          = row.with_cell(numeric: true) do
            = sortable 'last_submitted_at', t('.submission_date'), 'aria-label': t('.last_submitted_at_sort_label'), id: 'last_submitted_at'
          = row.with_cell(classes: 'message-placeholder') do
            = t('.messages')

      = table.with_body do |body|
        = body.with_row(classes: 'mobile-sort') do |row|
          = row.with_cell(header: true) do
            Sort by:
            = sortable 'case_number', t('.case_number'), 'aria-label': t('.case_number_sort_label'), id: 'case_number_ms'
            = sortable 'advocate', t('.advocate_litigator'), 'aria-label': t('.advocate_sort_label'), id: 'advocate_ms'
            = sortable 'total_inc_vat', t('.total'), 'aria-label': t('.total_inc_vat_sort_label'), id: 'total_inc_vat_ms'
            - if params[:action] == 'archived'
              = sortable 'state', t('.status'), 'aria-label': t('.state_sort_label'), id: 'state_ms'
            = sortable 'case_type', t('.case_type'), 'aria-label': t('.case_type_sort_label'), id: 'case_type_ms'
            = sortable 'last_submitted_at', t('.submission_date'), 'aria-label': t('.last_submitted_at_sort_label'), id: 'last_submitted_at_ms'

        - present_collection(claims).each do |claim|
          = body.with_row do |row|
            = row.with_cell(html_attributes: { 'data-label': t('.type') }, text: claim.pretty_type)
            = row.with_cell(html_attributes: { 'data-label': t('.case_number') }) do
              = govuk_link_to claim.case_number,
                        case_workers_claim_path(claim),
                        class: 'js-test-case-number-link',
                        'aria-label': "View #{claim.state.humanize} Claim, Case number: #{claim.case_number}"
              = render partial: 'case_workers/injection_errors', locals: { claim: claim }
            = row.with_cell(html_attributes: { 'data-label': t('.advocate_litigator') }, text: claim.external_user.name)
            = row.with_cell(html_attributes: { 'data-label': t('.defendants') }, text: claim.defendant_names)
            = row.with_cell(classes: 'js-test-total', html_attributes: { 'data-label': t('.total') }, text: claim.total_inc_vat, numeric: true)
            - if params[:action] == 'archived'
              = row.with_cell(html_attributes: { 'data-label': t('.status') }) do
                = govuk_tag claim.state.humanize, class: "app-tag--#{claim.state.dasherize}"
            = row.with_cell(html_attributes: { 'data-label': t('.case_type') }) do
              = claim.case_type_name
              %br/
              %span.claim-state
                = claim.claim_state
            = row.with_cell(html_attributes: { 'data-label': t('.submission_date') }, text: claim.submitted_at(include_time: false), numeric: true) 
            = row.with_cell(classes: 'messages', html_attributes: { 'data-label': t('.messages') }) do
              - if claim.has_messages?
                - if claim.remote?
                  = govuk_link_to claim.unread_messages_count.to_int > 0 ? t('.view_with_messages', message_count: claim.unread_messages_count) : t('.view'), "#{case_workers_claim_path(claim, messages: true)}#messages", 'aria-label': t('.view_messages_label', case_number: claim.case_number)
                - else
                  = govuk_link_to claim.unread_messages_for(current_user).any? ? t('.view_with_messages', message_count: claim.unread_messages_for(current_user).count) : t('.view'), "#{case_workers_claim_path(claim, messages: true)}#messages", 'aria-label': t('.view_messages_label', case_number: claim.case_number)
              - else
                %span.none
                  = t('.none')
