.claim-count
  = "Number of claims: "
  = @claims.total_count
%table.report
  %thead
    %tr
      %th
        = sortable 'case_number', t('.case_number')
      %th
        = t('.advocate')
      %th
        = t(".defendants")
      %th{ title:  'Including VAT' }
        = sortable 'total', t('.total')
      - if params[:action] == 'archived'
        %th
          = sortable 'state', t('.status')
      %th
        = sortable 'case_type_id', 'Type'
      %th
        = sortable 'last_submitted_at', t('.submission_date')
      %th.message-placeholder
        = t('.messages')
  %tbody
    - @claims.each do |claim_object|
      - present(claim_object) do |claim|
        %tr
          %td
            = link_to claim.case_number , case_workers_claim_path(claim),{:class => 'js-test-case-number-link'}
          %td
            = claim.advocate.name
          %td
            = claim.defendant_names
          %td.js-test-total
            = claim.total_inc_vat
          - if params[:action] == 'archived'
            %td
              = claim.state.humanize
          %td
            = claim.case_type_name
          %td
            = claim.submitted_at(include_time: false) unless claim.draft?
          %td.messages
            - if claim.messages.any?
              = link_to "View", "#{case_workers_claim_path(claim)}#messages"
              - if claim.has_unread_messages_for?(current_user)
                %object{:type => 'image/svg+xml', :data => image_path('messaging-red.svg'), :class => "new-message"}
            - else
              %span.none
                = "None"
