- present(@claim) do |claim|
  %h2.govuk-heading-l{ class: 'govuk-!-static-margin-bottom-6'}
    = t('shared.claim_information.basic_info')
  = render partial: 'shared/new_claim', locals: { claim: claim, hide_totals: true }

  %h2.govuk-heading-l{ class: 'govuk-!-static-margin-bottom-6'}
    = t('shared.claim_information.evidence')
  = render partial: 'shared/new_evidence_list', locals: { claim: claim }

  %h2.govuk-heading-l{ class: 'govuk-!-static-margin-bottom-6'}
    = t('shared.claim_information.fees')
  - if claim.agfs?
    = render partial: 'shared/new_summary_agfs', locals: { claim: claim }
  - else
    = render partial: 'shared/new_summary_lgfs', locals: { claim: claim }

  %h2.govuk-heading-l{class: 'govuk-!-static-margin-bottom-6'}
    = t('common.expenses')
  = render partial: 'shared/summary/new_expenses', locals: { claim: claim }
