= content_for :sidebar do
  %aside.aside.col-md-3
    .aside-inner
      .sidebar-nav.well
        %h3 Menu
        %ul.nav.nav-list
          %li.selected
            = link_to t('.dashboard'), "/path1"
            %ul
              %li{class: ('active' if params[:tab] == 'current' || params[:tab].blank?)}
                = link_to t('.current_claims'), case_workers_claims_path(params.merge(tab: 'current'))
              %li{class: ('active' if params[:tab] == 'completed')}
                = link_to t('.completed_claims'), case_workers_claims_path(params.merge(tab: 'completed'))
          %li= link_to t('.payments'), "/path1"
          %li= link_to t('.advocate_details'), "/path2"
          %li= link_to t('.reporting_tool'), "/path3"
