- unless claim.interim? && claim.disbursement_only?
  %tr.determination-form-fields
    %td
      Fees
    %td
      %span.currency-symbol
      = claim.fees_total
    %td
      %div.pound-wrapper
        = f.text_field :fees, value: number_with_precision(f.object.fees, precision: 2), class: 'form-control js-fees', size: 10, maxlength: 10
      = validation_error_message(f.object, :fees)

- if claim.can_have_expenses?
  %tr.determination-form-fields
    %td
      Expenses
    %td
      = claim.expenses_total
    %td
      %div.pound-wrapper
        = f.text_field :expenses, value: number_with_precision(f.object.expenses, precision: 2), class: 'form-control js-expenses', size: 10, maxlength: 10
      = validation_error_message(f.object, :expenses)

- if claim.can_have_disbursements?
  %tr.determination-form-fields
    %td
      Disbursements
    %td
      = claim.disbursements_total
    %td
      %div.pound-wrapper
        = f.text_field :disbursements, value: number_with_precision(f.object.disbursements, precision: 2), class: 'form-control js-disbursements', size: 10, maxlength: 10
      = validation_error_message(f.object, :disbursements)

%tr.determination-form-fields
  %td
    Total(excluding VAT)
  %td
    = claim.total
  %td
    %span.js-total-exc-vat-determination
      = number_to_currency(f.object.total || 0)

- if claim.agfs?
  = render partial: 'determination_agfs_vat_fields', locals: { f: f, claim: claim }
- else
  = render partial: 'determination_lgfs_vat_fields', locals: { f: f, claim: claim }
