%tr
  %th
    = t('.vat')
  %td
    = claim.vat_amount
  %td
    %span.form-input-denote £
    = f.text_field :vat_amount, value: number_with_precision(f.object.vat_amount, precision: 2), class: 'form-control form-input-denote__input js-lgfs-vat-determination', size: 10, maxlength: 10
    = validation_error_message(f.object, :vat_amount)
%tr
  %th
    = t('.total_inc_vat')
  %td
    = claim.total_inc_vat
  %td
    %span.js-total-determination
      = number_to_currency(f.object.total_including_vat)
