= body.with_row do |row|
  = row.with_cell(header: true, html_attributes: { scope: 'row', 'data-label': t('shared.description') }, text: t('.vat_rate', vat_rate: VatRate.pretty_rate(Date.parse(claim.vat_date))))
  = row.with_cell(html_attributes: { 'data-label': t('shared.determinations_table.claimed_by', type: claim.external_user_description) }, text: claim.vat_amount, numeric: true)
  = row.with_cell(html_attributes: { 'data-label': t('shared.determinations_table.laa_heading') }, numeric: true) do
    %span.js-vat-determination
      = number_to_currency(f.object.vat_amount)

= body.with_row do |row|
  = row.with_cell(header: true, html_attributes: { scope: 'row', 'data-label': t('shared.description') }, text: t('.total_inc_vat_rate', vat_rate: VatRate.pretty_rate(Date.parse(claim.vat_date))))
  = row.with_cell(html_attributes: { 'data-label': t('shared.determinations_table.claimed_by', type: claim.external_user_description) }, text: claim.total_inc_vat, numeric: true)
  = row.with_cell(html_attributes: { 'data-label': t('shared.determinations_table.laa_heading') }, numeric: true) do
    %span.js-total-determination
      = number_to_currency(f.object.total_including_vat)
