- unless claim.lgfs? && claim.interim? && claim.disbursement_only?
  = govuk_table_row do
    = govuk_table_th(scope: 'row', 'data-label': t('shared.description')) do
      = t('.fees')

    = govuk_table_td_numeric('data-label': t('shared.determinations_table.claimed_by', type: claim.external_user_description)) do
      = claim.fees_total

    = govuk_table_td_numeric('data-label': t('shared.determinations_table.laa_heading')) do
      = f.govuk_text_field :fees,
        class: 'js-fees',
        form_group: { classes: 'govuk-!-margin-bottom-0' },
        label: { class: 'govuk-visually-hidden', text: t('.fees') },
        prefix_text: '£',
        value: number_with_precision(f.object.fees, precision: 2),
        width: 'one-third'

= govuk_table_row do
  = govuk_table_th(scope: 'row', 'data-label': t('shared.description')) do
    = t('.expenses')

  = govuk_table_td_numeric('data-label': t('shared.determinations_table.claimed_by', type: claim.external_user_description)) do
    = claim.expenses_total

  = govuk_table_td_numeric('data-label': t('shared.determinations_table.laa_heading')) do
    = f.govuk_text_field :expenses,
      class: 'js-expenses',
      form_group: { classes: 'govuk-!-margin-bottom-0' },
      label: { class: 'govuk-visually-hidden', text: t('.expenses') },
      prefix_text: '£',
      value: number_with_precision(f.object.expenses, precision: 2),
      width: 'one-third'

- if claim.can_have_disbursements?
  = govuk_table_row do
    = govuk_table_th(scope: 'row', 'data-label': t('shared.description')) do
      = t('.disbursements')

    = govuk_table_td_numeric('data-label': t('shared.determinations_table.claimed_by', type: claim.external_user_description)) do
      = claim.disbursements_total

    = govuk_table_td_numeric('data-label': t('shared.determinations_table.laa_heading')) do
      = f.govuk_text_field :disbursements,
        class: 'js-disbursements',
        form_group: { classes: 'govuk-!-margin-bottom-0' },
        label: { class: 'govuk-visually-hidden', text: t('.disbursements') },
        prefix_text: '£',
        value: number_with_precision(f.object.disbursements, precision: 2),
        width: 'one-third'

= govuk_table_row do
  = govuk_table_th(scope: 'row', 'data-label': t('shared.description')) do
    = t('.total_excluding_vat')

  = govuk_table_td_numeric('data-label': t('shared.determinations_table.claimed_by', type: claim.external_user_description)) do
    = claim.total

  = govuk_table_td_numeric('data-label': t('shared.determinations_table.laa_heading')) do
    %span.js-total-exc-vat-determination
      = number_to_currency(f.object.total || 0)

- if claim.agfs?
  = render partial: 'determination_agfs_vat_fields', locals: { f: f, claim: claim }
- else
  = render partial: 'determination_lgfs_vat_fields', locals: { f: f, claim: claim }
