= govuk_table_row do
  = govuk_table_th(scope: 'row', 'data-label': t('shared.description')) do
    = t('.vat')

  = govuk_table_td_numeric('data-label': t('shared.determinations_table.claimed_by', type: claim.external_user_description)) do
    = claim.vat_amount

  = govuk_table_td_numeric('data-label': t('shared.determinations_table.laa_heading')) do
    = f.govuk_text_field :vat_amount,
      class: 'js-lgfs-vat-determination',
      form_group: { classes: 'govuk-!-margin-bottom-0' },
      label: { class: 'govuk-visually-hidden', text: t('.vat') },
      prefix_text: '£',
      value: number_with_precision(f.object.vat_amount, precision: 2),
      width: 'one-third'

= govuk_table_row do
  = govuk_table_th(scope: 'row', 'data-label': t('shared.description')) do
    = t('.total_inc_vat')

  = govuk_table_td_numeric('data-label': t('shared.determinations_table.claimed_by', type: claim.external_user_description)) do
    = claim.total_inc_vat

  = govuk_table_td_numeric('data-label': t('shared.determinations_table.laa_heading')) do
    %span.js-total-determination
      = number_to_currency(f.object.total_including_vat)
