%nav.dashboard-tabs
  %ul
    - if current_user.persona.admin?
      %li{class: ( 'active' if params[:tab] == 'allocated' || (params[:tab].blank? && controller.controller_name == 'claims')) }
        = link_to "Allocated claims (#{allocated_claims_count})", case_workers_claims_path(params.except(:controller, :action).merge(tab: 'allocated'))
      %li{class: ('active' if params[:tab] == 'unallocated')}
        = link_to "Unallocated claims (#{unallocated_claims_count})", case_workers_claims_path(params.except(:controller, :action).merge(tab: 'unallocated'))
    - else
      %li{class: ( 'active' if params[:tab] == 'current' || (params[:tab].blank? && controller.controller_name == 'claims')) }
        = link_to "Current claims (#{current_claims_count})", case_workers_claims_path(params.except(:controller, :action).merge(tab: 'current'))

    %li{class: ('active' if params[:tab] == 'completed')}
      = link_to "Completed claims (#{completed_claims_count})", case_workers_claims_path(params.except(:controller, :action).merge(tab: 'completed'))
