= form_tag case_workers_claims_path, method: :get do
  = hidden_field_tag :tab, params[:tab]
  = hidden_field_tag :sort, params[:sort]
  = hidden_field_tag :direction, params[:direction]
  = text_field_tag :search, params[:search], placeholder: 'Search'
  = select_tag :search_field, options_for_select(@search_options, params[:search_field])
  = submit_tag 'Search', class: 'button'
