.search-wrapper
  .search-form
    - path_to_use = defined?(archived) && archived ? archived_case_workers_claims_path : case_workers_claims_path
    = form_tag path_to_use, method: :get do
      = hidden_field_tag :tab, params[:tab]
      = hidden_field_tag :sort, params[:sort]
      = hidden_field_tag :direction, params[:direction]
      %fieldset
        %legend
          = t('common.search')
        .input.form-group
          = label_tag :search, class: 'form-label' do
            %span.label-text
              = t('common.search')
            %span.form-hint
              = 'eg case number, MAAT reference, defendant name, case worker name or email'
          = text_field_tag :search, params[:search], class: 'form-control search'
          = button_tag(type: 'submit', class: 'button search', title: "Search") do
            %object{:type => 'image/svg+xml', :data => image_path('icons/search-ico.svg'), :class => "search-icon"}
