%div.grid-row
  %div.column-half
    %div.form-inputs
      - path_to_use = defined?(archived) && archived ? archived_case_workers_claims_path : case_workers_claims_path
      = form_tag path_to_use, method: :get do
        = hidden_field_tag :tab, params[:tab]
        = hidden_field_tag :sort, params[:sort]
        = hidden_field_tag :direction, params[:direction]
        = text_field_tag :search, params[:search], placeholder: 'e.g. MAAT Reference, Defendant name, Case worker name or email', class: 'form-control-3-4'
        = submit_tag t('common.search'), class: 'button button-secondary'
  %div.column-half
    &nbsp;