= form_tag case_workers_claims_path, method: :get do
  = hidden_field_tag :tab, params[:tab]
  = hidden_field_tag :sort, params[:sort]
  = hidden_field_tag :direction, params[:direction]
  = text_field_tag :search_maat, params[:search_maat], placeholder: 'MAAT reference no.'
  = text_field_tag :search_defendant, params[:search_defendant], placeholder: 'Defendant'
  = text_field_tag :search_case_worker, params[:search_case_worker], placeholder: 'Case worker name or email'
  = submit_tag 'Search', class: 'button'
