= content_for :page_title, flush: true do
  = "Defendants for claim ##{@claim.case_number}"

%h2.govuk-heading-l
  = "Defendants for case #{@claim.case_number}"

%p
  = govuk_link_to 'Return to claim summary', case_workers_claim_path(@claim)

- @claim.defendants.map { |d| present(d, CaseWorkers::DefendantPresenter) }.each_with_index do |defendant, di|
  %h3.govuk-heading-m
    = "Defendant #{di+1}: #{defendant.name}"

  .govuk-accordion#accordion-default{ data: { module: 'govuk-accordion' } }
    - defendant.cases.each_with_index do |kase, ci|
      .govuk-accordion__section
        .govuk-accordion__section-header
          %h2.govuk-accordion__section-heading
            %span.govuk-accordion__section-button{ id: "defendant-#{di}-case-#{ci}-heading" }
              = kase.case_number
        .govuk-accordion__section-content{ id: "defendant-#{di}-case-#{ci}-content" }
          %p
            = govuk_link_to 'View case in View Court Data', "#{ENV.fetch('VIEW_COURT_DATA_URL', nil)}/prosecution_cases/#{kase.case_number}"
          - kase.defendants.each do |d|
            .govuk-summary-card
              .govuk-summary-card__title-wrapper
                %h4.govuk-summary-card__title
                  = d.name
              .govuk-summary-card__content
                %dl.govuk-summary-list
                  .govuk-summary-list__row
                    %dt.govuk-summary-list__key
                      = 'Date of birth'
                    %dd.govuk-summary-list__value
                      = d.date_of_birth
                %dl.govuk-summary-list
                  .govuk-summary-list__row
                    %dt.govuk-summary-list__key
                      = 'Arrest Summons Number'
                    %dd.govuk-summary-list__value
                      = d.arrest_summons_number

                %hr.govuk-section-break.govuk-section-break--l.govuk-section-break--visible

                - d.offences.each_with_index do |offence, oi|
                  %h5.govuk-heading-s
                    = "Offence ##{oi + 1}: #{offence.title}"
                  - if offence.pleas.empty?
                    %p No pleas
                  - else
                    = govuk_table do
                      = govuk_table_thead do
                        = govuk_table_row do
                          = govuk_table_th do
                            = 'Date'
                          = govuk_table_th do
                            = 'Plea'
                      = govuk_table_tbody do
                        - offence.pleas.each do |plea|
                          = govuk_table_row do
                            = govuk_table_td do
                              = plea.date
                            = govuk_table_td do
                              = plea.value

                  %hr.govuk-section-break.govuk-section-break--m

          %h4.govuk-heading-s
            = 'Hearings in case'
          = govuk_table do
            = govuk_table_thead do
              = govuk_table_row do
                = govuk_table_th do
                  = "Type"
                = govuk_table_th do
                  = "Court"
                = govuk_table_th do
                  = "# Days"
            = govuk_table_tbody do
              - kase.hearings.each do |d|
                = govuk_table_row do
                  = govuk_table_td do
                    = d.type
                  = govuk_table_td do
                    = d.court.name
                  = govuk_table_td do
                    = d.hearing_days.count
