%h1.page-title
  = "Claims"

#search-options
  = render 'search_form'

#search-summary
  - if params[:search].present?
    = render partial: 'shared/search_summary'

#list-controls
  = render partial: 'list_controls'

%ul.case-data-headings
  %li
    %h3
      Case
  %li
    %h3
      Court
  %li
    %h3
      Case value
- if @claims.none?
  %p
    No claims found
- else
  %ul#claims-list
    - @claims.each do |claim|
      %li{ id: dom_id(claim) }
        = render partial: 'shared/claim', locals: { claim: claim }
