= content_for :page_title, flush: true do
  = t('.page_title')

- present(@claim) do |claim|
  = render 'errors/error_summary', ep: @claim, error_summary: t('.error_summary')
  = render 'errors/injection_error_summary', ep: claim
  = render 'warnings/injection_warnings_summary', claim: claim

  = render partial: 'shared/claim_header', locals: { claim: claim }
  = render partial: 'shared/new_claim_accordion', locals: { claim: claim, status_disabled: false }
