- present(@claim) do |claim|

  %p
    - if @claim.errors.any?
      .validation-summary
        %h4.heading-small= "#{pluralize(@claim.errors.count, 'error')} prohibited this claim from being updated:"
        %ul
          - @claim.errors.full_messages.each do |msg|
            %li= msg

  = render 'shared/claim_header', claim: claim

  #claim-accordion
    %h2
      Basic Claim Information
    = render partial: 'shared/claim', locals: { claim: claim, hide_totals: true }
    %h2
      Claim summary
    = render partial: 'shared/summary'
    %h2
      Evidence list
    = render partial: 'shared/evidence_list'
    %h2
      Messages (#{@messages.count})
    = render partial: 'shared/messages'
    %h2#claim-status
      Update status of claim
    = render partial: 'shared/claim_status', locals: { claim: claim, disabled: false }
    %h2
      Claim history
    = render partial: 'shared/claim_history'
