- present(@claim) do |claim|

  %p
    - if @claim.errors.any?
      .validation-summary
        %h4.heading-small= "This claim has #{pluralize(@claim.errors.count, 'error')}"
        %ul
          - @claim.errors.full_messages.each do |msg|
            %li= msg
    - elsif params[:errors] # passed from redirect in update action
      .validation-summary
        %h4.heading-small= "This claim has #{pluralize(params[:errors].count, 'error')}"
        %ul
          - params[:errors].each do |msg|
            %li= msg

  = render 'shared/claim_header', claim: claim

  #claim-accordion
    %h2
      = t('.h2_messages')
    %section{id: "messages", data: { 'polling-url' => advocates_claim_path(@claim) }}
      = render partial: 'shared/claim_history'
      = render partial: 'shared/claim_status', locals: { claim: claim, disabled: false }

    %h2
      = t('.h2_basic_info')
    = render partial: 'shared/claim', locals: { claim: claim, hide_totals: true }
    %h2
      = t('.h2_evidence')
    = render partial: 'shared/evidence_list'
    %h2
      = t('.h2_summary')
    = render partial: 'shared/summary'
