%p
  = link_to 'Back', case_workers_claims_path, class: 'button'

%h1
  Claim
  = @claim.case_number

%P
  Created by:
  = @claim.creator.name

#claim-accordion
  %h2
    Basic Claim Information
  = render partial: 'shared/claim', locals: { claim: @claim, hide_totals: true }
  %h2
    Claim summary
  = render partial: 'shared/summary'
  %h2
    Representation order
  = render partial: 'representation_order'
  %h2
    Evidence list
  = render partial: 'shared/evidence_list'
  %h2
    Messages (#{@messages.count})
  = render partial: 'shared/messages'
  %h2
    Claim notes
  = render partial: 'case_notes'
  %h2
    Update status of claim
  = render partial: 'shared/claim_status', locals: { disabled: false }
