- present(@claim) do |claim|

  %p
    - if @claim.errors.any?
      .validation-summary
        %h4.heading-small= "#{pluralize(@claim.errors.count, 'error')} prohibited this claim from being saved"
        %ul
          - @claim.errors.full_messages.each do |msg|
            %li= msg

  = render 'shared/claim_header', claim: claim

  #claim-accordion
    %h2
      = t('.h2_messages')
    = render partial: 'shared/messages'
    %h2#claim-status
      = t('.h2_status')
    = render partial: 'shared/claim_status', locals: { claim: claim, disabled: false }
    %h2
      = t('.h2_basic_info')
    = render partial: 'shared/claim', locals: { claim: claim, hide_totals: true }
    %h2
      = t('.h2_evidence')
    = render partial: 'shared/evidence_list'
    %h2
      = t('.h2_summary')
    = render partial: 'shared/summary'
