#hardship-fee
  = f.fields_for :hardship_fee do |hf|
    - fee = present(hf.object)
    .form-section.fx-fee-group.hardship-fee-group.js-block.fx-do-init{data:{"type": "hardshipFees", autovat: @claim.apply_vat? ? "true" : "false", "block-type": "FeeBlock"}}
      = hf.hidden_field :fee_type_id, value: fee.fee_type.id, class: 'js-fee-type'

      - if @claim.case_stage.unique_code.eql?('NOPTPHWPPE')
        .js-fee-calculator-effector
          = hf.adp_text_field :quantity,
            label: t('.quantity'),
            hint_text: t('.quantity_hint'),
            input_classes:'quantity fee-quantity js-fee-calculator-ppe form-control-1-4',
            input_type: 'number',
            value: fee.quantity,
            errors: @error_presenter,
            error_key:'hardship_fee.quantity'

      .js-graduated-price-effectee
        .calculated-grad-fee
        = hf.adp_text_field :amount,
          label: t('.amount'),
          input_classes: 'fee-amount form-control-1-4 form-input-denote__input total',
          input_type: 'currency',
          value: number_with_precision(hf.object.amount, precision: 2),
          id: 'hardship_fee_attributes_amount',
          errors: @error_presenter,
          error_key:'hardship_fee.amount'

      .js-fee-calculator-success
        = hf.hidden_field :price_calculated, value: hf.object.price_calculated?

      .fee-calc-help-wrapper.form-group.hidden
        %details
          %summary
            %span.summary
              = t('.help_how_we_calculate_amount_title')
          .panel.panel-border-narrow
            %p
              = t('.help_how_we_calculate_amount_body')
