= render partial: 'layouts/header', locals: {page_heading: "Sign in"}

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: 'off' }) do |f|
  .form-group
    = f.label :email, class: "form-label"
    = f.input_field :email, autofocus: true, class: "form-control"
  .form-group
    = f.label :password, class: "form-label"
    = f.input_field :password, autocomplete: 'off', class: "form-control"

  .form-group
    = f.button :submit, "Sign in", class: "button"
  = render "devise/shared/links"
