= render partial: 'layouts/header', locals: {page_heading: "Sign in"}

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: 'off' }) do |f|
  .form-group
    = f.label :email, class: "form-label"
    = f.input_field :email, autofocus: true, class: "form-control medium-input"
  .form-group
    = f.label :password, class:"form-label"
    = f.input_field :password, autocomplete: 'off', class: "form-control medium-input"

  -#%div.form-group
    -# f.input :remember_me, as: :boolean if devise_mapping.rememberable?

  .form-group
    = f.button :submit, "Sign in", class: "button text-small"
  = render "devise/shared/links"
