= content_for :page_title, flush: true do
  = t('.page_title')

= content_for :v2_stylesheets do
  = stylesheet_link_tag "v2/application", media: "all"

= render partial: 'layouts/header', locals: {page_heading: t('.page_heading')}

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: 'off' }) do |f|
  .form-group
    = f.label :email, class: "form-label-bold"
    = f.input_field :email, autofocus: true, class: "form-control"
  .form-group
    = f.label :password, class: "form-label-bold"
    = f.input_field :password, autocomplete: 'off', class: "form-control"

  .form-group
    = f.button :submit, t('.sign_in'), class: "button"
  = render "devise/shared/links"
