-# Check box input
.multiple-choice{"data-target" => to_slug(f.object.description)}
  %input{id: "#{to_slug(f.object.description)}_input","aria-controls" => to_slug(f.object.description), :name => "graduated_fees_checklist", :type => "checkbox" }/

  = f.check_box(:toggle, checked: !f.object.blank?)

  %label{:for => "daily-attendance-fee"}
    = f.object.description

-# Panel content
.panel.panel-border-narrow.js-hidden{:id => to_slug(f.object.description)}
  = f.hidden_field :fee_type_id, value: f.object.fee_type_id

  -# Number of days
  = f.adp_text_field :quantity,
                        label: t('.number_of_days'),
                        hint_text:  t('.days_attended'),
                        input_classes:'quantity form-control-1-8',
                        input_type: 'number',
                        value: present(f.object).quantity,
                        errors: @error_presenter
  -# Adding dates
  .dates-wrapper.form-group
    %div
      = f.fields_for :dates_attended do |date_attended|
        = render partial: 'date_attended_fields', locals: { f: date_attended, submodel_count: date_attended.index+1, parent_model_prefix: "basic_fee_#{@basic_fee_count}"}


    = link_to_add_association t('.add_date_attended'), f, :dates_attended, class: 'form-group', partial: 'date_attended_fields', data: {'association-insertion-method' => 'append', 'association-insertion-node' => 'div', 'association-insertion-traversal' => 'prev'}


  -# Net amount
  = f.adp_text_field :amount,
                      label: t('.net_amount'),
                      input_classes:'total form-control-1-4 form-input-denote__input',
                      input_type: 'currency',
                      value: number_with_precision(present(f.object).amount, precision: 2),
                      errors: @error_presenter
