.form-group
  = t('.fee_type')
  = fee.section_header('external_users.claims.basic_fees.basic_fee_uncalculated_fields')

.form-group
  %a{name: "basic_fee_#{@basic_fee_count}_quantity"}
  = f.label :quantity, t('.quantity')
  = f.number_field :quantity, value: number_with_precision_or_default(f.object.quantity) , class: 'quantity', min: 0, max: 99999, maxlength: 5
  = validation_error_message(@error_presenter, "basic_fee_#{@basic_fee_count}_quantity")

.form-group
  %a{name: "basic_fee_#{@basic_fee_count}_amount"}
  = f.label :amount, t('.amount')
  .pound-wrapper
    = f.label :amount, '£', class: 'pound-sign bold-xsmall'
    = f.text_field :amount, value: number_with_precision(f.object.amount, precision: 2), class: 'amount', size: 10, maxlength: 8
  = validation_error_message(@error_presenter, "basic_fee_#{@basic_fee_count}_amount")
