- fee = present(f.object)
- locale_scope = "external_users.claims.basic_fees.extra_fee_fields.#{fee.fee_type_code.downcase}"

%h3.govuk-heading-m{ class: "govuk-!-padding-top-7" }
  = t('heading_html', scope: locale_scope)

- if fee.display_help_text?
  %p.govuk-body
    = t('help_text', scope: locale_scope)

- classes = to_slug(f.object.description) + ' ' + (fee.activate_js_block? ? 'js-block fx-do-init' : '')
.basic-fee-group.fx-fee-group.fee-details{ class: classes, data: { type: 'gradFees', autovat: @claim.apply_vat? ? 'true' : 'false', 'block-type': f.object.calculated? ? 'FeeBlockCalculator' : 'FeeBlock' } }

  = f.govuk_text_field :fee_type_id,
    class: 'js-fee-type',
    form_group: { class: 'govuk-visually-hidden' },
    label: { hidden: true },
    type: 'hidden',
    value: f.object.fee_type_id

  = f.govuk_number_field :quantity,
    class: "quantity #{fee.fee_calc_class}",
    form_group: { class: 'quantity_wrapper' },
    hint: { text: t('quantity_hint', scope: locale_scope) },
    label: { text: t('quantity', scope: locale_scope) },
    min: 0,
    value: fee.quantity,
    width: 'one-quarter'

  - if fee.display_amount?
    = f.govuk_number_field :amount,
      class: 'total fee-amount',
      form_group: { class: 'calculated-grad-fee js-graduated-price-effectee' },
      label: { text: t('.net_amount_html', context: f.object.description) },
      min: 0,
      prefix_text: '£',
      readonly: f.object.calculated? ? true : false,
      value: number_with_precision(f.object.amount, precision: 2),
      width: 'one-quarter'

  = f.govuk_number_field :price_calculated,
    form_group: { class: 'js-fee-calculator-success' },
    label: { hidden: true },
    type: 'hidden',
    value: f.object.price_calculated?

  .fee-calc-help-wrapper.hidden
    = govuk_details(summary_text: t('.help_how_we_calculate_rate_title'), text: t('.help_how_we_calculate_rate_body'))
