- unless @claim.allows_fixed_fees?
  #basic-fees.mod-fees
    - present(f.object.basic_fees, BasicFeesPresenter) do | basic_fees |

      .form-section
        %h3.govuk-heading-m{ class: "govuk-!-padding-top-7" }
          = t('.heading')

      = f.fields_for :basic_fees, basic_fees.primary_fee do |basic_fee_fields|
        - @basic_fee_count += 1
        - if present(basic_fee_fields.object).should_be_displayed?
          = render partial: 'external_users/claims/basic_fees/basic_fee_fields_primary', locals: { f: basic_fee_fields }

      .basic-fees-checklist
        %h3.govuk-heading-m{ class: "govuk-!-padding-top-7" }
          = t('.additional_fees')

        = f.govuk_check_boxes_fieldset :basic_fees,
          hint: { text: t('.fee_type_hint') },
          legend: { text: t('.fee_type'), size: 's' } do

          = f.fields_for :basic_fees, basic_fees.additional_fees.sort_by(&:position) do |basic_fee_fields|
            - @basic_fee_count += 1

            - if present(basic_fee_fields.object).should_be_displayed?
              = render partial: 'external_users/claims/basic_fees/additional_fee_fields', locals: { f: basic_fee_fields }

      = f.fields_for :basic_fees, basic_fees.extra_fees.sort_by(&:position) do |extra_fee_fields|
        - @basic_fee_count += 1
        - if present(extra_fee_fields.object).display_extra_fees?
          .form-section
            = render partial: 'external_users/claims/basic_fees/extra_fee_fields', locals: { f: extra_fee_fields }
