- unless @claim.allows_fixed_fees?
  #basic-fees.mod-fees
    .form-section
      %h3.heading-medium
        = "Basic fees"

      - present(f.object.basic_fees, BasicFeesPresenter) do | basic_fees |
        = f.fields_for :basic_fees, basic_fees.primary_fee do |basic_fee_fields|
          - @basic_fee_count += 1
          - if present(basic_fee_fields.object).should_be_displayed?
            = render 'external_users/claims/basic_fees/basic_fee_fields_new', f: basic_fee_fields


        = f.fields_for :basic_fees, basic_fees.additional_fees.sort_by(&:position) do |basic_fee_fields|
          - @basic_fee_count += 1
          - if present(basic_fee_fields.object).should_be_displayed?
            = render 'external_users/claims/basic_fees/basic_fee_fields', f: basic_fee_fields
