= render partial: 'external_users/claims/fees_shared_header'

= render partial: 'external_users/claims/interim_fee/fields', locals: { f: f }

= render partial: 'external_users/claims/supporting_documents/fields', locals: { f: f }

= render partial: 'external_users/claims/supporting_evidence_checklist/fields', locals: { f: f }

= render partial: 'external_users/claims/additional_information/fields', locals: { f: f }

= render partial: 'external_users/claims/buttons/continue', locals: { f: f, commit: 'commit_submit_claim' }
