-# payload is a GeckoWidgets::LineGraph object
%p
= link_to 'Return to Statistics Page', statistics_path

= govuk_table do
  = govuk_table_thead do
    = govuk_table_row do
      = govuk_table_th do
        = "Date"
      - payload.dataset_names.each do |source|
        = govuk_table_th do
          = "Source"
  = govuk_table_tbody do
    - payload.to_a.each do |row|
      = govuk_table_row do
        - row.each do |value|
          = govuk_table_td('data-label': value) do
            = value
