#claim-form
  = form_for claim, as: :claim, builder: AdpFormBuilder, html: { novalidate: true }, multipart: true, authenticity_token: true do |f|

    = f.hidden_field :form_id, value: @form_id || params[:claim][:form_id]
    = f.hidden_field :form_step, value: claim.form_step

    = render partial: "#{claim.current_step}_form_step", locals: { claim: claim, f: f }
