= content_for :page_title, flush: true do
  = t('.page_title')

#fees-header
  %h2#section-heading.govuk-heading-l
    = t('external_users.claims.interim_fee.heading')
  %p
    = t('external_users.claims.interim_fee.header_prompt_text_html')

= render partial: 'external_users/advocates/advocate_category', locals: { f: f }

= render partial: 'external_users/claims/warrant_fee/fields', locals: { f: f }
