#supporting-evidence-section.app-summary-section
  %h2.govuk-heading-l
    = t('external_users.claims.supporting_evidence_checklist.summary.header')

  - if local_assigns[:editable]
    = govuk_link_to t('common.change_html', context: t('external_users.claims.supporting_evidence_checklist.summary.header')), edit_polymorphic_path(claim, step: :supporting_evidence, referrer: :summary), class: 'govuk-!-static-margin-bottom-7 link-change'

  - unless @claim.evidence_checklist_ids.empty?
    = render partial: 'shared/supporting_evidence_checklist', locals: { f: @claim }

  - if claim.mandatory_supporting_evidence?
    = render partial: 'shared/supporting_evidence_uploads', locals: {f: @claim }

  - else
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: :supporting_evidence }
    - else
      %p= t('shared.summary.no_values.supporting_evidence')
