= content_for :page_title, flush: true do
  = 'Stats'

.govuk-width-container
  .govuk-grid-row
    .govuk-grid-column-one-half
      .h2
        Total claims
      = pie_chart @dummy_data_1, id: "total-claims-chart", legend: 'bottom'
    .govuk-grid-column-one-half
      .h2
        Total value of claims
      = column_chart @dummy_data_2, id: "total-claim-values-chart"
  .govuk-grid-row
    .govuk-grid-column-full
      .h2
        Total claims over six months
      = line_chart @dummy_data_3, id: "six-month-chart"

