= content_for :page_title, flush: true do
  = claim_type_page_header(current_user)

= render partial: 'external_users/shared/hardship_claims_banner'

= render partial: 'external_users/shared/clair_contingency_banner'

= form_with model: @claim_type, url: external_users_claim_types_path, method: 'post' do |f|
  = f.govuk_error_summary

  = f.govuk_radio_buttons_fieldset :claim_type, legend: { text: t('.choose_claim_type_prompt_text'), size: 'xl', tag: 'h1' } do
    - @available_claim_types.each_with_index do |claim_type, index|
      - claim_type_hint = t(".#{claim_type}_hint_html", default: t(".#{claim_type}_hint", default: ''))
      = f.govuk_radio_button :id, claim_type, label: { text: t(".#{claim_type}_rb") }, hint: { text: claim_type_hint }, link_errors: index.zero?

  .govuk-button-group
    = f.govuk_submit t('.continue')
    = govuk_button_link_to(t('.cancel'), external_users_root_path, secondary: true)
