= render partial: 'layouts/header', locals: { page_heading: claim_type_prompt_heading_for(current_user) }

%h2.heading-large
  = t('.claim_type_prompt_section_heading')


= form_tag(types_external_users_claims_path, method: "post") do
  .form-section
    .form-group
      %fieldset
        %legend
          %h2.heading-medium
            = t('.choose_claim_type_prompt_text')

        - @available_claim_types.each_with_index do |claim_type, index|
          .multiple-choice
            = radio_button_tag :claim_type, claim_type, index.zero?
            = label_tag "claim_type_#{claim_type}", nil do
              = t(".#{claim_type}_rb")
              - claim_type_hint = t(".#{claim_type}_hint", default: '')
              - if claim_type_hint.present?
                %span.form-hint
                  = claim_type_hint

  .form-section
    .form-group.form-buttons
      = submit_tag "Continue", class: "button"
      = link_to 'Cancel', external_users_root_path, class: 'link-secondary'
