= render partial: 'layouts/header', locals: {page_heading: 'What would you like to do?'}

= form_tag(types_external_users_claims_path, method: "post", builder: AdpFormBuilder ) do
  .form-group.inline
    %legend.xsmall
      = t('.choose_fee_scheme_prompt_text')
    .form-group.inline
      = label_tag :scheme_chosen_agfs, nil, class: "block-label" do
        = radio_button_tag :scheme_chosen, "agfs", true
        = 'AGFS'
      = label_tag :scheme_chosen_lgfs, nil, class: "block-label" do
        = radio_button_tag :scheme_chosen, "lgfs", false
        = 'LGFS'
  .form-group
    = submit_tag "Continue", class: "button"
