- title 'Fee scheme selection'

= render partial: 'layouts/header', locals: {page_heading: 'What would you like to do?'}

= form_tag(types_external_users_claims_path, method: "post") do
  .form-group
    %fieldset
      %legend
        %h2.heading-medium
          = t('.choose_fee_scheme_prompt_text')

      - if @claim_types.include?(Claim::AdvocateClaim)
        .multiple-choice
          = radio_button_tag :scheme_chosen, "agfs", true
          = label_tag :scheme_chosen_agfs, nil do
            = t('.agfs_rb')

      - if @claim_types.include?(Claim::LitigatorClaim)
        .multiple-choice
          = radio_button_tag :scheme_chosen, "lgfs_final", !@claim_types.include?(Claim::AdvocateClaim)
          = label_tag :scheme_chosen_lgfs_final, nil do
            = t('.lgfs_final_rb')

      - if @claim_types.include?(Claim::InterimClaim)
        .multiple-choice
          = radio_button_tag :scheme_chosen, "lgfs_interim", false
          = label_tag :scheme_chosen_lgfs_interim, nil do
            = t('.lgfs_interim_rb')

      - if @claim_types.include?(Claim::TransferClaim)
        .multiple-choice
          = radio_button_tag :scheme_chosen, "lgfs_transfer", false
          = label_tag :scheme_chosen_lgfs_transfer, nil do
            = t('.lgfs_transfer_rb')

  .form-group
    = submit_tag "Continue", class: "button"