= render partial: 'errors/error_summary', locals:{ ep: @provider, error_summary: t('.prohibited_save')}

= render partial: 'layouts/header', locals: {page_heading: 'Edit provider details'}

= form_for [:external_users, :admin, @provider], html: { novalidate: true } do |f|

  %fieldset.user-form
    = f.label :name, t('.provider_name'), class: "form-label"
    = f.text_field :name
    = validation_error_message(@provider, :name)

    - if @provider.firm?
      = f.label :supplier_number, t('.supplier_number'), class: "form-label"
      = f.text_field :supplier_number
      = validation_error_message(@provider, :supplier_number)

    - if @provider.firm?
      = f.label :vat_registered, class: "form-label"
      %div.form-group.inline
        =f.collection_radio_buttons(:vat_registered, [true, false], :to_s, :to_s) do |b|
          - b.label(class: 'block-label') { b.radio_button + (b.value.to_s == 'true' ? 'Yes' : 'No') }

    = f.label :api_key, t('.api_key'), class: "form-label"
    = @provider.api_key

  %p
    = f.submit 'Save', class: "button"
