= content_for :page_title, flush: true do
  = t('.page_title', provider_name: @provider.name)

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading', provider_name: @provider.name) }

.govuk-grid-row
  .govuk-grid-column-two-thirds

    = govuk_summary_list do
      = govuk_summary_list_row_collection(t('.provider_name')) { @provider.name }
      = govuk_summary_list_row_collection(t('.api_key')) { @provider.api_key }
      - if @provider.firm?
        = govuk_summary_list_row_collection(t('.lgfs_supplier_numbers')) { @provider.lgfs_supplier_numbers.to_sentence }
        - if @provider.agfs?
          = govuk_summary_list_row_collection(t('.firm_agfs_supplier_number')) { @provider.firm_agfs_supplier_number }
      = govuk_summary_list_row_collection(t('.vat_registered')) { @provider.vat_registered == true ? t('global_yes') : t('global_no') }

    .govuk-button-group
      .app-link-group
        = button_to t('.generate_key'), regenerate_api_key_external_users_admin_provider_path(@provider), method: :patch, form_class: 'inline-form', data: { confirm: t('.confirmation'), module: 'govuk-button' }, class: 'govuk-button', draggable: false

        - if can? :edit, @provider
          = govuk_button_link_to(t('.edit_provider'), edit_external_users_admin_provider_path(@provider), secondary: true)
