= content_for :page_title, flush: true do
  = t('.page_title', provider_name: @provider.name)

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading', provider_name: @provider.name) }

.govuk-grid-row
  .govuk-grid-column-two-thirds

    = govuk_summary_list do |summary_list|

      - summary_list.with_row do |row|
        - row.with_key(text: t('.provider_name'))
        - row.with_value(text: @provider.name )

      - summary_list.with_row do |row|
        - row.with_key(text: t('.api_key'))
        - row.with_value(text: @provider.api_key )

      - if @provider.firm?
        - summary_list.with_row do |row|
          - row.with_key(text: t('.lgfs_supplier_numbers'))
          - row.with_value(text: @provider.lgfs_supplier_numbers.to_sentence )

        - if @provider.agfs?
          - summary_list.with_row do |row|
            - row.with_key(text: t('.firm_agfs_supplier_number'))
            - row.with_value(text: @provider.firm_agfs_supplier_number )

      - summary_list.with_row do |row|
        - row.with_key(text: t('.vat_registered'))
        - row.with_value(text: (@provider.vat_registered? ? t('global_yes') : t('global_no') ))


    .govuk-button-group
      .app-link-group
        = button_to t('.generate_key'), regenerate_api_key_external_users_admin_provider_path(@provider), method: :patch, form_class: 'inline-form', data: { confirm: t('.confirmation'), module: 'govuk-button' }, class: 'govuk-button', draggable: false

        - if can? :edit, @provider
          = govuk_button_link_to(t('.edit_provider'), edit_external_users_admin_provider_path(@provider), secondary: true)
