= render partial: 'layouts/header', locals: {page_heading: 'Manage provider'}

.grid-row.basic-info-row
  .column-quarter
    .bold-xsmall
      Provider name
    .xsmall
      = @provider.name

  - if @provider.firm?
    .column-quarter
      .bold-xsmall
        = t('.supplier_number')
      .xsmall
        = @provider.supplier_number
    .column-quarter
      .bold-xsmall
        = t('.vat_registered')
      .xsmall
        = @provider.vat_registered == true ? 'Yes' : 'No'
    .column-quarter
      &nbsp;
  - else
    .column-three-quarter
      &nbsp;
.grid-row.basic-info-row
  .column-half
    .bold-xsmall
      = t('.api_key')
    .xsmall#api-key
      = @provider.api_key
  .column-half
    &nbsp;

- if can? :edit, @provider
  = link_to 'Edit', edit_external_users_admin_provider_path(@provider), class: 'button-secondary'

= button_to 'Generate new key', regenerate_api_key_external_users_admin_provider_path(@provider), method: :patch, form_class: 'inline-form' ,data: { confirm: "Are you sure?\n\nImportant: the new key will need to be used for all API calls and JSON file claim imports for this provider." }, class: 'button-secondary'
