%p
  = "Dear #{@resource.first_name} #{@resource.last_name},".titleize

- if @resource.sign_in_count == 0
  %p
    You have been registered as a new user on the "Claim for crown court defence" digital service.
  %p
    Please follow the link below to reset your password.
  %p
    = link_to 'Reset your password', edit_password_url(@resource, reset_password_token: @token)

  %p
    - if @resource.persona.admin?
      Please note: you have been given admin privileges, so you will also need to add to the system as a user each advocate for whom you wish to submit claims.  You can do this under "Manage users".

- else
  %p
    Someone has requested a link to change your password for the “Claim for crown court defence” digital service.  You can change your password through the link below.
  %p
    = link_to 'Change your password', edit_password_url(@resource, reset_password_token: @token)
  %p
    If you didn't request this, please ignore this email. Your password won’t change until you access the link above and enter a new password.

%p
  = "This link will expire in #{distance_of_time_in_words(User.reset_password_within)}. If your link has expired please goto the"
  = link_to 'Forgot your password?', new_user_password_url
  page, provide your email address and click 'Send me password reset instructions'. You will then receive a new confirmation email.
%p
  Yours sincerely,
%p
  Crime Case Management Team
  %br
  %b
    Legal Aid Agency
