= form_for [:admin, @user] do |f|
  - if @user.errors.any?
    %h2= "#{pluralize(@user.errors.count, 'error')} prohibited this claim from being saved:"
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg

  = f.label :email
  %br
  = f.email_field :email
  %br
  = f.label :password
  %br
  = f.password_field :password
  %br
  = f.label :password_confirmation
  %br
  = f.password_field :password_confirmation
  %br
  = f.label :role
  %br
  = f.collection_select :role, User::ROLES, :to_s, :humanize, prompt: true
  %br
  = f.submit
