%h1
  Users

%ul
  - @users.each do |user|
    %li
      = link_to "#{user.email} (#{user.role.humanize})", admin_user_path(user)
      - if user.case_worker?
        |
        = link_to 'Allocate claims', allocate_admin_user_path(user)
      |
      = link_to 'Edit', edit_admin_user_path(user)
      |
      = link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }

%p
  = link_to 'New user', new_admin_user_path, class: 'button'
