- locale_scope = 'external_users.claims.misc_fees'

= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'external_users/claims/fees_shared_header', locals: fee_shared_headings(claim, locale_scope, '')

%p
  = t('page_intro_html', scope: locale_scope)


= render partial: 'external_users/claims/misc_fees/advocates/fields', locals: { f: f }
