= content_for :v2_stylesheets do
  = stylesheet_link_tag "v2/application", media: "all"

= render partial: 'external_users/claims/fees_shared_header'

= render partial: 'external_users/advocates/claims/advocate_category', locals: { f: f }

= render partial: 'external_users/claims/basic_fees/fields', locals: { f: f }
