#claim-form
  = form_for @claim, as: :claim, builder: AdpFormBuilder, html: { novalidate: true }, multipart: true, authenticity_token: true do |f|

    = f.hidden_field :form_id, value: @form_id || params[:claim][:form_id]
    = f.hidden_field :form_step, value: @claim.form_step

    - if @claim.step?(1)

      = render 'external_users/claims/api_promo_banner', claim: @claim

      = render 'external_users/claims/case_details/fields', f: f

      = render 'external_users/claims/buttons/continue', f: f, commit: 'commit_continue'

    - if @claim.step?(2)

      = render 'external_users/claims/defendants/fields', f: f

      = render 'external_users/claims/buttons/continue', f: f, commit: 'commit_continue'

    - if @claim.step?(3)

      = render 'external_users/claims/offence_details/fields', f: f

      = render 'external_users/claims/buttons/continue', f: f, commit: 'commit_continue'

    - if @claim.step?(4)

      = render 'external_users/claims/fees_shared_header'

      = render 'external_users/claims/basic_fees/fields', f: f

      = render 'external_users/claims/fixed_fees/fields', f: f

      = render 'external_users/claims/misc_fees/fields', f: f

      = render 'external_users/claims/expenses/fields', f: f

      = render 'external_users/claims/supporting_documents/fields', f: f

      = render 'external_users/claims/supporting_evidence_checklist/fields', f: f

      = render 'external_users/claims/additional_information/fields', f: f

      = render 'external_users/claims/buttons/continue', f: f, commit: 'commit_submit_claim'