- locale_scope = 'external_users.claims.misc_fees'

= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'external_users/claims/fees_shared_header', locals: {page_header: t('page_header', scope: locale_scope), page_hint: t('page_hint', scope: locale_scope)}
%p
  - if Settings.clar_enabled?
    = t('clar_page_intro_html', scope: locale_scope)
  - else
    = t('page_intro_html', scope: locale_scope)

= render partial: 'external_users/claims/misc_fees/advocates/fields', locals: { f: f }

= render partial: 'external_users/claims/interim_claim_info/fields', locals: { f: f, claim: claim }
