- if defendant.claim
  %h2.govuk-heading-m
    = defendant.claim.name
  %p.govuk-body
    = t('.show_maat_reference', maat: defendant.maat_reference)
- else
  %h2.govuk-heading-m
    = t('.common_platform_only')
- if defendant.hmcts.present?
  .govuk-summary-card
    .govuk-summary-card__title-wrapper
      %h3.govuk-summary-card__title
        = t('.common_platform_match')
      %ul.govuk-summary-card__actions
        %li.govuk-summary-card__action
          = govuk_link_to t('.court_data_link'), "#{ENV.fetch('VIEW_COURT_DATA_URL', nil)}/laa_references/new?id=#{defendant.hmcts.id}&urn=#{case_number}", target: :_blank
    .govuk-summary-card__content
      .govuk-summary-list
        %dl.govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t('.name')
          %dd.govuk-summary-list__value
            = defendant.hmcts.name
        %dl.govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t('.maat_reference')
          %dd.govuk-summary-list__value
            = defendant.maat_reference
        - if defendant.hmcts.start.present?
          %dl.govuk-summary-list__row
            %dt.govuk-summary-list__key
              = t('.start_date')
            %dd.govuk-summary-list__value
              = defendant.hmcts.start.strftime(Settings.date_format)
        - if defendant.hmcts.end.present?
          %dl.govuk-summary-list__row
            %dt.govuk-summary-list__key
              = t('.end_date')
            %dd.govuk-summary-list__value
              = defendant.hmcts.end.strftime(Settings.date_format)
        - if defendant.hmcts.contract_number.present?
          %dl.govuk-summary-list__row
            %dt.govuk-summary-list__key
              = t('.contract_number')
            %dd.govuk-summary-list__value
              = defendant.hmcts.contract_number
- else
  .govuk-summary-card
    .govuk-summary-card__title-wrapper
      %h3.govuk-summary-card__title
        = t('.no_common_platform_date')
    .govuk-summary-card__content
      %p.govuk-body
        = "Go to #{govuk_link_to 'View Court Data', ENV.fetch('VIEW_COURT_DATA_URL', nil), target: :_blank} to search by URN, ASN or NI number."
