!!!
%html{"data-swagger-options" => GrapeSwaggerRails.options.to_h.to_json}
  %head
    %title= GrapeSwaggerRails.options.app_name || 'Swagger UI'
    %link{:href => "//fonts.googleapis.com/css?family=Droid+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
    - @disable_logo_link  = true
    - content_for :head do
      %meta{:name =>"format-detection", :content => "telephone=no"}/
    = stylesheet_link_tag 'grape_swagger_rails/application.css'
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag 'grape_swagger_rails/custom.css'
    = javascript_include_tag 'grape_swagger_rails/application.js'
    = javascript_include_tag "application"

    :javascript
      $(function () {
          var options = $("html").data('swagger-options');

          window.swaggerUi = new SwaggerUi({
            url: options.app_url + options.url,
            dom_id:"swagger-ui-container",
            supportHeaderParams: true,
            supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
            onComplete: function(swaggerApi, swaggerUi){
              if('console' in window) {
                console.log("Loaded ADP SwaggerUI")
                console.log(swaggerApi);
                console.log(swaggerUi);
              }
              $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
            },
            onFailure: function(data) {
              if('console' in window) {
                console.log("Unable to Load ADP SwaggerUI");
                console.log(data);
              }
            },
            docExpansion: "none"
          });

          $('#input_apiKey').change(function() {
            var key = $('#input_apiKey')[0].value;

            if(key && key.trim() != "") {
              if (options.api_auth == 'basic') {
                key = "Basic " + Base64.encode(key);
              } else if (options.api_auth == 'bearer') {
                key = "Bearer " + key
              }
              window.authorizations.add("key", new ApiKeyAuthorization(options.api_key_name, key, options.api_key_type));
            } else {
              window.authorizations.add("key", null);
            }
          });

        window.swaggerUi.load();
      });

  %body.swagger-section

    .outer-block
      #primary-nav-bar
        nav bar placholder
      .phase-banner
        %p
          %strong.phase-tag=:phase
          %span
            This is a new service – your
            %a{:href => "#"} feedback
            will help us to improve it.
      .container
        %main.main-content
          #message-bar.swagger-ui-wrap
          #swagger-ui-container.swagger-ui-wrap
