!!!
%html.govuk-template{ lang: 'en', 'data-swagger-options': "#{GrapeSwaggerRails.options.marshal_dump.to_json}" }
  %head
    %title
      = GrapeSwaggerRails.options.app_name || 'Swagger UI'

    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, viewport-fit=cover' }
    %meta{ name: 'theme-color', content: 'blue' }
    = csrf_meta_tags


    = favicon_link_tag asset_path('favicon.ico'), sizes: '48x48'
    = favicon_link_tag asset_path('favicon.svg'), sizes: 'any', type: 'image/svg+xml'
    %link{ rel: 'mask-icon', href: asset_path('govuk-icon-mask.svg'), color: '#0b0c0c' }
    %link{ rel: 'apple-touch-icon', href: asset_path('govuk-icon-180.png') }
    %link{ rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Droid+Sans:400,700', type: 'text/css' }
    = stylesheet_link_tag 'grape_swagger_rails/application.css'
    = javascript_include_tag 'grape_swagger_rails/application.js', defer: true

    = stylesheet_link_tag 'application', media: 'all'

    = tag :meta, property: 'og:image', content: request.base_url + image_tag('govuk-opengraph-image.png')
    = javascript_tag nonce: true do
      :plain
        (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();

    = javascript_tag nonce: true do
      :plain
        $(function () {
        var options = $("html").data('swagger-options');
        var headers = {};
        window.swaggerUi = new SwaggerUi({
        url: options.app_url + options.url,
        dom_id: "swagger-ui-container",
        supportHeaderParams: true,
        supportedSubmitMethods: options.supported_submit_methods || [],
        authorizations: headers,
        onComplete: function(swaggerApi, swaggerUi){
        if('console' in window) {
        console.log("Loaded SwaggerUI")
        console.log(swaggerApi);
        console.log(swaggerUi);
        }
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
        },
        onFailure: function(data) {
        if('console' in window) {
        console.log("Unable to Load SwaggerUI");
        console.log(data);
        }
        },
        docExpansion: options.doc_expansion,
        validatorUrl: options.validator_url,
        apisSorter: "alpha"
        });

        window.swaggerUi.load();
        });

  %body.govuk-frontend-supported.govuk-template__body.swagger-section
    = javascript_tag nonce: true do
      :plain
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

    = govuk_skip_link_to(t('layouts.skip_content'), '#main-content')

    - unless @omit_header
      %header.govuk-header.with-proposition{ data: { module: 'govuk-header' } }
        .govuk-header__container.govuk-width-container
          .govuk-header__logo
            = render 'layouts/govuk_logo'

          .govuk-header__content
            = link_to 'Claim for crown court defence', '/', class: 'govuk-header__link govuk-header__service-name'

            -# = render 'layouts/user' if user_signed_in?
            -# renderd partial err: undefined local variable or method `signed_in_user_profile_path'
            - if user_signed_in?
              %button.govuk-header__menu-button.govuk-js-header-toggle{ aria: { controls: 'navigation', label: t('layouts.user.show_hide_menu') }, type: 'button' }
                = t('layouts.user.menu')
              %nav
                %ul#navigation.govuk-header__navigation{ aria: { label: t('layouts.user.top_navigation') } }
                  %li.govuk-header__navigation-item
                    = govuk_header_link_to current_user.name, "/external_users/admin/external_users/#{current_user.persona.id}"
                  %li.govuk-header__navigation-item
                    = govuk_header_link_to t('layouts.user.sign_out'), '/users/sign_out', method: :delete

    .govuk-width-container
      %main#main-content.govuk-main-wrapper
        #message-bar.swagger-ui-wrap

        #swagger-ui-container.swagger-ui-wrap

        #global-app-error.app-error.hidden

        = yield

    -# renderd partial err: undefined local variable or method `contact_us_page_path'

    - meta_items = [{ text:  t('layouts.footer.cookies'), href: 'http://www.gov.uk/help/cookies', },
    { text: t('layouts.footer.contact'), href: '/contact_us', },
    { text: t('layouts.footer.accessibility'), href: 'accessibility-statement', },
    { text: t('layouts.footer.terms_and_conditions'), href: 'tandcs' },
    { text: t('layouts.footer.terms_and_conditions'), href:  '/feedback/new'},
    { text: t('layouts.footer.service_owner_html'),  href: 'https://mojdigital.blog.gov.uk/'},
    ]

  = govuk_footer(meta_items_title: t('layouts.footer.support_link'), meta_items: meta_items)
