<!DOCTYPE html>
<html data-swagger-options="<%= GrapeSwaggerRails.options.to_h.to_json %>">
<head>
  <title><%= GrapeSwaggerRails.options.app_name || 'Swagger UI' %></title>
  <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag 'grape_swagger_rails/application.css' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'grape_swagger_rails/custom.css' %>
  <%= javascript_include_tag 'grape_swagger_rails/application.js' %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
  $(function () {
    var options = $("html").data('swagger-options');

    window.swaggerUi = new SwaggerUi({
      url: options.app_url + options.url,
      dom_id:"swagger-ui-container",
      supportHeaderParams: true,
      supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
      onComplete: function(swaggerApi, swaggerUi){
        if('console' in window) {
          console.log("Loaded ADP SwaggerUI")
          console.log(swaggerApi);
          console.log(swaggerUi);
        }
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
      },
      onFailure: function(data) {
        if('console' in window) {
          console.log("Unable to Load ADP SwaggerUI");
          console.log(data);
        }
      },
      docExpansion: "none"
    });

    $('#input_apiKey').change(function() {
      var key = $('#input_apiKey')[0].value;

      if(key && key.trim() != "") {
        if (options.api_auth == 'basic') {
          key = "Basic " + Base64.encode(key);
        } else if (options.api_auth == 'bearer') {
          key = "Bearer " + key
        }
        window.authorizations.add("key", new ApiKeyAuthorization(options.api_key_name, key, options.api_key_type));
      } else {
        window.authorizations.add("key", null);
      }
    });

    <% GrapeSwaggerRails.options.headers.each_pair do |key, value| %>
      <%= raw "window.authorizations.add('key', new ApiKeyAuthorization('#{CGI.escapeHTML(key)}', '#{CGI.escapeHTML(value)}', 'header'));" %>
    <% end %>

    window.swaggerUi.load();
  });
  </script>
</head>

<body class="swagger-section">
  <header role="banner" id="global-header" class="">
    <div class="header-wrapper">
      <div class="header-global">
        <div class="header-logo">
          <div id="logo">
              <img class="content" width="36" height="246" alt="Ministry of Justice" src="../assets/moj_logo_horizontal_36x246.png" />
          </div>
        </div>
        <div class="header-app-name">
          Advocate Defence Payments
        </div>
        <div id="log-in-out">
          
        </div>
        
      </div>
    </div>
  </header>
  <div class="outer-block">
    <div id="primary-nav-bar">
      <% if user_signed_in? %>
        <nav id="primary-nav" role="navigation">
          <% if current_user.persona.is_a?(Advocate) %>
            <%= link_to "#{current_user.persona.admin? ? 'All' : 'Your'} Claims", '/advocates' %>
            <%= link_to "Archive", '/advocates/claims/archived', title: "View archived claims"   %>
            <% if Rails.host.api_sandbox? %>
              <%= link_to "API Documentation", api_landing_page_path %>
            <% end %>
            <%= link_to "New Claim", '/advocates/claims/new', title: "Start a new claim" %>
            <% if current_user.persona.admin? %>
              <%= link_to 'Admin', '/advocates/admin/advocates' %>
            <% end %>
          <% elsif current_user.persona.is_a?(CaseWorker) %>
            <% if current_user.persona.admin? %>
              <%= link_to 'Summary', '/case_workers/admin' %>
              <%= link_to "Allocation", '/case_workers/admin/allocations' %>
              <%= link_to 'Admin', '/case_workers/admin/case_workers' %>
            <% else %>
              <%= link_to 'Home', '/case_workers' %>
            <% end %>
          <% else %>
            <%= "Error" %>
          <% end %>
          <div id="user_links">
            <strong>
              <%= "Signed in as:" %>
              <%= link_to current_user.name, "/advocates/admin/advocates/#{current_user.persona.id}"%>
              <%#= Sign out will not work unless authentication is plugged in %>
              <%#= link_to 'Sign out', '/users/sign_out', method: :delete %>
            </strong>
          </div>
        </nav>
      <% end %>
    </div>
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">
          ALPHA
        </strong>
      <span>
        This is a new service – your
        <a href="#">feedback</a>
        will help us to improve it.
      </span>
      </p>
    </div>
    <div class="container">
      <main class="main-content">
        <div id="message-bar" class="swagger-ui-wrap">
          &nbsp;
        </div>
        <div id="swagger-ui-container" class="swagger-ui-wrap">
        </div>
      </main>
    </div>
  </div>

</body>

</html>
