%p
  = "Hello #{@user.name},"

%p
  = "There's a new message for you on claim #{@claim.case_number}."

%p You'll need to log into the Claim for crown court defence system to read and reply to the message.

%p Click the link below to see the message:

%p
  = link_to(external_users_claim_url(@claim.id, messages: true), external_users_claim_url(@claim.id, messages: true))

%p
  To stop receiving these notifications, go to
  = link_to('Edit user', edit_external_users_admin_external_user_url(@user))
  page.

%p
  Crime Case Management Team
  %br/
  Legal Aid Agency