.app-summary-section
  %h3.govuk-heading-m
    = t('external_users.claims.additional_information.summary.header')

  - if local_assigns[:editable]
    = govuk_link_to t('common.change_html', context: t('external_users.claims.additional_information.summary.header')), edit_polymorphic_path(claim, step: :supporting_evidence, anchor: 'additional_info', referrer: :summary), class: 'link-change'

  - if claim.additional_information.present?
    = simple_format(claim.additional_information)
  - else
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: :supporting_evidence }
    - else
      %p
        = t('external_users.claims.additional_information.summary.not_available')
