- claim.interim_claim_info && present(claim.interim_claim_info) do |info|
  - if info.warrant_fee_paid?

    %h3.govuk-heading-m
      = t('common.warrant_fees')

    %table.summary
      %caption.govuk-visually-hidden
        = t('.caption')

      %tbody
        %tr
          %th{ scope: 'row' }
            = t('shared.claims.interim_claim_info.fields.date_issued')
          %td
            = info.warrant_issued_date

        %tr
          %th{ scope: 'row' }
            = t('shared.claims.interim_claim_info.fields.date_executed')
          %td
            = info.warrant_executed_date
