- fee = present(f.object)
.form-section.fixed-fee-group.nested-fields.fx-fee-group.fx-numberedList-item.js-block.fx-do-init{data:{type:"fixedFees", autovat: @claim.apply_vat? ? "true" : "false", "block-type": "FeeBlockCalculator"}}
  %h2.bold-medium
    = t('.fixed_fee')
    %span.fx-numberedList-number
    = link_to_remove_association t('.remove'), f, { wrapper_class: 'fixed-fee-group', class: "header-action" }

  .form-group
    .fee-type.js-typeahead{class: error_class?(@error_presenter, "fixed_fee_#{@fixed_fee_count}_fee_type")}
      %label.form-label-bold
        = t('.fee_type')
      %a{id: "fixed_fee_#{@fixed_fee_count}_fee_type"}

      - fixed_fee_types_collection = present_collection(@claim.eligible_fixed_fee_types)
      = f.select :fee_type_id,
          fixed_fee_types_collection.map { |fee| [fee.description, fee.id, { data: fee.data_attributes }]},
          { include_blank: ''.html_safe },
          {class: 'form-control js-fixed-fee-type js-fee-type js-fee-calculator-fee-type typeahead', style: 'width:100%'}

      = validation_error_message(@error_presenter, "fixed_fee_#{@fixed_fee_count}_fee_type")

  = f.adp_text_field :case_numbers,
      label: t('.case_numbers'),
      input_classes:'js-fixed-fee-case-numbers fx-fee-case-numbers',
      hint_text:'Separate by commas',
      errors: @error_presenter

  = f.adp_text_field :quantity,
      label: t('.quantity'),
      hint_text: t('.quantity_hint'),
      hide_hint: true,
      input_classes:"quantity fee-quantity form-control-1-8 js-fee-quantity js-fee-calculator-quantity",
      input_type: 'number',
      value: fee.quantity,
      errors: @error_presenter

  .js-fee-calculator-effectee
    .calculated-fee
    = f.adp_text_field :rate,
        label: t('.rate'),
        input_classes:'rate fee-rate js-fee-calculator-rate form-input-denote__input form-control-1-4',
        input_type: 'currency',
        errors: @error_presenter,
        input_readonly: f.object.price_calculated?,
        value: number_with_precision(f.object.rate, precision: 2)

  .js-fee-calculator-success
    = f.hidden_field :price_calculated, value: f.object.price_calculated?

  .help-wrapper.form-group{ style: 'display: none;' }
    %details
      %summary
        %span.summary
          = t('.help_how_we_calculate_rate_title')
      .panel.panel-border-narrow
        %p
          = t('.help_how_we_calculate_rate_body')

  .dates-wrapper.form-group
    %div
      = f.fields_for :dates_attended do |date_attended|
        = render 'date_attended_fields', f: date_attended, submodel_count: date_attended.index+1, parent_model_prefix: "fixed_fee_#{@fixed_fee_count}"

    = link_to_add_association t('.add_date_attended'), f, :dates_attended, class: '', partial: 'date_attended_fields', data: {'association-insertion-method' => 'append', 'association-insertion-node' => 'div', 'association-insertion-traversal' => 'prev'}

  .form-group
    %label.form-label-bold
      = t('.net_amount')
    .fee-net-amount.total
      = fee.amount || number_to_currency(0)

  %hr/
