.disbursement-group.nested-fields.fx-fee-group.fx-numberedList-item.js-block.fx-do-init{ data: { type:'disbursements', autovat: 'false', 'block-type': 'FeeBlockManualAmounts' } }

  = f.govuk_fieldset legend: { text: t('.disbursement_legend_html') ,  class: "govuk-!-padding-top-7"} do

    = link_to_remove_association f, wrapper_class: 'disbursement-group', class: 'govuk-link govuk-!-display-none fx-numberedList-action' do
      = t('common.remove_html', context: t('.disbursement'))

    = f.govuk_collection_select :disbursement_type_id,
      DisbursementType.active.map{ |disbursement| [disbursement.name, disbursement.id] },
      :second,
      :first,
      form_group: { class: 'disbursement-type fx-autocomplete-wrapper' },
      label: { text: t('.disbursement_type_html', context: t('.disbursement')) },
      options: { include_blank: '' }

    = f.govuk_number_field :net_amount,
      class: 'amount fee-amount',
      label: { text: t('.net_amount_html', context: t('.disbursement')) },
      min: 0,
      prefix_text: '£',
      value: number_with_precision(f.object.net_amount, precision: 2),
      width: 'one-quarter'

    = f.govuk_number_field :vat_amount,
      class: 'vat fee-vat',
      label: { text: t('.vat_amount_html', context: t('.disbursement')) },
      min: 0,
      prefix_text: '£',
      value: number_with_precision(f.object.vat_amount, precision: 2),
      width: 'one-quarter'

    = govuk_summary_list_no_border do
      = govuk_summary_list_row do
        = govuk_summary_list_key do
          = t('.total')

        = govuk_summary_list_value(class: 'total', data: {total: number_to_currency(f.object.total)}) do
          = number_to_currency(f.object.total)
