- step = local_assigns[:step] ? local_assigns[:step] : :disbursements
.form-section
  %h2.heading-large
    = t('external_users.claims.disbursements.summary.header')
    - if local_assigns[:editable]
      = govuk_link_to t('.change'), edit_polymorphic_path(claim, step: step, referrer: :summary), class: 'link-change', 'aria-label': t('.change_link_label')

  - if claim.disbursements.empty?
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: step }
    - else
      %p
        = t('shared.summary.no_values.disbursements')
  - else
    %table.summary
      %caption.table-caption.visuallyhidden
        = t('.caption')

      %thead
        %tr
          %th{ scope: 'col' }
            = t('shared.summary.disbursements.type')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.disbursements.net_amount')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.disbursements.vat_amount')
          %th.numeric{ scope: 'col' }
            = t('shared.summary.total_amount')

      %tbody
        - present_collection(claim.disbursements).each.with_index(1) do |disbursement, index|
          %tr
            %td
              = disbursement.name
            %td.numeric
              = disbursement.net_amount
            %td.numeric
              = disbursement.vat_amount
            %td.numeric
              = disbursement.total

      %tfoot
        %tr
          %th{ scope: 'row' }
            = t('shared.summary.total')
          %td.numeric
            = claim.disbursements_total
          %td.numeric
            = claim.disbursements_vat
          %td.numeric
            = claim.disbursements_gross
