- step = local_assigns[:step] ? local_assigns[:step] : :disbursements
.form-section
  %h3.heading-medium
    = t('external_users.claims.disbursements.summary.header')
    - if local_assigns[:editable]
      = link_to t('.change'), edit_polymorphic_path(claim, step: step, referrer: :summary), class: 'link-change', 'aria-label': t('.change_link_label')

  - if claim.disbursements.empty?
    - if local_assigns.has_key?(:editable) && !local_assigns[:editable]
      = render partial: 'external_users/claims/summary/section_status', locals: { claim: claim, section: section, step: step }
    - else
      %p
        = t('shared.summary.no_values.disbursements')
  - else
    %table{ class: 'summary', summary: t('.summary') }
      %caption
        %span.table-caption.visuallyhidden
          = t('.caption')
      %colgroup
        %col.summary-headings
        %col.summary-desc
      %tbody
        - present_collection(claim.disbursements).each.with_index(1) do |disbursement, index|
          %tr
            - if claim.disbursements.length > 1
              %th{ scope: 'row', class: 'bold' }
                = t('shared.summary.disbursement_index', index: index)

            %td{style: 'margin:0; padding:0;'}
              %table.nested-summary
                %tbody
                  %tr
                    %th{ scope: 'row', class: 'bold' }
                      = t('shared.summary.disbursements.type')
                    %td
                      = disbursement.name
                  %tr
                    %th{ scope: 'row', class: 'bold' }
                      = t('shared.summary.disbursements.net_amount')
                    %td
                      = disbursement.net_amount
                  %tr
                    %th{ scope: 'row', class: 'bold' }
                      = t('shared.summary.disbursements.vat_amount')
                    %td
                      = disbursement.vat_amount
