= content_for :page_title, flush: true do
  = t('.page_title')

= content_for :v2_stylesheets do
  = stylesheet_link_tag 'v2/application', media: 'all'

= render partial: 'errors/error_summary', locals: { ep: @feedback, error_summary: t('.error_summary') }
= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

.grid-row
  .column-two-thirds
    .panel.panel-border-wide
      %p
        = t('.intro')
        = render partial: 'feedback/claim_edit_alert' if referrer_is_claim?(@feedback.referrer)

    = form_for @feedback, builder: AdpFormBuilder, url: feedback_index_path, html: { novalidate: 'novalidate', class: 'normal'} do |f|
      = f.hidden_field :type
      = f.hidden_field :referrer

      .form-group
        = f.label :case_number, class: 'form-label', id: :case_number do
          = t('.case_number_label')
          %span.form-hint
            = t('.case_number_hint')
        = f.text_field :case_number, class: 'form-control'

      .form-group
        = f.label :event, class: 'form-label', id: :event do
          = t('.event_label')
          %span.form-hint
            = t('.event_hint')
        = f.text_area :event, rows: 6, class: 'form-control'

      .form-group
        = f.label :outcome, t('.outcome_label'), class: 'form-label', id: :outcome
        = f.text_area :outcome, rows: 6, class: 'form-control'

      = render partial: 'feedback/anonymous_email_prompt', locals: { f: f } if cannot_identify_user?

      .button-holder
        = f.submit 'Send', class: 'button button-primary', id: 'submit-button'
