= render partial: 'errors/error_summary', locals:{ ep: @feedback, error_summary: 'The form you submitted has '}

= render partial: 'layouts/header', locals: {page_heading: 'Help us improve this service'}

.body-content
  .panel.panel-border-wide
    %p
      Tell us about your experience of using this service today.
  %p
    Your answers to the following questions will help us improve this service.

  = form_for @feedback, url: feedback_index_path, html: { novalidate: 'novalidate', class: 'normal'} do |f|
    = f.hidden_field :type
    = f.hidden_field :referrer
    .form-group
      = f.label :event, "What you were doing", class: "form-label"
      = f.text_area :event, rows: 5, class: "form-control"
    .form-group
      = f.label :outcome, "What went wrong", class: "form-label"
      = f.text_area :outcome, rows: 10, class: "form-control"
    .button-holder
      = f.submit 'Send', class: 'button button-primary', id: 'submit-button'
