= content_for :page_title, flush: true do
  = t('.page_title')

= render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @feedback, url: feedback_index_path, html: { novalidate: 'novalidate' } do |f|
      = f.hidden_field :type
      = f.hidden_field :referrer

      = f.govuk_error_summary

      = govuk_inset_text do
        %p
          = t('.intro')
          = render partial: 'feedback/claim_edit_alert' if referrer_is_claim?(@feedback.referrer)

      = f.govuk_text_field :case_number,
        label: { text: t('.case_number_label') },
        hint: { text: t('.case_number_hint') }

      = f.govuk_text_area :event,
        label: { text: t('.event_label') },
        hint: { text: t('.event_hint') }

      = f.govuk_text_area :outcome,
        label: { text: t('.outcome_label') }

      = render partial: 'feedback/anonymous_email_prompt', locals: { f: f } if cannot_identify_user?

      = f.govuk_submit(t('.send'))
