= render partial: 'errors/error_summary', locals:{ ep: @feedback, error_summary: 'The form you submitted has '}

= render partial: 'layouts/header', locals: {page_heading: 'Help us improve this service'}

.body-content
  .panel.panel-border-wide
    %p
      Tell us about your experience of using this service today. Your answers to the following questions will help us improve the service.

  = form_for @feedback, builder: AdpFormBuilder, url: feedback_index_path, html: { novalidate: 'novalidate', class: 'normal'} do |f|
    = f.hidden_field :type
    = f.hidden_field :referrer

    .form-group
      = f.anchored_label 'Case number / Unique ID', :case_number
      .form-hint.xsmall.zero-vert-margin
        = 'If your issue is related to a particular claim, provide the case number along with the unique ID you will find next to it (starts with #)'
      = f.text_field :case_number, class: 'form-control'
    .form-group
      = f.anchored_label 'What you were doing', :event
      .form-hint.xsmall.zero-vert-margin
        = 'Include as much information as possible, including the fee scheme (Advocate, Litigator final, Litigator interim or Litigator transfer) and case type'
      = f.text_area :event, rows: 6, class: 'form-control'
    .form-group
      = f.anchored_label 'What went wrong', :outcome
      .form-hint.xsmall.zero-vert-margin
        = ''
      = f.text_area :outcome, rows: 6, class: 'form-control'
    .button-holder
      = f.submit 'Send', class: 'button button-primary', id: 'submit-button'
