- title 'Feedback'

= render partial: 'errors/error_summary', locals:{ ep: @feedback, error_summary: 'This feedback has '}
= render partial: 'layouts/header', locals: {page_heading: 'Help us improve this service'}

.body-content
  .panel.panel-border-wide
    %p
      We will use your answers to the questions below to help us build a better service.
      = render partial: 'feedback/claim_edit_alert' if referrer_is_claim?(@feedback.referrer)

  = form_for @feedback, url: feedback_index_path(email: params[:email]), html: { novalidate: 'novalidate', class: 'normal'} do |f|
    = f.hidden_field :type
    = f.hidden_field :referrer
    = hidden_field_tag 'ga_client_id', '', class:'ga-client-id'
    - if params[:user_id].present?
      = hidden_field_tag :user_id, params[:user_id]

    .form-group
      = f.label :comment, 'Tell us about your experience of using this service today.'
      %p.form-hint
        = 'Don\'t include any personal or sensitive information.'
      = f.text_area :comment, rows: 5, class: "form-control"

    %fieldset.inline
      %legend
        = 'Overall, how satisfied were you with this service?'

      = f.collection_radio_buttons(:rating, Feedback::RATINGS.map {|k,v| [v,k]}, :last, :first) do |b|
        - b.label(class: 'block-label') { b.radio_button + b.object.first  }

    .button-holder
      = f.submit 'Send', class: 'button button-primary', id: 'submit-button'
