- title 'Feedback'

= render partial: 'layouts/header', locals: {page_heading: 'Help us improve this service'}

= GovukElementsErrorsHelper.error_summary @feedback, t('shared.errors.generic_alert'), t('shared.errors.form_error_hint')

.body-content
  .panel.panel-border-wide
    %p
      We will use your answers to the questions below to help us build a better service.
      = render partial: 'feedback/claim_edit_alert' if referrer_is_claim?(@feedback.referrer)

  = form_for @feedback, builder: GovukFormBuilder, url: feedback_index_path(email: params[:email]), html: { novalidate: 'novalidate', class: 'normal'} do |f|
    = f.hidden_field :type
    = f.hidden_field :referrer
    = hidden_field_tag :user_id, params[:user_id] if params[:user_id].present?

    = f.text_area :comment, rows: 5
    = f.radio_button_fieldset :rating, inline: true, choices: Feedback::RATINGS.keys

    .button-holder
      = f.submit 'Send', class: 'button button-primary', id: 'submit-button'
