- title 'Feedback'

= render partial: 'errors/error_summary', locals:{ ep: @feedback, error_summary: 'This feedback has '}
= render partial: 'layouts/header', locals: {page_heading: t('activemodel.attributes.feedback.heading')}

.body-content
  .panel.panel-border-wide
    %p
      = t('activemodel.attributes.feedback.callout')
      = render partial: 'feedback/claim_edit_alert' if referrer_is_claim?(@feedback.referrer)

  = form_for @feedback, url: feedback_index_path(email: params[:email]), html: { novalidate: 'novalidate', class: 'normal'} do |f|
    = f.hidden_field :type
    = f.hidden_field :referrer
    = hidden_field_tag 'ga_client_id', '', class:'ga-client-id'
    - if params[:user_id].present?
      = hidden_field_tag :user_id, params[:user_id]

    .form-group
      %fieldset.inline
        %legend
          = f.label :comment
        %p.form-hint
          = t('activemodel.attributes.feedback.comment_hint')
        = f.text_area :comment, rows: 5, class: "form-control"

    = render partial: 'feedback/anonymous_email_prompt', locals: { f: f } if cannot_identify_user?

    .form-group
      %fieldset
        %legend
          = f.label :rating

        = f.collection_radio_buttons(:rating, Feedback::RATINGS.map {|k,v| [v,k]}, :last, :first) do |b|
          .multiple-choice
            = b.radio_button
            = b.label { b.object.first }

    .button-holder
      = f.submit 'Send', class: 'button button-primary', id: 'submit-button'
