%ul
  %li
    = link_to t('cookies'), 'http://www.gov.uk/help/cookies'
  %li
    = link_to t('contact'), contact_us_page_path
  %li
    = link_to t('terms_and_conditions'), tandcs_page_path
  %li
    = link_to t('footer_feedback'), new_feedback_path
  %li
    = t('service_owner_html', link: 'https://mojdigital.blog.gov.uk/')

.region.visuallyhidden
  = Settings.aws.region
