- if user_signed_in?
  .govuk-grid-row
    .govuk-grid-column-full
      - if @enable_breadcrumb
        - referrer_url = params[:referrer] && url_for_referrer(params[:referrer], @claim)
        - if referrer_url
          = govuk_back_link_to t('layouts.navigation.back_to_referrer_html'), referrer_url
        - elsif @claim && @claim.step_back?
          = govuk_back_link_to t('layouts.navigation.back_to_referrer_html'), edit_polymorphic_path(@claim, step: @claim.previous_step)
        - else
          = govuk_back_link_to t('layouts.navigation.home'), external_users_root_path

      - else
        %nav.breadcrumbs{ 'aria-label': t('.sub_navigation') }
          %ul.govuk-list
            - if current_user.persona.is_a?(SuperAdmin)
              %li
                = govuk_link_to t('.sidekiq_console'), sidekiq_web_path

            - elsif current_user.persona.is_a?(ExternalUser)
              %li
                = govuk_link_to your_claims_header, external_users_root_path, class: cp(external_users_root_path)
              %li
                = govuk_link_to t('.archive'), archived_external_users_claims_path, class: cp(archived_external_users_claims_path)

              - if Rails.host.api_sandbox?
                %li
                  = govuk_link_to t('.api_documentation'), api_landing_page_path, class: cp(api_landing_page_path)
              %li
                = govuk_link_to t('link.add_claim'), new_external_users_claim_types_path, class: cp(new_external_users_claim_types_path)

              - if current_user.persona.admin?
                %li
                  = govuk_link_to t('.manage_users'), external_users_admin_external_users_path, class: cp(external_users_admin_external_users_path)
                %li
                  = govuk_link_to t('.manage_provider'), external_users_admin_provider_path(current_user.persona.provider), class: cp(external_users_admin_provider_path(current_user.persona.provider))

              - else
                %li
                  = govuk_link_to t('.manage_your_settings'), edit_external_users_admin_external_user_path(current_user.persona), class: cp(edit_external_users_admin_external_user_path(current_user.persona))

            - elsif current_user.persona.is_a?(CaseWorker)
              %li
                = govuk_link_to t('.your_claims'), case_workers_claims_path({ tab: :current }), class: cp(case_workers_claims_path)
              %li
                = govuk_link_to t('.archive'), archived_case_workers_claims_path({ tab: :archived }), class: cp(archived_case_workers_claims_path)

              - if current_user.persona.admin?
                %li
                  = govuk_link_to t('.allocation'), case_workers_admin_allocations_path, class: cp(case_workers_admin_allocations_path({ tab: :unallocated }))
                %li
                  = govuk_link_to t('.re_allocation'), case_workers_admin_allocations_path({ tab: :allocated }), class: cp(case_workers_admin_allocations_path({ tab: :allocated }))
                %li
                  = govuk_link_to t('.manage_case_workers'), case_workers_admin_case_workers_path, class: cp(case_workers_admin_case_workers_path)

              - if current_user.persona.provider_management?
                %li
                  = govuk_link_to t('.manage_providers'), provider_management_providers_path, class: cp(provider_management_providers_path)

              - if current_user.persona.admin?
                %li
                  = govuk_link_to t('.management_information'), case_workers_admin_management_information_path, class: cp(case_workers_admin_management_information_path)

            - else
              %li
                = t('.error')
