= govuk_service_navigation(service_name: 'Claim for Crown Court defence', service_url: unauthenticated_root_path, current_path: request.path) do |sn|
  - if user_signed_in? && !@enable_breadcrumb
    - if current_user.persona.is_a?(SuperAdmin)
      = sn.with_navigation_item(text: t('.sidekiq_console'), href: sidekiq_web_path)
      = sn.with_navigation_item(text: t('.manage_providers'), href: provider_management_providers_path)
      = sn.with_navigation_item(text: t('.users'), href: users_path)
      = sn.with_navigation_item(text: t('.offences'), href: super_admins_offences_path)
      = sn.with_navigation_item(text: t('.stats'), href: super_admins_stats_path)
    - elsif current_user.persona.is_a?(ExternalUser)
      = sn.with_navigation_item(text: your_claims_header, href: external_users_root_path)
      = sn.with_navigation_item(text: t('.archive'), href: archived_external_users_claims_path)
      - if Rails.host.api_sandbox?
        = sn.with_navigation_item(text: t('.api_documentation'), href: api_landing_page_path)
      = sn.with_navigation_item(text: t('link.add_claim'), href: new_external_users_claim_types_path)
      - if current_user.persona.admin?
        = sn.with_navigation_item(text: t('.manage_users'), href: external_users_admin_external_users_path)
        = sn.with_navigation_item(text: t('.manage_provider'), href: external_users_admin_provider_path(current_user.persona.provider))
      - else
        = sn.with_navigation_item(text: t('.manage_your_settings'), href: edit_external_users_admin_external_user_path(current_user.persona))
    - elsif current_user.persona.is_a?(CaseWorker)
      = sn.with_navigation_item(text: t('.your_claims'), href: case_workers_claims_path({ tab: :current }), active: current_page?(case_workers_claims_path({ tab: :current })))
      = sn.with_navigation_item(text: t('.archive'), href: archived_case_workers_claims_path({ tab: :archived }), active: current_page?(archived_case_workers_claims_path({ tab: :archived })))
      - if current_user.persona.admin?
        = sn.with_navigation_item(text: t('.allocation'), href: case_workers_admin_allocations_path({ tab: :unallocated }), active: current_page?(case_workers_admin_allocations_path({ tab: :unallocated })))
        = sn.with_navigation_item(text: t('.re_allocation'), href: case_workers_admin_allocations_path({ tab: :allocated }), active: current_page?(case_workers_admin_allocations_path({ tab: :allocated })))
        = sn.with_navigation_item(text: t('.manage_case_workers'), href: case_workers_admin_case_workers_path)
      - if current_user.persona.provider_management?
        = sn.with_navigation_item(text: t('.manage_providers'), href: provider_management_providers_path)
      - if current_user.persona.admin?
        = sn.with_navigation_item(text: t('.management_information'), href: case_workers_admin_management_information_path)
    - else
      = sn.with_navigation_item(text: t('.error'), href: '/')
