- @disable_logo_link  = true
- content_for :head do
  = stylesheet_link_tag "application", media: "all"

- content_for :body_end do
  = javascript_include_tag "application"

= content_for :content do
  = csrf_meta_tags
  #wrapper.group
    %section#content{role: 'main'}
      %header.page-header.group.tribunal-header
        #fixed-header
          - if user_signed_in?
            = render 'layouts/user'
      .container
        = render partial: 'layouts/flashes' unless flash.empty?
        %aside.aside-navigation
          = yield :aside_navigation
          &nbsp;
        %main.main-content
          = yield
        %aside.aside-help
          = yield :aside_help
          &nbsp;

= render template: 'layouts/moj_internal_template'
= debug(params) if Rails.env.development?
