- @disable_logo_link  = true
- content_for :head do
  = stylesheet_link_tag "application", media: "all"

- content_for :body_end do
  = javascript_include_tag "application"

= content_for :content do
  = csrf_meta_tags
  .outer-block
    .inner-block
      #primary-nav-bar
        - if user_signed_in?
          = render partial: 'layouts/primary_navigation'
      .phase-banner
        %p
          %strong.phase-tag= config_item(:phase)
          %span
            This is a new service – your
            %a{href: "#"} feedback
            will help us to improve it.
      .container
        = render partial: 'layouts/flashes' unless flash.empty?
        %main.main-content
          = render_breadcrumbs
          = yield

= render template: 'layouts/moj_internal_template'
