!!!
%html.govuk-template{ lang: 'en' }
  %head
    %title
      = content_for?(:page_title) ? yield(:page_title) : contextual_title

    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, viewport-fit=cover' }
    %meta{ name: 'theme-color', content: 'blue' }
    = csrf_meta_tags

    = favicon_link_tag asset_path('favicon.ico'), sizes: '48x48'
    = favicon_link_tag asset_path('favicon.svg'), sizes: 'any', type: 'image/svg+xml'
    %link{ rel: 'manifest', href: asset_path('manifest.json') }
    %link{ rel: 'mask-icon', href: asset_path('govuk-icon-mask.svg'), color: '#0b0c0c' }
    %link{ rel: 'apple-touch-icon', href: asset_path('govuk-icon-180.png') }
    = stylesheet_link_tag 'application', media: 'all'
    = tag :meta, property: 'og:image', content: request.base_url + asset_path('govuk-opengraph-image.png')

    - if GoogleAnalytics::DataTracking.enabled? && !@disable_analytics
      = render partial: 'layouts/analytics', formats: :js, locals: { adapter: GoogleAnalytics::DataTracking.adapter_name }
      - if GoogleAnalytics::DataTracking.analytics?
        = javascript_tag nonce: true do
          != ga_outlet

  %body.govuk-frontend-supported{ class: "govuk-template__body controller-#{controller.controller_name}" }
    = javascript_tag nonce: true do
      :plain
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

    = render partial: 'layouts/cookie_banner'

    = govuk_skip_link_to(t('layouts.skip_content'), '#main-content')

    - if GoogleAnalytics::DataTracking.tag_manager? && !@disable_analytics
      %noscript
        %iframe{ src: "https://www.googletagmanager.com/ns.html?id=#{ENV['GTM_TRACKER_ID']}", style: 'display: none; visibility: hidden', height: '0', width: '0' }

    %header.moj-header{ role: 'banner' }
      .moj-header__container
        .moj-header__logo
          = render 'layouts/moj_logo'
          = link_to 'Legal Aid Agency', current_user_is_caseworker? ? Settings.laa_header_link.caseworker : Settings.laa_header_link.provider, class: ['moj-header__link', 'moj-header__link--organisation-name']

        .moj-header__content
          = render 'layouts/user' if user_signed_in?

    = render partial: 'layouts/primary_navigation'

    .govuk-width-container
      = feedback_banner(t('.feedback_banner_html', feedback: new_feedback_path, feedback_type: new_feedback_path(type: 'bug_report'), query_claim: contact_us_page_path)) unless @disable_feedback_banner

      - if @enable_breadcrumb
        .govuk-grid-row
          .govuk-grid-column-full
            - referrer_url = params[:referrer] && url_for_referrer(params[:referrer], @claim)
            - if referrer_url
              = govuk_back_link_to t('layouts.navigation.back_to_referrer_html'), referrer_url
            - elsif @claim && @claim.step_back?
              = govuk_back_link_to t('layouts.navigation.back_to_referrer_html'), edit_polymorphic_path(@claim, step: @claim.previous_step)
            - else
              = govuk_back_link_to t('layouts.navigation.home'), external_users_root_path

      %main#main-content.govuk-main-wrapper
        .govuk-grid-row
          .govuk-grid-column-two-thirds
            = render partial: 'shared/downtime_warning'
            = render partial: 'layouts/flashes' unless flash.empty? || @disable_flashes
            = content_for :page_heading

        = yield

        = render partial: 'layouts/contact_us_link'

    = render partial: 'layouts/footer'
    = render partial: 'layouts/body_end'
