!!!
%html.govuk-template{ lang: 'en' }
  %head
    %title
      = content_for?(:page_title) ? yield(:page_title) : contextual_title

    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, viewport-fit=cover' }
    %meta{ name: 'theme-color', content: 'blue' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' }
    = csrf_meta_tags

    = favicon_link_tag asset_path('favicon.ico')
    %link{ rel: 'mask-icon', href: asset_path('govuk-mask-icon.svg'), color: 'blue' }
    %link{ rel: 'apple-touch-icon', sizes: '180x180', href: asset_path('govuk-apple-touch-icon-180x180.png') }
    %link{ rel: 'apple-touch-icon', sizes: '167x167', href: asset_path('govuk-apple-touch-icon-167x167.png') }
    %link{ rel: 'apple-touch-icon', sizes: '152x152', href: asset_path('govuk-apple-touch-icon-152x152.png') }
    %link{ rel: 'apple-touch-icon', href: asset_path('govuk-apple-touch-icon.png') }
    = stylesheet_link_tag 'application', media: 'all'
    = tag :meta, property: 'og:image', content: request.base_url + asset_path('govuk-opengraph-image.png')

    - if GoogleAnalytics::DataTracking.enabled? && !@disable_analytics
      = render partial: 'layouts/analytics', formats: :js, locals: { adapter: GoogleAnalytics::DataTracking.adapter_name }
      - if GoogleAnalytics::DataTracking.analytics?
        %script
          != ga_outlet

  %body{ class: "govuk-template__body controller-#{controller.controller_name} govuk-frontend-supported" }
    :javascript
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

    = render partial: 'layouts/cookie_banner'

    = govuk_skip_link_to(t('layouts.skip_content'), '#main-content')

    - if GoogleAnalytics::DataTracking.tag_manager? && !@disable_analytics
      %noscript
        %iframe{ src: "https://www.googletagmanager.com/ns.html?id=#{ENV['GTM_TRACKER_ID']}", style: 'display: none; visibility: hidden', height: '0', width: '0' }

    %header.govuk-header.with-proposition{ role: 'banner', data: { module: 'govuk-header' } }
      .govuk-header__container.govuk-width-container
        .govuk-header__logo
          = render 'layouts/govuk_logo'

        .govuk-header__content
          = link_to 'Claim for crown court defence', unauthenticated_root_path, class: 'govuk-header__link govuk-header__service-name'

          = render 'layouts/user' if user_signed_in?

    .govuk-width-container
      = govuk_phase_banner(nil, t('.phase_banner_html', feedback: new_feedback_path, feedback_type: new_feedback_path(type: 'bug_report'), query_claim: contact_us_page_path)) unless @disable_phase_banner

      = render partial: 'layouts/primary_navigation'

      %main#main-content.govuk-main-wrapper{ role: 'main' }
        .govuk-grid-row
          .govuk-grid-column-two-thirds
            = render partial: 'shared/downtime_warning'
            = render partial: 'layouts/flashes' unless flash.empty? || @disable_flashes
            = content_for :page_heading

        = yield

        = render partial: 'layouts/contact_us_link'

    = render partial: 'layouts/footer'
    = render partial: 'layouts/body_end'
