- @disable_logo_link  = true
- content_for :head do
  %meta{:name =>"format-detection", :content => "telephone=no"}/
  - unless GA_TRACKER_ID.empty?
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '#{GA_TRACKER_ID}', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
      = ga_outlet
  = stylesheet_link_tag "application", media: "all"

- content_for :body_classes do
  = "controller-" + controller.controller_name

- content_for :global_header_text do
  = "Claim for crown court defence"

= content_for :content do
  = csrf_meta_tags
  #page
    = render partial: 'shared/phase_banner'
    .primary-nav-bar
      - if user_signed_in?
        = render partial: 'layouts/primary_navigation'
    %main#content
      = render partial: 'layouts/flashes' unless flash.empty?
      = yield

- content_for :footer_support_links do
  = render partial: 'layouts/footer'

- content_for :body_end do
  = javascript_include_tag "application"

= render template: 'layouts/govuk_template'
