-# NO Idea what this does
- @disable_logo_link  = true

- content_for?(:page_title) ? yield(:page_title) : contextual_title

- content_for :head do
  %meta{:name =>"format-detection", :content => "telephone=no"}

  -# default CSS to v1
  - content_for(:v1_stylesheets) do
    = stylesheet_link_tag "v1/application", media: "all"

  -# Conditionally load CSS
  = content_for?(:v2_stylesheets) ? yield(:v2_stylesheets) : yield(:v1_stylesheets)

  - if GoogleAnalytics::DataTracking.enabled?
    = render partial: 'layouts/analytics', :formats => [:js], locals: { adapter: GoogleAnalytics::DataTracking.adapter_name }
    %script
      != ga_outlet

- content_for :body_classes do
  = "controller-" + controller.controller_name

- content_for :header_class do
  = "with-proposition"

- content_for :proposition_header do
  .header-proposition
    .content
      %a.js-header-toggle.menu{:href => "#proposition-links"}
        = "Menu"
      %nav#proposition-menu
        %a#proposition-name{:href => "/"}
          %span.visuallyhidden
            = "Home link"
          = "Claim for crown court defence"

        - unless current_user.nil?
          = render partial: 'layouts/user'

- content_for(:default_navigation) do
  = render partial: 'layouts/primary_navigation'

= content_for :content do
  = csrf_meta_tags

  %main#content
    = render partial: 'shared/phase_banner'

    - if user_signed_in?
      = content_for?(:navigation) ? yield(:navigation) : yield(:default_navigation)

    = render partial: 'layouts/flashes' unless flash.empty?
    = yield

    .grid-row.contactus-link
      = render partial: 'layouts/contact_us_link'

- content_for :footer_support_links do
  = render partial: 'layouts/footer'

- content_for :body_end do
  = javascript_include_tag Rails.env.test? ? 'application.test' : 'application'
  - if GoogleAnalytics::DataTracking.enabled?
    :javascript
      ga(function(tracker) {
        var clientId = tracker.get('clientId');
        $('.ga-client-id').val(clientId);
      });


= render template: 'layouts/govuk_template'
