!!! 5
%html(lang="en")
  = render 'layouts/header'
  %body
    .navbar.navbar-default.navbar-static-top
      .container-fluid
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="#") 
          = Rails.application.config.app_title
          .navbar-collapse.collapse.navbar-responsive-collapse
            %ul.nav.navbar-nav
              %li= link_to "Link 1", "/path1"
              %li= link_to "Link 2", "/path2"
              %li= link_to "Link 3", "/path3"
              %li= link_to "Link 4", "/path4"
            - if user_signed_in?
              render 'layouts/user'
    %aside.aside
      .aside-inner
        .sidebar-nav.well
          %h3 Menu
          %ul.nav.nav-list
            %li.nav-header Dashboard
            %li= link_to "Link 1", "/path1"
            %li= link_to "Link 2", "/path2"
            %li= link_to "Link 3", "/path3"
    %section.section
      .container-fluid
        .row
          %div
            = render partial: 'layouts/flashes' unless flash.empty?
            = yield
        = render 'layouts/footer'
