- content_for :stylesheets do
  = stylesheet_link_tag "case_workers/application", media: "all"

- content_for :javascripts do
  = javascript_include_tag "application"

= content_for :content_override do
  = csrf_meta_tags

  #wrapper.group
    .phase-banner
      %p
        %strong.phase-tag= config_item(:phase)
        %span
          This is a new service – your
          %a{href: "#"} feedback
          will help us to improve it.
    %section#content{role: 'main'}
      %header.page-header.group.tribunal-header
        #fixed-header
          - if user_signed_in?
            = render 'layouts/user'
      .container
        = render partial: 'layouts/flashes' unless flash.empty?
        %aside.aside-navigation
          = yield :aside_navigation
        %main.main-content
          = yield
        %aside.aside-help
          = yield :aside_help

= render template: "layouts/moj_template"
