!!! 5
%html(lang="en")
  
  = content_for :additional_css do
    = stylesheet_link_tag "case_workers/application", :media => "all"
  = render 'layouts/header'
  %body
    .navbar.navbar-default.navbar-static-top
      .container-fluid
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="#") 
          = "#{Rails.application.config.app_title} - Case Worker"
        - if user_signed_in?
          = render 'layouts/user'
    = render 'layouts/sidebar'
    %section.section.col-md-9
      .container-fluid
        .row
          = render partial: 'layouts/flashes' unless flash.empty?
          = yield
        = render 'layouts/footer'
